.Box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Box_1 {
  display: flex;
  gap: var(--base-size-4);
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
  margin-left: calc(var(--base-size-4) * -1);
  margin-right: calc(var(--base-size-4) * -1);
}

.Box_2 {
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.Dialog_Header {
  background: none;
  border: none;
}

.Heading {
  font-size: var(--text-title-size-medium);
}

.Box_3 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.FormControl {
  flex: 1;
}

.TextInput {
  width: 100%;
}

.Box_4 {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--base-size-24);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  gap: var(--base-size-4);
}
