.Container {
  height: 100%;
  padding: 0;
  margin: 0;

  /* stylelint-disable-next-line selector-max-type */
  & > div {
    min-height: 100%;
  }
}

.Pane {
  padding: var(--base-size-16);
  border-right: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);

  @media screen and (min-width: 1012px) {
    padding: var(--base-size-24);
  }
}

.MainContent {
  padding: var(--base-size-16);

  @media screen and (min-width: 1012px) {
    padding: var(--base-size-24);
  }
}
