.Box {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  height: 142px;
  border-top-left-radius: var(--borderRadius-large);
  border-top-right-radius: var(--borderRadius-large);
}

.Octicon {
  margin-right: var(--base-size-4);
}

.Text {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-semibold);
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.Box_1 {
  display: flex;
  flex-direction: column;
  margin-top: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
  margin-top: var(--base-size-8);
}

.Box_2 {
  margin-top: var(--base-size-8);
}

.Octicon_1 {
  margin-right: var(--base-size-8);
  color: var(--fgColor-success);
}
