/* stylelint-disable selector-max-type */

.summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
  padding: 0 var(--base-size-8);
  height: var(--base-size-36);
  border-radius: var(--borderRadius-large);
  transition: background-color 50ms linear;

  &:hover {
    background-color: var(--control-bgColor-hover);
  }

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }
}

.summaryText {
  font: var(--text-caption-shorthand);
  padding: 0 var(--base-size-4);
}

.chevron {
  color: var(--fgColor-muted);

  svg {
    transition: transform 0.25s ease;
  }
}

[open] .chevron svg {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.items {
  /* override default markdown-body styles */
  padding: 0 0 0 var(--base-size-12) !important;
  margin: 0 0 0 var(--base-size-40) !important;
  border-left: var(--borderWidth-thin) solid var(--borderColor-default);

  a {
    text-decoration: none !important;
  }
}
