.feedbackDialog {
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 640px;
}

.feedbackDialogHeader {
  background: transparent;
  border: 0;
}

.checkboxGroupLabel {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
