.feedbackPopover {
  min-width: 256px;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  /* stylelint-disable-next-line primer/spacing */
  top: 10px;

  @media screen and (min-width: 768px) {
    /* stylelint-disable-next-line primer/spacing */
    left: -90px;
  }
}
