.giveFeedbackContainerMobile {
  display: flex;
  padding: var(--base-size-16);
  background: var(--bgColor-muted);
  border-bottom-color: var(--borderColor-default);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
}

.thoughtsTextMobile {
  flex: 1;
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.lifeCycleLabelMobile {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: var(--base-size-6);
  font-size: var(--text-body-size-small);
}

.lifeCycleLabel {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: var(--base-size-8);
  gap: var(--base-size-6);
}

.giveFeedbackLink {
  font-size: var(--text-body-size-small);
  white-space: nowrap;
}
