.sampleContainer {
  flex: 1;
}

.chevronContainer {
  color: var(--fgColor-muted);
}

.playgroundCard {
  border-radius: var(--borderRadius-medium);
  height: 100%;
  flex: 1;
  border-color: var(--borderColor-muted);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  background: var(--card-bgColor);
  display: flex;
  box-shadow: var(--shadow-resting-small, var(--color-shadow-small));
  transition: background-color 0.3s;
  gap: var(--stack-gap-normal);

  &:hover {
    background: var(--control-transparent-bgColor-hover, var(--color-canvas-subtle));
    cursor: pointer;
  }
}

.small {
  padding: var(--base-size-12);
  font-size: var(--text-body-size-small);
}

.large {
  padding: var(--base-size-16);
  font-size: var(--text-body-size-medium);
}
