.PageLayout {
  --workspace-editor-padding-height: calc(3 * 8px);
  --workspace-editor-terminal-height: 300px;
  --workspace-editor-terminal-header-height: 48px;
  --workspace-editor-terminal-pane-height: calc(var(--workspace-editor-terminal-height) - var(--workspace-editor-terminal-header-height));

  height: calc(var(--sticky-pane-height) - var(--workspace-editor-offset-top));
  background: var(--bgColor-inset);
  padding: var(--base-size-8);
}

.PageLayout_Header {
  margin-bottom: var(--base-size-8);
}

.PageLayout_Content {
  overflow-y: hidden;
}
