.topRightButton {
  position: absolute;
  top: var(--base-size-16);
  right: var(--base-size-16);
}

.githubAvatar {
  margin-top: var(--base-size-2);
  margin-left: var(--base-size-12);
  object-fit: cover;
  flex-shrink: 0;
}

.orgInfoContainer {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.orgName {
  white-space: nowrap;
}

.orgMemberDetailsContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--base-size-12);
}

.orgMemberDetails {
  padding-top: var(--base-size-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabDescription {
  display: flex;
  padding: 0 var(--base-size-8) var(--base-size-12) 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.grantAccess {
  text-align: center;
  margin-top: var(--base-size-16);
}

.metadataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bulkDisableButton {
  margin-right: var(--base-size-8);
}
