.topRightButton {
  position: absolute;
  top: var(--base-size-16);
  right: var(--base-size-16);
}

.githubAvatar {
  margin-top: var(--base-size-4);
  margin-left: var(--base-size-16);
}

.orgMemberDetails {
  padding-top: var(--base-size-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orgDetails {
  display: flex;
  flex-direction: column;
  padding: var(--base-size-16) 0;
  white-space: nowrap;
}
