.box {
  flex: 1;
}

.positionRelative {
  position: relative;
}

.border {
  border-right: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.topRightButton {
  position: absolute;
  top: var(--base-size-16);
  right: var(--base-size-16);
}

.textWrap {
  max-width: 75%;
  word-wrap: break-word;
}
