.IssueBody {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
  padding: var(--base-size-16);
}

.IssueBodyTaskList {
  display: flex;
  align-items: center;
}

.IssueBodySubIssueButtonContainer {
  margin-right: var(--base-size-8);
}
