---
http_interactions:
- request:
    method: post
    uri: https://api.clearlydefined.io/definitions/?expand=-files/
    body:
      encoding: UTF-8
      string: '["go/golang/golang.org%2fx/crypto/v0.0.0-20210921155107-089bfa567519"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1acbd-eebqNTgWc1ldHpVb3EjJFxpO1/A"
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Remaining:
      - '246'
      X-Ratelimit-Reset:
      - '1714668961'
    body:
      encoding: ASCII-8BIT
      string: '{"go/golang/golang.org%2fx/crypto/v0.0.0-20210921155107-089bfa567519":{"described":{"releaseDate":"2021-09-21","urls":{"registry":"https://pkg.go.dev/golang.org/x/crypto","version":"https://pkg.go.dev/golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519","download":"https://proxy.golang.org/golang.org/x/crypto/@v/v0.0.0-20210921155107-089bfa567519.zip"},"hashes":{"sha1":"897e5c6b72d027508e3fbf0aeffd826fbcdd6c79","sha256":"eb2426a7891915213cc5da1da7b6fc6e9e2cf253d518d8e169e038e287f414e3"},"files":361,"tools":["clearlydefined/1.2.1","reuse/1.3.0","licensee/9.14.0","scancode/30.3.0"],"toolScore":{"total":100,"date":30,"source":70},"sourceLocation":{"type":"go","provider":"golang","namespace":"golang.org%2fx","name":"crypto","revision":"v0.0.0-20210921155107-089bfa567519","url":"https://pkg.go.dev/golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519"},"score":{"total":100,"date":30,"source":70}},"licensed":{"declared":"BSD-3-Clause
        AND OTHER","toolScore":{"total":68,"declared":30,"discovered":23,"consistency":0,"spdx":15,"texts":0},"facets":{"core":{"attribution":{"unknown":23,"parties":["Copyright
        2009 The Go Authors","Copyright 2010 The Go Authors","Copyright 2011 The Go
        Authors","Copyright 2012 The Go Authors","Copyright 2013 The Go Authors","Copyright
        2014 The Go Authors","Copyright 2015 The Go Authors","Copyright 2016 The Go
        Authors","Copyright 2017 The Go Authors","Copyright 2018 The Go Authors","Copyright
        2019 The Go Authors","Copyright 2020 The Go Authors","Copyright (c) 2009 The
        Go Authors","Copyright (c) 2017 The Go Authors","Copyright (c) 2019 The Go
        Authors","Copyright (c) 2020 The Go Authors","Copyright (c) 2021 The Go Authors"]},"discovered":{"unknown":21,"expressions":["Apache-2.0","BSD-3-Clause","BSD-3-Clause
        AND MIT","BSD-3-Clause AND NOASSERTION","BSD-3-Clause AND OpenSSL OR BSD-3-Clause","NOASSERTION","OTHER"]},"files":361}},"score":{"total":68,"declared":30,"discovered":23,"consistency":0,"spdx":15,"texts":0}},"files":[{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/AUTHORS","hashes":{"sha1":"5d22291302558cc1dfe4729c69bac627252d3c10","sha256":"5aa3167c44245f0b12b27195d85c6a8c8e067cfdd511059daa4d7b3c5b232129"}},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/codereview.cfg","hashes":{"sha1":"0c0e666d70f0f20df1bd5c349d53f6e9d2d321f8","sha256":"7c54d4c5f43de8c5cba7ec4ed15d1a497e075b1656ba5e8a51d86a86543a516d"}},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/CONTRIBUTING.md","license":"Apache-2.0","hashes":{"sha1":"9b74d788ee920c4a230b46d3e74714da15462d0e","sha256":"6f509e4bff3be1f056f1d8d5224c5e8eefd61fdf62c57fb1d0c8c6ce369e56e4"}},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/CONTRIBUTORS","hashes":{"sha1":"39097573c311def5445e4dccaf3189987465bc83","sha256":"fa714cb1012a065fbe08b174eb1f5604327bd24d42dab2c461878ce36f68d0c9"},"token":"fa714cb1012a065fbe08b174eb1f5604327bd24d42dab2c461878ce36f68d0c9"},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/go.mod","hashes":{"sha1":"cf4eced488cf8abdc97912a6e6c1f54aea3a6111","sha256":"cd6311612a2aa4d0d7e03c41b3aa1fbc2d5f895ab3f61089fab80bfe9f8f5485"}},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/go.sum","hashes":{"sha1":"7cbdddc7e551210f0d564dbea0d4c80d9c3b2975","sha256":"70bc786e65c0a8db0e9e76118d1c50de5b7d8f81d47d0c7404825c6775129bea"}},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/LICENSE","license":"BSD-3-Clause","natures":["license"],"attributions":["Copyright
        (c) 2009 The Go Authors"],"hashes":{"sha1":"d6a5f1ecaedd723c325a2063375b3517e808a2b5","sha256":"2d36597f7117c38b006835ae7f537487207d8ec407aa9d9980794b2030cbc067"},"token":"2d36597f7117c38b006835ae7f537487207d8ec407aa9d9980794b2030cbc067"},{"path":"golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519/PATENTS","license":"OTHER","natures":["license"],"hashes":{"sha1":"4eca45b612f7d86f2f598f238074a0dac9b72bc9","sha256":"96f408bfae65bf137fc2525d3ecb030271c50c1e90799f87abf8846d8d[...]
