.cardContainer {
  align-items: center;
  background-color: var(--bgColor-default);
  display: grid;
  gap: var(--base-size-24);
  grid-template-columns: 1fr;
  padding: var(--base-size-24);
}

.cardWrapper {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  contain: paint;
  container-type: inline-size;
  margin-bottom: var(--base-size-16);
  position: relative;
}

.description {
  color: var(--fgColor-muted);
  font: var(--text-body-shorthand-medium);
  margin-top: var(--base-size-8);
}

.dismissButton {
  position: absolute;
  right: var(--base-size-4);
  top: var(--base-size-4);
}

.title {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-medium);
  margin-top: var(--base-size-8);
}

@container (min-width: 600px) {
  .cardContainer {
      grid-template-columns: 1fr 1fr;
      padding: var(--base-size-40);
      gap: var(--base-size-96);
  }

  .dismissButton {
      position: absolute;
      top: var(--base-size-12);
      right: var(--base-size-12);
  }
}
