.SanitizedHtml {
  display: block;
}

.SanitizedHtml_1 {
  display: block;
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  /* stylelint-disable-next-line primer/typography */
  line-height: 16px;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
}

.ColorDecorator {
  height: 14px;
  width: 14px;
}
