.ListItemMetadata_0 {
  width: 100px;
}

.ListItem_0 {
  width: 100%;
  color: inherit;
  background-color: inherit;
}

.muted {
  color: var(--fgColor-muted);
}

.active {
  background-color: var(--bgColor-muted);
}
