.Dialog {
  overflow-y: auto;
}

.Box {
  display: flex;
  flex-direction: row;
  padding: var(--base-size-8);
}

.Box_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--base-size-4);
  padding: var(--base-size-8);
}

.Text {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-danger);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

.Text_2 {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-success);
}

.Text_3 {
  color: var(--fgColor-muted);
}

.Flash {
  margin-left: var(--base-size-16);
  margin-right: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;
}

.Box_2 {
  display: flex;
  border: 0;
  border-top: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
}

.Box_3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Box_4 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-24);
  align-items: center;
}

.Box_5 {
  display: flex;
}

.IconButton {
  color: var(--fgColor-muted);
  margin-right: var(--base-size-4);
  flex-shrink: 0;
}

.Box_6 {
  display: flex;
  align-items: baseline;
}

.Octicon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-attention);
}

.Box_7 {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.Text_4 {
  font-weight: var(--base-text-weight-semibold);
}

.Box_8 {
  background-color: var(--bgColor-muted);
}

.Box_9 {
  display: flex;
  flex-direction: column;
  padding-top: var(--base-size-8);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-40);
  border-top-color: var(--borderColor-default);
  border-top-style: solid;
  border-top-width: var(--borderWidth-thin);
}

.Text_5 {
  flex-shrink: 0;
  flex-basis: auto;
  padding-right: var(--base-size-8);
  padding-bottom: var(--base-size-4);
  font-weight: var(--base-text-weight-semibold);
}

.Box_10 {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--stack-gap-condensed);
  flex-grow: 1;
}

.Box_11 {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.Text_6 {
  flex-grow: 0;
  font-weight: var(--base-text-weight-semibold);
}

.Box_12 {
  display: flex;
  flex-direction: column;
  margin-top: var(--base-size-4);
  margin-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  column-gap: var(--base-size-4);
  border-top-style: none;
}

.Box_13 {
  display: flex;
  flex-grow: 1;
  border-top-style: none;
}

.Text_7 {
  margin-right: var(--base-size-4);
}

.Box_14 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: clip;
}

.Box_15 {
  display: flex;
  flex-direction: column;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.Box_16 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-24);
  align-items: center;
}

.Octicon_1 {
  margin-right: var(--base-size-8);
  color: var(--fgColor-success);
}

.Octicon_2 {
  margin-right: var(--base-size-8);
  color: var(--fgColor-danger);
}

.Link {
  color: var(--fgColor-default);
}

.Label {
  margin-left: var(--base-size-8);
}

.Text_8 {
  margin-left: var(--base-size-8);
  color: var(--fgColor-danger);
  font-size: var(--text-body-size-small);
}

.Box_17 {
  display: flex;
  align-items: baseline;
  margin-left: var(--base-size-4);
}

.Box_18 {
  margin-left: var(--base-size-64);
}

.Text_9 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.Box_19 {
  display: flex;
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-16);
  background-color: var(--bgColor-muted);
  border-top-color: var(--borderColor-default);
  border-top-style: solid;
  border-top-width: var(--borderWidth-thin);
}

.IconButton_1 {
  color: var(--fgColor-muted);
  margin-right: var(--base-size-4);
  margin-top: var(--base-size-4);
  flex-shrink: 0;
}

.Box_20 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-8);
  margin-right: var(--base-size-8);
}

.Box_21 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: var(--base-size-8);
  margin-left: var(--base-size-4);
  overflow-x: clip;
}

.Box_22 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.Octicon_3 {
  margin-top: 0.9;
  margin-right: var(--base-size-8);
  color: var(--fgColor-success);
}

.Octicon_4 {
  margin-top: 0.9;
  margin-right: var(--base-size-8);
  color: var(--fgColor-danger);
}

.Text_10 {
  flex-grow: 1;
  font-weight: var(--base-text-weight-semibold);
}

.Text_11 {
  margin-right: var(--base-size-16);
  color: var(--fgColor-danger);
  font-size: var(--text-body-size-small);
}

.Box_23 {
  margin-left: var(--base-size-24);
}
