.Box {
  border-top-color: var(--borderColor-default);
  border-top-style: solid;
  border-top-width: var(--borderWidth-thin);

  &:first-child {
    border-top-width: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Box_1 {
  display: flex;
  justify-content: space-between;
  padding: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.Box_2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.Box_3 {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
  margin-bottom: var(--base-size-4);
}

.Text {
  font-weight: var(--base-text-weight-semibold);
}

.Box_4 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.Text_1 {
  margin-right: var(--base-size-4);
}

.Octicon {
  margin-left: var(--base-size-4);
}

.Text_2 {
  white-space: nowrap;
}

.Box_5 {
  display: flex;
  align-items: center;
  margin-left: var(--base-size-8);
}

.IconButton {
  color: var(--fgColor-muted);
}

.SafeHTMLBox {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
}
