.copilotAnimationHolder {
  width: calc(32px * var(--copilot-animation-scale, 1));
  height: calc(32px * var(--copilot-animation-scale, 1));
  overflow: hidden;
  color: var(--fgColor-muted);

  &.activate {
    width: calc(48px * var(--copilot-animation-scale, 1));
  }
}

.copilotAnimation {
  width: calc(32px * var(--copilot-animation-scale, 1));
  height: calc(32px * var(--copilot-animation-scale, 1));
  overflow: hidden;

  &.activate {
    width: calc(48px * var(--copilot-animation-scale, 1));
  }
}
