.Dialog {
  overflow-y: auto;
  background-color: var(--bgColor-default);
  box-shadow: none;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-bottom: 0;
}

.Dialog_Body {
  padding: 0;
}

.Box {
  display: flex;
  justify-content: center;
  padding: var(--base-size-8);
}
