@media (--viewportRange-narrow) {
  .boardView[data-memex-small-viewport-a11y='true'] {
    overflow-y: visible;
    height: 100%;
    /* This is an arbitrary height, chosen to allow 15% of the screen to be usable as a touch/scroll target,
       so that the column scrolling doesn't prevent scrolling between columns or up and down the page. */
    max-height: 85vh;
  }
}
