.Box {
  display: flex;
}

.CardBaseWithSash {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  padding: var(--base-size-8);
  background-color: var(--overlay-bgColor);
  border-color: var(--borderColor-default);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  border-width: var(--borderWidth-thin);
}

.ColumnFrame {
  border-radius: var(--borderRadius-medium);
  transition: transform 75ms;
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  padding: var(--base-size-8);
  gap: var(--stack-gap-condensed);
}

.Box_1 {
  display: flex;
  background-color: var(--bgColor-default);
}
