@media (--viewportRange-narrow) {
  .boardView[data-memex-small-viewport-a11y='true'] {
    overflow-y: visible;
    height: 100%;
    /* This is an arbitrary height, chosen to allow 15% of the screen to be usable as a touch/scroll target,
       so that the column scrolling doesn't prevent scrolling between columns or up and down the page. */
    max-height: 85vh;
  }
}

.Box {
  flex-direction: column;
  flex: auto;
  overflow-y: hidden;
  display: flex;
  position: relative;
}

.OmnibarContainer {
  position: static;
  /* stylelint-disable-next-line primer/spacing */
  bottom: unset;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;

  &[data-omnibar-enabled='true'] {
    opacity: 1;
    display: block;
    bottom: 0;
  }
}
