@keyframes indicatorDotCompletedAnimation {
  0% {
    transform: scale(0.7);
    background-color: var(--bgColor-neutral-emphasis);
  }

  100% {
    transform: scale(1);
    background-color: var(--bgColor-success-emphasis);
  }
}

.compactNode {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
  flex: 1;
  flex-shrink: 0;
  flex-grow: 0;
  width: fit-content;
  background: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
  padding: calc(var(--base-size-4) + var(--base-size-6)) var(--base-size-12);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.15);
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium, 14px);
  font-style: normal;
  font-weight: var(--base-text-weight-normal);
  line-height: var(--text-body-lineHeight-medium, 20px);
  transition: background var(--base-duration-200) var(--base-easing-easeIn);
}

.compactNode:hover {
  background: var(--bgColor-muted);
}

.compactNode.dark {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.compactNode.active {
  border: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.compactNode.active.withError {
  border: var(--borderWidth-thick) solid var(--borderColor-attention-emphasis);
}

.validationError {
  color: var(--fgColor-attention)
}

.validationErrorWrapper {
  width: var(--base-size-16);
  height: var(--base-size-16);
  background-color: var(--bgColor-attention-emphasis);
  border-radius: var(--borderRadius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: -7px;
  /* stylelint-disable-next-line primer/spacing */
  right: -7px;
  color: var(--fgColor-onEmphasis);
  transition: color 0.1s ease-in-out;
}

/* stylelint-disable-next-line selector-max-type */
.validationErrorWrapper > svg {
  width: calc(var(--base-size-16) * 0.5);
  height: calc(var(--base-size-16) * 0.5);
}

.compactNode.active .validationErrorWrapper {
  border: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}

.title {
  margin: 0;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}
.title::first-letter {text-transform: uppercase}

/* Indicator Dot */

.indicatorDot {
  width: var(--base-size-16);
  height: var(--base-size-16);
  border-radius: var(--borderRadius-full);
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  background-image: linear-gradient(
    var(--indicator-gradient-angle, 270deg),
    var(--bgColor-default) 50%,
    var(--borderColor-muted) 50%
  );
}

.indicatorDot::before {
  position: absolute;
  top: calc(var(--base-size-2) / 2);
  left: calc(var(--base-size-2) / 2);
  width: 14px;
  height: 14px;
  content: "";
  background-color: var(--bgColor-default);
  border-radius: 50%;
}

.indicatorDot::after {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: 5px;
  /* stylelint-disable-next-line primer/spacing */
  left: 5px;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--bgColor-neutral-emphasis);
  border-radius: 50%;
  box-sizing: border-box;
  border: var(--borderWidth-thin) solid transparent;
  transition: border 0.3s ease;
}

.indicatorDot.topDot.completed::after {
  /* background-color need a 0.4 sec delay, since it need to wait for the edge animation to finish first */
  animation: indicatorDotCompletedAnimation 0.5s linear forwards;
  animation-delay: 0.5s;
}

.indicatorDot.bottomDot.completed::after {
  animation: indicatorDotCompletedAnimation 0.5s linear forwards;
  animation-delay: 0.5s;
}

.indicatorDot.error::after {
  background-color: transparent;
  border: var(--borderWidth-thick) solid var(--borderColor-attention-emphasis);
}

.compactNode.active .indicatorDot {
  background-image: linear-gradient(
    var(--indicator-gradient-angle, 270deg),
    var(--bgColor-default) 50%,
    var(--borderColor-accent-emphasis) 50%);
}

.compactNode.active .indicatorDot::before {
  top: var(--base-size-2);
  left: var(--base-size-2);
  width: var(--base-size-12);
  height: var(--base-size-12);
}

.topDot {
  --indicator-gradient-angle: 0deg;

  top: calc(-1 * var(--base-size-8));
}

.bottomDot {
  --indicator-gradient-angle: 180deg;

  top: calc(100% - var(--base-size-8));
}

/* handle the shadow separately */
.indicatorShadowWrapper {
  overflow: hidden;
  position: absolute;
  width: calc(var(--base-size-16) + 4px);
  transform: translateX(-2px);
  height: calc(var(--base-size-16) / 2);
}

.indicatorShadow {
  width: var(--base-size-16);
  height: var(--base-size-16);
  border-radius: 50%;
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.15);
  z-index: 0;
}

.compactNode.dark .indicatorShadow {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.bottomDot .indicatorShadowWrapper {
  top: calc(var(--base-size-8) + var(--base-size-2));
}

.bottomDot .indicatorShadowWrapper .indicatorShadow {
  transform: translate(2px, calc(-50% - 2px));
}
