@keyframes dash {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes flowAnimation {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes activeFlowAnimation {
  0% {
    stroke-dashoffset: 105%;
  }

  50% {
    stroke-dashoffset: 5%;
  }

  100% {
    stroke-dashoffset: 5%;
  }
}

.edge {
  transition: stroke 0.3s ease;
}

.edgeDefault {
  stroke: var(--borderColor-default);
}

.edgeCompleted {
  stroke: var(--borderColor-default);
}

.edgeError {
  stroke: var(--borderColor-attention-muted);
}

.edgeCompletedAddOn {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: dash 1s ease-in-out forwards;
  stroke: var(--borderColor-success-muted);
}

.edgeIdleAddOn {
  stroke-dasharray: 0.5 100;
  animation: flowAnimation 10s ease-in-out infinite;
}

.edgeProcessingAddOn {
  stroke-dasharray: 5% 100%;
  animation: activeFlowAnimation 10s ease-out infinite;
}

.edgeAddon {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.edgeIdleAddon,
.edgeProcAddon {
  opacity: 1;
}
