.container {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: var(--base-size-24);
  flex-direction: column;
}

.panelEmptyState {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fgColor-muted);
  gap: var(--base-size-16);
}

.panelHeader {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: var(--base-size-24);

  .segmentedControl {
    width: 100%
  }
}

.header {
  width: 100%;
  height: fit-content;
  padding-bottom: var(--base-size-24);
  margin-bottom: var(--base-size-24);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  display: flex;
  justify-content: space-between;

  .nodeDetails {
    display: flex;
    flex-direction: column;
  }

  .nodeTitleContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--base-size-8);

    .nodeTitleText {
      font-size: var(--text-body-size-large);
      font-weight: var(--base-text-weight-semibold);
      color: var(--fgColor-default);
      text-transform: lowercase;
    }
    .nodeTitleText::first-letter {text-transform: uppercase}
  }

  .descriptionText {
    font-size: var(--text-body-size-medium);
    font-weight: var(--base-text-weight-normal);
    color: var(--fgColor-muted);
  }

  .nodeActions {
    display: flex;
    gap: var(--base-size-8);
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.input {
  padding: 0;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: var(--base-size-44);
  gap: var(--base-size-8);
}

