
.timelineElement {
  display: flex;
  gap: 16px;
}

.nonLeadingElement {
  margin-left: 0;
}

@container issueViewerContainer (min-width: 768px) {
  .nonLeadingElement {
    /* 40 to make for the width of the avatar */
    /* 16 accounts for the gap between the leading element and the wrapped element */
    /* stylelint-disable-next-line primer/spacing */
    margin-left: 56px;
  }
}

