.container {
  background-color: var(--color-bg-inset);
  margin-top: var(--base-size-4);
  padding: var(--base-size-4);
  gap: var(--base-size-12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-fg-muted);
  max-width: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.errorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  color: var(--color-fg-attention);
  text-align: center;
}

.iconContainer {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
}

.errorText {
  margin-top: var(--base-size-4);
  font-size: var(--text-body-size-small);
}


