.container {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: var(--base-size-2);
  overflow: hidden;
  z-index: 10;
}

.innerContainer {
  width: 100%;
  padding: 0;
}

.nodeContent {
  padding: var(--base-size-8) var(--base-size-8)
}

.divider {
  width: 100%;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
}

.outputContainer {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  min-height: var(--base-size-44)
}

.loading {
  width: 100%;
  padding: var(--base-size-32)
}

.errorContainer {
  width: 100%;
  padding: var(--base-size-32);
  text-align: center;
  color: var(--fgColor-attention);
  font-family: var(--fontStack-monospace);
}

.errorNotice {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
}

.errorIcon {
  margin-right: var(--base-size-8);
}

.errorText {
  margin-top: var(--base-size-4);
  font-size: var(--text-body-size-small);
}

.nodeValue {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-top: var(--base-size-16);
}

.nodeValue.output {
  max-height: 200px;
}

.executeButton {
  position: absolute;
  top: var(--base-size-8);
  right: var(--base-size-8);
}
