.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 50%;
  z-index: 1;
}

.container.textNode {
  flex: 1;
}

.container.node {
  flex: 3;
  min-width: 90%;
  max-width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--bgColor-default);
  margin-left: auto;
  margin-right: auto;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 35px;
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
  padding-top: var(--base-size-4);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nodeIdBox {
  display: inline-block;
  padding: 0 var(--base-size-4);
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-small);
  font-family: var(--fontStack-monospace);
  color: var(--fgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  vertical-align: 10%;
  position: absolute;
  top: calc(-1 * var(--base-size-16));
  left: var(--base-size-28);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--base-duration-200);
}

.mainContent:hover .nodeIdBox {
  opacity: 1;
}

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--base-size-4);
  z-index: 10;
}

.nodeMarker {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.nodeConnection {
  z-index: 0;
}
