.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mainContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgColor-default);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 30px;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: var(--base-size-8) var(--base-size-20) var(--base-size-8) var(--base-size-8);
  row-gap: var(--base-size-12);
}

.mainContent.isLoading {
  border-color: var(--borderColor-accent-emphasis)
}

.titleAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  line-height: var(--text-body-lineHeight-medium);
  overflow: hidden;
}

.titleAndDescriptionContainer.collapsed {
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 3px;
}

.titleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--base-size-24) !important;
}

.title {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.descriptionContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--base-size-24) !important;
}

.description {
  font-size: var(--text-body-size-small) !important;
  color: var(--fgColor-muted) !important;
  font-weight: var(--base-text-weight-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.executeButton {
  margin-right: calc(var(--base-size-8) * -1);
  margin-left: var(--base-size-8);
}
