.listScopedCommand {
  display: contents;
  border-radius: inherit;
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;

  &.loading {
    width: min(270px, 50vw);
  }
}

.listItem {
  &:not(:last-child) {
    border-color: var(--borderColor-muted) !important;
    border-bottom: var(--borderWidth-thin) solid;
  }
}
