.whitepaperGrid {
  --brand-Grid-spacing-row: var(--base-size-40)
}

/* stylelint-disable-next-line selector-max-type */
.whitepaperBreadcrumbLink span {
  font-weight: var(--base-text-weight-normal);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--brand-text-size-100);
}

.whitepaperHero {
  padding-top: 0;
  padding-bottom: var(--base-size-40);
}

.whitepaperRelatedCards {
  --brand-Card-background-default: transparent;
}

.whitepaperHeroPrimaryButton {
  display: none;
  margin-top: var(--base-size-20);
  margin-bottom: var(--base-size-40);
}

.whitepaperHeroImage {
  display: none;
}

.formWrapper {
  --brand-Grid-spacing-column-gap: 0;
}

@media screen and (min-width: 63.25rem) {
  .ebookFormWrapperNoImage {
    /* Align the top of the form without an image to align with the top of the hero label */
    margin-top: var(--base-size-96);
  }

  .ebookFormBox {
    margin-top: var(--base-size-32);
  }
}

@media screen and (max-width: 63.25rem) {
  .whitepaperHero {
    padding-bottom: var(--base-size-16);
  }

  .whitepaperHeroPrimaryButton {
    display: inline-flex;
  }

  .whitepaperHeroImage {
    display: block;
    margin-top: var(--base-size-20);
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hiddenOnMobile {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  .TopicsBox {
    border-width: 0;
  }
}
