.SanitizedHtml {
  text-align: left;
  white-space: nowrap;
  color: var(--fgColor-muted);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  /* stylelint-disable-next-line selector-max-type */
  code {
    font-family: var(--fontStack-monospace);
    font-size: var(--text-body-size-small);
  }
}
