.AvatarStack {
  z-index: 0;
  margin-right: var(--base-size-4);
}

.Box {
  margin-right: var(--base-size-8);
  align-items: center;
  overflow: hidden;
  display: flex;
}

.GitHubAvatar {
  min-width: 20px;
  margin-right: var(--base-size-4);
}

.TextCell {
  font-size: var(--text-body-size-medium);
}

.TextCell_1 {
  font-size: var(--text-body-size-medium);
  text-overflow: ellipsis;
}
