/* Remove row highlight on selected item */
.listItem {
  /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
  &:has(div > input[aria-checked="true"]) {
    box-shadow: none;
    background-color: var(--bgColor-muted);
  }
}

.Dialog_Title {
  font-weight: var(--base-text-weight-semibold);
  flex: 1;
}
