.iconLink,
.colorIconLink {
  padding: var(--base-size-2);
  background-color: var(--control-bgColor-rest, var(--color-btn-bg));
  border-radius: var(--borderRadius-small);
}

.iconLink::before,
.colorIconLink::before {
  margin-right: var(--base-size-4);
  background-color: var(--control-bgColor-hover, var(--color-btn-hover-bg));
}

.colorIconLink::before {
  white-space: nowrap;
  vertical-align: -2px;
}

.iconLink::before {
  padding-left: var(--base-size-12);
  margin-right: var(--base-size-4);
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 1px;
  content: "\00a0";
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--fgColor-muted,var(--color-fg-muted));
  mask-repeat: no-repeat;
  mask-position: center;
}

.file::before {
  mask: url('/images/modules/copilot-chat/file-16.svg') no-repeat;
  mask-position: 0 0.5px;
}

.snippet::before {
  mask: url('/images/modules/copilot-chat/code.svg') no-repeat;
  mask-position: 0 1px;
}

.commit::before {
  mask: url('/images/modules/copilot-chat/git-commit.svg') no-repeat;
  mask-position: 0 1px;
}

.bing::before {
  content: url('/images/modules/copilot-chat/bing.svg');
}
