.diagramContainer {
  position: relative;
}

.hiddenSourceCode {
  display: none;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
}
