.totalAlertCountText {
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-normal);
  line-height: var(--text-title-lineHeight-medium);
}

.campaignCountText {
  font-size: var(--text-title-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}
