.mainBox {
  height: 100%;
}

.loadingScreenText {
  font-weight: var(--base-text-weight-semibold);
  margin-left: var(--base-size-8);
}

.errorBox {
  padding-top: var(--base-size-8);
}

.searchBox {
  padding: var(--base-size-8);
}

.textInput {
  width: 100%;
}

.searchInfoText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  display: flex;
  text-align: center;
}

.filteredRepositoriesBox {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.repositoriesListItemBox {
  display: flex;
  justify-content: space-between;
  gap: var(--stack-gap-condensed);
  padding: var(--base-size-8);
  line-height: var(--text-body-lineHeight-medium);
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
  border-bottom-color: var(--borderColor-default);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
}

.repositoriesLinkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-4);
}

.filteredRepositoriesText {
  color: var(--fgColor-muted);
}
