.avatarStack {
  margin-right: var(--base-size-4);
}

.avatarStackContainer {
  display: flex;
  gap: var(--base-size-8);
}

.avatarStackText {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.gitHubAvatar {
  margin-left: var(--base-size-4);
}
