.ListItemTitle_0 {
  max-width: 100%;
  white-space: nowrap;
}

.ListItemTitle_1 {
  display: flex;
  align-items: flex-start;
  gap: var(--base-size-4);
  max-width: 100%;
}

.ListItem_0 {
  padding-left: var(--base-size-8);
}
