/* stylelint-disable primer/borders */
/* stylelint-disable primer/colors */

.Flash {
  align-items: center;
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--brand-borderRadius-medium);
}

.FlashError {
  background-color: var(--base-color-scale-red-0);
  border-color: var(--brand-color-error-fg);
}

.FlashSuccess {
  background-color: var(--base-color-scale-green-0);
  border-color: var(--brand-color-success-fg);
}

.FlashIconError {
  color: var(--brand-color-error-fg);
}

.FlashIconSuccess {
  color: var(--brand-color-success-fg);
}
