/* stylelint-disable primer/colors, selector-max-type */

.FeaturesTableMobile {
  position: relative;
}

.FeaturesTableMobile__title {
  padding-bottom: var(--base-size-24);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.FeaturesTableMobile__featureItem {
  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  }
}

.FeaturesTableMobile__featureItemTitleBlock {
  padding: var(--base-size-16) 0;
  display: flex;
  justify-content: space-between;
  gap: var(--base-size-8);
}

.FeaturesTableMobile__featureItemTitleBlock-title {
  text-align: left;
}

.FeaturesTableMobile__featureItemTitleBlock-chevron {
  color: var(--brand-color-text-muted);
  stroke: currentColor;
  transition: transform 0.2s ease-out;
}

.FeaturesTableMobile__featureItemTitleBlock--expanded .FeaturesTableMobile__featureItemTitleBlock-chevron {
  transform: rotate(180deg);
}

.FeaturesTableMobile__featureItemTitleBlock-description {
  margin-bottom: var(--base-size-24);
}

.FeaturesTableMobile__featureItemTier {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--base-size-12);

  &:not(:first-child) {
    padding-top: var(--base-size-12);
  }

  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--colors-darkSlateGray-translucent);
  }
}

.FeaturesTableMobile__featureItemTier-label {
  color: var(--brand-color-text-subtle);
}

.FeaturesTableMobile__featureItemTier-availability {
  svg {
    stroke: currentColor;
  }
}

.FeaturesTableMobile__featureItemTier-availability--green {
  color: var(--brand-color-success-emphasis);
}

.FeaturesTableMobile__featureItemTier-availability--grey {
  color: var(--base-color-scale-gray-5);
}
