/* stylelint-disable selector-max-type */
.copilotDraftLabelsContainer {
  display: flex;
  flex-shrink: 1;
  gap: 4px;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  justify-content: flex-start;
  padding: var(--base-size-4) var(--base-size-8) var(--base-size-8) var(--base-size-8);
  font: var(--text-body-shorthand-small);
}

.copilotDraftLabel {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: default;
}

.copilotDraftLabel button {
  position: absolute;
  right: var(--base-size-2);
  opacity: 0;
  background: none;
  border-radius: var(--borderRadius-large);
  height: 16px;
  width: 24px;
  padding: var(--base-size-2);
  cursor: pointer;
}

.copilotDraftLabel button:focus {
  opacity: 10;
  outline: 2px solid var(--borderColor-accent-emphasis);
  box-shadow: none;
  border-radius: var(--borderRadius-large);
  background: var(--bgColor-default);
}

.copilotDraftLabel:hover button {
  opacity: 10;
  background: var(--bgColor-default);
  transition: opacity 0.2s ease-in, visibility 0s linear 0s;
}

.copilotLoadingText {
  padding-left: var(--base-size-8);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.copilotDraftIndividualLabel{
  border: var(--borderWidth-thin) dashed;
  background-color: var(--bgColor-default);
  color: var(--fgColor-muted);
  padding: var(--base-size-8);
}

.copilotIcon {
  color: var(--fgColor-muted);
}
