/* stylelint-disable primer/typography */
/* stylelint-disable primer/colors */
.emboldened {
  color: var(--brand-color-text-default);
  font-style: normal;
  font-weight: var(--brand-text-weight-600);
}

