.Avatar_0 {
  margin-right: var(--base-size-8);
  align-self: center;
}

.Box_0 {
  overflow: hidden;
}

.Box_1 {
  display: flex;
  flex-shrink: 1;
  align-items: flex-start;
  gap: var(--base-size-4);
  height: 100%;
  position: relative;
}

.Box_2 {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  gap: var(--base-size-4);
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  justify-content: flex-end;
}

.Tooltip_0 {
  display: flex;
}

.Text_0 {
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-body-size-small);
}

.Box_3 {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--base-size-4);
  margin-left: var(--base-size-4);
}

.Box_4 {
  width: 14px;
  height: 14px;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 10px;
  border-width: var(--borderWidth-thin);
  border-style: solid;
}
