.createPane {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: var(--base-size-16);
  padding-left: var(--base-size-12);
  /* Removing the padding for medium+ screens where the avatar is present */
  @media (min-width: 768px) {
    padding-left: 0;
  }
}



.createPaneContainer {
  margin-left: var(--base-size-4);
  max-width: 1280px;
  padding-top: var(--base-size-16);
  width: 100%;
  /* Removing the margin for small screens to achieve alignment */
  @media (min-width: 768px) {
    margin-right: var(--base-size-4);
  }

  /*
    This is a temporary fix until the GitHub footer is rendered in our React app to add the bottom padding.
    Once the footer is in, we can revert this back to py: 3
  */
  padding-bottom: var(--base-size-80);

  /* Media query for medium screens */
  @media (min-width: 544px) {
    margin-left: var(--base-size-8);
    margin-right: var(--base-size-8);
  }

  /* Media query for large screens */
  @media (min-width: 768px) {
    margin-right: var(--base-size-16);
  }
}

.header {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  font-size: var(--text-body-size-large);
  margin-bottom: var(--base-size-12);
}

.avatarLink {
  display: none;
  height: fit-content;
  margin-left: var(--base-size-16);
  padding-top: var(--base-size-12);
  padding-right: var(--base-size-4);

  /* Media query for medium screens */
  @media (min-width: 768px) {
    display: flex;
  }
}

.avatar {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: '0 0 0 2px var(--bgColor-muted, var(--color-canvas-subtle))';
}
