.VerifiedIcon {
  color: var(--fgColor-accent);
  margin-left: var(--base-size-8);
  transform: translateY(2px);
}

.Label {
  position: absolute;
  right: var(--base-size-16);
  top: var(--base-size-16);
}
