.TabNav {
  background: var(--bgColor-muted);

  & .NavItem {
    border-width: 0;
    border-radius: 0;
    min-height: var(--control-large-size);
    flex: 1 0 auto;

    &[aria-selected='false']:hover {
      background: var(--control-transparent-bgColor-hover);
    }

    &[aria-selected='true'] {
      border-top-right-radius: var(--borderRadius-default);
      border-top-left-radius: var(--borderRadius-default);
      border-right: var(--borderWidth-thin) solid var(--borderColor-default);
      border-left: var(--borderWidth-thin) solid var(--borderColor-default);

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
