.CopilotMetricsInsightsViewerBlankslate {
  max-width: '40rem';
  margin: 'auto';
}

.CopilotMetricsInsightsViewerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--base-size-16);
}
