.InsightsCatalogHeading{
  margin-bottom: var(--base-size-16);
}

.InsightsListView {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  overflow: hidden;
}

.InsightsCatalogListItem{
  padding-left: var(--base-size-16);
  gap: 0;
}
