/* stylelint-disable primer/colors */

.segmentedControlPanelGrid {
  row-gap: var(--base-size-48);
}

.segmentedControlContainer {
  display: flex;
  gap: var(--base-size-4);
  width: fit-content;
  padding: var(--base-size-8);
  margin: 0 auto;
  border: var(--borderWidth-thin) solid var(--base-color-scale-gray-5);
  border-radius: var(--borderRadius-full);
}

.segmentedControlButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--brand-color-text-default);
  border-radius: var(--borderRadius-full);
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-medium);
  padding: var(--base-size-8) var(--base-size-20);
  transition: background-color 0.2s;
}

.segmentedControlButton.active {
  background-color: var(--base-color-scale-green-5);
  color: var(--base-color-scale-white-0);
}
