/* stylelint-disable primer/typography */
.footnoteInlineLink {
  /* Prevents footnotes from being pinned flush to the top of the viewport when navigated to via anchor links. */
  scroll-margin-top: 80px;
}

.sizeSmall {
  font-size: .875rem;
}

.sizeLarge {
  font-size: 1.125rem;
}
