/* stylelint-disable selector-max-type, primer/responsive-widths, primer/borders, primer/spacing */

.PlanCard {
  --maskImage: linear-gradient(rgba(0, 0, 0, 1) 66.66%, rgba(0, 0, 0, 0.33) 100%);

  position: relative;
  width: 100%;
  border-radius: 20px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* stylelint-disable-next-line primer/colors */
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.33%, rgba(255, 255, 255, 0) 66.66%, rgba(255, 255, 255, 1) 100%);
    opacity: 0.03;
    border-radius: inherit;
    mask-image: var(--maskImage);
    z-index: -1;
    transition: opacity 0.2s ease-out;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: var(--borderWidth-thin) solid var(--borderColor-muted);
    border-radius: inherit;
    mask-image: var(--maskImage);
    z-index: -1;
  }

  &:is(:hover, :focus, :active)::before {
    opacity: 0.08;
  }
}

@media (min-width: 768px) {
  .PlanCard {
    width: 390px;
  }
}

.PlanCard__label {
  --brand-Label-background: var(--borderColor-muted);

  position: absolute;
  /* stylelint-disable-next-line primer/colors */
  background: var(--base-color-scale-gray-9);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    --brand-Label-background: var(--brand-color-text-default);
  }
}

.PlanCard__label--green {
  --brand-Label-background: var(--colors-emerald);

  /* stylelint-disable-next-line primer/colors */
  background: var(--colors-emerald);

  span {
    --brand-Label-background: var(--brand-color-text-onEmphasis);
  }
}

.PlanCard__content {
  display: flex;
  padding: var(--base-size-36);
  flex-direction: column;
  align-items: center;
  gap: var(--base-size-20);
  align-self: stretch;
}

.PlanCard__titleBlock {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
}

.PlanCard__title {
  height: auto;
}

@media (min-width: 768px) {
  .PlanCard__title {
    height: 2em;
  }
}

@media (min-width: 1012px) {
  .PlanCard__title {
    height: 3em;
  }
}

.PlanCard__description {
  height: auto;
}

@media (min-width: 768px) {
  .PlanCard__description {
    height: 4em;
  }
}

@media (min-width: 1012px) {
  .PlanCard__description {
    height: 3em;
  }
}

.PlanCard__price {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.PlanCard__priceTag {
  > span:nth-child(1) {
    /* stylelint-disable-next-line primer/typography */
    font-size: var(--brand-text-size-900);
  }

  > span:nth-child(2) {
    vertical-align: top;
    display: inline-block;
    margin-top: 0.15em;
    margin-left: 0.15em;
  }
}

@media (min-width: 1012px) {
  .PlanCard__priceTag {
    > span:nth-child(1) {
      /* stylelint-disable-next-line primer/typography */
      font-size: var(--brand-text-size-700);
    }

    > span:nth-child(2) {
      margin-top: 0.33em;
      margin-left: 0.33em;
    }
  }
}

.PlanCard__ctaBlock {
  --brand-button-secondary-borderColor-rest: var(--borderColor-default);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-8);
  }
}
