.blockedIssueIconWrapper {
  position: relative;
  display: inline-block;

  .issueIcon {
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    /* stylelint-disable-next-line primer/spacing */
    bottom: -1px;
    /* stylelint-disable-next-line primer/spacing */
    right: -3px;
    width: 10px;
    height: 10px;
    background-color: var(--bgColor-default);
    z-index: 0;
  }

  .blockedIcon {
    position: absolute;
    /* stylelint-disable-next-line primer/spacing */
    bottom: -2px;
    right: calc(-1 * var(--base-size-4));
    z-index: 1;
    color: var(--fgColor-danger);
    filter: drop-shadow(0 -1px 0 var(--bgColor-default)) drop-shadow(-1px 0 0 var(--bgColor-default));
  }
}

:global(.hoverable):hover .blockedIcon {
  filter: drop-shadow(0 -1px 0 var(--bgColor-muted)) drop-shadow(-1px 0 0 var(--bgColor-muted));
}
