.blockContainer {
  margin-block: var(--base-size-16);
}

.list {
  padding: 0 !important;
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  list-style: none;
  min-height: var(--base-size-80);
  transition: border-color var(--MarkdownRenderer_streaming-fade-duration) ease-in;

  &.streaming {
    border-bottom-color: transparent;
  }
}

.item {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  margin: 0 !important;
  transition: background-color 50ms var(--base-easing-easeInOut), border-color var(--MarkdownRenderer_streaming-fade-duration) ease-in;

  &:hover {
    background-color: var(--bgColor-muted);
  }

  &:first-child {
    border-top-left-radius: var(--borderRadius-large);
    border-top-right-radius: var(--borderRadius-large);
  }

  &:last-child {
    border-bottom-left-radius: var(--borderRadius-large);
    border-bottom-right-radius: var(--borderRadius-large);
    border-bottom-color: transparent;
  }
}

.link {
  text-decoration: none !important;
  position: static; /* Set up links to be "broken" of their wrapping context */
  cursor: pointer; /* Shows that the entire issue row is clickable when hovered */
}

/* This "breaks" the .link content out of its container and extends its interactive area */
.link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  gap: var(--base-size-2) var(--base-size-8);
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  grid-template-areas:
    'icon header      metadata'
    '.    description metadata';
  padding: var(--base-size-16);
  position: relative; /* Ensures that breakout content is contained */
}

.metadata {
  align-items: flex-start;
  display: flex;
  grid-area: metadata;
  gap: var(--base-size-8);

  .comments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--base-size-4);
    font-size: var(--text-body-size-medium);
    color: var(--fgColor-muted);
  }
}

.header {
  /* This must be inline so that each word and label line breaks properly */
  display: inline;
  grid-area: header;

  .title {
    font-size: var(--text-title-size-small);
    font-weight: var(--base-text-weight-semibold);
    color: var(--fgColor-default);
    /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
    word-break: break-word;
    margin-right: var(--base-size-4);

    .titleSkeleton {
      max-width: min(50ch, 95%);
      display: inline-block;
      vertical-align: middle;
    }

    .unknownTitle {
      color: var(--fgColor-muted);
      background-color: var(--bgColor-muted);
    }
  }

  .number {
    color: var(--fgColor-muted);
    margin-right: var(--base-size-8);
  }

  .labels {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--base-size-4);
  }

  .labelIcon {
    margin-right: var(--base-size-4);
  }
}

.description {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  grid-area: description;

  .descriptionSkeleton {
    max-width: 25ch;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-16);
  height: var(--base-size-16);
  margin-top: var(--base-size-4);
  grid-area: icon;
}

.open {
  color: var(--fgColor-open);
}

.draft {
  color: var(--fgColor-muted);
}

.done {
  color: var(--fgColor-done);
}

.closed {
  color: var(--fgColor-closed);
}

.unknown {
  color: var(--fgColor-disabled);
}

.unassignedAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-20);
  height: var(--base-size-20);
  margin-top: var(--base-size-2);
  color: var(--fgColor-disabled);
  border-radius: var(--borderRadius-full);
  border: var(--borderWidth-default) solid var(--borderColor-default);
}
