.Box {
  margin-top: var(--base-size-40);
  
  @media screen and (min-width: 768px) {
    margin-top: var(--base-size-64);
  }
}

.Box_1 {
  display: flex;
  row-gap: var(--stack-gap-condensed);
  column-gap: var(--stack-gap-normal);
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.Link {
  font-size: var(--text-body-size-small);
}
