.Box {
  min-height: 100vh;
}

.Box_1 {
  background: var(--bgColor-default);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: var(--base-size-24);

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-32);
  }
}

.Box_2 {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);
}

.Box_3 {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);
  align-items: center;
}

.Text {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-light);
  text-align: center;
}

.Box_4 {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);
}

.Box_5 {
  background: var(--bgColor-muted);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-24);
  display: flex;
  gap: var(--stack-gap-normal);
  flex-direction: column;
  justify-content: stretch;
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-width: var(--borderWidth-thin);
  box-shadow: var(--shadow-resting-small);
}

.Box_6 {
  display: flex;
  width: 100%;
  align-items: center;
}

.Text_1 {
  flex: 1;
}

.Link {
  font-size: var(--text-body-size-small);
}

.Box_7 {
  width: 100%;
}

.Box_8 {
  background: var(--bgColor-default);
  padding: var(--base-size-16);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-color: var(--borderColor-default);
  text-align: center;
  border-width: var(--borderWidth-thin);
  box-shadow: var(--shadow-resting-small);
}
