
.CustomPropertyDefinitionShowPageContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--stack-gap-condensed);
}

.breadcrumbNav {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.allowedValuesList {
  display: flex;
  flex-direction: column;
  margin-left: var(--base-size-8);
}
