.commentComposerWrapper {
  padding-top: var(--base-size-24);
  margin-bottom: var(--base-size-8);
}

.commentComposer {
  display: grid;
  grid-template-columns: 55px calc(100% - 55px - var(--base-size-8));
  column-gap: var(--base-size-8);
  row-gap: var(--base-size-8);
  grid-template-rows: auto auto auto;
  grid-template-areas: 'avatar heading' 'comment comment' 'footer footer';

  /* --breakpoint-medium */
  @media screen and (min-width: 768px) {
    grid-template-columns: 40px calc(100% - 40px - var(--base-size-16));
    column-gap: var(--base-size-16);
    grid-template-areas: 'avatar heading' 'avatar comment' 'avatar footer';
  }
}

.commentBoxWrapper {
  grid-area: comment;
  display: flex;
  flex-direction: column;
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-16);
  gap: var(--base-size-8);
  flex-grow: 1;
}

.avatarLink {
  grid-area: avatar;
  margin-left: var(--base-size-12);
  place-self: start;
  cursor: pointer;

  /* --breakpoint-medium */
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.heading {
  grid-area: heading;
  font-size: var(--text-title-size-small);
  align-self: center;
  margin-top: 0;

  /* --breakpoint-medium */
  @media screen and (min-width: 768px) {
    margin-top: var(--base-size-8);
  }
}
