.RadioGroup_Label {
  /* stylelint-disable-next-line primer/typography */
  font-weight: bold;
  /* stylelint-disable-next-line primer/typography */
  font-size: 14px;
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: 4px;
}
