.header {
  box-shadow: none !important;
}

.commandWrapper {
  /* Account for 28px for copy button, plus 32px of padding */
  max-width: calc(100% - 28px - 32px);
}

.instruction {
  /* Clip long branch names */
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
