.content {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
}

.section {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
}

.section-content {
  padding: var(--base-size-8)
}
