.svg {
  position: absolute;
  overflow: visible;
  /* stylelint-disable-next-line primer/colors */
  color: var(--borderColor-default);
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
