.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  gap: var(--base-size-8);
}

.text {
  color: var(--fgColor-muted);
  text-align: center;
  width: 100%;
}
