.rangeValue {
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-4);
}

.rangeContainer {
  width: 100%;
}

.rangeLabels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fontStack-monospace);
  margin-top: calc(-1 * var(--base-size-4));
}

.rangeLabel {
  font-size: var(--text-body-size-small);
  color: var(--color-fg-muted);
}

/* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
.rangeContainer input[type='range'] {
  accent-color: var(--bgColor-accent-emphasis);
}

.booleanContainer {
  width: var(--base-size-16);
  height: var(--base-size-16);
}

.fileContainer {
  padding: var(--base-size-12) 0;
}
