.errorContainer {
  width: 100%;
  padding: var(--base-size-32);
  text-align: center;
  color: var(--fgColor-attention);
}

.errorNotice {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  font-family: var(--fontStack-monospace);
}

.errorIcon {
  margin-right: var(--base-size-8);
}

.errorText {
  margin-top: var(--base-size-4);
  font-size: var(--text-body-size-small);
  font-family: var(--fontStack-monospace);
}

.fixErrorButton {
  margin-left: auto;
  margin-right: auto;
}
