.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-full);
  background: transparent;
  overflow: visible;
}

.labelContainer {
  display: inline-flex;
  align-items: center;
  background-color: var(--bgColor-neutral-muted);
  justify-content: center;
  border-radius: var(--borderRadius-full);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  padding: 0 var(--base-size-6);
}

.icon, .labelContainer {
  color: var(--fgColor-muted);
}
