.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--base-size-8);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: var(--base-size-44);
  border: var(--borderWidth-default) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
  background: var(--bgColor-default);
}

.groupTitle {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  margin-left: calc(var(--base-size-12) * -1);
}

.loading {
  width: 100%;
  padding: var(--base-size-32)
}

.nodeValue {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  padding: var(--base-size-16);
  height: 100%;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--base-size-32);
  color: var(--color-fg-muted);
  text-align: center;

  .emptyStateText {
    color: var(--fgColor-muted);
    padding: var(--base-size-16) 0 0 0;
  }
}

.infoIcon {
  color: var(--color-fg-muted);
  margin-bottom: var(--base-size-8);
}

.graphqlOutput {
  max-height: 300px;
  overflow: auto;
}

