---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bfd45ba91d66b8133b3f0766511fa6499e606ad59f974ce305d1ac2271b169c9"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef1a2f30d03f07981e9368631d57411878","expires_at":"2021-12-10T21:42:32Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Fri, 10 Dec 2021 20:42:32 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2021-12-10T20:42:32Z","name":"TODO:
        importing advisory improvement","head_sha":"9b96bc47acd5b57a7d6a79b0013ea89214369b9c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e50a83cd52b6b76ca2540161bce21dbc7377379a70a3f54c033b7520755e693a"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4488389399
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1639169070'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":4488389399,"name":"TODO: importing advisory improvement","node_id":"CR_kwDOGd7i3s8AAAABC4djFw","head_sha":"9b96bc47acd5b57a7d6a79b0013ea89214369b9c","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4488389399","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/4488389399","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2021-12-10T20:42:32Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4488389399/annotations"},"check_suite":{"id":4621709607},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"katblag-advisory-db-test","node_id":"MDM6QXBwODc2ODc=","owner":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"name":"katblag-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/katblag-advisory-db-test","created_at":"2020-11-06T00:21:12Z","updated_at":"2021-12-02T01:06:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[]}'
  recorded_at: Fri, 10 Dec 2021 20:42:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c186a69c4b562e4b0ad8c959ba0c2a280e406d5812a691102ffa04c03f75b3b6"'
      Last-Modified:
      - Fri, 10 Dec 2021 20:37:46 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1639169070'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 10 Dec 2021 20:42:32 GMT
[...]
