---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"01275020731a30f402a84ebc446b32792cb4e93c9f87598c0c5c0f849389f628"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef4f1d0e70418b45e85e57f3d6be194138","expires_at":"2021-12-21T22:50:04Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Tue, 21 Dec 2021 21:50:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RustSec/advisory-db/commits?path=crates/&since=2022-03-22T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40abbcd10cdb070971f15c47d9b813e873594bb7c4394424e97602f49d7111f5"
      Last-Modified:
      - Wed, 27 Apr 2022 19:05:18 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-05-27 21:54:46 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1651099013'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea","node_id":"C_kwDOBPTSmdoAKDgzYzEzZDhjMGEzYTcwZGNkNTU2OTYyYzM1ZDMyZDdmYWFmN2Q1ZWE","commit":{"author":{"name":"github-actions[bot]","email":"41898282+github-actions[bot]@users.noreply.github.com","date":"2022-04-27T19:05:18Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04-27T19:05:18Z"},"message":"Assigned
        RUSTSEC-2022-0017 to array-macro (#1225)\n\nCo-authored-by: Shnatsel <Shnatsel@users.noreply.github.com>","tree":{"sha":"ffd5b153b6789bae96399c738bfd732be8283a2f","url":"https://api.github.com/repos/rustsec/advisory-db/git/trees/ffd5b153b6789bae96399c738bfd732be8283a2f"},"url":"https://api.github.com/repos/rustsec/advisory-db/git/commits/83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJiaZPuCRBK7hj4Ov3rIwAAfiwIAJSxVQZO08zrDQLT2Qc6H47Z\nKMmnS77wKaoiBkjZrP3S7s20PDYeXOOC8sfXdLvKq7kqjWY0heIBv6ZQPD5pPfQU\nqSFus1uM7JT0htPepXZV1rrec8XVBhntMX7mszjPzl1DM3tQQ6792a3ZLc/2ZUuZ\nJK3BM8HMlyua9p9V3sDBL/r4JPZPDwOOg5AJLOY4qOtMISDmpUnTSEfjojs9SyTP\nOdGzUcycKMfk0R+HkcDftWU6dSXnQcjIhI+PIspUE5H5MRRJCyIdZXFfGSzPn6WT\nQz9N3amZVXQIS4BbX6XAvFOnytL0boqMleuAK8xUHTHSWtT4xRb/gmI8qWzm8bA=\n=4g67\n-----END
        PGP SIGNATURE-----\n","payload":"tree ffd5b153b6789bae96399c738bfd732be8283a2f\nparent
        c29b239a56cdc4175f726783262f9e8ee5bdd4bd\nauthor github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        1651086318 +0200\ncommitter GitHub <noreply@github.com> 1651086318 +0200\n\nAssigned
        RUSTSEC-2022-0017 to array-macro (#1225)\n\nCo-authored-by: Shnatsel <Shnatsel@users.noreply.github.com>"}},"url":"https://api.github.com/repos/rustsec/advisory-db/commits/83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea","html_url":"https://github.com/rustsec/advisory-db/commit/83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea","comments_url":"https://api.github.com/repos/rustsec/advisory-db/commits/83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea/comments","author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"c29b239a56cdc4175f726783262f9e8ee5bdd4bd","url":"https://api.github.com/repos/rustsec/advisory-db/commits/c29b239a56cdc4175f726783262f9e8ee5bdd4bd","html_url":"https://github.com/rustsec/advisory-db/commit/c29b239a56cdc4175f726783262f9e8ee5bdd4bd"}]},{"sha":"c29b239a56cdc4175f726783262f9e8ee5bdd4bd","node_id":"C_kwDOBPTSmdoAKGMyOWIyMzlhNTZjZGM0MTc1ZjcyNjc4MzI2MmY5ZThlZTViZGQ0YmQ","commit":{"author":{"name":"Konrad
        Borowski","email":"konrad@borowski.pw","date":"2022-04-27T17:55:4[...]
- request:
    method: get
    uri: https://api.github.com/repos/RustSec/advisory-db/commits/83c13d8c0a3a70dcd556962c35d32d7faaf7d5ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76953118da02ae5d3eaf937e6d299bda01c078a1c28f369db6f96e11[...]
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/array-macro/RUSTSEC-2022-0017.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"e7283a001a2510e951236cd0dd7e8794b3ce6a276df5a8dda3268a1b14362842"
      X-Fastly-Request-Id:
      - cc1380a73b9ca4d7b431f6396cc7af7fcd1daedc
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        ```toml
        [advisory]
        id = "RUSTSEC-2022-0017"
        package = "array-macro"
        date = "2022-04-27"
        url = "https://gitlab.com/KonradBorowski/array-macro/-/issues/5"
        categories = ["code-execution", "memory-corruption", "memory-exposure"]
        informational = "unsound"

        [versions]
        patched = [">= 2.1.2"]
        unaffected = ["< 2.1.0"]
        ```

        # `array!` macro is unsound when its length is impure constant

        Affected versions of this crate did substitute the array length provided by an user at compile-time multiple times.

        When an impure constant expression is passed as an array length (such as a result of an impure procedural macro), this can result in the initialization of an array with uninitialized types, which in turn can allow an attacker to execute arbitrary code.

        The flaw was corrected in commit [d5b63f72](https://gitlab.com/KonradBorowski/array-macro/-/commit/d5b63f72090f3809c21ac28f9cfd84f12559bf7d) by making sure that array length is substituted just once.
  recorded_at: Wed, 27 Apr 2022 21:55:49 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/fruity/RUSTSEC-2021-0123.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"00c7f652c04d1323a5fff2e161847329b3e8b8c7e09954adf7fa2071c62a28a3"
      X-Fastly-Request-Id:
      - bc21128738f9f313ebc05f8fec03cd8e9f2c9f52
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/time/RUSTSEC-2020-0071.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"e6ce4620ee7454c9951b24e87d5776015451dd9bd2fb2fbc252471cfd55728f1"
      X-Fastly-Request-Id:
      - 0fa7504b556cee079354370cd7acd77d12ea33c1
      Source-Age:[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/arrow2/RUSTSEC-2022-0012.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"917470e8a117a09912845054d889e2ba4cdb7ef9c052e026f9e1e62ebdb1bd8a"
      X-Fastly-Request-Id:
      - d632c828fa5fe2afd6debd478763e441d979e595
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/wasmtime/RUSTSEC-2022-0016.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"38f2b0af299cb98684d89ed4336f2b9bd658164181624814482bbd633ab10d80"
      X-Fastly-Request-Id:
      - 62f2fe958976d591970815fc274f9246bb97b8b3
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        ```toml
        [advisory]
        id = "RUSTSEC-2022-0016"
        package = "wasmtime"
        date = "2022-03-31"
        url = "https://github.com/bytecodealliance/wasmtime/security/advisories/GHSA-gwc9-348x-qwv2"
        categories = ["memory-corruption", "memory-exposure"]
        keywords = ["use-after-free", "Wasm", "garbage collection"]
        aliases = ["CVE-2022-24791"]

        [versions]
        patched = [">= 0.35.2", ">= 0.34.2, < 0.35.0"]
        unaffected = ["< 0.34.0"]

        [affected]
        functions = { "wasmtime::Config::epoch_interruption" = ["0.34.0", "0.34.1", "0.35.0", "0.35.1"] }
        ```

        # Use after free with `externref`s and epoch interruption in Wasmtime

        [Use after free with `externref`s and epoch interruption in Wasmtime](https://github.com/bytecodealliance/wasmtime/security/advisories/GHSA-gwc9-348x-qwv2)
  recorded_at: Wed, 27 Apr 2022 21:55:50 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/RustSec/advisory-db/main/crates/pty/RUSTSEC-2022-0015.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"de55ca45c43bc86c3602127ece224243a9bf078110ff198714b79a22e7af1d1f"
      X-Fastly-Request-Id:
      - 47b434c92a6a684b2e8981233aaf4a28e891dbed
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        ```toml
        [advisory]
        id = "RUSTSEC-2022-0015"
        package = "pty"
        date = "2022-03-22"
        informational = "unmaintained"
        url = "https://github.com/hibariya/pty-rs/issues/19"
        [versions]
        patched = []
        unaffected = []
        ```

        # pty is unmaintained

        The repository hasn't received any updates since Jun 25, 2017 and the author is unresponsive.

        Maintained alternatives include:

        * [`tokio-pty-process`](https://crates.io/crates/tokio-pty-process)
        * [`pty-process`](https://crates.io/crates/pty-process)
  recorded_at: Wed, 27 Apr 2022 21:55:51 GMT
recorded_with: VCR 6.1.0
