.Dialog_Footer {
  display: flex;
}

.instructionContainerSx {
  display: flex;
  flex-direction: column;
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 5px;
}

.instructionSx {
  display: flex;
  padding: var(--base-size-16);
  justify-content: space-between;
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-default);
}

.Box_2 {
  border-bottom: none;
}

.Box_3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.FormControl {
  display: flex;
  align-items: center;

  > :first-child {
    display: contents;
  }
}

.Box_4 {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
}
