.lineHeightSpacious {
  line-height: var(--text-title-lineHeight-small, 1.5);
}

.wrapper {
  flex: 1 0 0;
}

.fillWidth {
  flex: 1 1 auto;
  width: 100%;
}

.divider {
  border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
  width: 100%;
}
