.wrapper {
  flex: 1 0 0;
}

.titleHeader {
  min-height: var(--control-medium-size, 2rem); /* Be at least the same as the "more details" button height */
  display: flex;
  align-items: center;
  margin: 0; /* Remove default margin */
}
