.compactNode {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--base-size-6);
  flex: 1;
  width: fit-content;
  background: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
  padding: var(--base-size-12) var(--base-size-16);
  box-shadow: var(--shadow-resting-small-1-offsetX, 0) var(--shadow-resting-small-1-offsetY, 1px) 1px var(--shadow-resting-small-1-spread, 0) var(--shadow-resting-small-1-color, rgba(1, 4, 9, 0.40));
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium, 14px);
  font-style: normal;
  font-weight: var(--base-text-weight-normal);
  line-height: var(--text-body-lineHeight-medium, 20px);
}

.compactNode.active {
  border: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.compactNode.active.withError {
  border: var(--borderWidth-thick) solid var(--borderColor-attention-emphasis);
}

.validationError {
  color: var(--fgColor-attention)
}
