/* stylelint-disable selector-max-type */
/* stylelint-disable primer/colors */

.confirmIconOuter {
  position: relative;
  background: conic-gradient(from 57.65deg at 50% 50%, #CDEC78 0deg, #379869 81deg, #8ACEFF 360deg);
  border-radius: 50%;
  /* stylelint-disable-next-line primer/spacing */
  padding: 3px;

  &::before {
    content: "";
    position: absolute;
    inset: -4px;
    z-index: -1;
    border-radius: 50%;
    background: conic-gradient(from 57.65deg at 50% 50%, #CDEC78 0deg, #379869 81deg, #8ACEFF 360deg);
    filter: blur(18px);
    opacity: 0.7;
  }
}

.confirmIconInner {
  background: var(--bgColor-white);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slightly shrink vertical padding of main box */
@media screen and (min-width: 63.25rem) {
  .ctaContainer > div {
    padding-bottom: var(--base-size-80);
    padding-top: var(--base-size-80);
  }
}

/* Give more space between related resources on mobile */
@media screen and (max-width: 63.25rem) {
  .relatedResources > div {
    margin-bottom: var(--base-size-32);
  }
}
