.container {
  position: relative;
  padding-top: var(--base-size-4);
}

.previewContent {
  position: relative;
  overflow: hidden;
  max-height: 60px;
  transition: max-height var(--base-duration-300);
}

.previewContent.collapsed {
  cursor: pointer;
}

.previewContent.collapsed:hover {
  max-height: 100px;
  transition: max-height var(--base-duration-300);
}

.previewContent.expanded {
  overscroll-behavior: contain;
  max-height: 300px;
  transition: max-height var(--base-duration-300);
}

.previewOverlay {
  position: absolute;
  bottom: 0;
  top: calc(-1 * var(--base-size-12));
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, var(--bgColor-default));
  transition: opacity var(--base-duration-300);
  pointer-events: none;
  z-index: 10;
  opacity: 0;
}

.previewOverlay.visible {
  opacity: 1;
  transition: opacity var(--base-duration-300);
}

.nodeInput {
  width: 100%;
}

.nodeContent {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--base-size-8);
  margin-top: var(--base-size-8);
}
