.App {
  /* 1280 + 336 (side nav width) + 48 padding */
  max-width: 1664px;
}

.AppSidebar {
  width: 100%;

  @media (min-width: 1012px) {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 336px;
  }
}
