.background {
  background-image: url('/images/modules/account/credit_card.gif');
  background-position: center;
  margin: 0;
}

.test-background {
  background-image: url('/static/images/mona-bounce.gif');
  background-position: center;
  margin: 0;
}
