.spinner-container {
  padding-left: var(--base-size-4);
  padding-top: var(--base-size-4);
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.muted {
  color: var(--fgColor-muted)
}

.metadata-container {
  height: 100%;
}

.referrer-button {
  position: absolute;
  bottom: 0;
  margin-left: var(--base-size-20);
  margin-bottom: var(--base-size-20);

}
