.monogram {
  height: 48px;
  width: 48px;
  background-color: var(--bgColor-neutral-muted);
  color: var(--fgColor-default);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-medium);
}
