.Box {
  margin-bottom: var(--base-size-16);
  display: flex;
  justify-content: space-between;
}

.TextInput {
  width: 30%;
  background: var(--bgColor-muted);
}

.PageLayout {
  /* stylelint-disable-next-line primer/spacing */
  padding: none;
}

.PageLayout_Header {
  margin-bottom: var(--base-size-16);
}

.Heading {
  font-weight: var(--base-text-weight-normal);
}

.Text {
  color: var(--fgColor-muted);
  /* stylelint-disable-next-line primer/typography */
  line-height: 20px;
  font-size: var(--text-body-size-medium);
}
