.actionList {
  padding: 0 !important;
}

.groupHeading {
  padding-left: var(--base-size-8) !important;
  font: var(--text-body-shorthand-small);
  font-weight: var(--base-text-weight-medium) !important;
}

.ActionList_Group {
  /* stylelint-disable-next-line selector-max-type */
  > div {
    padding-left: 0;
  }
}
