.actionButtonsWrapper {
  display: flex;
  margin-inline-start: auto;
}

.suggestionStatus {
  display: inline-flex;
  align-items: center;
  gap: var(--base-size-8);

  /* Gets added to 8px padding to total 16px when buttons aren’t present */
  margin-inline-end: var(--base-size-8);

  /* To prevent shift when buttons appear/disappear */
  min-height: var(--base-size-32);
}

.colorMuted {
  color: var(--fgColor-muted);
}

.Octicon {
  color: var(--fgColor-success);
}

.Button_1 {
  margin-right: var(--base-size-8);
}
