/* stylelint-disable primer/spacing */
.section {
  position: relative;
  overflow: hidden;
}

.subNav {
  background-color: transparent;
}

.trailingSectionGrid {
  row-gap: var(--base-size-128);
}

.ctaCards {
  margin-block-start: var(--brand-Section-padding-spacious);
}

.ctaSectionIntro {
  padding-block-start: 0;
  margin-block-end: var(--brand-Section-padding-condensed);
}
