.Box {
  align-items: center;
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  overflow: hidden;
  display: flex;
}
