.Box {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-small);
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-right: none;
  border-top: none;
  border-bottom: 0;
  outline: none;

  &.readonly, &.readonly:active {
    cursor: default;
  }

  &:active {
    cursor: grabbing;
  }

  &.inactive, &.inactive:active {
    cursor: default;
  }

  &.hoverable:hover {
    background-color: var(--bgColor-default);
  }

  &:last-child {
    border-right: var(--borderWidth-thin) solid transparent;
  }
}
