.Box {
  color: var(--fgColor-muted);
  background: var(--bgColor-default);
  padding: var(--base-size-4);
}

.Button {
  color: var(--fgColor-muted);
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
}

.Box_1 {
  padding-left: var(--base-size-8);
  /* stylelint-disable-next-line primer/spacing */
  right: -8px;
  top: 0;
  bottom: 0;
  width: 16px;
  z-index: 1;
  position: absolute;
}

.HeaderGridCellLayout {
  flex-grow: 1;
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
}

.Text {
  color: var(--fgColor-muted);
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  flex-grow: 1;
}

.Box_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fgColor-muted);
}
