.Checkbox {
  margin-right: var(--base-size-16);
}

.Box {
  display: flex;
}

.Text {
  font-weight: var(--base-text-weight-semibold);
}

.Text_1 {
  color: var(--fgColor-muted);
  margin-right: var(--base-size-8);
}

.Box_1 {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
}
