.Checkbox {
  margin-right: var(--base-size-16);
}

.Box {
  display: flex;
}

.Box_1 {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
}

.Box_2 {
  display: flex;
  align-items: center;
}

.Text {
  font-weight: var(--base-text-weight-semibold);
  margin-right: var(--base-size-8);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
}

.Link {
  margin-left: var(--base-size-8);
}
