.Popover {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  /* stylelint-disable-next-line primer/colors */
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.Popover_Content {
  margin: auto;
  padding-top: var(--base-size-24);
  width: 320px;
  height: 200px;

  &::before {
    content: none !important;
  }

  &::after {
    content: none !important;
  }
}

.Heading {
  font-size: var(--text-title-size-medium);
  margin-bottom: var(--base-size-24);
}

.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text {
  color: var(--fgColor-muted);
  margin-top: var(--base-size-16);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}
