.PageLayout {
  padding-top: var(--base-size-24);
}

.Box {
  position: sticky;
  top: calc(var(--base-size-8) * -1);
  padding-top: var(--base-size-16);
  margin-top: calc(var(--base-size-16) * -1);
  background-color: var(--bgColor-default);
  z-index: 1;
}
