.Checkbox {
  align-self: start;
}

.Box {
  padding-left: var(--base-size-24);
  padding-top: var(--base-size-8);
}

.Box_1 {
  padding-top: var(--base-size-8);
  padding-left: var(--base-size-16);
}

.Box_2 {
  padding: var(--base-size-8);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Box_3 {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Box_4 {
  flex-shrink: 0;
  margin-left: var(--base-size-8);
  display: flex;
}

.Text {
  color: var(--fgColor-muted);
}

.Box_5 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.Text_1 {
  color: var(--fgColor-default);
}

.Box_6 {
  display: flex;
  align-items: center;
  margin-right: var(--base-size-16);
}
