.Box {
  background: var(--bgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-color: var(--borderColor-default);
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}

.Box_1 {
  padding: var(--base-size-8);
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-16);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.Box_2 {
  display: flex;
}

.Box_3 {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
}
