.RadioGroup {
  .reason_radio:checked:disabled {
    background-color: var(--bgColor-muted);
    /* stylelint-disable-next-line primer/colors */
    border-color: var(--fgColor-muted);
  }
}

.RadioGroup_Label {
  color: var(--fgColor-default);
  /* stylelint-disable-next-line primer/typography */
  font-weight: bold;
}

.FormControl_Label {
  color: var(--fgColor-default);
}
