/* Override some DataTable styles to match our intended design */
.CustomTable {
  overflow: auto;
  container-name: compareTable;
  container-type: inline-size;

  :global(.TableCell),
  :global(.TableHeader) {
    /* stylelint-disable-next-line primer/spacing */
    padding: var(--stack-padding-condensed) !important;
    border-radius: 0 !important;

    &:first-child {
      border-left: 0 !important;
    }

    &:last-child {
      border-right: 0 !important;
    }

    &:not(:last-child) {
      border-right: var(--borderWidth-thin) solid var(--borderColor-muted) !important;
    }
  }

  :global(.TableCell) {
    align-items: start !important;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  :global(.TableHeader) {
    background-color: unset !important;
    border-top: none !important;

    :global(.TableRow):hover {
      background-color: none;
    }
  }

  :global(.TableBody .TableRow):hover {
    background-color: var(--bgColor-muted) !important;
  }

  :global(.TableRow):last-of-type {
    :global(.TableCell) {
      border-bottom: none !important;
    }
  }
}
