/* stylelint-disable selector-max-type */
/* All custom styles that override Primers' Token, to achieve the look we're after */
.Token {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-1);
  height: auto !important;
  padding: 0 !important;
  border-radius: var(--borderRadius-small) !important;
  background: var(--bgColor-muted) !important;
  border: none !important;
  box-shadow: var(--boxShadow-thin) var(--borderColor-default) !important;
  overflow: clip;

  /* The "button" on the left */
  :global(:is(span, button):not(:has(svg))) {
    display: block;
    width: auto !important;
    height: auto !important;
    padding: var(--base-size-6) !important;
  }

  /* The remove button */
  :global(:is(span, button):has(svg)) {
    display: inline-flex;
    align-items: center;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 var(--base-size-4) !important;
    width: auto !important;
    border-radius: 0 !important;
    transform: translate(0, 0) !important;
  }
}
