.inputCell {
  container-name: inputCell;
  container-type: inline-size;
  width: 100%;
}

.actionWrapper {
  display: flex;
  gap: var(--stack-gap-condensed);
  flex-direction: row;

  @container inputCell (width < 300px) {
    flex-direction: column;
  }

  @container compareTable (width < 48rem) {
    flex-direction: row;
  }
}
