.publisherAndModelContainer {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: var(--base-size-4);
  padding-top: var(--base-size-4);
}

.modelName {
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-semibold);

  @media (min-width: var(--viewportRange-narrow)) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.publisherAvatar {
  display: flex;
  margin-right: var(--base-size-4);
  flex-shrink: 0;
}
