.modelPickerContainer {
  display: flex;
  flex: 1;
  container-name: modelPickerContainer;
}

.modelPickerName {
  align-items: center;

  @container modelPickerContainer (width >= 300px) {
    min-width: 100px;
  }
}
