.parametersHeading {
  font-size: var(--text-title-size-small);
  font-weight: var(--text-title-weight-small);
  flex: 1;
}

.parametersButtonPressedState {
  background-color: var(--button-default-bgColor-active);
  border-color: var(--button-default-borderColor-active);
}
