.messagePair {
  padding: var(--base-size-8);
  margin-inline: calc(-1 * var(--base-size-8));
  margin-bottom: var(--base-size-2);
  border-radius: var(--borderRadius-medium);
  transition: background-color 0.2s ease;
}

.messagePairHover {
  background-color: var(--bgColor-danger-muted, var(--color-danger-subtle));
}
