
.toolbar {
  display: flex;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  background: var(--bgColor-muted);
  padding: var(--base-size-8);
}

.mainWrapper {
  overflow: auto;
}

.promptBody {
  /**
   * Forcing the page layout to fill out full container.
   * These hard-coded heights are horrible, but there are some issues with overriden specific elements
   * of the page layout, so choosing this approach for now.
   * Elements we're skipping are
   * - page padding (16px*2),
   * - the page header (104px),
   * - the prompt page header (40px)
   * - the toolbar (45px)
   * - 2px of borders
   */
  min-height: calc(100vh - 32px - 104px - 40px - 45px - 2px);
}

.blankSlate {
  margin-top: var(--base-size-80);
}
