/* stylelint-disable-next-line selector-type-no-unknown,selector-no-qualifying-type */
:global(react-app[app-name="github-models-repo"]) {
  /* By default react apps are set to min-height 100vh - 64px, but the repo header is 104px. Until
  we have a proper fix from the platform, we need to override that here */
  min-height: calc(100vh - 104px) !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--base-size-16);
  height: 100%;
}
