.copilotDraftType {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: default;
}

.copilotLoadingText {
  padding-left: var(--base-size-8);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.copilotDraftIndividualType{
  border: var(--borderWidth-thin) dashed;
  background-color: var(--bgColor-default);
  color: var(--fgColor-muted);
  padding: var(--base-size-8);
}

.copilotIcon {
  color: var(--fgColor-muted);
}
