.Box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--stack-gap-condensed);
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
}

.Box_1 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Box_2 {
  display: flex;
  flex-direction: row;
  gap: var(--stack-gap-condensed);
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-8);
  align-items: center;
  color: var(--fgColor-muted);
}
