.linesChanged {
  font-variant-numeric: 'tabular-nums';
  width: '100%';
  text-align: 'right';
}

.ListItemTitle_0 {
  direction: rtl;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
}
