.ListItemMetadata_0 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.ListItemDescription_0 {
  color: var(--fgColor-attention);
}

.Box {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
}

.IconButton {
  color: var(--fgColor-danger);
}
