.Box {
  display: none;
  
  @media screen and (min-width: 544px) {
    display: block;
  }
}

.Box_1 {
  display: block;
  
  @media screen and (min-width: 544px) {
    display: none;
  }
}

.Textarea {
  height: 100px;
}

.Box_2 {
  display: grid;
  gap: var(--stack-gap-condensed);
}
