.contentContainer {
  max-width: 560px;
}

.metadataContainer {
  & > * {
    padding-top: var(--base-size-8);
    padding-bottom: var(--base-size-8);
    display: flex;
    border-bottom: var(--borderWidth-thin) solid;
    border-color: var(--borderColor-default);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &:has(+ .dropdownInfoContainer:empty) {
    border-bottom-left-radius: var(--borderRadius-medium);
    border-bottom-right-radius: var(--borderRadius-medium);
    border-bottom: 0;
  }
}

.dropdownInfoContainer {
  &:empty {
    display: none;
  }

  & > :last-child {
    border-bottom: 0!important;
  }
}
