.roundedBox {
  & > :first-child {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
    border-top-left-radius: var(--borderRadius-medium);
    border-top-right-radius: var(--borderRadius-medium);
  }

  & > :only-child {
    border-bottom: 0;
  }
}
