.Box {
  margin-left: var(--base-size-24);
  margin-right: var(--base-size-24);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.Box_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Box_2 {
  display: flex;
  align-items: center;
}

.Octicon {
  color: var(--fgColor-danger);
}

.Text {
  font-size: var(--text-body-size-large, --text-title-size-small);
  /* stylelint-disable-next-line primer/typography */
  font-weight: bold;
  margin-left: var(--base-size-8);
}

.IconButton {
  margin-left: var(--base-size-8);
}

.Text_1 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  /* stylelint-disable-next-line primer/typography */
  font-weight: bold;
  margin-left: var(--base-size-8);
  margin-top: var(--base-size-16);
}

.Box_3 {
  padding: var(--base-size-16);
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;
  font-family: var(--fontStack-monospace);
  /* stylelint-disable-next-line primer/typography */
  font-size: 12px;
  background-color: var(--bgColor-muted);
  overflow-x: auto;
  white-space: nowrap;
  list-style-type: none;

  /* stylelint-disable-next-line selector-max-type,selector-no-qualifying-type */
  > li.commit-hash::before {
    content: '-';
    margin-right: var(--base-size-4);
  }
  /* stylelint-disable-next-line selector-max-type,selector-no-qualifying-type */
  > li.metadata::before {
    content: ' ';
    white-space: pre;
    margin-right: var(--base-size-4);
  }
}
