.container {
  height: calc(var(--base-size-48));
}

.fileHeading {
  overflow: hidden;
  font-size: var(--text-body-size-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
