.container {
  height: calc(var(--base-size-48) + var(--borderWidth-thin));
}

.fileHeading {
  margin-left: var(--base-size-8);
  overflow: hidden;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
