.Box {
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-bottom: var(--base-size-16);
  }
}

.Heading {
  flex: 1;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Box_1 {
  display: grid;
  padding-top: var(--base-size-16);
  grid-template-columns: auto;
  gap: var(--stack-gap-normal);
}

.Box_2 {
  border-style: solid;
  border-width: var(--borderWidth-thin);
  display: flex;
  font-size: var(--text-body-size-medium);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-resting-small);
  flex-direction: column;
}

.Box_3 {
  display: flex;
  gap: var(--stack-gap-condensed);
  padding: var(--base-size-16);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-color: var(--borderColor-default);
}

.Box_4 {
  display: flex;
  flex: 1;
  gap: var(--base-size-4);
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }
}

.Box_5 {
  font-weight: var(--base-text-weight-semibold);
}

.Label {
  margin-left: var(--base-size-4);

  @media screen and (min-width: 768px) {
    margin-left: var(--base-size-8);
  }
}

.Text {
  color: var(--fgColor-muted);
  flex: 1;
  text-align: left;
  font-weight: var(--base-text-weight-normal);

  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.Box_6 {
  display: flex;
  gap: var(--stack-gap-condensed);
  padding: var(--base-size-16);
}
