.Box {
  background: var(--bgColor-inset);
  width: 100%;
  max-width: 100%;
}

.Box_1 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  gap: var(--stack-gap-normal);
  align-items: center;
  border-bottom-color: var(--borderColor-default);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
}

.Box_2 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Text {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
}

.Text_1 {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

.Text_2 {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
