.Box {
  background: var(--bgColor-default);
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  padding-bottom: var(--base-size-32);
}

.PageLayout_Content {
  padding: 0;
  min-height: auto;

  @media screen and (min-width: 768px) {
    padding: var(--base-size-24);
    min-height: 100vh;
  }
}

.Box_1 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-8);
    padding-right: var(--base-size-8);
  }
}

.Heading {
  flex: 1;
  font-weight: var(--base-text-weight-medium);
  font-size: var(--text-title-size-medium);
  padding-bottom: var(--base-size-16);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-color: var(--borderColor-default);
  border-bottom-style: solid;

  @media screen and (min-width: 768px) {
    /* stylelint-disable-next-line primer/typography */
    font-size: var(--base-size-24);
  }
}
