.Box {
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-bottom: var(--base-size-16);
  }
}

.Heading {
  flex: 1;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Box_1 {
  display: grid;
  padding-top: var(--base-size-16);
  grid-template-columns: auto;
  gap: var(--stack-gap-normal);
}

.Box_2 {
  border-style: solid;
  border-width: var(--borderWidth-thin);
  display: flex;
  font-size: var(--text-body-size-medium);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  gap: var(--stack-gap-condensed);
  box-shadow: var(--shadow-resting-small);
  flex-direction: column;
  padding: var(--base-size-16);
}

.Box_3 {
  display: flex;
  gap: var(--stack-gap-condensed);
  max-width: 150px;
  align-items: center;
}

.Text {
  font-weight: var(--base-text-weight-normal);
}

.Text_1 {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}
