/* Override some DataTable styles to match our intended design */
.eval-grid {
  overflow: auto;

  :global(.TableCell),
  :global(.TableHeader) {
    border-radius: 0 !important;

    &:first-child {
      border-left: 0 !important;
    }

    &:last-child {
      border-right: 0 !important;
    }
  }

  :global(.TableCell) {
    align-items: start !important;
  }

  :global(.TableHeader) {
    background-color: unset !important;
    border-top: none !important;
  }
}

.header {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 64px);
  flex: 1;
}

.mobileFeedback {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: var(--base-size-16);
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
