.header {
  padding: 0;
  padding-bottom: var(--base-size-16);
  /* Unable to transform `
        borderColor: null`: Unsupported value expression */
  border-width: 0;
  /* Unable to transform `
        borderStyle: null`: Unsupported value expression */
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  gap: var(--stack-gap-normal);
  flex-direction: column;
  border-bottom-width: 0;
}

.modelSwitcherWrapper {
  flex-grow: 1;
  display: flex;
  min-width: 0;
  align-items: center;
  width: auto;

  @media screen and (min-width: 544px) {
    min-width: 0;
  }

  @media screen and (min-width: 800px) {
    min-width: 320px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--stack-gap-normal);

  @media screen and (min-width: 800px) {
    flex-direction: row;
    align-items: center;
  }
}

.headerContent {
  display: flex;
  gap: var(--stack-gap-condensed);
  width: auto;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: row;
}

.giveFeedbackWrapper {
  display: none;

  @media screen and (min-width: 544px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.commandPaletteButton {
  display: flex;

  @media screen and (min-width: 544px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.goToPlaygroundButton {
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.goToPlaygroundMobileButton {
  display: flex;

  @media screen and (min-width: 544px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
