.button {
  display: flex;
  gap: var(--base-size-8);
  height: 32px;
  background-color: var(--bgColor-default, var(--color-canvas-default));
  align-items: center;
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-resting-small,var(--color-shadow-small));
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--bgColor-inset, var(--color-canvas-inset));
  }
}

.dropdown {
  font-weight: var(--base-text-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
}
