.messagePair {
  border-top: var(--borderWidth-default) solid var(--borderColor-default, var(--color-border-default));
  padding-top: var(--base-size-12);

  .pairHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--base-size-8);
  }
}
