.variableHighlight {
  color: var(--fgColor-accent);
  background-color: var(--bgColor-accent-muted);
  border-radius: var(--borderRadius-small);
}

.promptInputContainer {
  width: 100%;
  position: relative;
  height: 150px;
  display: flex;

  .inlineContainer {
    position: absolute;
    color: transparent !important;
    background-color: transparent !important;
    caret-color: var(--fgColor-default) !important;
    z-index: 1;
    height: 100%;
  }

  .promptInput, .styledPromptInput {
    font-family: var(--fontStack-sansSerif);
    font-weight: var(--base-text-weight-normal);
    font-size: var(--text-body-size-medium);
    line-height: var(--text-body-lineHeight-medium);
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    position: absolute;
    margin: 0;
    height: 100%;
  }

  .styledPromptInput {
    width: calc(100% - var(--base-size-2));
    padding: var(--base-size-12);
    overflow: auto;
    z-index: 0;
    pointer-events: none;
    scrollbar-color: transparent transparent;
    height: 100%
  }
}
