.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  padding: var(--base-size-8);
  gap: var(--base-size-16);
}

.container {
  position: relative;
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  justify-content: space-between; /* Space between textarea and icon */
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  width: 100%; /* Ensures the container spans the full width */
  max-width: 768px;

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.stackWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: center;
}

.inputContainer {
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;
  position: relative;

  .input {
    width: 100%;
    font-size: var(--text-body-size-large);
    line-height: var(--text-body-lineHeight-large);
    padding: var(--base-size-12) var(--base-size-16);
    margin: 0;
    box-sizing: border-box;
    resize: none;
    background: transparent;
    border: none;
    outline: 0;
    min-height: var(--base-size-48); /* Set a minimum height */
    max-height: 30dvh; /* Prevent it from growing too large */
    scrollbar-width: none;
  }

  &::selection {
    color: var(--fgColor-default);
    background-color: var(--codeMirror-selection-bgColor);
  }

  /* Automatically adjust height based on content */
  &:focus {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for cleaner UI */
  }
}

.trailingActions {
  display: flex;
  align-items: center; /* Ensures the icon is vertically aligned */
  gap: var(--base-size-4);
}

.getStartedText {
  margin-bottom: var(--base-size-16)
}

@media (max-width: 600px) {
  .input {
    font-size: var(--text-body-size-medium);
    padding: var(--base-size-8);
  }

  .stackWrapper {
    flex-direction: column;
    width: 96%;
  }
}

/* add-on */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0 var(--base-size-16) var(--base-size-16);
}

.suggestions {
  display: flex;
  gap: var(--base-size-12);
  max-width: 850px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--base-size-16);
}

@media (max-width: 768px) {
  .suggestions {
    flex-direction: column;
    align-items: center;
  }

  .suggestionButton:nth-child(n+3) {
    display: none;
  }
}

.toolbar {
  width: 100%;
  display: flex;
  grid-area: toolbar;
  align-items: center;
  gap: var(--base-size-4);
  padding: 0 var(--base-size-8) var(--base-size-8) var(--base-size-8);
  justify-content: space-between;

  .toolbarLeft, .toolbarRight {
    display: flex;
    flex-direction: row;
    gap: var(--base-size-4);

    /* stylelint-disable-next-line selector-max-type */
    button {
      padding: 0 var(--base-size-6);
      gap: var(--base-size-4);
    }
  }
}

.legalDisclaimer {
  margin-top: var(--base-size-8);
}
