.AppHeader {
  display: flex;
  padding: 0 var(--base-size-16);
  align-items: center;
  height: var(--base-size-64);
  gap: var(--base-size-12);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.AppHeaderLogo {
  width: var(--base-size-32);
  height: var(--base-size-32);
  outline-offset: 2px;
  border-radius: var(--borderRadius-full);
}

.AppHeaderLogo :first-child {
  width: var(--base-size-32);
  height: var(--base-size-32);
  color: var(--fgColor-default);
}

.AppHeaderTitle {
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-large);
  color: var(--fgColor-default);
}

.buttonContainer {
  display: inline-flex;
  margin-left: auto;
  gap: var(--base-size-8);
}
