.signInDialog {
  background: var(--bgColor-muted);
}

.signInDialog :nth-child(2) {
  box-shadow: none;
  padding: 0;
}

.signInDialog .DialogOverflowWrapper :first-child {
  padding-top: 0 !important;
}

.signInDialog [data-component="IconButton"] {
  margin-top: var(--base-size-16);
  margin-right: var(--base-size-16);
}

.dialogLogo {
  width: var(--base-size-48, 48px);
  height: var(--base-size-48, 48px);
  outline-offset: 2px;
  border-radius: var(--borderRadius-full);
}

.iconContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--base-size-16);
}

.signInTitle {
  font-size: var(--text-title-size-medium);
  font-weight: var(--text-title-weight-medium);
  text-align: center;
}

.signInText {
  font-size: var(--text-body-size-small);
  text-align: center;
  margin-bottom: var(--base-size-8);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}
