.container {
  margin: 0;
  margin-bottom: var(--base-size-16);

  --header-height: var(--base-size-48);

  .copyContent {
    right: var(--base-size-8);
  }

  .copyButton {
    background-color: var(--bgColor-muted);

    &:hover {
      background-color: var(--button-invisible-bgColor-hover);
    }
  }

  &.assistive {
    .header {
      background-color: var(--bgColor-inset);
    }

    .copyButton {
      background-color: var(--bgColor-inset);

      &:hover {
        background-color: var(--button-invisible-bgColor-hover);
      }
    }
  }

  &.immersive {
    .header {
      background-color: var(--bgColor-muted);
    }

    .code {
      /* stylelint-disable-next-line selector-max-type */
      code {
        font-size: var(--text-body-size-medium);
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    background-color: var(--bgColor-muted);
    height: var(--header-height);
    padding-left: var(--base-size-16);
    padding-right: var(--base-size-40);
    gap: var(--base-size-4);
    color: var(--fgColor-muted);
    border-radius: var(--borderRadius-large) var(--borderRadius-large) 0 0;
    border: var(--borderWidth-thin) solid var(--borderColor-muted);
  }

  .codeContainer {
    /* Put the scrollable code inside a clipping container so that the scrollbar corners get clipped to match the border radius */
    background-color: var(--bgColor-default);
    border: var(--borderWidth-thin) solid var(--borderColor-muted);
    border-top-width: 0;
    border-radius: 0 0 var(--borderRadius-large) var(--borderRadius-large);
    overflow: hidden;

    .code {
      padding: var(--base-size-16) var(--base-size-24) !important;
    }
  }

  .copyContainer {
    position: sticky;
    /* stylelint-disable-next-line primer/spacing */
    top: var(--header-height);

    .copyContent {
      position: absolute;
      display: flex;
      height: var(--header-height);
      bottom: 0;
      align-items: center;
    }
  }

  .languageName {
    flex-grow: 1;
    margin-left: var(--base-size-4);
    font-size: var(--text-body-size-medium);
  }

  .code {
    /* !important because we are fighting with the default `markdown-body` styles */
    background: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .codeWrap {
    white-space: pre-wrap;
    word-wrap: anywhere;
  }
}
