.blockContainer {
  /* Needs to go on outer-most container for margin collapsing */
  margin-block: var(--base-size-16);
}

.container {
  /* It's tempting to just put the border and radius on the outside container. But we want the border to remain part of
    the header when its sticky. And also if we put the radius on the container we have to put overflow: hidden on it too
    to clip the header background, and that will break the sticky positioning entirely. */
  background-color: var(--bgColor-default);
  margin: 0;
}

.multiline {
  .headerContainer {
    /* Without a container with a solid background, the borders of the .code would show through the header's border-radius */
    background-color: var(--bgColor-default);
    position: sticky;
    top: 0;

    .header {
      display: flex;
      align-items: center;
      padding: var(--base-size-12) var(--base-size-16);
      background-color: var(--bgColor-inset);
      color: var(--fgColor-muted);
      border-radius: var(--borderRadius-large) var(--borderRadius-large) 0 0;
      border: var(--borderWidth-thin) solid var(--borderColor-muted);
      gap: var(--stack-gap-condensed);
    }
  }

  .code {
    border: var(--borderWidth-thin) solid var(--borderColor-muted);
    border-top-width: 0;
    border-radius: 0 0 var(--borderRadius-large) var(--borderRadius-large);
    padding: var(--base-size-16) !important;
  }
}

.singleLine {
  display: flex;
  align-items: center;
  gap: var(--base-size-16);
  padding: var(--base-size-16);
  justify-content: space-between;
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);

  .code {
    padding: 0 !important;
  }
}

.languageName {
  flex-grow: 1;
  font-size: var(--text-body-size-medium);
}

.copyButton {
  margin: calc(var(--base-size-6) * -1);
}

.code {
  /* !important because we are fighting with the default `markdown-body` styles */
  background: none !important;
  margin: 0 !important;

  /* stylelint-disable-next-line selector-max-type */
  code {
    font-size: inherit;
  }
}
