.languageDot {
  width: 10px;
  height: 10px;
  background-color: var(--bgColor-disabled);
  border-radius: var(--borderRadius-full);
  display: inline-block;
  border: var(--borderWidth-thin) solid var(--borderColor-translucent);
}
