.section {
  --brand-stack-gap-spacious: var(--base-size-128);
  --brand-stack-gap-normal: var(--base-size-80);

  @media (max-width: 768px) {
    --brand-stack-gap-spacious: var(--base-size-80);
    --brand-stack-gap-normal: var(--base-size-64);
  }
}

.normalizeMargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.normalizePadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sectionIntro {
  width: 100%;
}

.riverBreakoutNoCta {
  :last-child {
    row-gap: 0;
  }
}

.logoSuiteWrapper {
  margin-right: 0;
  margin-left: 0;
}
