.HiddenPane {
  display: none !important;
  contain: content;
}

.Pane {
  contain: content;

  @media screen and (max-width: 1012px) {
    flex-direction: column;
  }

  &:not(.MobileExpanded) {
    @media screen and (max-width: 1012px) {
      display: none !important;
    }
  }

  &.MobileExpanded {
    /* when we are at mobile breakpoint, we switch the pane from sidebar to sidesheet */
    display: none !important;
  }

  &:not(.TreeExpanded) {
    @media screen and (min-width: 1013px) {
      display: none !important;
    }
  }

  &.TreeExpanded {
    /* we need to target the underlying pane to override overflow behavior */
    > [role="region"] {
      overflow: hidden;
    }

    @media screen and (min-width: 1013px) {
      height: 100vh;
    }
  }
}

.Content {
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-40);
  padding-left: 0;

  &.TreeExpanded {
    @media screen and (min-width: 1012px) {
      padding-left: var(--base-size-16);
    }
  }
}
