.Text {
  padding-left: var(--base-size-8);
}

.Box {
  padding: var(--base-size-16);
}

.Text_1 {
  font-family: var(--fontStack-sansSerif)
}

.Box_1 {
  display: flex;
  margin-top: var(--base-size-16);
  justify-content: flex-end;
}
