.ListItemTitle_0 {
  display: inline-flex;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-wrap: wrap;
  row-gap: var(--base-size-4);
  column-gap: var(--stack-gap-condensed);
  align-items: center;
}

.ListItemTitle_1 {
  font-weight: var(--base-text-weight-semibold);
}
