.container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--color-canvas-default);
  z-index: 100;
}

.topDragBar {
  position: absolute;
  top: 0;
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--borderColor-muted, var(--color-border-muted));
  height: 4px;
  display: block;
  width: 100%;
  cursor: ns-resize;

  &:hover {
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--borderColor-accent-emphasis, var(--color-border-ac--borderColor-accent-emphasis));
 }
}

.rightDragBar {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--borderColor-muted, var(--color-border-muted));

  &:hover {
     /* stylelint-disable-next-line primer/colors */
     background-color: var(--borderColor-accent-emphasis, var(--color-border-ac--borderColor-accent-emphasis));
  }
}

.closeButton {
  position: absolute;
  z-index: 5;
  top: var(--base-size-8);
  right:  var(--base-size-4);
  transform: translate(0, -100%);
}
