.Box {
  margin-left: var(--base-size-16);
  margin-right: var(--base-size-16);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--stack-gap-condensed);
}

.Text {
  color: var(--fgColor-muted);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}
