.container {
  width: 32rem;
}

/* stylelint-disable-next-line selector-max-type */
.container p {
  margin-bottom: 0;
}

.section {
  padding: var(--base-size-16);
}

.breadcrumbs {
  font: var(--text-title-shorthand-small);
}

/* stylelint-disable-next-line selector-max-type */
.breadcrumbs a {
  color: var(--fgColor-default);
  text-decoration: none;
}

.description {
  margin-top: var(--base-size-8);
  color: var(--fgColor-muted);
}

.statusSection {
  background-color: var(--bgColor-inset);
  border-top: var(--borderWidth-default) solid var(--borderColor-default);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.statusTitle {
  font-weight: var(--base-text-weight-semibold);
  white-space: nowrap;
}

.statusInfo {
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-muted);
}

.pendingIcon {
  fill: var(--fgColor-attention);
}

.successIcon {
  fill: var(--fgColor-success);
}

.failureIcon {
  fill: var(--fgColor-danger);
}

.buttonsSection {
  border-top: var(--borderWidth-default) solid var(--borderColor-default);
}
