.overlayWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.publishState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: var(--base-size-16);
}

.overlayFooter {
  /* stylelint-disable-next-line primer/borders */
  border-top: var(--border-default);
  padding: var(--base-size-16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-size-8);
  flex-wrap: wrap-reverse;
}
