.emptyState {
  padding: var(--base-size-32);
  position: relative;
  text-align: center;
}

.emptyStateHeading {
  font-size: var(--text-title-size-medium);
  font-weight: var(--text-title-weight-medium);
  margin-bottom: var(--base-size-4);
}
