.milestonePageTitle {
  color: var(--fgColor-default);
}

.errorBanner {
  margin-bottom: var(--base-size-16)
}

.formWrapper {
  border-top: var(--borderWidth-thin) solid var(--control-borderColor-rest);
  border-bottom: var(--borderWidth-thin) solid var(--control-borderColor-rest);
  padding: var(--base-size-16) 0;
  margin-top: var(--base-size-12);
}


.input {
  display: block;
  width: 100%;
}

.input:focus {
  border-color: var(--borderColor-accent-emphasis);
  outline: none;
}

.textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: var(--base-size-6), var(--base-size-8);
  font-size: var(--text-body-size-medium);
  border: var(--borderWidth-thin) solid var(--control-borderColor-rest);
  resize: vertical;
  border-radius: var(--borderRadius-medium);
  background: var(--bgColor-default);
  box-shadow: var(--shadow-inset)
}

.textarea:focus {
  border-color: var(--borderColor-accent-emphasis);
}

.primaryButton {
  padding: var(--base-size-8) var(--base-size-16);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-white);
  cursor: pointer;
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--button-primary-borderColor-rest, var(--borderColor-neutral-muted));
  background: var(--button-primary-bgColor-rest);
  box-shadow: var(--button-default-shadow-resting-offsetX, 0) var(--button-default-shadow-resting-offsetY, 1px) var(--button-default-shadow-resting-blur, 0) var(--button-default-shadow-resting-spread, 0) var(--button-default-shadow-resting-color, rgba(31, 35, 40, 0.04));
}

.primaryButton:hover:not([disabled]) {
  background-color: var(--bgColor-open-emphasis);
}

.primaryButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.secondaryButton {
  padding: var(--base-size-8) var(--base-size-16);
  border-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-neutral-muted);
  cursor: pointer;
}

.secondaryButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.formContainer {
  display: flex;
  flex-direction: column;
  min-width: var(--breakpoint-medium);
}

@media screen and (max-width: 1012px) {
  .formContainer {
    width: 100%;
    min-width: unset;
  }
}

.errorFlash {
  margin-bottom: var(--base-size-2)
}

.formControl:not(:last-child) {
  margin-bottom: var(--base-size-16)
}

.datePickerAnchor {
  width: 100%
}

.datePickerAnchor > [data-component="buttonContent"] {
  justify-content: flex-start;
}

.buttonGroup {
  display: flex;
  gap: var(--base-size-8);
}

.buttonRow {
  display: flex;
  margin-top: var(--base-size-16);
}
