.ListItem_0 {
  padding-left: var(--base-size-8);
  border-left: var(--borderWidth-thin) solid var(--borderColor-default);
  border-right: var(--borderWidth-thin) solid var(--borderColor-default);

  &:last-child {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  }
}
