.PaginatedRelationshipsListAllView_AvatarArea {
  width: var(--base-size-40);
}

.PaginatedRelationshipsListAllView_AvatarLink {
  border-radius: 50%;
}

.PaginatedRelationshipsListAllView_EmptyAvatar {
  position: relative;
  display: grid;
  grid-template-areas: 'stacked-icons';
  align-items: center;
  justify-items: center;

  /* stylelint-disable-next-line primer/colors */
  color: var(--borderColor-muted);
}

.PaginatedRelationshipsListAllView_EmptyAvatar > * {
  grid-area: stacked-icons;
  max-width: var(--base-size-20);
  max-height: var(--base-size-20);
}

.PaginatedRelationshipsListAllView_ControlWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: var(--base-size-8);
}
