.ActionList_Relationship_Overrides {
  [data-component='GroupHeadingWrap'] {
    padding-left: var(--base-size-8);
    padding-right: 0;
  }

  padding: 0;
  width: 100%;
}

.ActionList_GroupHeading {
  /* stylelint-disable-next-line primer/typography */
  font-weight: normal;
  display: flex;
  align-items: center;
  width: 100%;
}

.StaffFeedback_Link {
  flex-grow: 1;
  text-align: right;
}

.StaffFeedback_linkText {
  margin-right: var(--base-size-4);
}

.ActionList_Divider {
  margin-left: var(--base-size-8);
}

.RelationshipCountLabel {
  margin-left: var(--base-size-4);
}

.DependencyErrorBanner {
  margin-top: var(--base-size-8);
}
