/* stylelint-disable primer/colors */
/* stylelint-disable selector-max-type */
.wrapper {
  margin-block-end: var(--base-size-64);
}

/* --breakpoint-medium */
@media (min-width: 48rem) {
  .wrapper {
    margin-block-end: var(--base-size-128);
  }
}

.logoWrapper {
  height: 2rem;
}

.logoWrapper > svg {
  width: auto;
  height: 100%;
}

[data-color-mode='dark'] {
  .logoWrapper svg,
  .logoWrapper path {
    fill: var(--base-color-scale-white-0);
  }
}
