:root {
  --header-sticky-offset: 0px;
  --header-height: 70px; /* split page layout padding normal */
  --header-height-mobile: calc(var(--header-height) - 8px); /* split page layout padding condensed (when < 1012px) */
}

.diffHeaderWrapper {
  position: sticky;
  /* stylelint-disable-next-line primer/spacing */
  top: calc(var(--header-height) + var(--header-sticky-offset));
  z-index: 1;

  /* backgroundColor, pl, pr, ml, mr values are being used here to hide the actionbar element behind right side of the DiffFileHeaderListView
  when it intersects with the DiffFileHeaderListView on the right side of the DiffEntry */
  background-color: var(--bgColor-default);

  /* :before is used to cover up scrolling content behind the sticky header rounded corners
  it also needs to go beyond the parent border to cover box shadow from the parent */
  &::before {
    position: absolute;
    display: block;

    /* Would be set to 32px but we need to offset the left border to address resizable sidebar */
    width: calc(100% + 30px);
    height: 100%;
    margin-right: calc(var(--base-size-16) * -1);

    /* Need to use a magic variable to make sure negative margin does not overlap with resizable sidebar from the navigation */
    /* stylelint-disable-next-line primer/spacing */
    margin-left: -14px;
    content: "";
    background-color: var(--bgColor-default);
  }
}

@media (max-width: 1011px) {
  .diffHeaderWrapper {
    /* stylelint-disable-next-line primer/spacing */
    top: calc(var(--header-height-mobile) + var(--header-sticky-offset));
  }
}
