.Box_1 {
  display: flex;
  box-sizing: content-box;
  margin-left: auto;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
