.Box_0 {
  position: relative;
  display: flex;
  min-width: 0;
  box-sizing: content-box;
  margin-left: auto;
  overflow: visible;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: flex-end;
}

.space {
  justify-content: space-between;
}
