.Box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--base-size-4);
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-color: var(--borderColor-default);
  min-height: 526px;
  padding: var(--base-size-24);
}
