.playButtonIcon {
  align-items: center;
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--button-invisible-iconColor-disabled);
  border-radius: var(--borderRadius-full);
  color: var(--fgColor-onEmphasis);
  display: flex;
  height: 40px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
  width: 40px;
}

.videoPreview {
  order: -1;
  position: relative;
  z-index: 1;
}

.videoPreview:hover .playButtonIcon {
  background-color: var(--bgColor-neutral-emphasis);
}

@container (min-width: 600px) {
  .videoPreview {
    order: 1;
  }
}
