.Box_0 {
  display: flex;
  width: 100%;
  padding-top: var(--base-size-96);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-96);
  padding-left: var(--base-size-16);
  background: var(--bgColor-muted);
  border-color: var(--borderColor-default);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
  justify-content: center;

  @media screen and (min-width: 544px) {
    padding-right: var(--base-size-32);
    padding-left: var(--base-size-32);
  }

  @media screen and (min-width: 768px) {
    padding-right: var(--base-size-96);
    padding-left: var(--base-size-96);
  }
}

.Box_1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.Text_0 {
  margin-bottom: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  text-align: center;
}

.Text_1 {
  display: block;
  width: 100%;
  font-family: var(--fontStack-monospace);
  text-align: center;
  overflow-wrap: break-word;
}

.Text_2 {
  display: block;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  text-align: center;
}

.Box_2 {
  gap: var(--stack-gap-normal);
  display: flex;
  flex-direction: column;
}
