.Box {
  display: flex;
  align-items: center;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  border-color: var(--borderColor-default);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  padding-bottom: var(--base-size-16);
  margin-bottom: var(--base-size-8);
  
  @media screen and (min-width: 544px) {
    border-bottom-width: none;
    border-bottom-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.Box_1 {
  margin-left: var(--base-size-8);
}

.Box_2 {
  margin-left: auto;
}

.IconButton {
  color: var(--fgColor-muted);
}
