.Box {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  border: 0;
  cursor: pointer;
  background: var(--bgColor-default);
  color: var(--fgColor-muted);
  border-radius: var(--borderRadius-medium);
  height: 32px;
  display: flex;
  align-items: center;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  margin-left: calc(var(--base-size-8) * -1);
  overflow: hidden;
  max-width: 100%;

  &:hover {
    background: var(--button-default-bgColor-hover);
  }
}

.Box_1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Octicon {
  margin-left: var(--base-size-4);
  color: var(--fgColor-muted);
}
