.PageHeader {
  border-color: var(--borderColor-muted);
  padding-bottom: var(--base-size-4);
}

.PageHeader_Title {
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Text {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
}
