.PageHeader {
  border-color: var(--borderColor-muted);
}

.PageHeader_Title {
  font-size: var(--text-title-size-medium);
}

.Text {
  font-size: var(--text-body-size-large, --text-title-size-small);
  color: var(--fgColor-muted);
}
