---
http_interactions:
    - request:
        method: GET
        uri: https://api.github.com/repositories/123
        body:
            encoding: UTF-8
            string: ""
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
      response:
        status:
            code: 200
            message: 200 OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"549090678d291beb06dd9fd1a676a1698010ca5d3ec57ea2463e5e9b39a4a935"
            Last-Modified:
                - Mon, 21 Nov 2022 13:52:51 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "59"
            X-Ratelimit-Reset:
                - "1683730735"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1"
        body:
            encoding: UTF-8
            string: '{"id":123,"node_id":"R_kgDOIeefJQ","name":"JavaVulnerableLab","full_name":"dsp-testing/JavaVulnerableLab","private":false,"owner":{"login":"dsp-testing","id":30846345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwODQ2MzQ1","avatar_url":"https://avatars.githubusercontent.com/u/30846345?v=4","gravatar_id":"","url":"https://api.github.com/users/dsp-testing","html_url":"https://github.com/dsp-testing","followers_url":"https://api.github.com/users/dsp-testing/followers","following_url":"https://api.github.com/users/dsp-testing/following{/other_user}","gists_url":"https://api.github.com/users/dsp-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/dsp-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsp-testing/subscriptions","organizations_url":"https://api.github.com/users/dsp-testing/orgs","repos_url":"https://api.github.com/users/dsp-testing/repos","events_url":"https://api.github.com/users/dsp-testing/events{/privacy}","received_events_url":"https://api.github.com/users/dsp-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/dsp-testing/JavaVulnerableLab","description":"Vulnerable Java based Web Application - demo application, not real code, not deployed","fork":true,"url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab","forks_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/forks","keys_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/teams","hooks_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/hooks","issue_events_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/issues/events{/number}","events_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/events","assignees_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/assignees{/user}","branches_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/branches{/branch}","tags_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/tags","blobs_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/statuses/{sha}","languages_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/languages","stargazers_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/stargazers","contributors_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/contributors","subscribers_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/subscribers","subscription_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/subscription","commits_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/contents/{+path}","compare_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/merges","archive_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/downloads","issues_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/issues{/number}","pulls_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/pulls{/number}","milestones_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/milestones{/number}","notifications_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/labels{/name}","releases_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/releases{/id}","deployments_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/deployments","created_at":"2022-11-21T13:50:29Z","updated_at":"2022-11-21T13:52:51Z","pushed_at":"2023-05-04T12:34:16Z","git_url":"git://github.com/dsp-testing/JavaVulnerableLab.git","ssh_url":"git@github.com:dsp-testing/JavaVulnerableLab.git","clone_url":"https://github.com/dsp-testing/JavaVulnerableLab.git","svn_url":"https://github.com/dsp-testing/JavaVulnerableLab","homepage":null,"size":1592,"stargazers_count":0,"watchers_count":0,"language":"Java","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"gpl-2.0","name":"GNU General Public License v2.0","spdx_id":"GPL-2.0","url":"https://api.github.com/licenses/gpl-2.0","node_id":"MDc6TGljZW5zZTg="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"master","temp_clone_token":null,"organization":{"login":"dsp-testing","id":30846345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwODQ2MzQ1","avatar_url":"https://avatars.githubusercontent.com/u/30846345?v=4","gravatar_id":"","url":"https://api.github.com/users/dsp-testing","html_url":"https://github.com/dsp-testing","followers_url":"https://api.github.com/users/dsp-testing/followers","following_url":"https://api.github.com/users/dsp-testing/following{/other_user}","gists_url":"https://api.github.com/users/dsp-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/dsp-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsp-testing/subscriptions","organizations_url":"https://api.github.com/users/dsp-testing/orgs","repos_url":"https://api.github.com/users/dsp-testing/repos","events_url":"https://api.github.com/users/dsp-testing/events{/privacy}","received_events_url":"https://api.github.com/users/dsp-testing/received_events","type":"Organization","site_admin":false},"parent":{"id":28911199,"node_id":"MDEwOlJlcG9zaXRvcnkyODkxMTE5OQ==","name":"JavaVulnerableLab","full_name":"CSPF-Founder/JavaVulnerableLab","private":false,"owner":{"login":"CSPF-Founder","id":19519521,"node_id":"MDQ6VXNlcjE5NTE5NTIx","avatar_url":"https://avatars.githubusercontent.com/u/19519521?v=4","gravatar_id":"","url":"https://api.github.com/users/CSPF-Founder","html_url":"https://github.com/CSPF-Founder","followers_url":"https://api.github.com/users/CSPF-Founder/followers","following_url":"https:[...]
    - request:
        method: GET
        uri: https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456
        body:
            encoding: UTF-8
            string: ""
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
      response:
        status:
            code: 200
            message: 200 OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b285cbfa4f4439d331c953a7e9d70c7f3ce5788e3e95d9c01eca6e73637b274"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "58"
            X-Ratelimit-Reset:
                - "1683730736"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        body:
            encoding: UTF-8
            string: '{"id":456,"name":"CodeQL","node_id":"WFR_kwLOIeefJc8AAAABIwhe7g","head_branch":"master","head_sha":"bd2943bd473c4befd82eca6084910345871c3cc0","path":".github/workflows/codeql.yml","display_title":"Add to the Action workspace ENV properly","run_number":14,"event":"push","status":"completed","conclusion":"cancelled","workflow_id":41097350,"check_suite_id":12672930783,"check_suite_node_id":"CS_kwDOIeefJc8AAAAC812T3w","url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456","html_url":"https://github.com/dsp-testing/JavaVulnerableLab/actions/runs/456","pull_requests":[],"created_at":"2023-05-04T12:22:55Z","updated_at":"2023-05-04T12:23:52Z","actor":{"login":"aegilops","id":41705651,"node_id":"MDQ6VXNlcjQxNzA1NjUx","avatar_url":"https://avatars.githubusercontent.com/u/41705651?v=4","gravatar_id":"","url":"https://api.github.com/users/aegilops","html_url":"https://github.com/aegilops","followers_url":"https://api.github.com/users/aegilops/followers","following_url":"https://api.github.com/users/aegilops/following{/other_user}","gists_url":"https://api.github.com/users/aegilops/gists{/gist_id}","starred_url":"https://api.github.com/users/aegilops/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aegilops/subscriptions","organizations_url":"https://api.github.com/users/aegilops/orgs","repos_url":"https://api.github.com/users/aegilops/repos","events_url":"https://api.github.com/users/aegilops/events{/privacy}","received_events_url":"https://api.github.com/users/aegilops/received_events","type":"User","site_admin":true},"run_attempt":1,"referenced_workflows":[],"run_started_at":"2023-05-04T12:22:55Z","triggering_actor":{"login":"aegilops","id":41705651,"node_id":"MDQ6VXNlcjQxNzA1NjUx","avatar_url":"https://avatars.githubusercontent.com/u/41705651?v=4","gravatar_id":"","url":"https://api.github.com/users/aegilops","html_url":"https://github.com/aegilops","followers_url":"https://api.github.com/users/aegilops/followers","following_url":"https://api.github.com/users/aegilops/following{/other_user}","gists_url":"https://api.github.com/users/aegilops/gists{/gist_id}","starred_url":"https://api.github.com/users/aegilops/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aegilops/subscriptions","organizations_url":"https://api.github.com/users/aegilops/orgs","repos_url":"https://api.github.com/users/aegilops/repos","events_url":"https://api.github.com/users/aegilops/events{/privacy}","received_events_url":"https://api.github.com/users/aegilops/received_events","type":"User","site_admin":true},"jobs_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456/jobs","logs_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456/logs","check_suite_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/check-suites/12672930783","artifacts_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456/artifacts","cancel_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456/cancel","rerun_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/runs/456/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/actions/workflows/41097350","head_commit":{"id":"bd2943bd473c4befd82eca6084910345871c3cc0","tree_id":"7c06a207958438d380b867ec00df38fcc374c39f","message":"Add to the Action workspace ENV properly","timestamp":"2023-05-04T12:22:46Z","author":{"name":"aegilops","email":"41705651+aegilops@users.noreply.github.com"},"committer":{"name":"aegilops","email":"41705651+aegilops@users.noreply.github.com"}},"repository":{"id":123,"node_id":"R_kgDOIeefJQ","name":"JavaVulnerableLab","full_name":"dsp-testing/JavaVulnerableLab","private":false,"owner":{"login":"dsp-testing","id":30846345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwODQ2MzQ1","avatar_url":"https://avatars.githubusercontent.com/u/30846345?v=4","gravatar_id":"","url":"https://api.github.com/users/dsp-testing","html_url":"https://github.com/dsp-testing","followers_url":"https://api.github.com/users/dsp-testing/followers","following_url":"https://api.github.com/u[...]
    - request:
        method: GET
        uri: https://api.github.com/repos/dsp-testing/JavaVulnerableLab/check-suites/12672930783/check-runs
        body:
            encoding: UTF-8
            string: ""
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
      response:
        status:
            code: 200
            message: 200 OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"d9425efa88d0fe34b5d28a6eed0c67d3267229ab8fc9f1f0952f2ac581109cc4"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=antiope-preview; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "57"
            X-Ratelimit-Reset:
                - "1683730735"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "3"
        body:
            encoding: UTF-8
            string: '{"total_count":1,"check_runs":[{"id":13232238217,"name":"Analyze (java)","node_id":"CR_kwDOIeefJc8AAAADFLPuiQ","head_sha":"bd2943bd473c4befd82eca6084910345871c3cc0","external_id":"250fb49c-554f-57c5-b7b1-9fca27013847","url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/check-runs/13232238217","html_url":"https://github.com/dsp-testing/JavaVulnerableLab/actions/runs/456/jobs/8713133104","details_url":"https://github.com/dsp-testing/JavaVulnerableLab/actions/runs/456/jobs/8713133104","status":"completed","conclusion":"cancelled","started_at":"2023-05-04T12:23:02Z","completed_at":"2023-05-04T12:23:50Z","output":{"title":null,"summary":null,"text":null,"annotations_count":2,"annotations_url":"https://api.github.com/repos/dsp-testing/JavaVulnerableLab/check-runs/13232238217/annotations"},"check_suite":{"id":12672930783},"app":{"id":15368,"slug":"github-actions","node_id":"MDM6QXBwMTUzNjg=","owner":{"login":"github","id":9919,"node_id":"MDEyOk9yZ2FuaXphdGlvbjk5MTk=","avatar_url":"https://avatars.githubusercontent.com/u/9919?v=4","gravatar_id":"","url":"https://api.github.com/users/github","html_url":"https://github.com/github","followers_url":"https://api.github.com/users/github/followers","following_url":"https://api.github.com/users/github/following{/other_user}","gists_url":"https://api.github.com/users/github/gists{/gist_id}","starred_url":"https://api.github.com/users/github/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github/subscriptions","organizations_url":"https://api.github.com/users/github/orgs","repos_url":"https://api.github.com/users/github/repos","events_url":"https://api.github.com/users/github/events{/privacy}","received_events_url":"https://api.github.com/users/github/received_events","type":"Organization","site_admin":false},"name":"GitHub Actions","description":"Automate your workflow from idea to production","external_url":"https://help.github.com/en/actions","html_url":"https://github.com/apps/github-actions","created_at":"2018-07-30T09:30:17Z","updated_at":"2019-12-10T19:04:12Z","permissions":{"actions":"write","administration":"read","checks":"write","contents":"write","deployments":"write","discussions":"write","issues":"write","merge_queues":"write","metadata":"read","packages":"write","pages":"write","pull_requests":"write","repository_hooks":"write","repository_projects":"write","security_events":"write","statuses":"write","vulnerability_alerts":"read"},"events":["branch_protection_rule","check_run","check_suite","create","delete","deployment","deployment_status","discussion","discussion_comment","fork","gollum","issues","issue_comment","label","merge_group","milestone","page_build","project","project_card","project_column","public","pull_request","pull_request_review","pull_request_review_comment","push","registry_package","release","repository","repository_dispatch","status","watch","workflow_dispatch","workflow_run"]},"pull_requests":[]}]}'
      recorded_at: 2023-05-10 15:58:57.970388431 +0200 CEST m=+2.258629346
    - request:
        method: GET
        uri: https://api.github.com/repos/dsp-testing/JavaVulnerableLab/check-runs/13232238217/annotations
        body:
            encoding: UTF-8
            string: ""
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
      response:
        status:
            code: 200
            message: 200 OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"22e2615d173bce42aa7c69c2d1040e6cf9492f6bff88d9d4ac6c918ae743c2eb"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=antiope-preview; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "56"
            X-Ratelimit-Reset:
                - "1683730736"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "4"
        body:
            encoding: UTF-8
            string: '[{"path":".github","blob_href":"https://github.com/dsp-testing/JavaVulnerableLab/blob/bd2943bd473c4befd82eca6084910345871c3cc0/.github","start_line":1,"start_column":null,"end_line":1,"end_column":null,"annotation_level":"failure","title":"","message":"The run was canceled by @aegilops.","raw_details":""},{"path":".github","blob_href":"https://github.com/dsp-testing/JavaVulnerableLab/blob/bd2943bd473c4befd82eca6084910345871c3cc0/.github","start_line":48,"start_column":null,"end_line":48,"end_column":null,"annotation_level":"failure","title":"","message":"The operation was canceled.","raw_details":""}]'
      recorded_at: 2023-05-10 15:58:58.186909469 +0200 CEST m=+2.475150383
recorded_with: Turbocassette
