.container {
  position: relative;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  overflow: hidden;
  /* stylelint-disable-next-line primer/spacing */
  margin: 1px;

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.input {
  width: 100%;
  vertical-align: middle;
  resize: none;
  background: transparent;
  border: none;
  border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
  outline: 0;
  caret-color: var(--fgColor-default, var(--color-fg-default));
  line-height: var(--text-body-lineHeight-large);
  padding: var(--base-size-8) var(--base-size-12);
}
