.executeButton {
  padding: var(--base-size-4);
  /* border-radius: var(--borderRadius-full); */
}

/* stylelint-disable-next-line selector-max-type */
.loading svg {
  animation: rotate var(--base-duration-1000) linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
