/* stylelint-disable primer/spacing */
/* stylelint-disable primer/colors */
.container {
  position: relative;
  overflow-x: hidden;
}

.container--light {
  background-color: var(--brand-color-canvas-subtle);
}

.innerContainer {
  min-height: 100dvh;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}

.exampleShape {
  position: absolute;
}

.container .exampleShape {
  transform-origin: center;
}

.container .exampleShape:nth-child(1) {
  top: var(--base-size-64);
  left: -320px;
}

.container .exampleShape:nth-child(2) {
  top: 50px;
  right: -250px;
}
