.pageSection {
  margin-top: var(--base-size-16);

  .sectionTitle {
    font-size: var(--text-body-size-large);
    padding-bottom: var(--base-size-4);
  }
}

.submitSection {
  display: flex;
  flex-direction: row;
  margin-top: var(--base-size-24);

  .cancelButton {
    margin-left: var(--base-size-8);
  }
}
