  .rolesListContainer {
    border: solid;
    border-width: var(--borderWidth-thin);
    border-color: var(--borderColor-default);
    border-radius: var(--borderRadius-medium);
    margin-top: var(--base-size-12);

    /* div around a ActionList.GroupHeading that has no selector of its own.
       When `variant="filled"` as on assignments page, top and bottom formatting needs to be adjusted
    */
    :has(> .rolesListHeading) {
      border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
      border-top: 0;
      border-bottom-color: var(--borderColor-default);
      border-bottom-width: var(--borderWidth-thin);
      font-size: var(--text-body-size-medium);
      margin-bottom: 0;
      padding-top: var(--base-size-12);
      padding-bottom: var(--base-size-12);
    }

    .emptyRolesContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: var(--base-size-20);

      .emptyRolesIcon {
        color: var(--fgColor-muted);
        margin-bottom: var(--base-size-12);
      }

      .emptyRolesText {
        font-size: var(--text-body-size-large);
        font-weight: var(--text-body-weight-bold);
      }
    }
  }
