.listItem {
  align-items: center;

  /* for ENABLED primer_react_css_modules_staff FF, which changes the structure of ActionList.Item,
     this refers to the element within the list item that contains: selection checkmark, leading icon, item text
  */
  [class*="ActionListContent"] {
    align-items: center;
  }

  &.itemWoDescription {
    .listItemContentTitle {
      font-weight: var(--base-text-weight-semibold); /* Offsets temporary Primer bug of missing semibold for items w/o descriptions */
      min-height: var(--base-size-40); /* retain at least same height as an item w/ description */
      /* stylelint-disable-next-line primer/typography */
      line-height: var(--base-size-40); /* same value as div height to vertically center text */
    }
  }

  /* No way to give a class name to the built-in selection (checkmark) part of ActionList, so selecting this way */
  [data-component="ActionList.Selection"] {
    color: var(--fgColor-default);
    margin-right: var(--base-size-12);
  }

  .roleIcon {
    margin-right: var(--base-size-12);
  }

  .roleInfo {
    color: var(--fgColor-muted);
    margin-right: var(--base-size-8);
  }
}
