.reviewAuthor {
  display:flex;
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 5px;
  margin-right: var(--base-size-8);
  margin-left: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-default);
  white-space: nowrap;
  flex-direction: row;
}

.reviewAuthorAnchor {
  margin-left: var(--base-size-12);
}

.leadingVisual {
  min-height: 24px;
}

.reviewedIcon {
  background-color: var(--bgColor-neutral-emphasis, var(--color-neutral-emphasis));
}

.readOnlyBadge {
  margin-top:var(--base-size-2);
}

.reviewerGroupsContainer {
  /* stylelint-disable-next-line primer/spacing */
  padding-top: var(--stack-padding-condensed);
  /* stylelint-disable-next-line primer/spacing */
  padding-bottom: var(--stack-padding-condensed);
  overflow-y: auto;
}

.reviewText {
  font-size: var(--text-body-size-small);
  color:var(--fgColor-muted, var(--color-fg-muted));
}
