.Box {
  padding: var(--base-size-16);
}

.Text {
  /* stylelint-disable-next-line primer/typography */
  font-family: sans-serif;
}

.Octicon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-danger);
}

.Box_1 {
  display: flex;
  margin-top: var(--base-size-16);
  justify-content: flex-end;
}

.Button {
  margin-right: var(--base-size-4);
}
