.Box {
  overflow-y: auto;
  scrollbar-gutter: stable;
  max-width: 100vw;
  max-height: 100% !important;

  &.OverlayEnabled {
    max-height: 60vh !important;
  }

  @media (max-width: 768px) {
    margin-left: var(--base-size-16);
    margin-right: var(--base-size-8);
  }
}

.ActionList {
  overflow: auto !important;
  width: 100% !important;
  padding: var(--base-size-2) 0 var(--base-size-12) var(--base-size-12);

  &.ActionList_Overlay {
    padding: var(--base-size-12) var(--base-size-12) var(--base-size-8) var(--base-size-8);
  }
}

.Box_1 {
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
}

.FilesSearchBox {
  min-width: 160px;
}

.ActionList_Item {
  font-weight: var(--base-text-weight-normal);

  &:hover {
    text-decoration: none;
  }

  margin-left: var(--base-size-2);
  margin-right: var(--base-size-2);
  width: calc(100% - 4px);

  &.ActionList_Item_Focused {
    outline: none;
    border: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: 0 0 0 2px var(--borderColor-accent-emphasis);
  }
}

.HighlightMatch {
  color: var(--fgColor-muted);
}

.Box_2 {
  padding-left: var(--base-size-4);
  white-space: nowrap;
  color: var(--fgColor-muted);
}

.Octicon {
  color: var(--treeViewItem-leadingVisual-iconColor-rest);
  margin-right: var(--base-size-8);
}

.PrimerLink {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  box-shadow: none;
}
