.container {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: var(--base-size-24);
  flex-direction: column;
  gap: var(--base-size-12);
}

.header {
  width: 100%;
  height: fit-content;
  padding-bottom: var(--base-size-12);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.divider {
  width: 100%;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
}

.outputContainer {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  min-height: var(--base-size-44)
}

.loading {
  width: 100%;
  padding: var(--base-size-32)
}

.errorContainer {
  width: 100%;
  padding: var(--base-size-32);
  text-align: center;
  color: var(--fgColor-attention);
  font-family: var(--fontStack-monospace);
}

.errorNotice {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
}

.errorIcon {
  margin-right: var(--base-size-8);
}

.errorText {
  margin-top: var(--base-size-4);
  font-size: var(--text-body-size-small);
}

.nodeValue {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-top: var(--base-size-16);
}

.nodeValue.output {
  height: 100%;
}

.markdownContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
}

.markdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-size-4);
}

.markdownContentWrapper {
  padding: var(--base-size-4);
}
