.table {
  vertical-align: top;
  text-align: left;
  /* stylelint-disable-next-line primer/borders */
  border-collapse: collapse;
}

.tableHeaderCell, .tableCell {
  padding: var(--base-size-8);
  border: var(--borderWidth-thin) solid;
}

.tableHeaderCell {
  font-weight: var(--base-text-weight-semibold);
}

.tableCell {
  font-family: var(--fontStack-monospace);
}

.spacefiller {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerlinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerlinksListItem {
  padding: var(--base-size-20);
}
