.Box {
  display: flex;
  align-items: center;
  font-weight: var(--base-text-weight-normal);
}

.Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Text_1 {
  margin-left: var(--base-size-4);
  margin-right: var(--base-size-4);
}
