.Dialog_Body {
  padding: 0;
}

.Box {
  margin-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;
}

.FormControl {
  margin-top: var(--base-size-4);
}

.FormControl_Label {
  font-weight: var(--base-text-weight-normal);
}

.TextInput {
  width: 100%;
  font-weight: var(--base-text-weight-normal);
}

.Box_1 {
  display: flex;
  margin-bottom: var(--base-size-4);
}

.Text {
  font-weight: var(--base-text-weight-medium);
}

.Box_2 {
  height: 175px;
}

.CheckboxGroup {
  padding-bottom: var(--base-size-24);
}
