/* stylelint-disable primer/spacing */
/* stylelint-disable primer/borders */
/* stylelint-disable selector-max-type */

/* base header style */
.heroWrapper h1 {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-64);
  /* stylelint-disable-next-line primer/typography */
  font-weight: 700;
  max-width: 330px;
}

/* Desktop header style */
@media screen and (min-width: 63.25rem) /* --breakpoint-large */{
  .heroWrapper h1 {
    /* stylelint-disable-next-line primer/typography */
    font-size: var(--brand-text-size-1000);
    max-width: 488px;
  }
}

.pressReleaseCard > div {
  width: 100%;
}

.cards div {
  border: 0;
}

.reportsHeadingWrapper header {
  padding-top: 0;
}

.bottomSeparator {
  /* stylelint-disable-next-line primer/colors */
  border-bottom: 1px solid var(--base-color-scale-gray-5);
}

.verticalOffset > div {
  margin-block-start: calc(var(--base-size-48) * -1);
}

.noBottomRadius {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.reportsStatisticsHeading {
  padding-block: var(--base-size-24);
  text-align: center;
  margin-block-end: var(--base-size-48);
}

.topOfStack {
  position: relative;
  z-index: 2;
}

.portalCustomerCards {
  --brand-Card-background-default: transparent;
}

.gitLinesBg {
  background-position: center center;
  background-size: cover;
}

.customerCards {
  --brand-Grid-spacing-row: var(--base-size-32);
}

.ctaSectionHero {
  text-align: center;
}

.ctaSectionImage {
  height: 200px;
  object-fit: contain;
}

.ctaSectionHeading {
  max-width: 900px;
  margin-inline: auto;
}

@media screen and (max-width: 63.25rem) /* --breakpoint-large */{
  .ctaSectionHeading {
    max-width: 520px;
  }
}

@media screen and (max-width: 48rem) /* --breakpoint-medium */{
  .ctaSectionHeading {
    max-width: 465px;
  }
}


.articleContents {
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--brand-color-canvas-default);
  border-radius: var(--brand-borderRadius-xlarge);
  margin-top: calc(-1 * var(--brand-borderRadius-xlarge));
  position: relative;
  z-index: 1;
}
