@layer recipes {
  .Box_0 {
    color: var(--fgColor-done);
    background: var(--bgColor-done-muted);
    border-radius: var(--borderRadius-small);
  }

  .Box_1 {
    color: var(--fgColor-accent);
    background: var(--bgColor-accent-muted);
    border-radius: var(--borderRadius-small);
  }

  .Box_2 {
    color: var(--fgColor-attention);
    background: var(--bgColor-attention-muted);
    border-radius: var(--borderRadius-small);
  }

  .KeyBlock_0 {
    color: var(--fgColor-attention);
    background: var(--bgColor-attention-muted);
    border-radius: var(--borderRadius-small);
  }
}
