@layer recipes {
  /* Button component has not been migrated to CSS modules so need to keep !important statements */
  .IconButton_0 {
    color: var(--fgColor-muted);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    flex-shrink: 0;
    box-shadow: none;

    &:focus {
      z-index: 1;
    }
  }
}
