.Flash {
  margin-top: var(--base-size-4);
  margin-bottom: var(--base-size-24);
}

.Box {
  display: flex;
}

.Octicon {
  margin-top: var(--base-size-4);
}

.Text {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

.PrimerLink {
  margin-left: var(--base-size-4);
}

.IconButton {
  margin-left: auto;
  padding-left: var(--base-size-8);
}
