.Box {
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-muted);
  margin-bottom: var(--base-size-24);
  border-radius: var(--borderRadius-medium);
}

.Box_1 {
  background-color: var(--bgColor-muted);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-muted);
  padding: var(--base-size-8);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.Text {
  font-size: var(--text-body-size-large, --text-title-size-small);
}
