.Box {
  margin-top: var(--base-size-16);
  padding: var(--base-size-16);
  border-radius: var(--borderRadius-medium);
  background-color: var(--bgColor-neutral-muted);
}

.Text {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
}
