.Button {
  padding-right: var(--base-size-8);
}

.ActionList_Item {
  /* stylelint-disable-next-line selector-max-type */
  span {
    font-weight: var(--base-text-weight-semibold);
  }
}

.Text {
  color: var(--fgColor-muted);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
}

.Box {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}
