.Text {
  margin-top: var(--base-size-8);
  align-items: center;
  display: flex;

  /* stylelint-disable-next-line selector-max-type */
  a {
    color: currentColor;
    text-decoration: underline;
  }

  font-size: var(--text-body-size-small);
}

.Box {
  display: flex;
  margin-right: var(--base-size-4);
}
