.Box {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-spacious);
}

.Box_1 {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
}

.Heading {
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.Text {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

.Box_2 {
  display: grid;
  width: 100%;
  gap: var(--stack-gap-spacious);
  grid-template-columns: 1fr;

  @media screen and (min-width: 544px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1012px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Box_3 {
  border-color: var(--borderColor-default);
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-24);
  gap: var(--stack-gap-condensed);
  background: var(--bgColor-default);
  display: flex;
  flex-direction: column;
  border-style: solid;
  box-shadow: var(--shadow-resting-small);

  &:hover {
    background: var(--bgColor-muted);
  }
}

.Box_4 {
  overflow: hidden;
  border-radius: var(--borderRadius-large);
  width: 40px;
  height: 40px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.Box_5 {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
  flex: 1;
}

.Heading_1 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-semibold);
  word-wrap: break-word;
}

.Octicon {
  color: var(--fgColor-done);
  margin-left: var(--base-size-4);
}

.Text_1 {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  display: block;
  word-wrap: break-word;
}

.Box_6 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Box_7 {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  display: flex;
  gap: var(--base-size-4);
}
