.Box {
  background: var(--bgColor-inset);
}

.Box_1 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  gap: var(--stack-gap-normal);
  border-bottom-color: var(--borderColor-muted);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  align-items: center;
}

.Box_2 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Text {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
