.Box {
  height: auto;
  background: var(--bgColor-muted);
  margin-bottom: var(--base-size-16);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  overflow: hidden;
  border-bottom: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);

  @media screen and (min-width: 544px) {
    padding-left: var(--base-size-24);
    padding-right: var(--base-size-24);
  }

  @media screen and (min-width: 768px) {
    height: 264px;
    margin-bottom: var(--base-size-40);
    padding-left: var(--base-size-40);
    padding-right: var(--base-size-40);
  }
}

.Box_1 {
  max-width: 1280px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: var(--stack-gap-normal);
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 200px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-top: 0;
  }
}

.Box_2 {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--stack-gap-normal);
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-24);

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }
}

.Box_3 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.Heading {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: var(--text-title-size-large);
    text-align: left;
  }
}

.Text {
  font-size: var(--text-body-size-large, --text-title-size-small);
  color: var(--fgColor-muted);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: var(--text-title-size-medium);
    text-align: left;
  }
}

.Box_4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--base-size-48);
  align-items: center;

  @media screen and (min-width: 544px) {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 1012px) {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 600px;
    align-items: flex-start;
  }
}

.TextInput {
  width: 100%;
}

.Box_5 {
  overflow-x: visible;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  bottom: 0;

  @media screen and (min-width: 768px) {
    left: auto;
    width: 300px;
  }
}

.Box_6 {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  left: -200px;
  top: 0;
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 1113px;
  height: 841px;
  /* stylelint-disable-next-line primer/colors */
  background: radial-gradient(31.63% 67.73% at 40.07% 47.21%, #096BDE 0%, rgba(9, 107, 222, 0) 100%);
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Box_7 {
  width: 140px;
  height: 140px;
}

.Box_8 {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: 205px;
  /* stylelint-disable-next-line primer/spacing */
  right: 130px;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.Box_9 {
  width: 46px;
  height: 46px;
}

.Box_10 {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: 170px;
  right: var(--base-size-40);

  @media screen and (min-width: 768px) {
    /* stylelint-disable-next-line primer/spacing */
    top: 185px;
    /* stylelint-disable-next-line primer/spacing */
    right: 110px;
  }
}

.Box_11 {
  width: 22px;
  height: 22px;
}

.Box_12 {
  width: 304px;
  height: 210px;

  @media screen and (min-width: 768px) {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 370px;
    height: 256px;
  }
}
