.Box {
  background: var(--bgColor-default);
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.PageLayout {
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);

  @media screen and (min-width: 544px) {
    padding-left: var(--base-size-16);
    padding-right: var(--base-size-16);
  }

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-40);
    padding-right: var(--base-size-40);
  }
}

.PageLayout_Content {
  min-height: 100vh;
}

.Box_1 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--base-size-4);

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-8);
    padding-right: var(--base-size-8);
  }
}

.Box_2 {
  display: flex;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-16);

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-24);
    padding-right: var(--base-size-24);
  }
}

.Box_3 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Box_4 {
  display: block;
  padding-bottom: var(--base-size-16);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.Box_5 {
  color: var(--fgColor-muted);
  display: inline-block;
  padding-right: var(--base-size-4);
}

.Box_6 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-64);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-40);

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-24);
    padding-right: var(--base-size-24);
  }
}

.Box_7 {
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.Box_8 {
  font-size: var(--text-body-size-medium);
  border: 0;
  padding: 0;
  cursor: pointer;
  background: var(--bgColor-default);
  color: var(--fgColor-default);
  border-radius: var(--borderRadius-medium);
  font-weight: var(--base-text-weight-semibold);
  height: 32px;
  display: flex;
  align-items: center;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);

  &:hover {
    background: var(--button-default-bgColor-hover);
  }
}

.Octicon {
  margin-left: var(--base-size-4);
  color: var(--fgColor-muted);
}
