---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2020-0036.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 02 Nov 2022 20:57:28 GMT
      Etag:
      - '"d5c3ee59c2b93db2583af19e32dac9f1"'
      X-Goog-Generation:
      - '1667422648066446'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1319'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=L5cmxA==
      - md5=1cPuWcK5PbJYOvGeMtrJ8Q==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '{"id":"GO-2020-0036","published":"2021-04-14T20:04:52Z","modified":"2022-10-26T17:44:45Z","aliases":["CVE-2019-11254","GHSA-wxc4-f4m6-wwqv"],"details":"Due
        to unbounded aliasing, a crafted YAML file can cause consumption of significant
        system resources. If parsing user supplied input, this may be used as a denial
        of service vector.","affected":[{"package":{"name":"gopkg.in/yaml.v2","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"2.2.8"}]}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2020-0036"},"ecosystem_specific":{"imports":[{"path":"gopkg.in/yaml.v2","symbols":["Decoder.Decode","Unmarshal","UnmarshalStrict","yaml_parser_fetch_more_tokens"]}]}},{"package":{"name":"github.com/go-yaml/yaml","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"}]}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2020-0036"},"ecosystem_specific":{"imports":[{"path":"github.com/go-yaml/yaml","symbols":["Decoder.Decode","Unmarshal","UnmarshalStrict","yaml_parser_fetch_more_tokens"]}]}}],"references":[{"type":"FIX","url":"https://github.com/go-yaml/yaml/pull/555"},{"type":"FIX","url":"https://github.com/go-yaml/yaml/commit/53403b58ad1b561927d19068c655246f2db79d48"},{"type":"WEB","url":"https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=18496"}]}'
  recorded_at: Wed, 02 Nov 2022 21:07:40 GMT
recorded_with: VCR 6.1.0