---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/index/vulns.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:34 GMT
      Etag:
      - '"42fb76b814c6fd262e242d2c7129f00d"'
      X-Goog-Generation:
      - '1709227354556002'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '47342'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=IydyWw==
      - md5=Qvt2uBTG/SYuJC0scSnwDQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '[{"id":"GO-2020-0001","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36567","GHSA-6vm3-jj99-7229"]},{"id":"GO-2020-0003","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36568","GHSA-hggr-p7v6-73p5"]},{"id":"GO-2020-0004","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36569","GHSA-hrm3-3xm6-x33h"]},{"id":"GO-2020-0005","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-15106","CVE-2020-15112","GHSA-m332-53r6-2w93","GHSA-p4g4-wgrh-qrg2"]},{"id":"GO-2020-0006","modified":"2023-12-14T15:51:14Z","aliases":["CVE-2017-15133","GHSA-p55x-7x9v[...]
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2020-0001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:17 GMT
      Etag:
      - '"4e7c266a558532177585492328e60204"'
      X-Goog-Generation:
      - '1709227337093951'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1080'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=NFSvUQ==
      - md5=TnwmalWFMhd1hUkjKOYCBA==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2020-0001","modified":"2023-06-12T18:45:41Z","published":"2021-04-14T20:04:52Z","aliases":["CVE-2020-36567","GHSA-6vm3-jj99-7229"],"summary":"Arbitrary
        log line injection in github.com/gin-gonic/gin","details":"The default Formatter
        for the Logger middleware (LoggerConfig.Formatter), which is included in the
        Default engine, allows attackers to inject arbitrary log entries by manipulating
        the request path.","affected":[{"package":{"name":"github.com/gin-gonic/gin","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"1.6.0"}]}],"ecosystem_specific":{"imports":[{"path":"github.com/gin-gonic/gin","symbols":["Default","Logger","LoggerWithConfig","LoggerWithFormatter","LoggerWithWriter"]}]}}],"references":[{"type":"FIX","url":"https://github.com/gin-gonic/gin/pull/2237"},{"type":"FIX","url":"https://github.com/gin-gonic/gin/commit/a71af9c144f9579f6dbe945341c1df37aaf09c0d"}],"credits":[{"name":"@thinkerou
        \u003cthinkerou@gmail.com\u003e"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2020-0001"}}'
  recorded_at: Sun, 03 Mar 2024 04:32:52 GMT
[...]
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2021-0068.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1709227328467719'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1234'
      X-Goog-Hash:
      - crc32c=26sGew==
      - md5=s4AFJHtH1c2FHxVjf7Y7Pw==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:08 GMT
      Etag:
      - '"b38005247b47d5cd851f15637fb63b3f"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2021-0068","modified":"2023-06-12T18:45:41Z","published":"2021-04-14T20:04:52Z","aliases":["CVE-2021-3115"],"summary":"Arbitrary
        code injection via the go command with cgo on Windows in cmd/go","details":"The
        go command may execute arbitrary code at build time when using cgo on Windows.
        This can be triggered by running go get on a malicious module, or any other
        time the code is built.","affected":[{"package":{"name":"toolchain","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"1.14.14"},{"introduced":"1.15.0-0"},{"fixed":"1.15.7"}]}],"ecosystem_specific":{"imports":[{"path":"cmd/go","goos":["windows"]}]}}],"references":[{"type":"FIX","url":"https://go.dev/cl/284783"},{"type":"FIX","url":"https://go.googlesource.com/go/+/953d1feca9b21af075ad5fc8a3dad096d3ccc3a0"},{"type":"REPORT","url":"https://go.dev/issue/43783"},{"type":"WEB","url":"https://groups.google.com/g/golang-announce/c/mperVMGa98w/m/yo5W5wnvAAAJ"},{"type":"FIX","url":"https://go.dev/cl/284780"},{"type":"FIX","url":"https://go.googlesource.com/go/+/46e2e2e9d99925bbf724b12693c6d3e27a95d6a0"}],"credits":[{"name":"RyotaK"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2021-0068"}}'
  recorded_at: Sun, 03 Mar 2024 04:32:56 GMT
[...]
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2023-1595.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1709227327041304'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1083'
      X-Goog-Hash:
      - crc32c=9IF6uw==
      - md5=VRejd13BxKOECDPzCgPPYQ==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:07 GMT
      Etag:
      - '"5517a3775dc1c4a3840833f30a03cf61"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2023-1595","modified":"2023-06-12T18:45:41Z","published":"2023-02-28T22:54:56Z","aliases":["CVE-2023-24533","GHSA-f6hc-9g49-xmx7"],"summary":"Incorrect
        multiplication of unreduced P-256 scalars in filippo.io/nistec","details":"Multiplication
        of certain unreduced P-256 scalars produce incorrect results.\n\nThere are
        no protocols known at this time that can be attacked due to this.","affected":[{"package":{"name":"filippo.io/nistec","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"0.0.2"}]}],"ecosystem_specific":{"imports":[{"path":"filippo.io/nistec","goarch":["amd64","arm64","ppc64le","s390x"],"symbols":["P256Point.ScalarBaseMult","P256Point.ScalarMult","p256OrdInverse"]}]}}],"references":[{"type":"REPORT","url":"https://go.dev/issue/58647"},{"type":"FIX","url":"https://github.com/FiloSottile/nistec/commit/c58aa1223ccf3943513e1e661cebce95af137244"}],"credits":[{"name":"Guido
        Vranken via the Ethereum Foundation bug bounty program"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2023-1595"}}'
  recorded_at: Sun, 03 Mar 2024 04:33:11 GMT
[...]
