---
http_interactions:
- request:
    method: get
    uri: https://services.nvd.nist.gov/rest/json/cves/2.0?cveId=CVE-2019-9999999999&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apikey:
      - 'No'
    body:
      encoding: ASCII-8BIT
      string: '{"resultsPerPage":0,"startIndex":0,"totalResults":0,"format":"NVD_CVE","version":"2.0","timestamp":"2023-03-23T20:50:07.577","vulnerabilities":[]}'
  recorded_at: Thu, 23 Mar 2023 20:50:07 GMT
recorded_with: VCR 6.1.0
