.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--base-size-32);
  column-gap: var(--base-size-16);
  max-width: 80em;
  padding: var(--base-size-32);
  margin: 0 auto;
}
