.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: var(--bgColor-muted);
}

.innerContainer {
  position: relative;
  padding: var(--base-size-2);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nodesContainer {
  position: absolute;
  z-index: 10;
  transition: transform 0.3s linear;
}

.nodeWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.edgeContainer {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.3s linear;
}


.rightSidePanel {
  margin: 0;
  flex: 1;
  min-width: 0;
  z-index: 20;
  height: 100%;
  overflow-y: auto;
  background: var(--bgColor-default);
  border-left: var(--borderWidth-thin) solid var(--borderColor-muted);
}
