.marketplace-list-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;

  @media screen and (min-width: 544px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.marketplace-item {
  background-color: var(--card-bgColor);
  box-shadow: var(--shadow-resting-small, var(--color-shadow-small));
  transition: background-color 0.3s;
}

.marketplace-item:hover,
.marketplace-item:focus-within {
  background-color: var(--control-transparent-bgColor-hover, var(--color-canvas-subtle));
}

.marketplace-item:focus-within {
  outline: 2px solid var(--fgColor-accent, var(--color-accent-fg));
}

.marketplace-item-link {
  color: var(--fgColor-default, var(--color-fg-default));
}

.marketplace-item-link:hover {
  color: inherit;
  text-decoration: none;
}

.marketplace-item-link:focus {
  outline: none;
}

.marketplace-item-link::before {
  position: absolute;
  cursor: pointer;
  content: '';
  inset: 0;
}

.marketplace-logo {
  --container-size: var(--base-size-40);
  --logo-size: var(--base-size-24);

  display: grid;
  place-items: center;
  width: var(--container-size);
  height: var(--container-size);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: inset 0 0 0 1px var(--avatar-borderColor, var(--color-avatar-border, rgba(31, 35, 40, 0.15)));
}

.marketplace-model-avatar-icon {
  width: var(--logo-size) !important;
  height: var(--logo-size) !important;
  border-radius: 0 !important;
}

.marketplace-logo--jamba-div {
  --logo-size: var(--base-size-36) !important;
}

.marketplace-logo--jamba-logo {
  border-radius: var(--borderRadius-large) !important;
}

.marketplace-logo--dialog {
  --container-size: 56px;
}

/* stylelint-disable selector-max-type */
.marketplace-logo-img,
.marketplace-logo-svg,
.marketplace-logo-svg svg {
  width: var(--logo-size);
  height: var(--logo-size);
}
/* stylelint-enable selector-max-type */

.marketplace-featured-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
