.sortButton {
  height: auto !important;
}

.sortButton:hover {
  background-color: transparent !important;
}

/* We can only pass an Element type to trailingVisual, we would otherwise add a class to the Icon */
/* stylelint-disable-next-line selector-max-type */
.sortButton svg {
  visibility: hidden;
}
/* stylelint-disable-next-line selector-max-type */
.sortButton:focus svg, .sortButton:hover svg {
  visibility: visible;
}
/* stylelint-disable-next-line selector-max-type */
.sortButton.hasSort svg {
  visibility: visible;
}
