.FieldListLi {
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
  list-style: none;
}

.FieldListUl {
  list-style: none;
  gap: 1;
}

.FieldListLiText {
  font-size: var(--text-title-size-small);
  color: var(--fgColor-muted);
  display: 'block';
}

.FieldListInternal {
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
  padding-top: var(--base-size-8);
  margin-top: var(--base-size-8);
}

.ListFieldWrapper {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ListFieldWrapperText {
  font-weight: var(--base-text-weight-medium);
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
  margin-bottom: 0;
  flex-basis: 40%;
  flex-shrink: 0;
  margin-top: 0;
  line-height: var(--text-body-lineHeight-medium);
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-right: var(--base-size-4);
}

.FieldBasisAuto {
  flex-basis: auto;
  flex-grow: 1;
}

.FieldWrapperInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-4);
  margin-bottom: var(--base-size-4);
}

.FieldWrapperLabel {
  display: contents;
}

.SectionViewItem {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: 75%;
}
