.container {
  display: flex;
  padding: var(--base-size-8) var(--base-size-8) var(--base-size-8) 0;
  border-bottom-color: var(--borderColor-muted);
  justify-content: flex-start;
  align-items: center;
  gap: var(--base-size-4);
}

.header {
  display: flex;
  overflow: hidden;
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-14) !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.expandButton {
  margin-right: var(--base-size-4);

  &:not(:hover) {
    background: transparent !important;
  }
}
