.mergeboxLoading {
  display: flex;
  min-height: 138px;
  padding: var(--base-size-4);
  flex-direction: row;
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  align-items: center;
  justify-content: center;
}

.mergePartialContainer {
  overflow-y: clip;

  &.containPaint {
    contain: paint;
  }
}

/* stylelint-disable-next-line selector-max-type */
.mergeBoxAdjustBorders section:last-of-type {
  border-bottom: 0 !important;
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
  overflow: hidden;
}
