:root {
  --serviceView-maxWidth: 1176px;
  --serviceView-headerWidth: 600px;
}

/* ServiceScrollContainer */

.scrollContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  container-type: inline-size;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--serviceView-maxWidth);
  gap: var(--base-size-64);
  padding: var(--base-size-80) var(--base-size-24);
  flex-grow: 1;

  &.empty {
    justify-content: center;
    padding: var(--base-size-16) var(--base-size-16) var(--base-size-96);
  }
}

@container (max-width: 960px) {
  .content {
    padding : var(--base-size-40) var(--base-size-16);
  }
}

/* ServiceBanner */

.banner {
  display: block;
  width: 100%;
}

/* ServiceHeader */

.serviceHeader {
  display: flex;
  flex-direction: column;
  max-width: var(--serviceView-headerWidth);
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.serviceHeader > * {
  margin: 0 0 var(--base-size-8) 0;
}

.serviceHeader > *:last-child {
  margin: 0;
}

.serviceHeader:has(.serviceDescription) > .serviceTitle {
  margin: 0 0 var(--base-size-8) 0;
}

.serviceIcon {
  display: flex;
  justify-content: center;
  color: var(--fgColor-muted);
}

.serviceTitle {
  font-size: var(--text-title-size-large);
  font-weight: var(--base-text-weight-semibold);
}

.serviceDescription {
  font-size: var(--text-body-size-large);
  color: var(--fgColor-muted);
}

/* ServiceSection */

.section {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  width: 100%;

  .sectionTitle {
    font-size: var(--text-title-size-medium);
    font-weight: var(--text-title-weight-medium);
    margin: 0;
  }

  .sectionGrid {
    display: grid;
    width: 100%;
    gap: var(--base-size-16);
    grid-template-columns: 1fr;
  }

  .sectionGridEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    gap: var(--base-size-8);
    color: var(--fgColor-muted);
    font-size: var(--text-body-size-large);
    padding: var(--base-size-32);
    border-radius: var(--borderRadius-large);
    border: var(--borderWidth-thin) solid var(--borderColor-default);
  }

  .skeletonCard {
    height: 190px;
  }

  @container (min-width: 580px) {
    .sectionGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @container (min-width: 960px) {
    .sectionGrid {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--base-size-24);
    }
  }
}
