@layer recipes {
  .container {
    display: flex;
    width: 32px;
    margin-left: var(--base-size-8);
    justify-content: center;
    grid-area: selection;
  }

  .checkbox {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 14px !important;
  }

  .checkboxCompact {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 10px !important;
  }
}
