@layer recipes {
  .container {
    display: flex;
    width: 32px;
    margin-left: var(--base-size-8);
    justify-content: center;
    grid-area: selection;
  }

  .containerWithDragHandle {
    display: flex;
    width: 54px;
    justify-content: center;
    grid-area: selection;
  }

  /* Common styles for drag&drop triggers */
  .dragTrigger {
    width: 0;
    padding: var(--base-size-12);
    margin-top: var(--base-size-2);

    &.compact {
      /* we need a negative margin here to align with the checkbox */
      /* stylelint-disable-next-line primer/spacing */
      margin-top: -2px;
    }
  }

  .checkbox {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 14px !important;
  }

  .checkboxCompact {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 10px !important;
  }
}
