@layer recipes {
  .container {
    width: 12px;
    height: 12px;
    margin-left: var(--base-size-4);
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--fgColor-accent);
    border: var(--borderWidth-thick) solid;
    /* stylelint-disable-next-line primer/colors */
    border-color: var(--bgColor-default);
    border-radius: var(--borderRadius-full);
    transform: translate(-2px, 2px);
  }
}
