.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  padding: var(--base-size-16) var(--base-size-16) var(--base-size-32);

  :global(label) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
