.token {
  /* !important is required to beat Primer sx internal styles */
  padding-right: var(--base-size-12) !important;
  padding-left: var(--base-size-12) !important;
  /* stylelint-disable-next-line primer/typography */
  font-weight: normal !important;
  background: var(--bgColor-default) !important;
  font-size: var(--text-body-size-small) !important;
  max-width: min(500px, 100%) !important;
}

.smallSummary {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
}

.visualLabel {
  display: flex;
  align-items: center;
  /* stylelint-disable-next-line primer/typography */
  line-height: 1;
  max-width: 500px;
  gap: var(--base-size-4);
}

.issueLink {
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
