.headerContainer {
  display: grid;
  padding-top: var(--base-size-8);
}

@container issueViewerContainer (max-width: 48rem) {
  .headerContainer {
    padding-top: 0;
  }

  .minimalHeader {
    display: flex !important;
    align-items: flex-start !important;
  }
}
