.dividerLine {
  width: 1px;
  height: 18px;
  border-right: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  display: none;
}

/*
This rule attempts to select the first `.dividerLine` element among its siblings and make it visible by setting
`display: block`. This ensures that the first divider line is displayed, while the rest remain hidden.
The `-n+1` selector is used to select the first element in the list of `.dividerLine` elements.
*/
/* stylelint-disable-next-line selector-max-compound-selectors */
.dividerLine:nth-child(-n+1 of .dividerLine) {
  display: block;
}
