.issueMetadata {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  width: 100%;
  justify-content: flex-start;
  margin-top: var(--base-size-16);

  .metadata {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    justify-content: space-between;
    font-size: var(--text-body-size-small);
  }

  .metadataTitle {
    width: 25%;
    color: var(--fgColor-muted);
    padding-top: var(--base-size-6);
  }

  .metadataValue {
    font-weight: var(--base-text-weight-normal);
    color: var(--fgColor-default);
    width: 75%;
    align-items: left;
  }

  @container (min-width: 768px) {
    display: none;
  }
}

.loadingSkeleton {
  margin-top: var(--base-size-4);
  width: 100%;
}
