.jumpToBottom {
  align-self: flex-start;
  padding-left: var(--base-size-16);
  padding-top: var(--base-size-8);
}

[data-jump-to-bottom-target]:target {
  scroll-margin-top: 64px; /* 56px for fixed header, plus 8px for padding */
}

/* 48rem corresponds to --viewportRange-regular */
@container issueViewerContainer (min-width: 48rem) {
  /* Hide "jump to bottom" on larger viewports */
  .jumpToBottom {
    display: none;
  }
}
