.milestoneLink {
  display: inline-block;
  vertical-align: bottom;
  padding: var(--base-size-6) var(--base-size-8);
}

.milestoneTitle {
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-semibold);
}
