.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: flex;
  padding: 0;
  margin-right: var(--base-size-8);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
  background-color: var(--bgColor-default);
  border: 0;
}

.header {
  position: absolute;
  top: var(--base-size-4);
  left: var(--base-size-8);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  pointer-events: none;
}
