@layer recipes {
  .suggestionTitle {
    display: block;
    max-width: 400px;
    overflow: hidden;
    font-weight: var(--base-text-weight-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
