/**
  * Prettylights syntax theme
  * This is a version of syntax-theme-prettylights.scss that has been transformed to
  * use the ::highlight pseudo-element instead of the original classes. This allows
  * us to use the same theme for standard CSS and the CSS Custom Highlighting API.
  */

  ::highlight(pl-c) {
    color: var(--color-prettylights-syntax-comment);
  }

  ::highlight(pl-c1) {
    color: var(--color-prettylights-syntax-constant);
  }

  ::highlight(pl-e),
  ::highlight(pl-en) {
    color: var(--color-prettylights-syntax-entity);
  }

  ::highlight(pl-smi) {
    color: var(--color-prettylights-syntax-storage-modifier-import);
  }

  ::highlight(pl-ent) {
    color: var(--color-prettylights-syntax-entity-tag);
  }

  ::highlight(pl-k) {
    color: var(--color-prettylights-syntax-keyword);
  }

  ::highlight(pl-s),
  ::highlight(pl-pds),
  ::highlight(pl-sr) {
    color: var(--color-prettylights-syntax-string);
  }

  ::highlight(pl-v),
  ::highlight(pl-smw) {
    color: var(--color-prettylights-syntax-variable);
  }

  ::highlight(pl-bu) {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
  }

  ::highlight(pl-ii) {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
  }

  ::highlight(pl-c2) {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
  }

  ::highlight(pl-ml) {
    color: var(--color-prettylights-syntax-markup-list);
  }

  ::highlight(pl-mh),
  ::highlight(pl-ms) {
    /* stylelint-disable-next-line primer/typography */
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
  }

  ::highlight(pl-mi) {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
  }

  ::highlight(pl-mb) {
    /* stylelint-disable-next-line primer/typography */
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
  }

  ::highlight(pl-md) {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
  }

  ::highlight(pl-mi1) {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
  }

  ::highlight(pl-mc) {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
  }

  ::highlight(pl-mi2) {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
  }

  ::highlight(pl-mdr) {
    /* stylelint-disable-next-line primer/typography */
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
  }

  ::highlight(pl-ba) {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
  }

  ::highlight(pl-sg) {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
  }

  ::highlight(pl-corl) {
    color: var(--color-prettylights-syntax-constant-other-reference-link);
    text-decoration: underline;
  }
