.verySatisfied, .good {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-success-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-success-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-success-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-success);
    }
  }
}

.satisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-accent-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-accent-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-accent-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-accent);
    }
  }
}

.dissatisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-attention-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-attention-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-attention-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-attention);
    }
  }
}

.veryDissatisfied, .bad {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-danger-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-danger-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-danger-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-danger);
    }
  }
}
