.bodyContainer {
  display: flex;
  padding: var(--base-size-16);
  flex-direction: column;
  gap: var(--base-size-16);
}

.headerContainer {
  display: flex;
  padding: var(--base-size-8) var(--base-size-8) var(--base-size-16) var(--base-size-16);
  flex-direction: row;
  gap: var(--base-size-16);
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.header {
  display: flex;
  padding-top: var(--base-size-8);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-size-4);

  /* stylelint-disable-next-line selector-max-type */
  h1 {
    padding: 0;
    margin: 0;
    font-size: var(--text-title-size-small);
    font-weight: var(--text-title-weight-small);
    line-height: var(--text-title-lineHeight-small);
  }

  /* stylelint-disable-next-line selector-max-type */
  p {
    padding: 0;
    margin: 0;
    font-size: var(--text-body-size-medium);
    line-height: var(--text-body-lineHeight-medium);
    color: var(--fgColor-muted);
  }
}

.ratingContainer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-8);
  flex-direction: row;
  justify-content: space-between;
}

.ratingOption {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
  align-items: center;
}

.ratingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-40);
  height: var(--base-size-40);
  background: transparent;
  border: 0 solid transparent;
  border-radius: var(--borderRadius-full);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;

  /* stylelint-disable-next-line selector-max-type */
  svg {
    fill: var(--fgColor-muted);
  }

  &[aria-checked='true'],
  &:hover {
    border-width: var(--borderWidth-thin);
  }
}

.ratingCaption {
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
}

.footerContainer {
  display: flex;
  padding: 0 var(--base-size-16) var(--base-size-16);
  flex-direction: row;
  gap: var(--base-size-8);
  justify-content: flex-end;
}

.verySatisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-success-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-success-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-success-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-success);
    }
  }
}

.satisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-accent-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-accent-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-accent-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-accent);
    }
  }
}

.dissatisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-attention-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-attention-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-attention-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-attention);
    }
  }
}

.veryDissatisfied {
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    border-color: var(--borderColor-danger-emphasis);
  }

  &:hover {
    border-color: var(--borderColor-danger-muted);
  }

  &[aria-checked='true'],
  &:hover {
    background-color: var(--bgColor-danger-muted);

    /* stylelint-disable-next-line selector-max-type */
    svg {
      fill: var(--fgColor-danger);
    }
  }
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);

  .validationError {
    font-size: var(--text-caption-size);
    font-weight: var(--text-caption-weight);
    line-height: var(--text-caption-lineHeight);
    color: var(--fgColor-danger);
  }

  .privacyText {
    font-size: var(--text-caption-size);
    font-weight: var(--text-caption-weight);
    line-height: var(--text-caption-lineHeight);
    color: var(--fgColor-muted);
  }
}
