.bodyContainer {
  display: flex;
  padding: var(--base-size-16);
  flex-direction: column;
  gap: var(--base-size-16);
}

.ratingContainer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-8);
  flex-direction: row;
  justify-content: center;
  gap: var(--base-size-32);
}

.ratingOption {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
  align-items: center;
}

.ratingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-40);
  height: var(--base-size-40);
  background: transparent;
  border: 0 solid transparent;
  border-radius: var(--borderRadius-full);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;

  /* stylelint-disable-next-line selector-max-type */
  svg {
    fill: var(--fgColor-muted);
  }

  &[aria-checked='true'],
  &:hover {
    border-width: var(--borderWidth-thin);
  }
}

.ratingCaption {
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
}

.footerContainer {
  display: flex;
  padding: 0 var(--base-size-16) var(--base-size-16);
  flex-direction: row;
  gap: var(--base-size-8);
  justify-content: flex-end;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);

  .validationError {
    font-size: var(--text-caption-size);
    font-weight: var(--text-caption-weight);
    line-height: var(--text-caption-lineHeight);
    color: var(--fgColor-danger);
  }

  .privacyText {
    font-size: var(--text-caption-size);
    font-weight: var(--text-caption-weight);
    line-height: var(--text-caption-lineHeight);
    color: var(--fgColor-muted);
  }
}
