/* match logged out nav styles */
.NavButton {
  border-color: var(--borderColor-default);
  color: var(--fgColor-white);

  &:hover,
  &:active {
    opacity: 0.75;
    background-color: transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
  }
}
