.themeVisual {
  width: var(--base-size-28);
  border-radius: var(--borderRadius-small);
  background: var(--bgColor-default);
  border: solid var(--borderWidth-default) var(--borderColor-default);
  display: grid;
  place-items: center;
  padding-block: var(--base-size-2);
}
