.container {
  display: flex;
  align-items: center;
  gap: var(--base-size-2);
}

.disabledButton {
  background-color: transparent;
  border-color: transparent;
  color: var(--fgColor-disabled);
  pointer-events: none;
}

.pageIndicator {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-medium);
  letter-spacing: var(--base-size-2);
  color: var(--fgColor-muted);
}
