.container {
  position: relative;
  display: grid;
  width: 100%;
  padding: var(--base-size-12) var(--base-size-16);
  overflow: hidden;
  flex-direction: column;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  grid-template:
    'attachments     attachments  attachments' auto
    'leadingActions  input        trailingActions' auto / auto 1fr auto;

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.attachments {
  grid-area: attachments;
  margin: var(--base-size-4) 0 var(--base-size-12);
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 30dvh;
  overflow-y: auto;
  grid-area: input;
  flex-grow: 1;
  scrollbar-width: thin;

  /* Contain the stacking context to avoid leaky z-index bugs: */
  isolation: isolate;
}

.input,
.inputPreview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0;
  overflow-y: hidden;
  font-size: var(--text-body-size-large);
  line-height: var(--text-body-lineHeight-large);
  vertical-align: middle;
  resize: none;
  background: transparent;
  border: none;
  border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
  outline: 0;
  caret-color: var(--fgColor-default, var(--color-fg-default));
}

.input {
  z-index: 1;
  color: transparent;
}

.inputPreview {
  z-index: 0;
  white-space: pre-wrap;

  .token {
    color: var(--fgColor-accent, var(--color-accent-fg));
    background-color: var(--bgColor-accent-muted, var(--color-accent-subtle));
    border-radius: var(--borderRadius-small);
  }
}

.trailingActions,
.leadingActions {
  display: flex;
  align-items: flex-end;
  gap: var(--base-size-4);
  padding-bottom: var(--base-size-4);

  /* negative margin offsets for the buttons' internal padding, allowing for easily lining everything up */
  margin: calc(var(--base-size-8) * -1);
}

.trailingActions {
  grid-area: trailingActions;
  padding-left: var(--base-size-8);
}

.leadingActions {
  grid-area: leadingActions;
  padding-right: var(--base-size-8);
}
