.container {
  display: flex;
}

.attachmentsList {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  gap: var(--stack-gap-condensed);
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor-muted) transparent;

  &:not(.scrolledToEnd) {
    mask-image: linear-gradient(to left, transparent, #000 var(--base-size-20), #000 var(--base-size-4), #000);

    & + .divider {
      visibility: visible;
    }
  }
}

.divider {
  width: 0;
  height: var(--control-medium-size);
  visibility: hidden;
  border-right: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.menuButton {
  flex-shrink: 0;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: var(--stack-gap-condensed);
}
