.copilotAnimationHolder {
  width: 28px;
  height: 28px;
  overflow: hidden;
  color: var(--fgColor-muted);
}

.copilotAnimation {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: -6px;

  /* (32px - 28px) / 2 */
  /* stylelint-disable-next-line primer/spacing */
  left: -2px;
  width: 32px;
  height: 32px;
  overflow: hidden;

  /* 25px / 32px = 0.875 */
  transform: scale(0.875);
}

.idleAnimation {
  transform: translateY(0);
}

.startingAnimation {
  /* 0.033s * 12 = 0.429s */
  animation: copilotStart 0.429s steps(12) 1;
}

.runningAnimation {
  /* 0.033s * 41 = 1.353s */
  animation: copilotRun 1.353s steps(41) infinite;
}

.endingAnimation {
  /* 0.033s * 13 = 0.429s */
  animation: copilotEnd 0.429s steps(13) 1;
}

@keyframes copilotStart {
  100.0000% {
    transform: translateY(-384px);
  }
}

@keyframes copilotRun {
  0% {
    transform: translateY(-416px);
  }

  100% {
    transform: translateY(-1728px);
  }
}

@keyframes copilotEnd {
  0% {
    transform: translateY(-1792px);
  }

  100% {
    transform: translateY(-2208px);
  }
}
