.container {
  container: banner / inline-size;
}

.banner {
  background: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  box-shadow: var(--shadow-resting-small);
  border-radius: var(--borderRadius-large);
  padding: var(--base-size-24);
  display: grid;
  grid-template:
    'title       actions closebutton' auto
    'description actions closebutton' auto / 1fr auto auto;
  align-items: center;
  gap: var(--stack-gap-normal);

  .title {
    grid-area: title;
    font: var(--text-title-shorthand-small);
    /* Offset for top/bottom gap due to line height */
    margin: calc(-1 * var(--base-size-6)) 0;
  }

  .description {
    grid-area: description;
    color: var(--fgColor-muted);
    /* Offset for top/bottom gap due to line height */
    margin: calc(-1 * var(--base-size-6)) 0;
  }

  .actions {
    grid-area: actions;
  }

  .editorButton {
    padding-left: var(--base-size-8);
  }

  .closeButton {
    grid-area: closebutton;
    /* Offset for surrounding gap due to invisible button variant */
    margin: calc(-1 * var(--base-size-8));
    margin-left: 0;
  }

  @container banner (width < 34rem) {
    grid-template:
      'title       closebutton' auto
      'description closebutton' auto
      'actions     actions' auto / 1fr auto;
    align-items: start;
  }
}
