.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  gap: var(--base-size-16);
}

.suggestions {
  display: flex;
  gap: var(--base-size-12);
  max-width: 850px;
  flex-wrap: wrap;
  justify-content: center;
}

.replaceValue {
  color: var(--fgColor-muted);
}

@media (max-width: 768px) {
  .suggestions {
    flex-direction: column;
  }

  .suggestionButton:nth-child(n+3) {
    display: none;
  }
}

.legalText {
  margin: var(--base-size-8);
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
  text-align: center;
}
