/* stylelint-disable primer/spacing */
.header {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: var(--base-size-64);
  padding: var(--base-size-16);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.leftControls {
  display: flex;
  position: absolute;
  left: var(--base-size-16);
}

.leftControlsCollapsed {
  display: flex;
  position: absolute;
  left: 100px;
}

@container (max-width: 1024px) {
  .leftControlsCollapsed {
    display: none;
  }

  .leftControls {
    display: none;
  }
}

.rightControls {
  position: absolute;
  right: var(--base-size-16);
  display: flex;
  gap: var(--base-size-8);
}

.editedPromptIndicator {
  position: relative;

  &::after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: var(--borderRadius-full);
    /* stylelint-disable-next-line primer/colors */
    background: var(--fgColor-attention);
    position: absolute;
    bottom: -4px;
    left: -4px;
  }

  &.leadingVisual::after {
    height: 8px;
    width: 8px;
    bottom: -2px;
    left: -3px;
  }
}
