.header {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: var(--base-size-64);
  padding: var(--base-size-16);
  justify-content: center;
  align-items: center;
}

.centerControls {
  display: flex;
}

.rightControls {
  position: absolute;
  right: var(--base-size-16);
}
