.container {
  height: 100%;
  padding: var(--base-size-16);
}

.emptyContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--base-size-16);
}

.messageContent {
  /* inset to match max width of topic indicator (which has 8px x-margins) */
  max-width: calc(var(--breakpoint-medium) - var(--base-size-16));
  margin: auto;
  padding-bottom: var(--base-size-16);
}

.scrollToBottomButton {
  position: absolute;
  bottom: var(--base-size-32);
  left: calc(50% - var(--base-size-16));
  border: none;
  border-radius: var(--borderRadius-full);
  box-shadow: var(--shadow-floating-medium) !important;
  transition:
    opacity 0.125s ease-in-out,
    scale 0.125s ease-in-out !important;

  &.hidden {
    scale: 0.8;
    opacity: 0;
    pointer-events: none;
  }
}

.shareMessage {
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentDiscussionIcon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-muted);
}
