.flashText {
  /* offset to align with icon */
  margin-top: calc(-1 * var(--base-size-4));
}

.hint {
  margin: 0;
}

.disclaimer {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  margin: 0;
}

.banner {
  z-index: 1;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

.repo {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);

  .repoLabel {
    font-size: var(--text-body-size-medium);
  }
}
