.body {
  display: flex;
  height: 100%;
  min-height: 300px;
  padding: var(--base-size-48);
  text-align: center;
  gap: var(--base-size-12);
  flex-direction: column;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--base-size-8);
}

.title {
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

.description {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
}
