:root {
  --copilot-chat-immersive-sidebar-header-offset: var(--base-size-96);

  /* Temp transition variables until there's something from Primer */
  --duration-fastest: 0.05s;
  --duration-faster: 0.15s;
  --duration-fast: 0.25s;
  --duration-default: 0.35s;
  --timing-function-in: cubic-bezier(0.35, 1, 0.5, 1);
  --timing-function-out: cubic-bezier(0, 0, 0.3, 0.95);
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--bgColor-default);
  scrollbar-color: var(--borderColor-muted) transparent;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.left {
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  flex: 1 1 auto;
  container-type: inline-size;
  container-name: main;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  position: relative; /* Defines the container for the scrollToBottomButton */
  overflow-y: hidden;
  flex-direction: column;
  flex-basis: content;
  flex-grow: 1;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-16);
  background-color: var(--bgColor-default);
  justify-content: center;
}

.chatInputContainer {
  width: 100%;
  max-width: 768px;
}

.previewPane {
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--bgColor-default);
  transition: width var(--duration-fast) var(--timing-function-out);
  flex: 0 0 auto;
}

.previewPane.active {
  width: 50vw;
  transition: width var(--duration-default) var(--timing-function-in);
}

.viewer {
  width: calc(50vw - var(--base-size-16));
  height: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) var(--base-size-16) var(--base-size-16) 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  transition:
    opacity var(--duration-faster) var(--timing-function-out),
    visibility 0s var(--duration-default);
}

.previewPane.active .viewer {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-fast) var(--timing-function-in) var(--duration-fastest);
}

@media screen and (max-width: 1024px) {
  .previewPane {
    z-index: 2;
    width: 0;
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .previewPane.active {
    width: 0;
    transition: none;
  }

  .viewer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100%;
    margin: 0;
    visibility: hidden;
    background-color: var(--bgColor-default);
    border-radius: 0;
    box-shadow: var(--shadow-floating-large);
    opacity: 0;
    transition:
      transform var(--duration-default) var(--timing-function-out),
      opacity var(--duration-faster) var(--timing-function-out),
      visibility 0s var(--duration-default);
    transform: translateX(100%);
  }

  .previewPane.active .viewer {
    visibility: visible;
    opacity: 1;
    transition:
      transform var(--duration-default) var(--timing-function-in),
      opacity var(--duration-fast) var(--timing-function-in) var(--duration-fastest);
    transform: translateX(0);
  }
}

.legalText {
  margin: var(--base-size-8);
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
  text-align: center;
  justify-content: center;
}
