:root {
  --copilot-chat-immersive-sidebar-header-offset: var(--base-size-96);
  --baseOverwrite-easing-easeIn: cubic-bezier(0.35, 1, 0.5, 1);
  --baseOverwrite-easing-easeOut: cubic-bezier(0, 0, 0.3, 0.95);
  /* must be kept in sync with constants.ts */
  --previewPane-animation-duration: var(--base-duration-300);
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--bgColor-default);
  scrollbar-color: var(--borderColor-muted) transparent;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.left {
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  flex: 1 1 auto;
  container-type: inline-size;
  container-name: main;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  position: relative; /* Defines the container for the scrollToBottomButton */
  overflow-y: hidden;
  flex-direction: column;
  flex-basis: content;
  flex-grow: 1;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-16);
  flex-direction: column;
  align-items: center;

}

.spaceBannerContainer {
  width: 100%;
  max-width: 768px;
  margin-bottom: var(--base-size-16)
}

.chatInputContainer {
  width: 100%;
  max-width: 768px;
}

.previewPane {
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--bgColor-default);
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn);
  flex: 0 0 auto;
}

.previewPane.active {
  width: 50vw;
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut);
}

.viewer {
  position: relative;
  display: block;
  width: calc(50vw - var(--base-size-16));
  height: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) var(--base-size-16) var(--base-size-16) 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  visibility: hidden;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  transition:
    opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
    visibility 0s var(--previewPane-animation-duration);
}

.previewPane.active .viewer {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
}

.fullscreenPreviewPane {
  .previewPane {
    z-index: 2;
    width: 0;
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .previewPane.active {
    width: 0;
    transition: none;
  }

  .viewer {
    position: fixed;
    top: var(--base-size-64);
    right: 0;
    width: 100dvw;
    height: calc(100% - var(--base-size-64));
    margin: 0;
    visibility: hidden;
    background-color: var(--bgColor-default);
    border-radius: 0;
    box-shadow: var(--shadow-floating-large);
    opacity: 0;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
      visibility 0s var(--previewPane-animation-duration);
    transform: translateX(100%);
  }

  .previewPane.active .viewer {
    visibility: visible;
    opacity: 1;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
    transform: translateX(0);
  }
}

.fullscreenPluginPane {
  .previewPane {
    z-index: 2;
    width: 0%;
    height: 0%;
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .previewPane.active {
    width: 100%;
    height: 100%;
    transition: none;
  }

  .viewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    visibility: hidden;
    background-color: var(--bgColor-default);
    border-radius: 0;
    box-shadow: var(--shadow-floating-large);
    opacity: 0;
  }

  .previewPane.active .viewer {
    visibility: visible;
    opacity: 1;
  }
}
