.content {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.header {
  padding-top: var(--base-size-8);
  padding-right: var(--base-size-12);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-12);
  font-size: var(--text-body-size-small);
  font-weight: var(--text-title-weight-small);
  color: var(--fgColor-muted);
  background-color: var(--bgColor-inset); /* This should be --bgColor-muted, but due to a Primer bug, the dialog uses the wrong background color, so this ensures some contrast. */
  border-radius: var(--borderRadius-medium);
}

.row {
  padding: var(--base-size-12);
  color: var(--fgColor-default);
  list-style-type: none;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
}

.rowIcon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-muted);
}
