:root {
  --copilot-chat-immersive-sidebar-width: 320px;
}

.container {
  z-index: 2;
  width: 0;
  height: 100%;
  background-color: var(--bgColor-default);
  transition: width var(--duration-fast) var(--timing-function-out);

  .header {
    position: absolute;
    top: var(--base-size-16);
    left: var(--base-size-16);
    z-index: 3;
    display: flex;
    width: 72px;
    align-items: center;
    justify-content: space-between;
    transition: width var(--duration-fast) var(--timing-function-out);
  }

  .sidebar {
    display: flex;
    width: var(--copilot-chat-immersive-sidebar-width);
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    flex-direction: column;
    background-color: var(--bgColor-default);
    border-right: var(--borderWidth-thin) solid var(--borderColor-default);
    opacity: 0;
    transition:
      transform var(--duration-fast) var(--timing-function-out),
      opacity var(--duration-faster) var(--timing-function-out),
      visibility 0s var(--duration-fast);
    transform: translateX(calc(-100% - var(--base-size-32)));

    .conversations {
      display: flex;
      padding: 0 var(--base-size-16);
      margin: var(--base-size-64) 0 0;
      overflow-y: auto;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;
      -webkit-overflow-scrolling: touch;
    }
  }

  &:where(.pinned),
  &:where(.visible) {
    width: var(--copilot-chat-immersive-sidebar-width);
    background-color: var(--bgColor-default);
    transition: width var(--duration-fast) var(--timing-function-in);

    .header {
      width: calc(var(--copilot-chat-immersive-sidebar-width) - var(--base-size-32));
      transition: width var(--duration-fast) var(--timing-function-in);
    }

    .sidebar {
      position: relative;
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transition:
        transform var(--duration-fast) var(--timing-function-in),
        opacity var(--duration-faster) var(--timing-function-in) var(--duration-fastest);
      transform: translateX(0);
    }
  }

  @container (max-width: 1024px) {
    width: 0;

    .sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      height: auto;
      margin: 0;
      border: none;
      border-radius: 0 var(--borderRadius-large) var(--borderRadius-large) 0;
      transform: translateX(-100%);
    }

    &:where(.visible) {
      .sidebar {
        box-shadow: var(--shadow-floating-medium);
        transform: translateX(0);
      }
    }
  }
}
