.timelineEvent {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  display: flex;
  justify-content: center;
  margin-bottom: var(--base-size-20);
  padding-bottom: var(--base-size-24);

  .icon {
    margin-right: var(--base-size-4);
  }

  /* stylelint-disable-next-line selector-max-type */
  a {
    color: var(--fgColor-muted);
  }
}

.situationalTimelineEvent {
  composes: timelineEvent;
  margin-top: var(--base-size-16);
}

.references {
  composes: references from './ChatMessage.module.css';
  justify-content: flex-end;
}
