.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileButton {
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-normal);
}

.undoButton {
  font-weight: var(--base-text-weight-normal);
}
