.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 25dvh;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  grid-area: content;

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }

  .inputContainer {
    overflow-y: auto;
    scrollbar-width: auto;
    width: 100%;

    .input {
      width: 100%;
      font-size: var(--text-body-size-large);
      line-height: var(--text-body-lineHeight-large);
      padding: var(--base-size-12) var(--base-size-16);
      margin: 0;
      box-sizing: border-box;
      resize: none;
      background: transparent;
      border: none;
      outline: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--base-size-8);
    padding: 0 var(--base-size-12) var(--base-size-12) 0;
  }
}
