.trigger {
  display: flex;
  padding: var(--base-size-4);
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-8);
  background: var(--bgColor-default);
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-muted);

  &:hover {
    background-color: var(--control-bgColor-hover);
  }

  &[disabled] {
    color: var(--fgColor-disabled);
    background-color: var(--control-bgColor-disabled);
    box-shadow: none;
    border-color: var(--control-borderColor-disabled);
    cursor: not-allowed;
  }
}

.triggerLabel {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.triggerColor {
  border-radius: var(--borderRadius-small);
  width: 100%;
  height: var(--base-size-20);
  border: var(--borderWidth-thin) solid var(--borderColor-translucent);

  &[data-empty='true'] {
    background-image: linear-gradient(45deg, var(--bgColor-neutral-muted) 25%, transparent 25%),
      linear-gradient(-45deg, var(--bgColor-neutral-muted) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--bgColor-neutral-muted) 75%),
      linear-gradient(-45deg, transparent 75%, var(--bgColor-neutral-muted) 75%);
    background-size: 10px 10px;
    background-position:
      0 0,
      0 5px,
      5px -5px,
      -5px 0;
    background-color: var(--bgColor-default);
  }
}

.triggerIcon {
  color: var(--fgColor-default);
}

.pickerContainer {
  padding: var(--base-size-12);
  display: grid;
  gap: var(--base-size-16);
  max-height: 300px;
  width: 280px;
  overflow-y: auto;
}

.colorContainer {
  padding: 0 var(--base-size-8) var(--base-size-8);
}

.sectionHeading {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-small);
  text-transform: capitalize;
  margin-bottom: var(--base-size-8);
}

.colorList {
  display: grid;
  gap: var(--base-size-12);
  grid-template-columns: repeat(7, 1fr);
}

.colorItem {
  border-radius: var(--borderRadius-full);
  width: var(--base-size-24);
  aspect-ratio: 1;
  border: none;
  flex-shrink: 0;
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--color);

  &[data-selected='true'] {
    outline-offset: 2px !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: var(--color) !important;
  }
}
