.overscroll {
  background: linear-gradient(180deg, color-mix(in srgb, var(--bgColor-default) 70%, transparent) 0%, color-mix(in srgb, var(--bgColor-default) 0%, transparent) 78.2%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  pointer-events: none;
}

.showOverscroll {
  opacity: 1;
  transform: translateY(0);
}
