.container {
  border-radius: var(--borderRadius-small);
  /* stylelint-disable-next-line primer/colors */
  border: var(--borderWidth-thin) solid rgba(0, 0, 0, 0.2);
  /* stylelint-disable-next-line primer/colors */
  background: var(--swatch-color);
  aspect-ratio: 1;
}

.small {
  width: 16px;
  height: 16px;
}

.large {
  width: 32px;
  height: 32px;
}
