.selectPanel {
  /* this is the width of the trigger */
  /* by using viewport width as max-width, we ensure that the panel does not overflow the screen on smaller devices */
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 403px;
  max-width: 98vw;
}

.triggerContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.triggerSwatches {
  display: flex;
  align-items: center;
  gap: 4px;
}
