.CounterMetricText {
  margin-left: var(--base-size-4);
}

.CounterNumberText {
  /* stylelint-disable-next-line primer/typography */
  font-size: 24px;
  font-weight: var(--base-text-weight-normal);
  /* stylelint-disable-next-line primer/typography */
  line-height: 24px;
  margin-bottom: var(--base-size-4);
}

.CounterTotalText {
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

.CounterContainer {
  display: flex;
}
