.LoadingSkeleton {
  width: 75px;
}

.LoadingSkeleton_1 {
  margin-top: var(--base-size-8);
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: 10px;
  width: 200px;
  border-radius: var(--borderRadius-medium);
}

.Description {
  color: var(--fgColor-attention);
}

.Heading {
  font: var(--text-title-shorthand-small);
}
