.ActionList_Divider {
  margin-top: 0;
  margin-bottom: 0;
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--borderColor-default);
}

.ActionList_Item {
  display: flex;
  padding-left: 0;
}

.Text {
  flex-grow: 1;
}
