.NoDataText {
  color: var(--fgColor-muted);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-light);
  /* stylelint-disable-next-line primer/typography */
  line-height: condensed;
}
