.container {
  text-align: center;
  border: dashed var(--borderWidth-thin) var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
}

.chooseFiles {
  display: inline-block !important;
}

.chooseFilesLabel {
  color: var(--fgColor-link) !important;
}

.description {
  font: var(--text-body-shorthand-small);
}
