.fileList {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  list-style: none;
  border: solid var(--borderWidth-thin) var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.fileListItem {
  display: flex;
  align-items: center;
  height: 36px;
  padding: var(--base-size-4) var(--base-size-12);
  border-bottom: solid var(--borderWidth-thin) var(--borderColor-muted);
}

.fileListItem:last-child {
  border-bottom: 'none';
}

.fileListItemName {
  margin-right: var(--base-size-4);
  margin-left: var(--base-size-8);
  overflow: hidden;
  font-weight: var(--base-text-weight-semibold);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileListItemSize {
  white-space: nowrap;
}

.deleteButton {
  padding-left: var(--base-size-8) !important;
  margin-left: auto;
  color: var(--fgColor-muted) !important;
  flex-shrink: 0;
}
