.container {
  display: flex;
  width: 100%;
  height: 56px;
  padding: var(--base-size-4);
  background-color: var(--bgColor-default);
  border: solid var(--borderWidth-thin) var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.containerLeft {
  display: flex;
  gap: 6px;
  flex-grow: 1;
}

.leadingIcon {
  height: 34px;
  margin-right: var(--base-size-4);
  color: var(--fgColor-default);
}

.detailButton {
  flex-grow: 1;
  height: 48px;
}

.detailButtonText {
  display: inline-block;
  width: 100%;
  font-weight: var(--base-text-weight-semibold);
  text-align: left;
}

.detailButtonSubtext {
  display: inline-block;
  width: 100%;
  font-weight: var(--base-text-weight-light);
  color: var(--fgColor-muted);
  text-align: left;
  size: var(--text-body-shorthand-small);
}

.statusIconSuccess {
  color: var(--fgColor-success);
}

.statusIconDanger {
  color: var(--fgColor-danger);
}

.containerRight {
  align-self: center;
}
