.container {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.label {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-light);
  color: var(--fgColor-muted);
}
