/* NOTE: This is exactly the same as CreatIndexDialog. Maybe these should be consolidated */

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;
}

.header {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default)
}

.headerSubtext {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

