.Box {
  display: flex;
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-default);
  background-color: var(--bgColor-muted);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  padding-right: var(--base-size-16);
  padding-left: var(--base-size-12);
  align-items: center;
}

.Box_1 {
  align-self: center;
  display: flex;
}

.Link {
  margin-right: var(--base-size-8);
}

.Text {
  font-size: var(--text-codeBlock-size);
  color: var(--fgColor-muted);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
  margin-right: var(--base-size-2);
}

.Text_2 {
  font-style: italic;
}

.Link_1 {
  padding-left: var(--base-size-12);
  font-size: var(--text-codeBlock-size);
  margin-left: auto;
}

.Box_2 {
  height: 16px;
  width: 16px;
  min-width: 16px;
  align-self: center;
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
}
