.Text {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Text_1 {
  color: var(--fgColor-danger, var(--color-danger-fg));
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Text_2 {
  color: var(--fgColor-attention, var(--color-attention-fg));
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}
