---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates?sort=recent-updates&page=1
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "crates": [
            {
              "badges": [],
              "categories": null,
              "created_at": "2018-04-15T11:30:45.123456+00:00",
              "description": "A fake crate Dependency Graph's Rust PMA uses for testing.\n",
              "documentation": "https://docs.rs/dg-test-crate",
              "downloads": 17722,
              "exact_match": false,
              "homepage": "https://dg.github.io/rust",
              "id": "dg-test-crate",
              "keywords": null,
              "links": {},
              "max_stable_version": "1.2.3",
              "max_version": "1.2.3",
              "name": "dg-test-crate",
              "newest_version": "1.2.3",
              "recent_downloads": 99,
              "repository": "https://github.com/github/dependency-graph-api",
              "updated_at": "2022-06-23T09:15:47.035988+00:00",
              "versions": null
            },
            {
              "badges": [],
              "categories": null,
              "created_at": "2016-02-14T06:00:11.123456+00:00",
              "description": "A crate that was updated before the previous checkpoint and shouldn't be processed",
              "documentation": "https://example.com/supercrate/docs",
              "downloads": 17722,
              "exact_match": false,
              "homepage": "https://example.com/supercrate",
              "id": "dg-test-crate",
              "keywords": null,
              "links": {},
              "max_stable_version": "1.2.3",
              "max_version": "1.2.3",
              "name": "dg-test-crate",
              "newest_version": "1.2.3",
              "recent_downloads": 99,
              "repository": "https://github.com/github/dependency-graph-api",
              "updated_at": "2020-03-22T07:32:19.023456+00:00",
              "versions": null
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:30:31 GMT

- request:
    method: get
    uri: https://crates.io/api/v1/crates/dg-test-crate
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "categories": [],
          "crate": {
            "badges": [],
            "categories": [],
            "links": {},
            "created_at": "2018-04-15T11:30:45.123456+00:00",
            "description": "A fake crate Dependency Graph's Rust PMA uses for testing.\n",
            "documentation": "https://docs.rs/dg-test-crate",
            "downloads": 321,
            "exact_match": false,
            "homepage": "https://dg.github.io/rust",
            "id": "dg-test-crate",
            "keywords": [
              "dependency",
              "graph",
              "test"
            ],
            "max_stable_version": "1.2.3",
            "max_version": "1.2.3",
            "name": "dg-test-crate",
            "newest_version": "1.2.3",
            "recent_downloads": 15290640,
            "repository": "https://github.com/github/dependency-graph-api",
            "updated_at": "2022-06-23T09:15:47.035988+00:00",
            "versions": []
          },
          "keywords": [],
          "versions": [
            {
              "audit_actions": [],
              "crate": "dg-test-crate",
              "crate_size": 45678,
              "created_at": "2022-06-23T09:15:47.035988+00:00",
              "dl_path": "/api/v1/crates/dg-test-crate/1.2.3/download",
              "downloads": 99,
              "features": {},
              "id": 22,
              "license": "MIT OR Apache-2.0",
              "links": {},
              "num": "1.2.3",
              "published_by": {},
              "readme_path": "/api/v1/crates/dg-test-crate/1.2.3/readme",
              "updated_at": "2022-06-23T09:15:47.035988+00:00",
              "yanked": false
            },
            {
              "audit_actions": [],
              "crate": "dg-test-crate",
              "crate_size": 34567,
              "created_at": "2018-04-15T11:30:45.123456+00:00",
              "dl_path": "/api/v1/crates/rand/0.6.0/download",
              "downloads": 88,
              "features": {},
              "id": 11,
              "license": "MIT OR Apache-2.0",
              "links": {},
              "num": "0.6.0",
              "published_by": {},
              "readme_path": "/api/v1/crates/dg-test-crate/0.6.0/readme",
              "updated_at": "2021-06-23T14:10:20.123456+00:00",
              "yanked": false
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:31:31 GMT

- request:
    method: get
    uri: https://crates.io/api/v1/crates/dg-test-crate/1.2.3
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "version": {
            "audit_actions": [],
            "crate": "dg-test-crate",
            "crate_size": 45678,
            "created_at": "2022-06-23T09:15:47.035988+00:00",
            "dl_path": "/api/v1/crates/dg-test-crate/1.2.3/download",
            "downloads": 99,
            "features": {},
            "id": 22,
            "license": "MIT OR Apache-2.0",
            "links": {},
            "num": "1.2.3",
            "published_by": {},
            "readme_path": "/api/v1/crates/dg-test-crate/1.2.3/readme",
            "updated_at": "2022-06-23T09:15:47.035988+00:00",
            "yanked": false
          }
        }
  recorded_at: Thu, 23 Jun 2022 12:32:31 GMT

- request:
    method: get
    uri: https://crates.io/api/v1/crates/dg-test-crate/1.2.3/dependencies
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "dependencies": [
            {
              "crate_id": "bincode",
              "default_features": true,
              "downloads": 0,
              "features": [],
              "id": 3548107,
              "kind": "normal",
              "optional": false,
              "req": "^1.2.1",
              "target": null,
              "version_id": 22
            },
            {
              "crate_id": "foo",
              "default_features": true,
              "downloads": 0,
              "features": [],
              "id": 3548105,
              "kind": "normal",
              "optional": false,
              "req": "^0.6.0",
              "target": null,
              "version_id": 22
            },
            {
              "crate_id": "bar",
              "default_features": true,
              "downloads": 0,
              "features": [],
              "id": 3548108,
              "kind": "dev",
              "optional": false,
              "req": "^0.3.0",
              "target": null,
              "version_id": 22
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:33:31 GMT

[...]
