/* stylelint-disable selector-max-type */

.container {
  margin-bottom: var(--base-size-8) !important;
}

.summary {
  list-style: none;
}

.summaryText {
  font: var(--text-caption-shorthand);
  padding: 0 var(--base-size-4);
}

.chevron {
  color: var(--fgColor-muted);

  svg {
    transition: transform 0.25s ease;
  }
}

[open] .chevron svg {
  transform: rotate(180deg);
}

.items {
  /* override default markdown-body styles */
  padding: 0 0 0 var(--base-size-16) !important;
  margin: 0 !important;

  a {
    text-decoration: none !important;
  }
}
