---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2022-0189.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1709227349268178'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '2140'
      X-Goog-Hash:
      - crc32c=Jd8bhg==
      - md5=TNHto2B3xT87/eaYbUBlUw==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:29 GMT
      Etag:
      - '"4cd1eda36077c53f3bfde6986d406553"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2022-0189","modified":"2023-06-12T18:45:41Z","published":"2022-08-04T21:30:35Z","aliases":["CVE-2018-16873"],"summary":"Remote
        command execution via \"go get\" with \"-u\" flag in cmd/go","details":"The
        \"go get\" command is vulnerable to remote code execution when executed with
        the -u flag and the import path of a malicious Go package, or a package that
        imports it directly or indirectly.\n\nSpecifically, it is only vulnerable
        in GOPATH mode, but not in module mode (the distinction is documented at https://golang.org/cmd/go/#hdr-Module_aware_go_get).\n\nUsing
        custom domains, it''s possible to arrange things so that a Git repository
        is cloned to a folder named \".git\" by using a vanity import path that ends
        with \"/.git\". If the Git repository root contains a \"HEAD\" file, a \"config\"
        file, an \"objects\" directory, a \"refs\" directory, with some work to ensure
        the proper ordering of operations, \"go get -u\" can be tricked into considering
        the parent directory as a repository root, and running Git commands on it.
        That will use the \"config\" file in the original Git repository root for
        its configuration, and if that config file contains malicious commands, they
        will execute on the system running \"go get -u\".\n\nNote that forbidding
        import paths with a .git element might not be sufficient to mitigate this
        issue, as on certain systems there can be other aliases for VCS state folders.","affected":[{"package":{"name":"toolchain","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"1.10.6"},{"introduced":"1.11.0-0"},{"fixed":"1.11.3"}]}],"ecosystem_specific":{"imports":[{"path":"cmd/go/internal/get","symbols":["downloadPackage"]}]}}],"references":[{"type":"FIX","url":"https://go.dev/cl/154101"},{"type":"FIX","url":"https://go.googlesource.com/go/+/bc82d7c7db83487e05d7a88e06549d4ae2a688c3"},{"type":"REPORT","url":"https://go.dev/issue/29230"},{"type":"WEB","url":"https://groups.google.com/g/golang-announce/c/Kw31K8G7Fi0"}],"credits":[{"name":"Etienne
        Stalmans of Heroku"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2022-0189"}}'
  recorded_at: Sun, 03 Mar 2024 02:54:13 GMT
recorded_with: VCR 6.2.0
