---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2020-0033.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 02 Nov 2022 20:57:27 GMT
      Etag:
      - '"58d3d242cc8aa709d3c27183d0421466"'
      X-Goog-Generation:
      - '1667422647734383'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '969'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=veEz1A==
      - md5=WNPSQsyKpwnTwnGD0EIUZg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '{"id":"GO-2020-0033","published":"2021-04-14T20:04:52Z","modified":"2022-10-26T17:44:45Z","aliases":["CVE-2020-36559"],"details":"Due
        to improper santization of user input, HTTPEngine.Handle allows for directory
        traversal, allowing an attacker to read files outside of the target directory
        that the server has permission to read.","affected":[{"package":{"name":"aahframe.work","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"0.12.4"}]}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2020-0033"},"ecosystem_specific":{"imports":[{"path":"aahframe.work","symbols":["Application.Run","Application.ServeHTTP","Application.Start","HTTPEngine.Handle"]}]}}],"references":[{"type":"FIX","url":"https://github.com/go-aah/aah/pull/267"},{"type":"FIX","url":"https://github.com/go-aah/aah/commit/881dc9f71d1f7a4e8a9a39df9c5c081d3a2da1ec"},{"type":"WEB","url":"https://github.com/go-aah/aah/issues/266"}],"credits":[{"name":"@snyff"}]}'
  recorded_at: Wed, 02 Nov 2022 21:07:40 GMT
recorded_with: VCR 6.1.0