---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"de7903d19f36960bac91905e14089593facf83a77ce93b415b9946850d79af9c"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef18a877789f1a68e86d23e95817019241","expires_at":"2022-02-24T17:30:25Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Thu, 24 Feb 2022 16:30:25 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-02-24T16:30:25Z","name":"Processing
        advisory improvement","head_sha":"d0331ead50315f2e26c8c6f5fbe8e5045aaebd22"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"92ebbd8fb2d6fcdf5923d3badebc9c89fa4472ae5acc846d4672dc657015ff75"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5321910085
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1645722877'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5321910085,"name":"Processing advisory improvement","node_id":"CR_kwDOGUrjes8AAAABPTXnRQ","head_sha":"d0331ead50315f2e26c8c6f5fbe8e5045aaebd22","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5321910085","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5321910085","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-02-24T16:30:25Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5321910085/annotations"},"check_suite":{"id":5409427494},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"chrisbloom7-advisory-db-test","node_id":"A_kwDNUwLOAAJHsw","owner":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"name":"chrisbloom7-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/chrisbloom7-advisory-db-test","created_at":"2021-11-03T18:32:24Z","updated_at":"2021-11-29T21:36:31Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/6","id":860910054,"number":6,"head":{"ref":"chrisbloom7-patch-6","sha":"d0331ead50315f2e26c8c6f5fbe8e5045aaebd22","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"main","sha":"c1575fa7761c8f0d0a0559a1fa7b571b7f2289f3","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Thu, 24 Feb 2022 16:30:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/6/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbc840945b6692df704f8a7e262e9956811f159591cb5b77ae75d45eed65531c"
      Last-Modified:
      - Tue, 22 Feb 2022 23:26:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1645722877'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"b7dc3d09607b43dcb592564d1003927c584c2549","filename":"advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","status":"modified","additions":1,"deletions":44,"changes":45,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/d0331ead50315f2e26c8c6f5fbe8e5045aaebd22/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/d0331ead50315f2e26c8c6f5fbe8e5045aaebd22/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=d0331ead50315f2e26c8c6f5fbe8e5045aaebd22","patch":"@@
        -1,48 +1,5 @@\n {\n   \"schema_version\": \"1.2.0\",\n   \"id\": \"GHSA-633g-f9jj-2j2g\",\n-  \"modified\":
        \"2022-02-22T22:21:41Z\",\n-  \"published\": \"2022-02-22T22:21:40Z\",\n-  \"aliases\":
        [\n-    \"CVE-2022-0002\"\n-  ],\n-  \"summary\": \"Magnam quo porro quisquam
        consequatur animi optio id ad sapiente omnis qui ut dolores amet\",\n-  \"details\":
        \"Laborum eveniet molestiae. Non porro minima. Earum voluptates error.\\n\\nDolorem
        non et. Qui rerum enim. Expedita quas quisquam.\\n\\nAsperiores laudantium
        doloribus. Fuga sit praesentium. Iste eligendi fuga.\\n\\nDolor dignissimos
        eos. Aut reiciendis voluptatum. In aut quis.\\n\\nVel laudantium quo. Officiis
        quisquam natus. Eos error asperiores.\\n\\nNam quos ipsam. Rerum velit eligendi.
        Est modi recusandae.\\n\\nEnim ut temporibus. Temporibus eveniet fugiat. Sed
        qui aut.\\n\\nIusto fugiat illo. Sapiente minus error. Dignissimos maxime
        qui.\\n\\nDebitis harum impedit. Quis ea quo. Veniam ut ea.\\n\\nId suscipit
        velit. Dolorem quam sint. Exercitationem optio placeat.\",\n-  \"severity\":
        [\n-\n-  ],\n-  \"affected\": [\n-    {\n-      \"package\": {\n-        \"ecosystem\":
        \"PyPI\",\n-        \"name\": \"blue-angel\"\n-      },\n-      \"ranges\":
        [\n-        {\n-          \"type\": \"ECOSYSTEM\",\n-          \"events\":
        [\n-            {\n-              \"introduced\": \"0.3.7\"\n-            }\n-          ]\n-        }\n-      ],\n-      \"database_specific\":
        {\n-        \"last_known_affected_version_range\": \"< 0.3.9\"\n-      }\n-    }\n-  ],\n-  \"references\":
        [\n-    {\n-      \"type\": \"WEB\",\n-      \"url\": \"http://morissette.org/jami\"\n-    }\n-  ],\n-  \"database_specific\":
        {\n-    \"cwe_ids\": [\n-\n-    ],\n-    \"severity\": \"HIGH\",\n-    \"github_reviewed\":
        true\n-  }\n+  \"modified\": \"2022-02-22T22:21:41Z\"\n }"}]'
  recorded_at: Thu, 24 Feb 2022 16:30:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=d0331ead50315f2e26c8c6f5fbe8e5045aaebd22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7dc3d09607b43dcb592564d1003927c584c2549"
      Last-Modified:
      - Tue, 22 Feb 2022 23:26:06 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1645722877'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-633g-f9jj-2j2g.json","path":"advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","sha":"b7dc3d09607b43dcb592564d1003927c584c2549","size":101,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=d0331ead50315f2e26c8c6f5fbe8e5045aaebd22","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/d0331ead50315f2e26c8c6f5fbe8e5045aaebd22/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/b7dc3d09607b43dcb592564d1003927c584c2549","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/d0331ead50315f2e26c8c6f5fbe8e5045aaebd22/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?token=AWKWLJN7F5MZATRXITOUDETCC6ZN5AVPNFXHG5DBNRWGC5DJN5XF62LEZYATRJFTWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjIuMCIsCiAgImlkIjogIkdIU0Et\nNjMzZy1mOWpqLTJqMmciLAogICJtb2RpZmllZCI6ICIyMDIyLTAyLTIyVDIy\nOjIxOjQxWiIKfQo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=d0331ead50315f2e26c8c6f5fbe8e5045aaebd22","git":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/b7dc3d09607b43dcb592564d1003927c584c2549","html":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/d0331ead50315f2e26c8c6f5fbe8e5045aaebd22/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json"}}'
  recorded_at: Thu, 24 Feb 2022 16:30:26 GMT
[...]
