---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5a13349cd2aad6ee72d51e73b4d3b0c41d36bfbdad374664b81632811a7c8e5b"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeefe82936b36182f13b090fc2025df81fe6","expires_at":"2022-02-11T01:11:50Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Fri, 11 Feb 2022 00:11:50 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-02-11T00:11:50Z","name":"Processing
        advisory improvement","head_sha":"0f820bcbcfeaa85cb9fe866d05728197f8b04295"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4785e43a18110abd50fc3d9bdd4ea3221579c0167957745b0a9df5a5323c43f"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149696674
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5149696674,"name":"Processing advisory improvement","node_id":"CR_kwDOGd7i3s8AAAABMvIiog","head_sha":"0f820bcbcfeaa85cb9fe866d05728197f8b04295","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149696674","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5149696674","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-02-11T00:11:50Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149696674/annotations"},"check_suite":{"id":5259512328},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"katblag-advisory-db-test","node_id":"MDM6QXBwODc2ODc=","owner":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"name":"katblag-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/katblag-advisory-db-test","created_at":"2020-11-06T00:21:12Z","updated_at":"2021-12-02T01:06:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/10","id":845950526,"number":10,"head":{"ref":"katblag-patch-4","sha":"0f820bcbcfeaa85cb9fe866d05728197f8b04295","repo":{"id":434037470,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"katblag/advisory-improvement-10","sha":"ba9e346bb3ef7c0d57d2451eb1468772e5a203b3","repo":{"id":434037470,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Fri, 11 Feb 2022 00:11:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/10/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f92ed9a7823c81c3e8c58f7b88145fa6e2762a5dcfcbb40d073b0ad13649760d"
      Last-Modified:
      - Fri, 11 Feb 2022 00:10:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"ca627e135038764f641625a98bdf8b4dded180be","filename":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","status":"modified","additions":2,"deletions":2,"changes":4,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/0f820bcbcfeaa85cb9fe866d05728197f8b04295/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/0f820bcbcfeaa85cb9fe866d05728197f8b04295/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=0f820bcbcfeaa85cb9fe866d05728197f8b04295","patch":"@@
        -1,6 +1,6 @@\n {\n   \"schema_version\": \"1.2.0\",\n-  \"id\": \"GHSA-qcjw-97hh-g9q8\",\n+  \"id\":
        \"GHSA-hfq3-rpjj-f4w2\",\n   \"modified\": \"2022-02-02T01:43:41Z\",\n   \"aliases\":
        [\n     \"CVE-2021-1002\"\n@@ -76,4 +76,4 @@\n     \"severity\": \"CRITICAL\",\n     \"github_reviewed\":
        true\n   }\n-}\n\\ No newline at end of file\n+}"}]'
  recorded_at: Fri, 11 Feb 2022 00:11:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=0f820bcbcfeaa85cb9fe866d05728197f8b04295
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca627e135038764f641625a98bdf8b4dded180be"
      Last-Modified:
      - Fri, 11 Feb 2022 00:10:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-qcjw-97hh-g9q8.json","path":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","sha":"ca627e135038764f641625a98bdf8b4dded180be","size":2259,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=0f820bcbcfeaa85cb9fe866d05728197f8b04295","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/0f820bcbcfeaa85cb9fe866d05728197f8b04295/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/ca627e135038764f641625a98bdf8b4dded180be","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/0f820bcbcfeaa85cb9fe866d05728197f8b04295/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?token=ARUZLQQLZHWWJDNMGTBAKPLCAWVAHAVPNFXHG5DBNRWGC5DJN5XF62LEZYAMG4WVWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjIuMCIsCiAgImlkIjogIkdIU0Et\naGZxMy1ycGpqLWY0dzIiLAogICJtb2RpZmllZCI6ICIyMDIyLTAyLTAyVDAx\nOjQzOjQxWiIsCiAgImFsaWFzZXMiOiBbCiAgICAiQ1ZFLTIwMjEtMTAwMiIK\nICBdLAogICJzdW1tYXJ5IjogIkJhc2ljIGluLXJldmlldyBSZXZpZXciLAog\nICJkZXRhaWxzIjogIlRoaXMgaXMgYSBuZXcgZGVzY3JpcHRpb25MYWJvcmUg\ncXVvZCByZXJ1bS4gUXVpIG9jY2FlY2F0aSBpcHN1bS4gU2FwaWVudGUgc29s\ndXRhIHNpbnQuXG5hc2RmYXNkZmFzZmRhc2RmYXNkZmFzZGZcbkVzdCBpcHN1\nbSByZXJ1bS4gU2VkIHZlcm8gcXVhZS4gRG9sb3JlIHBlcnNwaWNpYXRpcyBy\nZW0[...]
[...]
