---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7a540afc3547faf5a25952bb9f0111d1f3b5582fc4a46e1d523b4485ce5b79fe"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef05c0ab16897cace0b4d63020ac212953","expires_at":"2021-12-09T00:16:52Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 08 Dec 2021 23:16:52 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2021-12-08T23:16:52Z","name":"TODO:
        importing advisory improvement","head_sha":"6b4c0a3114e9bde17432857cd30696ecad0c5c2b"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c2c8be1c402f480ad33ae02d621aec6f88fa2b808035db1ffd6663f30404732f"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464176051
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1639008545'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":4464176051,"name":"TODO: importing advisory improvement","node_id":"CR_kwDOGd7i3s8AAAABChXrsw","head_sha":"6b4c0a3114e9bde17432857cd30696ecad0c5c2b","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464176051","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/4464176051","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2021-12-08T23:16:52Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464176051/annotations"},"check_suite":{"id":4527064390},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"katblag-advisory-db-test","node_id":"MDM6QXBwODc2ODc=","owner":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"name":"katblag-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/katblag-advisory-db-test","created_at":"2020-11-06T00:21:12Z","updated_at":"2021-12-02T01:06:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[]}'
  recorded_at: Wed, 08 Dec 2021 23:16:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22eb4aaf27f33b952a1108b66a6edb5b8697bebbb070394769d96386b635a815"
      Last-Modified:
      - Wed, 08 Dec 2021 23:15:04 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1639008545'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"7d601396bc73e437e7e142c631b39697aa4710d9","filename":"advisories/github-reviewed/2021/11/GHSA-2g6j-7hr7-vf52/GHSA-2g6j-7hr7-vf52.json","status":"modified","additions":2,"deletions":2,"changes":4,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/1698621c097a9b8c6bbb66d8dfa928612916db13/advisories/github-reviewed/2021/11/GHSA-2g6j-7hr7-vf52/GHSA-2g6j-7hr7-vf52.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/1698621c097a9b8c6bbb66d8dfa928612916db13/advisories/github-reviewed/2021/11/GHSA-2g6j-7hr7-vf52/GHSA-2g6j-7hr7-vf52.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/11/GHSA-2g6j-7hr7-vf52/GHSA-2g6j-7hr7-vf52.json?ref=1698621c097a9b8c6bbb66d8dfa928612916db13","patch":"@@
        -1,6 +1,6 @@\n {\n   \"ghsa_id\": \"GHSA-2g6j-7hr7-vf52\",\n-  \"description\":
        \"Similique qui et. Quaerat eveniet rerum. At id earum. asdfasdf \\n\\nAsperiores
        dignissimos enim. Pariatur velit cum. Saepe magni velit.\\n\\nVoluptatem officia
        non. Quis rem consectetur. Qui veritatis fuga.\\n\\nEt aliquam sunt. Et quo
        minima. Quas non iure.\\n\\nEt atque labore. Libero corrupti necessitatibus.
        Laborum aperiam unde.\\n\\nQuibusdam quos nihil. Molestiae laudantium odit.
        Doloribus arc[...]
[...]
