---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"598c7fb26a139c3397cee43bc8b3e8cb4b60ac7909a7322a42501454e9e1c772"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeefac1ce329dc5ecbebd251be7e6bee3ceb","expires_at":"2022-02-02T00:23:35Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Tue, 01 Feb 2022 23:23:35 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-02-01T23:23:35Z","name":"TODO:
        importing advisory improvement","head_sha":"be72b0cbcb8db0bdf0bb899f4d91dac938d52de0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"baf4960359e0f27207bdd012b7682a6773e05339de9a59d073c191a7c8f261cf"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029562503
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '19'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5029562503,"name":"TODO: importing advisory improvement","node_id":"CR_kwDOGUrjes8AAAABK8kIhw","head_sha":"be72b0cbcb8db0bdf0bb899f4d91dac938d52de0","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029562503","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5029562503","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-02-01T23:23:35Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029562503/annotations"},"check_suite":{"id":5143665329},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"chrisbloom7-advisory-db-test","node_id":"A_kwDNUwLOAAJHsw","owner":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"name":"chrisbloom7-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/chrisbloom7-advisory-db-test","created_at":"2021-11-03T18:32:24Z","updated_at":"2021-11-29T21:36:31Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/3","id":837751545,"number":3,"head":{"ref":"chrisbloom7-patch-3","sha":"be72b0cbcb8db0bdf0bb899f4d91dac938d52de0","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"main","sha":"a1581053bbe085a4d3c22336ff63789a1b4175cc","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Tue, 01 Feb 2022 23:23:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/3/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd716bd8d8005ef4837872ab70add15526d69de7de7a64d2fd07a4c20f7e39f"
      Last-Modified:
      - Tue, 01 Feb 2022 22:55:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"d814cebd1012dc073a173db3208e9b9d73b756ef","filename":"advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json","status":"modified","additions":2,"deletions":2,"changes":4,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/be72b0cbcb8db0bdf0bb899f4d91dac938d52de0/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/be72b0cbcb8db0bdf0bb899f4d91dac938d52de0/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json?ref=be72b0cbcb8db0bdf0bb899f4d91dac938d52de0","patch":"@@
        -15,7 +15,7 @@\n     {\n       \"package\": {\n         \"ecosystem\": \"RubyGems\",\n-        \"name\":
        \"rack\"\n+        \"name\": \"rick\"\n       },\n       \"ranges\": [\n         {\n@@
        -45,4 +45,4 @@\n     \"severity\": \"MODERATE\",\n     \"github_reviewed\":
        true\n   }\n-}\n\\ No newline at end of file\n+}"}]'
  recorded_at: Tue, 01 Feb 2022 23:23:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json?ref=be72b0cbcb8db0bdf0bb899f4d91dac938d52de0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d814cebd1012dc073a173db3208e9b9d73b756ef"
      Last-Modified:
      - Tue, 01 Feb 2022 22:55:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-hfq3-rpjj-f4w2.json","path":"advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json","sha":"d814cebd1012dc073a173db3208e9b9d73b756ef","size":1177,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json?ref=be72b0cbcb8db0bdf0bb899f4d91dac938d52de0","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/be72b0cbcb8db0bdf0bb899f4d91dac938d52de0/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/d814cebd1012dc073a173db3208e9b9d73b756ef","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/be72b0cbcb8db0bdf0bb899f4d91dac938d52de0/advisories/github-reviewed/2022/02/GHSA-hfq3-rpjj-f4w2/GHSA-hfq3-rpjj-f4w2.json?token=AWKWLJOHYZKDUE5SRYNJVI3B7HATJAVPNFXHG5DBNRWGC5DJN5XF62LEZYATRJFTWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjEuMCIsCiAgImlkIjogIkdIU0Et\naGZxMy1ycGpqLWY0dzIiLAogICJtb2RpZmllZCI6ICIyMDIyLTAyLTAxVDIy\nOjUzOjUyWiIsCiAgInB1Ymxpc2hlZCI6ICIyMDIyLTAyLTAxVDIyOjUzOjUy\nWiIsCiAgImFsaWFzZXMiOiBbCgogIF0sCiAgInN1bW1hcnkiOiAiRXNzZSBl\nYSBvZmZpY2lhIHNpdCBpcHN1bSBpbmNpZGlkdW50IGxhYm9yaXMgc3VudCBj\nb25zZWN0ZXR1ciBlYS4iLAogICJkZXRhaWxzIjogIlN1bnQgaW4gcGFyaWF0\ndXIgY29tbW9kbyBldSB2b2x1cHRhdGUgZXNzZSB1dCBjb25zZXF1YXQgc2l0\nIGFsaXF1YS4gSW4gZG9sb3Igc2ludCBleCBjdXBpZGF0YXQuIEV4Y2VwdGV1\nciB[...]
[...]
