---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dad3a52aafcb387c22def877aa16db7022b21002a0d2d6446a695badf5130202"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef7c9b56467ff9872a2b113bf3d50c7b67","expires_at":"2022-03-09T05:14:13Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 09 Mar 2022 04:14:14 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-03-09T04:14:14Z","name":"Processing
        advisory improvement","head_sha":"8804a37296c434925a0b7a6221d2178e08da82b3"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"085770356e10b54ca753abca580e7e6ac825992bdcb1e6a3d62738cf82e11e18"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5475105231
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1646802513'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5475105231,"name":"Processing advisory improvement","node_id":"CR_kwDOGUrjes8AAAABRld5zw","head_sha":"8804a37296c434925a0b7a6221d2178e08da82b3","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5475105231","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5475105231","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-03-09T04:14:14Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5475105231/annotations"},"check_suite":{"id":5408839208},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"chrisbloom7-advisory-db-test","node_id":"A_kwDNUwLOAAJHsw","owner":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"name":"chrisbloom7-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/chrisbloom7-advisory-db-test","created_at":"2021-11-03T18:32:24Z","updated_at":"2021-11-29T21:36:31Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4","id":860876110,"number":4,"head":{"ref":"chrisbloom7-patch-4","sha":"8804a37296c434925a0b7a6221d2178e08da82b3","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"main","sha":"c1575fa7761c8f0d0a0559a1fa7b571b7f2289f3","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Wed, 09 Mar 2022 04:14:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e8d279d11632a4e372bc79a3b19cb4f39b2005b5554fd439893f0b64b547435"
      Last-Modified:
      - Tue, 01 Mar 2022 22:31:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1646802513'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"8083a2729b4389d9e381f167b3c9a7f7884f02e1","filename":"advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/8804a37296c434925a0b7a6221d2178e08da82b3/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/8804a37296c434925a0b7a6221d2178e08da82b3/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=8804a37296c434925a0b7a6221d2178e08da82b3","patch":"@@
        -1,7 +1,7 @@\n {\n   \"schema_version\": \"1.2.0\",\n   \"id\": \"GHSA-633g-f9jj-2j2g\",\n-  \"modified\":
        \"2022-02-22T22:21:41Z\",\n+  \"modified\": \"2022-03-01T17:23:04Z\",\n   \"published\":
        \"2022-02-22T22:21:40Z\",\n   \"aliases\": [\n     \"CVE-2022-0002\""}]'
  recorded_at: Wed, 09 Mar 2022 04:14:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=8804a37296c434925a0b7a6221d2178e08da82b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8083a2729b4389d9e381f167b3c9a7f7884f02e1"
      Last-Modified:
      - Tue, 22 Feb 2022 22:23:29 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1646802513'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-633g-f9jj-2j2g.json","path":"advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","sha":"8083a2729b4389d9e381f167b3c9a7f7884f02e1","size":1576,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?ref=8804a37296c434925a0b7a6221d2178e08da82b3","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/8804a37296c434925a0b7a6221d2178e08da82b3/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/8083a2729b4389d9e381f167b3c9a7f7884f02e1","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/8804a37296c434925a0b7a6221d2178e08da82b3/advisories/github-reviewed/2022/02/GHSA-633g-f9jj-2j2g/GHSA-633g-f9jj-2j2g.json?token=AWKWLJJIS737U54M7JSZQ3TCFAU5FAVPNFXHG5DBNRWGC5DJN5XF62LEZYATRJFTWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjIuMCIsCiAgImlkIjogIkdIU0Et\nNjMzZy1mOWpqLTJqMmciLAogICJtb2RpZmllZCI6ICIyMDIyLTAzLTAxVDE3\nOjIzOjA0WiIsCiAgInB1Ymxpc2hlZCI6ICIyMDIyLTAyLTIyVDIyOjIxOjQw\nWiIsCiAgImFsaWFzZXMiOiBbCiAgICAiQ1ZFLTIwMjItMDAwMiIKICBdLAog\nICJzdW1tYXJ5IjogIk1hZ25hbSBxdW8gcG9ycm8gcXVpc3F1YW0gY29uc2Vx\ndWF0dXIgYW5pbWkgb3B0aW8gaWQgYWQgc2FwaWVudGUgb21uaXMgcXVpIHV0\nIGRvbG9yZXMgYW1ldCIsCiAgImRldGFpbHMiOiAiTGFib3J1bSBldmVuaWV0\nIG1vbGVzdGlhZS4gTm9uIHBvcnJvIG1pbmltYS4gRWFydW0gdm9sdXB0YXRl\ncyB[...]
[...]
