---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d3683adc0ecab5211cc4d090d67944191d6c19b08ffc61619c0e127c1b99683e"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeefc88bf9f09429f089d17c4fd5a1f4ee7e","expires_at":"2021-12-09T00:34:19Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 08 Dec 2021 23:34:19 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2021-12-08T23:34:19Z","name":"TODO:
        importing advisory improvement","head_sha":"9c296bff41e44da525f78d2da17742023519f562"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2beafbd26c9121268af61082a00a159f7d8d08f8b4dd1e7dcd08a1dbd4de6c7b"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464315311
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1639008545'
      X-Ratelimit-Used:
      - '19'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":4464315311,"name":"TODO: importing advisory improvement","node_id":"CR_kwDOGd7i3s8AAAABChgLrw","head_sha":"9c296bff41e44da525f78d2da17742023519f562","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464315311","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/4464315311","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2021-12-08T23:34:19Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/4464315311/annotations"},"check_suite":{"id":4598040819},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"katblag-advisory-db-test","node_id":"MDM6QXBwODc2ODc=","owner":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"name":"katblag-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/katblag-advisory-db-test","created_at":"2020-11-06T00:21:12Z","updated_at":"2021-12-02T01:06:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[]}'
  recorded_at: Wed, 08 Dec 2021 23:34:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38d281ce146e358356674b264b7825a72d7db75f1f0c34d65a200b3e1c055fae"
      Last-Modified:
      - Wed, 08 Dec 2021 23:27:22 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1639008545'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"b9fd38554e6e13b571ded361a28e1f5ec4e13d23","filename":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","status":"modified","additions":1,"deletions":40,"changes":41,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/9c296bff41e44da525f78d2da17742023519f562/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/9c296bff41e44da525f78d2da17742023519f562/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=9c296bff41e44da525f78d2da17742023519f562","patch":"@@
        -1,40 +1 @@\n-{\n-  \"ghsa_id\": \"GHSA-qcjw-97hh-g9q8\",\n-  \"description\":
        \"This is a new descriptionLabore quod rerum. Qui occaecati ipsum. Sapiente
        soluta sint.\\n\\nEst ipsum rerum. Sed vero quae. Dolore perspiciatis rem.\\n\\nDolorum
        qui expedita. Voluptatibus ipsa reiciendis. Tempora amet rerum.\\n\\nTotam
        accusantium quis. Animi delectus repudiandae. Perferendis tenetur nostrum.\\n
        \\nMaxime expedita velit. Iure incidunt qui. Reiciendis quisquam est.aasdfsdf\\n\\nReiciendis
        quia incidunt. Fugiat omnis nam. Delectus labore harum.\\n\\nIn pariatur ratione.
        Dolorem hic aut. Sint ipsa quis.\\n\\nDeserunt sit quia. Voluptas molestiae
        et. Sit in perferendis.\\n\\nExercitationem at velit. Maiores eius et. Magni
        inventore aut.\\n\\nQuo qui culpa. Sunt et ipsum. Ut aspernatur doloribus
        pribus.\",\n-  \"sources\": [\n-    \"CVE_LIST\"\n-  ],\n-  \"vulnerabilities\":
        [\n-    {\n-      \"package_ecosystem\": \"RUST\",\n-      \"package_name\":
        \"OrangeChance\",\n-      \"vulnerable_version_range\": \">= 0.2.7, < 0.3.65\",\n-      \"first_patched_version\":
        \"0.3.66\",\n-      \"affected_functions\": [\n-\n-      ]\n-    },\n-    {\n-      \"package_ecosystem\":
        \"RUST\",\n-      \"package_name\": \"YellowChance\",\n-      \"vulnerable_version_range\":
        \">= 0.2.7, < 0.3.65\",\n-      \"first_patched_version\": \"0.3.66\",\n-      \"affected_functions\":
        [\n-\n-      ]\n-    }\n-  ],\n-  \"references\": [\n-    {\n-      \"url\":
        \"https://nvd.nist.gov/vuln/detail/CVE-1234-1234\"\n-    }\n-  ],\n-  \"cwe_ids\":
        [\n-    \"CWE-1004\"\n-  ],\n-  \"cve_id\": \"CVE-2021-1002\",\n-  \"summary\":
        \"Basic in-review Review\",\n-  \"source_code_location\": \"asdfsadf2345345\",\n-  \"severity\":
        \"CRITICAL\",\n-  \"cvss_v3\": \"CVSS:3.1/AV:L/AC:H/PR:H/UI:R/S:U/C:L/I:L/A:L\"\n-}\n\\
        No newline at end of file\n+This is not JSON.\n\\ No newline at end of file"}]'
  recorded_at: Wed, 08 Dec 2021 23:34:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=9c296bff41e44da525f78d2da17742023519f562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9fd38554e6e13b571ded361a28e1f5ec4e13d23"
      Last-Modified:
      - Wed, 08 Dec 2021 23:27:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1639008545'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-qcjw-97hh-g9q8.json","path":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","sha":"b9fd38554e6e13b571ded361a28e1f5ec4e13d23","size":17,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=9c296bff41e44da525f78d2da17742023519f562","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/9c296bff41e44da525f78d2da17742023519f562/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/b9fd38554e6e13b571ded361a28e1f5ec4e13d23","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/9c296bff41e44da525f78d2da17742023519f562/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?token=ARUZLQX4F7QVQR25GACXHGTBWFATRAVPNFXHG5DBNRWGC5DJN5XF62LEZYAMG4WVWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"VGhpcyBpcyBub3QgSlNPTi4=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=9c296bff41e44da525f78d2da17742023519f562","git":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/b9fd38554e6e13b571ded361a28e1f5ec4e13d23","html":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/9c296bff41e44da525f78d2da17742023519f562/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json"}}'
  recorded_at: Wed, 08 Dec 2021 23:34:21 GMT
[...]
