---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"863e74021cb7ea1224e2bab32b6c2dcb4ac9b45456eda1667fc134d6705a7a88"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef330b7c842626dfa032af91e16c98aa58","expires_at":"2022-02-11T01:06:04Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Fri, 11 Feb 2022 00:06:04 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-02-11T00:06:04Z","name":"Processing
        advisory improvement","head_sha":"8050c1cf89208eafcae81f61368b600704f32fd1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1b5ec5f7b3d10a656e701df8191c9b4f128619b1cba99e2972cad790ff8612ea"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149635274
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5149635274,"name":"Processing advisory improvement","node_id":"CR_kwDOGd7i3s8AAAABMvEyyg","head_sha":"8050c1cf89208eafcae81f61368b600704f32fd1","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149635274","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5149635274","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-02-11T00:06:04Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5149635274/annotations"},"check_suite":{"id":5256706554},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"katblag-advisory-db-test","node_id":"MDM6QXBwODc2ODc=","owner":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"name":"katblag-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/katblag-advisory-db-test","created_at":"2020-11-06T00:21:12Z","updated_at":"2021-12-02T01:06:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/10","id":845950526,"number":10,"head":{"ref":"katblag-patch-4","sha":"8050c1cf89208eafcae81f61368b600704f32fd1","repo":{"id":434037470,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"katblag/advisory-improvement-10","sha":"ba9e346bb3ef7c0d57d2451eb1468772e5a203b3","repo":{"id":434037470,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Fri, 11 Feb 2022 00:06:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/10/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4126b29720b704bc47933906afefb454264fad64c2358c30ef307aa304feb731"
      Last-Modified:
      - Thu, 10 Feb 2022 20:18:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"7f811ed378d9a0f2aeebb7c0279acf098064f460","filename":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","status":"modified","additions":2,"deletions":2,"changes":4,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/8050c1cf89208eafcae81f61368b600704f32fd1/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/8050c1cf89208eafcae81f61368b600704f32fd1/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=8050c1cf89208eafcae81f61368b600704f32fd1","patch":"@@
        -16,7 +16,7 @@\n   \"affected\": [\n     {\n       \"package\": {\n-        \"ecosystem\":
        \"crates.io\",\n+        \"ecosystem\": \"garbage\",\n         \"name\": \"OrangeChance\"\n       },\n       \"ranges\":
        [\n@@ -76,4 +76,4 @@\n     \"severity\": \"CRITICAL\",\n     \"github_reviewed\":
        true\n   }\n-}\n\\ No newline at end of file\n+}"}]'
  recorded_at: Fri, 11 Feb 2022 00:06:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=8050c1cf89208eafcae81f61368b600704f32fd1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f811ed378d9a0f2aeebb7c0279acf098064f460"
      Last-Modified:
      - Thu, 10 Feb 2022 20:18:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1644541562'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-qcjw-97hh-g9q8.json","path":"advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","sha":"7f811ed378d9a0f2aeebb7c0279acf098064f460","size":2257,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?ref=8050c1cf89208eafcae81f61368b600704f32fd1","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/8050c1cf89208eafcae81f61368b600704f32fd1/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/7f811ed378d9a0f2aeebb7c0279acf098064f460","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/8050c1cf89208eafcae81f61368b600704f32fd1/advisories/github-reviewed/2021/06/GHSA-qcjw-97hh-g9q8/GHSA-qcjw-97hh-g9q8.json?token=ARUZLQWOFTTBY6JCCE4F3LTCAWUKTAVPNFXHG5DBNRWGC5DJN5XF62LEZYAMG4WVWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjIuMCIsCiAgImlkIjogIkdIU0Et\ncWNqdy05N2hoLWc5cTgiLAogICJtb2RpZmllZCI6ICIyMDIyLTAyLTAyVDAx\nOjQzOjQxWiIsCiAgImFsaWFzZXMiOiBbCiAgICAiQ1ZFLTIwMjEtMTAwMiIK\nICBdLAogICJzdW1tYXJ5IjogIkJhc2ljIGluLXJldmlldyBSZXZpZXciLAog\nICJkZXRhaWxzIjogIlRoaXMgaXMgYSBuZXcgZGVzY3JpcHRpb25MYWJvcmUg\ncXVvZCByZXJ1bS4gUXVpIG9jY2FlY2F0aSBpcHN1bS4gU2FwaWVudGUgc29s\ndXRhIHNpbnQuXG5hc2RmYXNkZmFzZmRhc2RmYXNkZmFzZGZcbkVzdCBpcHN1\nbSByZXJ1bS4gU2VkIHZlcm8gcXVhZS4gRG9sb3JlIHBlcnNwaWNpYXRpcyBy\nZW0[...]
[...]
