---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4f2dfdf0d9c4d860fc45ac4dbb19ef20aa5912e904ce3830f1c74adcb9bce95"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef305b839bbe47076dc48fca536a1c3eea","expires_at":"2022-03-16T21:02:21Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 16 Mar 2022 20:02:21 GMT
- request:
    method: put
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/merge
    body:
      encoding: UTF-8
      string: '{"commit_message":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1aee5fc9f0088e42f83ba7dee3d4bf42e323a7fe37eaf35a94f374d9490f6cf5"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1647462392'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"d7d946dafda0e73976083d68794d7746d6beb334","merged":true,"message":"Pull
        Request successfully merged"}'
  recorded_at: Wed, 16 Mar 2022 20:02:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be43cb70698649baebef71d2196930cf4756db1bc5c9eebc65277bee940b0528"
      Last-Modified:
      - Wed, 16 Mar 2022 20:02:21 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1647462392'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4","id":854756483,"node_id":"PR_kwDOGjA5QM4y8oyD","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4","diff_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4.diff","patch_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4.patch","issue_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/4","number":4,"state":"closed","locked":false,"title":"Update
        GHSA-227w-wv4j-67h4.json","user":{"login":"rthorpeii","id":25067289,"node_id":"MDQ6VXNlcjI1MDY3Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/25067289?v=4","gravatar_id":"","url":"https://api.github.com/users/rthorpeii","html_url":"https://github.com/rthorpeii","followers_url":"https://api.github.com/users/rthorpeii/followers","following_url":"https://api.github.com/users/rthorpeii/following{/other_user}","gists_url":"https://api.github.com/users/rthorpeii/gists{/gist_id}","starred_url":"https://api.github.com/users/rthorpeii/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rthorpeii/subscriptions","organizations_url":"https://api.github.com/users/rthorpeii/orgs","repos_url":"https://api.github.com/users/rthorpeii/repos","events_url":"https://api.github.com/users/rthorpeii/events{/privacy}","received_events_url":"https://api.github.com/users/rthorpeii/received_events","type":"User","site_admin":true},"body":null,"created_at":"2022-02-16T19:31:15Z","updated_at":"2022-03-16T20:02:21Z","closed_at":"2022-03-16T20:02:21Z","merged_at":"2022-03-16T20:02:21Z","merge_commit_sha":"d7d946dafda0e73976083d68794d7746d6beb334","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/commits","review_comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/comments","review_comment_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/comments{/number}","comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/4/comments","statuses_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/statuses/f1145b2cb4306a1448f40c04f44bfd5b2e4500f6","head":{"label":"rthorpeii:rthorpeii-patch-4","ref":"rthorpeii-patch-4","sha":"f1145b2cb4306a1448f40c04f44bfd5b2e4500f6","user":{"login":"rthorpeii","id":25067289,"node_id":"MDQ6VXNlcjI1MDY3Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/25067289?v=4","gravatar_id":"","url":"https://api.github.com/users/rthorpeii","html_url":"https://github.com/rthorpeii","followers_url":"https://api.github.com/users/rthorpeii/followers","following_url":"https://api.github.com/users/rthorpeii/following{/other_user}","gists_url":"https://api.github.com/users/rthorpeii/gists{/gist_id}","starred_url":"https://api.github.com/users/rthorpeii/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rthorpeii/subscriptions","organizations_url":"https://api.github.com/users/rthorpeii/orgs","repos_url":"https://api.github.com/users/rthorpeii/repos","events_url":"https://api.github.com/users/rthorpeii/events{/privacy}","received_events_url":"https://api.github.com/users/rthorpeii/received_events","type":"User","site_admin":true},"repo":{"id":439368000,"node_id":"R_kgDOGjA5QA","name":"advisories-test","full_name":"<%=ENV["GITHUB_ADVISORIES_REPO"]%>","private":true,"owner":{"login":"rthorpeii","id":25067289,"node_id":"MDQ6VXNlcjI1MDY3Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/25067289?v=4","gravatar_id":"","url":"https://api.github.com/users/rthorpeii","html_url":"https://github.com/rthorpeii","followers_url":"https://api.github.com/users/rthorpeii/followers","following_url":"https://api.github.com/users/rthorpeii/following{/other_user}","gists_url":"https://api.github.com/users/rthorpeii/gists{/gist_id}","starred_url":"https://api.github.com/users/rthorpeii/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rthorpeii/subscriptions","organizations_url":"https://api.github.com/users/rthorpeii/orgs","repos_url":"https://api.github.com/users/rthorpeii/repos","events_url":"https://api.github.com/users/rthorpeii/events{/privacy}","received_events_url":"https://api.github.com/users/rthorpeii/received_events","type":"User","site_admin":true},"html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","description":null,"fork":false,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","forks_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/forks","keys_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/teams","hooks_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/hooks","issue_events_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/events{/number}","events_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/events","assignees_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/assignees{/user}","branches_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/branches{/branch}","tags_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/tags","blobs_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/statuses/{sha}","languages_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/languages","stargazers_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/stargazers","contributors_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contributors","subscribers_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/subscribers","subscription_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/subscription","commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/comments{/number}","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/{+path}","compare_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/merges","archive_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/downloads","issues_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues{/number}","pulls_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls{/number}","milestones_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/milestones{/number}","notifications_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/labels{/name}","releases_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/releases{/id}","deployments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/deployments","created_at":"2021-12-17T14:56:15Z","updated_at":"2022-02-08T15:53:14Z","pushed_at":"2022-03-16T20:02:21Z","git_url":"git://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","ssh_url":"git@github.com:<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","clone_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","svn_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","homepage":null,"size":26,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":1,"default_branch":"main"}},"base":{"label":"rthorpeii:rthorpeii/advisory-improvement-4","ref":"rthorpeii/advisory-improvement-4","sha":"99ac3ea4fa840770bb7b0280ab90c3f9462efc98","user":{"login":"rthorpeii","id":25067289,"node_id":"MDQ6VXNlcjI1MDY3Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/25067289?v=4","gravatar_id":"","url":"https://api.github.com/users/rthorpeii","html_url":"https://github.com/rthorpeii","followers_url":"https://api.github.com/users/rthorpeii/followers","following_url":"https://api.github.com/[...]
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/4/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi @rthorpeii! Thank you so much for contributing to the GitHub
        Advisory Database. This database is free, open, and accessible to all, and
        it''s people like you who make it great. Thanks for choosing to help others.
        We hope you send in more contributions in the future!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9c0dc005222a0260e688a2b9f3c20da4172d6330dbaa356fc9d8f5b50590a436"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/comments/1069563166
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1647462392'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/comments/1069563166","ht[...]
