.container {
  position: absolute;
  width: 100%;
  height: 100%;
  contain: strict;
  overflow: hidden;
}

.container::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bgColor-default), var(--bgColor-default) 15%, transparent, 100%, transparent);
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
