.container {
  padding: var(--base-size-16);
  border-radius: var(--borderRadius-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  box-shadow: var(--shadow-resting-small);
}

.title {
  font-weight: var(--base-text-weight-light);
  margin-bottom: var(--base-size-12);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.sectionTitle {
  font-weight: var(--base-text-weight-light);
  margin-bottom: var(--base-size-6);
}

.link:hover {
  text-decoration: underline;
}

.instructions {
  margin: var(--base-size-8) 0;
}

.orderedList {
  list-style-type: decimal;
  margin-left: var(--base-size-20);
}

.unorderedList {
  list-style-type: disc;
  margin-left: var(--base-size-20);
  margin-top: var(--base-size-4);
}

.checkboxWrapper {
  margin-top: var(--base-size-4);
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
}

.checkbox {
  border-radius: var(--borderRadius-small);
  border-color: var(--borderColor-default);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
}
