.label {
  white-space: nowrap;
}

.errorTrace {
  display: block;
  text-align: start;
  white-space: pre-wrap;
  font: var(--text-codeBlock-shorthand);
}

.motion {
  background: var(--bgColor-default);
  position: absolute;
  inset: 0;
  contain: strict;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 150ms ease-in,
    visibility 0ms ease-in 150ms;
}

.motion.motionVisible {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 150ms ease-in,
    visibility 0ms ease-in 0ms;
}

.errorContent {
  height: 100%;
  bottom: 0;
  gap: var(--base-size-8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
