.motion {
  background: var(--bgColor-default);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  contain: strict;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in,
    visibility 0ms ease-in 0.2s;
}

.motion.motionVisible {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.2s ease-in,
    visibility 0ms ease-in 0.2s;
}

.loadingDots {
  color: var(--fgColor-muted);
}

.sparkleSpinnerContainer {
  bottom: 0;
  gap: var(--base-size-8);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
/* need to position contents above the ::before background */
.sparkleSpinnerContainer > * {
  z-index: 1;
}
/* Using ::before to allow for setting opacity on the background */
.sparkleSpinnerContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgColor-default);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 20px 25px var(--bgColor-default);
  opacity: 0.8;
  z-index: 0;
}

.assistantUpdate {
  display: block;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  margin: var(--base-size-8);
  max-width: 600px;
  font: var(--text-body-shorthand-large);
  color: var(--fgColor-muted);
  text-align: center;
}

.assistantUpdateFading {
  opacity: 0;
}
