.previewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
  min-width: 240px !important; /* Reasonable minimum for readability */

  /* iframe captures mouse events, so we need to disable pointer events when a user is resizing the panes */
  /* Primer layout components set this attribute on the body element when dragging is in progress. */
  [data-page-layout-dragging='true'] & {
    pointer-events: none;
  }
}

.previewContainerMobileBackground {
  background: radial-gradient(var(--bgColor-neutral-muted) 10%, transparent 11%) 0 100% / 20px 20px repeat, var(--bgColor-disabled);
}

.iframeWrapper {
  display: grid;
  grid-template-rows: 1fr;
  block-size: 100%;
}

.mobileView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-canvas-subtle);
}

.mobileFrame {
  /* This isn't a problem since users can't preview a mobile view on a mobile sized device  */
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 375px; /* iPhone standard width */
  height: 667px; /* iPhone 8 height - common mobile size */
  max-height: 100%;
  border: var(--borderWidth-default) solid var(--color-border-default);
  border-radius: var(--borderRadius-large); /* Rounded corners like a mobile device */
  box-shadow: var(--shadow-floating-small, var(--color-shadow-medium));
  transition: width 0.3s ease, height 0.3s ease;
  overflow: hidden;
}

@media (max-height: 700px) {
  .mobileFrame {
    height: 90%; /* Adjust height for smaller screens */
  }
}
