.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-24);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  background-color: var(--bgColor-inset);
  border-radius: var(--borderRadius-medium);
}
