.searchWrapper {
  display: flex;
  padding-bottom: var(--base-size-16);
}

.searchInput {
  width: 100%;
  background-color: var(--color-canvas-subtle);
  padding-left: var(--base-size-8);
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchBtn {
  /* To match the search input's height */
  height: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.searchInputWrapper {
  flex-grow: 1;
}
