.listItem {
  column-gap: 0;
  padding-left: var(--base-size-8);
  /*
   * Override the default for 2 things:
   * 1. Place metadata below main-content in narrow view
   * 2. Show narrow view earlier, at 1012px
   */
  grid-template-areas:
    'selection status primary actions'
    'selection status main-content actions'
    'selection status metadata actions';

  @media screen and (min-width: 1012px) {
    grid-template-areas:
      'selection status primary metadata actions'
      'selection status main-content metadata actions';
  }
}

.ListItemDescriptionItem {
  display: block;
  margin-left: var(--base-size-8);
}

.ListItemTitle {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
}

.metadataContainer {
  display: flex;
  column-gap: 0;
  row-gap: var(--base-size-4);
  flex-wrap: wrap;
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
  padding-bottom: var(--base-size-8);

  @media screen and (min-width: 1012px) {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
}

.listItemMetadata {
  column-gap: 0;
}

.ListItemDescription {
  min-width: 0;
  max-width: 100%;
  display: flex;
}

.definitionsListContainer {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.propertiesCountText {
  font-weight: var(--base-text-weight-semibold);
}

.managedByLabelContainer {
  display: inline;
}
