.errorBannerContainer {
  margin-left: var(--base-size-16);
  margin-right: var(--base-size-16);
  margin-top: var(--base-size-8);
}

.usageCheckContainer {
  padding: var(--base-size-16);
}

.deletionWarningContainer {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}
