.EmptyStateContainer {
  display: flex;
  justify-content: center;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-32);
  padding-bottom: var(--base-size-32);
  border: solid var(--borderWidth-thin) var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);
}
