.PageHeader_TitleArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--stack-gap-condensed);
}

.actionsContainer {
  display: flex;
  gap: var(--base-size-4);
}

.subtitleText {
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-16);
  margin-top: var(--base-size-12);
  padding-top: var(--base-size-16);
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
}
