.errorMessageContainer {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-8);
}

.promotionExplanationContainer {
  padding: var(--base-size-16);
}
