.propertySettingsContainer {
  margin-bottom: var(--base-size-24);
}

.propertyFormControl {
  margin-bottom: var(--base-size-16);
  max-width: 480px;
}

.typeDropdownContainer {
  display: flex;
}

.typeFormControl {
  max-width: 285px;
}

.optionsContainer {
  border: solid var(--borderWidth-thin) var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);
}

.optionsFormControl {
  padding: var(--base-size-16);
}

.optionsInputGroup {
  display: flex;
  gap: var(--stack-gap-condensed);
  width: 100%;
}

.emptyOptionsMessage {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  color: var(--fgColor-muted);
  text-align: center;
  border-top: solid var(--borderWidth-thin) var(--borderColor-default, var(--color-border-default));
}

.additionalSettingsSection {
  padding-top: var(--base-size-16);
  margin-top: var(--base-size-16);
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);

  > * {
    border-bottom: var(--borderWidth-thin) solid;
    border-color: var(--borderColor-muted);
    padding-bottom: var(--base-size-16);
  }
}

.regexInputContainer {
  margin-top: var(--base-size-16);
  max-width: 180px;
}

.testRegexButton {
  margin-top: var(--base-size-16);
}

.defaultValueFormControl {
  padding-top: var(--base-size-8);
  padding-left: var(--base-size-24);
  max-width: 480px;
}

.selectPanelContainer {
  width: 220px;
}

.validationFeedback {
  margin-top: var(--base-size-4);
}

.formActionsContainer {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.allowedValueItem {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  display: flex;
  justify-content: space-between;
  gap: var(--stack-gap-condensed);
  word-break: break-all;
  align-items: center;
}

.allowedValueContent {
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
}
