.dataRow {
  display: flex;
  flex-direction: column;
  row-gap: var(--base-size-6);
  column-gap: var(--base-size-16);

  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  }
}

.dataRowValue {
  flex: 1;
}

/* --breakpoint-medium */
@media (min-width: 48rem) {
  .dataRow {
    flex-direction: row;
  }

  .dataRowTitle {
    width: 300px;
  }
}
