.ListItemMetadata_0 {
  padding-left: var(--base-size-8);
  padding-right: 0;
}

.ListItemMetadata_1 {
  padding: 0;
}

.ListItem_0 {
  padding-right: var(--base-size-16);
}

.ListItemDescription_0 {
  max-width: 100%;
  display: flex;
}
