.propertiesCountMetadata {
  padding-left: var(--base-size-8);
  padding-right: 0;
}

.editButtonMetadata {
  padding: 0;
}

.listItemWithRightPadding {
  padding-right: var(--base-size-16);
}

.repositoryDescription {
  max-width: 100%;
  display: flex;
}

.repositoriesCountText {
  font-weight: var(--base-text-weight-semibold);
}

.loadingSpinner {
  margin-right: var(--base-size-8);
}

.repositoriesListContainer {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.descriptionTruncate {
  max-width: 100%;
}
