/* stylelint-disable primer/borders */
/* stylelint-disable selector-max-type */

.withImage {
  /* Adjusting the border color of the secondary button to enhance contrast for improved accessibility */
  --brand-button-secondary-borderColor-rest: var(--brand-color-text-default);

  /* Updating the description text color to a higher contrast color for improved accessibility */
  --brand-color-text-muted: var(--brand-color-text-default);

  /* Ensures that the color mode of the CTA banner does not bleed into the page */
  border-radius: var(--brand-borderRadius-xlarge);

  > div {
    background: var(--bg-image-url) no-repeat;
    background-size: cover;
    background-position: var(--focus-position, 'center');
  }
}

