.dangerZoneBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: var(--base-size-12);
  border-color: var(--borderColor-muted);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-default);
}

.dangerZoneDescription {
  flex-direction: column;
}

.dangerZoneButton {
  align-items: center;
  display: flex;
}

.dangerZoneHeading {
  margin-bottom: var(--base-size-12);
}

.dangerZoneInnerHeading {
  font-weight: var(--base-text-weight-semibold);
  padding-bottom: var(--base-size-2);
}

.dangerZoneDialog {
  width: 35%;
  max-height: clamp(256px, 80vh, 100vh);
}

.dangerZoneText {
  font-size: var(--text-body-size-small, 12px);
  color: var(--fgColor-muted);
  margin-bottom: 0;
}
