.ListItem_0 {
  display: block;
  gap: var(--stack-gap-condensed);

  >* {
    padding-right: 0;
  }
}

.ListItem_1 {
  display: none;
  padding-right: 0;
  flex-wrap: nowrap;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}

.ListItemLeadingContent_0 {
  padding-left: var(--base-size-8);
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}

.CompactWideItemContent_0 {
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}

.CompactNarrowItemContent_0 {
  display: flex;

  @media screen and (min-width: 544px) {
    display: none;
  }
}

.FormattedDescription_0 {
  font-size: var(--text-body-size-medium);
}

.Box_0 {
  display: flex;
  gap: var(--stack-gap-condensed);
  flex-wrap: wrap;
  font-size: var(--text-body-size-small);
}

.Text_0 {
  overflow: hidden;
  white-space: nowrap;
}

.Box_1 {
  display: flex;
  flex-direction: column;
  color: var(--fgColor-muted);
  gap: var(--stack-gap-condensed);
  width: 100%;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-8);
}

.ListItemDescription_0 {
  min-width: 0;
  font-size: var(--text-body-size-medium);
}

.Truncate_0 {
  max-width: 100%;
}

.ListItemTitle_0 {
  padding-left: var(--base-size-8);
}

.ListItemTitle_1 {
  gap: var(--base-size-4);
}

.ListItemTitle_2 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ListItemTitle_3 {
  gap: var(--base-size-4);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);

  @media screen and (min-width: 544px) {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.ListItemMetadata_0 {
  width: 90px;
}

.ListItemMetadata_1 {
  align-self: center;
  width: 52px;
}

.Label_0 {
  border: 0;
  color: var(--fgColor-accent);
  background-color: var(--bgColor-accent-muted);
  font-weight: var(--base-text-weight-medium);

  &:hover {
    color: var(--fgColor-onEmphasis);
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--fgColor-accent);
  }
}

.Label_1 {
  font-weight: var(--base-text-weight-medium);
}

.Box_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--stack-gap-condensed);
}

.MoreTopicsButton_0 {
  display: block;

  @media screen and (min-width: 544px) {
    display: none;
  }
}

.TopicLabel_0 {
  display: none;

  @media screen and (min-width: 544px) {
    display: block;
  }
}

.Box_3 {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
}

.Truncate_1 {
  max-width: 70px;
}

.Text_1 {
  white-space: nowrap;
}

.Box_5 {
  margin-left: auto;
  padding-right: var(--base-size-8);
}

.Box_4 {
  display: flex;
  flex-direction: column;
  color: var(--fgColor-muted);
  gap: var(--stack-gap-condensed);
  width: 100%;
  padding-left: var(--base-size-8);

  --sparkline-width: 120px;

  @media screen and (min-width: 768px) {
    width: calc(100% - var(--sparkline-width));
  }
}

.Text_2 {
  display: none;

  @media screen and (min-width: 544px) {
    display: block;
  }
}

.RelativeTime_0 {
  display: block;

  @media screen and (min-width: 544px) {
    display: none;
  }
}

.ListItemTitle_4 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ListItemTitle_5 {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.ListItemMetadata_2 {
  font-size: var(--text-body-size-medium);
}

.Link_0 {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
  white-space: nowrap;
}

.ListItemTitle_6 {
  padding-left: var(--base-size-8);
}

.ListItemTitle_7 {
  gap: var(--base-size-4);
}

.ListItemTitle_8 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ListItemTitle_9 {
  gap: var(--base-size-4);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);

  @media screen and (min-width: 544px) {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.ListItemLeadingContent_1 {
  padding-left: var(--base-size-8);
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}

.ListItemDescription_1 {
  min-width: 0;
  font-size: var(--text-body-size-medium);
}

.ListItem_2 {
  display: block;
  gap: var(--stack-gap-condensed);

  @media screen and (min-width: 544px) {
    display: grid;
  }

  >* {
    padding-right: 0;
  }
}

.ListItem_3 {
  display: none;
  padding-right: 0;
  flex-wrap: nowrap;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}

.ListItemTitle_10 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ListItemTitle_11 {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.ListItemMetadata_3 {
  width: 90px;
}

.ListItemMetadata_4 {
  align-self: center;
  width: 52px;
}

.ListItemMetadata_5 {
  font-size: var(--text-body-size-medium);
}

.ListItemDescription_2 {
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}
