.Box {
  flex-shrink: 0;
  margin-right: var(--base-size-8);
  display: flex;
}

.Box_1 {
  flex-shrink: 0;
  margin-left: var(--base-size-8);
  display: flex;
}

.Text {
  color: var(--fgColor-muted);
}
