.tabContainer {
  position: relative;
  display: flex;
  min-width: 120px;
  max-width: 240px;
  flex-shrink: 0;
}

.tabContent {
  position: relative;
  display: flex;
  width: 100%;
  height: var(--base-size-32);
  border-radius: var(--borderRadius-default);
  align-items: center;

  &:hover {
    color: var(--fgColor-default);
    background-color: var(--bgColor-muted);
  }

  &.isActive {
    &::after {
      position: absolute;
      /* stylelint-disable-next-line primer/spacing */
      bottom: calc(-1 * var(--contentPreviewToolbar_blockPadding));
      left: 0;
      width: 100%;
      height: var(--borderWidth-thick);
      pointer-events: none;
      content: '';
      /* stylelint-disable-next-line primer/colors */
      background-color: var(--underlineNav-borderColor-active);
    }

    .mainButton {
      color: var(--fgColor-default);
      font-weight: var(--base-text-weight-semibold);
    }
  }

  .mainButton {
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100%;
    color: var(--fgColor-muted);
    background: transparent;
    border: transparent;
    padding: 0 var(--base-size-4) 0 var(--base-size-8);
    border-radius: var(--borderRadius-default);
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: var(--base-size-8);
      color: var(--fgColor-muted);
    }

    .title {
      display: block;
      width: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::after {
        display: block;
        content: attr(data-title);
        font-weight: var(--base-text-weight-semibold);
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
    }

    &:hover {
      background: transparent;
      border: transparent;
    }

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: -2px;
    }
  }

  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-right: var(--base-size-2);
  }

  &.isActive,
  &:hover,
  &:focus-within {
    .closeButton {
      opacity: 1;
    }
  }
}
