/* stylelint-disable primer/spacing */

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.toolbar {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  padding: 0 var(--base-size-12);
  position: relative;

  --contentPreviewToolbar_gap: var(--base-size-12);

  gap: var(--contentPreviewToolbar_gap);

  /* The toolbar must be *exactly* 50 pixels tall. If it changes you'll suffer @dipree's wrath. */
  --contentPreviewToolbar_blockPadding: 9px;

  min-height: var(--base-size-50);

  /* Border is in a pseudo element so that the selected tab underline can appear on top of it (otherwise it would be clipped by hidden overflows) */
  &::before {
    content: '';
    /* stylelint-disable-next-line primer/borders */
    border-bottom: var(--border-default);
    pointer-events: none;
    position: absolute;
    inset: 0;
  }
}

.actions {
  display: flex;
  gap: var(--stack-gap-condensed);
  padding: var(--contentPreviewToolbar_blockPadding) 0;
}

.tabsContainer {
  position: relative;
  flex: 1;
  overflow: hidden;

  /* Fade out at ends */
  &::after {
    content: '';
    position: absolute;
    /* Avoid covering the fake border at the bottom */
    inset: 0 0 var(--borderWidth-default) 0;
    /* mask-image would be a lot simpler but is broken in Chrome (https://issues.chromium.org/issues/368562242) */
    background: linear-gradient(to right, var(--bgColor-default), transparent var(--base-size-8)),
      linear-gradient(to left, var(--bgColor-default), transparent var(--base-size-8));
    pointer-events: none;
  }
}

.tabs {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  padding: var(--contentPreviewToolbar_blockPadding) calc(var(--contentPreviewToolbar_gap) - var(--base-size-4));

  --contentPreviewTabs_gap: var(--base-size-16);

  gap: var(--contentPreviewTabs_gap);
}

.rightDivider,
.leftDivider {
  position: relative;
}

/* Dividing lines */
.rightDivider::after,
.leftDivider::before,
.tabs > *::after {
  position: absolute;
  top: 50%;
  width: var(--borderWidth-thin);
  height: var(--base-size-20);
  content: '';
  border-right: solid var(--borderWidth-thin) var(--borderColor-default);
  transform: translateY(-50%);
}

.rightDivider::after {
  right: calc(-1 * var(--contentPreviewToolbar_gap));
}

.leftDivider::before {
  left: calc(-1 * var(--contentPreviewToolbar_gap));
}

.tabs > *::after {
  right: calc(-0.5 * (var(--contentPreviewTabs_gap) + var(--borderWidth-thin)));
}

.content {
  overflow: auto;
  flex: 1 1 0;
  display: flex;
}

.footer {
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
  background: var(--bgColor-muted);
}
