.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.tabContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--base-size-8);
}

.icon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.closeButton {
  margin: 0 var(--base-size-8);
}
