.container {
  display: flex;
  width: 100%;
  height: calc(100% - var(--base-size-64)); /* compensate for the height of the header */
  text-align: center;
  flex-direction: column;
  padding: 0 var(--base-size-16);
  gap: var(--base-size-8);
  align-items: center;
  justify-content: center;

  .icon {
    color: var(--fgColor-muted);
    margin-bottom: var(--base-size-8);
  }

  .heading {
    font-size: var(--text-body-size-large);
  }

  .subtitle {
    color: var(--fgColor-muted);
  }
}
