.container {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.tabContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--base-size-8);
}

.toolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: var(--base-size-48);
  padding: 0 var(--base-size-8) 0 var(--base-size-16);
  background-color: var(--bgColor-muted);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.toolBarLoC {
  margin: 0;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-codeBlock-size);
  line-height: var(--text-codeBlock-lineHeight);
  color: var(--fgColor-muted);
}

.closeButton {
  margin: 0 var(--base-size-8);
}
