.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingHead {
  transform: scale(2, 2);
}

.loadingText {
  margin-top: var(--base-size-16);
  color: var(--fgColor-muted);
}
