.markdownPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--base-size-32);
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  flex-grow: 1;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--base-size-6);
  flex-grow: 1;

  .errorIcon {
    color: var(--fgColor-danger);
    margin-bottom: var(--base-size-2);
  }

  .errorHeader {
    font-size: var(--text-body-size-medium);
  }

  .errorDetails {
    color: var(--fgColor-muted);
  }
}

