.date {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-18);
  margin-block-end: var(--base-size-36);
}

[data-color-mode='dark'] .date {
  /* stylelint-disable-next-line primer/colors */
  color: var(--brand-color-text-muted);
}
