.BranchInfoBarContainer {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-8);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-16);
  min-height: 50px;
}

.Box {
  display: flex;
  gap: var(--stack-gap-condensed);
  background: var(--bgColor-muted);
  font-size: var(--text-body-size-medium);
}
