.Box {
  padding: var(--base-size-8);
  height: 40px;
  display: flex;
  align-items: center;
}

.Heading {
  font-size: var(--text-body-size-medium);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

.LoadingBox {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}
