.container {
  height: 40px;
  background: none;
  border-bottom: 0;
}

.stickyHeader {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  position: sticky;
  background-color: var(--bgColor-default);
  z-index: 1;
  /* stylelint-disable-next-line primer/spacing */
  top: 56px;
}

.observableBox {
  /* stylelint-disable-next-line primer/spacing */
  top: -57px; /* This "sensor" needs to be offset by the issue header */
  height: 1px;
  position: relative;
  visibility: hidden;
}
