.metadataContainer {
  flex-wrap: unset;

  @media (--viewportRange-narrow) {
    flex-wrap: wrap;
  }
}

.itemMetadataContainer {
  padding-right: 0;
}

.NestedListItemMetadata_0 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Box_0 {
  width: 36px;
  display: flex;
  align-items: center;
  gap: var(--base-size-4);

  &:empty {
    display: none;
  }
}

.Box_1 {
  width: 40px;
  display: flex;
  justify-content: right;
}

.Box_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 100px;
  position: relative;
  /* stylelint-disable-next-line primer/spacing */
  margin-right: -2px;
}

.Octicon_0 {
  position: absolute;
  /* stylelint-disable-next-line primer/colors */
  color: var(--borderColor-muted);
}

.Octicon_1 {
  /* stylelint-disable-next-line primer/colors */
  color: var(--borderColor-muted);
}

.Link_0 {
  border-radius: 100%;
}
