.container {
  height: 40px;
  background: none;
  border-bottom: 0;
}

.stickyHeader {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  position: sticky;
  background-color: var(--bgColor-default);
  /**
  * z-index set to 11 to be 1 higher than primer's AvatarStack
  * see: https://github.com/primer/react/blob/dc2f083eb3c07a4bcb9adcf9d2e8395d4daef1a9/packages/react/src/AvatarStack/AvatarStack.tsx#L63
  */
  z-index: 11;
  /* stylelint-disable-next-line primer/spacing */
  top: 56px;
}

.observableBox {
  /* stylelint-disable-next-line primer/spacing */
  top: -57px; /* This "sensor" needs to be offset by the issue header */
  height: 1px;
  position: relative;
  visibility: hidden;
}
