.Box {
  /* stylelint-disable-next-line primer/borders */
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  gap: var(--stack-gap-spacious);
}

.ButtonGroup {
  padding: var(--base-size-8);
}
