---
http_interactions:
- request:
    method: get
    uri: https://pub.dev.api/packages?sort=popularity&page=1
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "next_url": "https://pub.dartlang.org/api/packages?page=2",
          "packages": [
            {
              "name": "state_extended",
              "latest": {
                "version": "1.1.0",
                "pubspec": {
                  "name": "state_extended",
                  "description": "The State Class is extended with State object controllers and lifecycle events.",
                  "version": "1.1.0",
                  "homepage": "https://www.andrioussolutions.com",
                  "repository": "https://github.com/AndriousSolutions/state_extended",
                  "environment": {
                    "sdk": ">=2.17.1 <3.0.0",
                    "flutter": ">=1.17.0"
                  },
                  "dependencies": {
                    "flutter": {
                      "sdk": "flutter"
                    },
                    "flutter_test": {
                      "sdk": "flutter"
                    },
                    "universal_platform": "^1.0.0"
                  },
                  "dev_dependencies": {
                    "integration_test": {
                      "sdk": "flutter"
                    },
                    "example": {
                      "path": "example"
                    }
                  },
                  "flutter": {
                    "uses-material-design": true
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/state_extended/versions/1.1.0.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/state_extended",
                "url": "https://pub.dartlang.org/api/packages/state_extended/versions/1.1.0"
              }
            },
            {
              "name": "calendar_day_view",
              "latest": {
                "version": "1.0.0",
                "pubspec": {
                  "name": "calendar_day_view",
                  "description": "This package is dedicated to calendar day view. While there are many calendar package out there. It seems that not many of them support Day view well. This library clearly is not a replace calendar but rather to be used with calendar in the app that need better day views",
                  "version": "1.0.0",
                  "homepage": "https://github.com/samderlust/calendar_day_view",
                  "environment": {
                    "sdk": ">=2.18.1 <3.0.0",
                    "flutter": ">=1.17.0"
                  },
                  "dependencies": {
                    "flutter": {
                      "sdk": "flutter"
                    }
                  },
                  "dev_dependencies": {
                    "flutter_lints": "^2.0.0",
                    "flutter_test": {
                      "sdk": "flutter"
                    }
                  },
                  "flutter": null
                },
                "archive_url": "https://pub.dartlang.org/packages/calendar_day_view/versions/1.0.0.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/calendar_day_view",
                "url": "https://pub.dartlang.org/api/packages/calendar_day_view/versions/1.0.0"
              }
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:30:31 GMT

- request:
    method: get
    uri: https://pub.dev.api/packages/state_extended
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "state_extended",
          "latest": {
            "version": "1.1.0",
            "pubspec": {
         [...]
- request:
    method: get
    uri: https://pub.dev.api/packages/calendar_day_view
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "calendar_day_view",
          "latest": {
            "version": "1.0.1",
            "pubspec": {
              "name": "calendar_day_view",
              "description": "This package is dedicated to calendar day view. This library is to be used with calendar in the app that need better day views",
              "version": "1.0.1",
              "homepage": "https://github.com/samderlust/calendar_day_view",
              "environment": {
                "sdk": ">=2.12.1 <3.0.0",
                "flutter": ">=1.17.0"
              },
              "dependencies": {
                "flutter": {
                  "sdk": "flutter"
                }
              },
              "dev_dependencies": {
                "flutter_lints": "^2.0.0",
                "flutter_test": {
                  "sdk": "flutter"
                }
              },
              "flutter": null
            },
            "archive_url": "https://pub.dartlang.org/packages/calendar_day_view/versions/1.0.1.tar.gz",
            "archive_sha256": "6c8cc3e225c9ed1a4e1d30b8a3c3593ccf14abcfded0e52b932f09378f3ec3ac",
            "published": "2022-09-16T18:19:40.724629Z"
          },
          "versions": [
            {
              "version": "1.0.0",
              "pubspec": {
                "name": "calendar_day_view",
                "description": "This package is dedicated to calendar day view. While there are many calendar package out there. It seems that not many of them support Day view well. This library clearly is not a replace calendar but rather to be used with calendar in the app that need better day views",
                "version": "1.0.0",
                "homepage": "https:[...]
- request:
    method: get
    uri: https://pub.dev.api/packages?sort=popularity&page=2
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "next_url": "https://pub.dartlang.org/api/packages?page=3",
          "packages": [
            {
              "name": "app_version_update",
              "latest": {
                "version": "0.3.2",
                "pubspec": {
                  "name": "app_version_update",
                  "description": "An easy and quick way to check if the local app is updated with the same version in their respective stores (Play Store / Apple Store ).",
                  "version": "0.3.2",
                  "homepage": "https://github.com/kauemurakami/app_version_update",
                  "environment": {
                    "sdk": ">=2.17.6 <3.0.0",
                    "flutter": ">=1.17.0"
                  },
                  "dependencies": {
                    "flutter": {
                      "sdk": "flutter"
                    },
                    "http": null,
                    "package_info_plus": null,
                    "url_launcher": null
                  },
                  "dev_dependencies": {
                    "flutter_test": {
                      "sdk": "flutter"
                    },
                    "flutter_lints": "^2.0.0"
                  },
                  "flutter": null
                },
                "archive_url": "https://pub.dartlang.org/packages/app_version_update/versions/0.3.2.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/app_version_update",
                "url": "https://pub.dartlang.org/api/packages/app_version_update/versions/0.3.2"
              }
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:31:34 GMT

- request:
    method: get
    uri: https://pub.dev.api/packages/app_version_update
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "app_version_update",
          "latest": {
            "version": "0.3.3",
            "pubspec": {
 [...]
