---
http_interactions:
- request:
    method: get
    uri: https://pub.dev.api/packages?sort=popularity&page=2
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "next_url": "https://pub.dartlang.org/api/packages?page=3",
          "packages": [
            {
              "name": "app_version_update",
              "latest": {
                "version": "0.3.2",
                "pubspec": {
                  "name": "app_version_update",
                  "description": "An easy and quick way to check if the local app is updated with the same version in their respective stores (Play Store / Apple Store ).",
                  "version": "0.3.2",
                  "homepage": "https://github.com/kauemurakami/app_version_update",
                  "environment": {
                    "sdk": ">=2.17.6 <3.0.0",
                    "flutter": ">=1.17.0"
                  },
                  "dependencies": {
                    "flutter": {
                      "sdk": "flutter"
                    },
                    "http": null,
                    "package_info_plus": null,
                    "url_launcher": null
                  },
                  "dev_dependencies": {
                    "flutter_test": {
                      "sdk": "flutter"
                    },
                    "flutter_lints": "^2.0.0"
                  },
                  "flutter": null
                },
                "archive_url": "https://pub.dartlang.org/packages/app_version_update/versions/0.3.2.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/app_version_update",
                "url": "https://pub.dartlang.org/api/packages/app_version_update/versions/0.3.2"
              }
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:31:34 GMT

- request:
    method: get
    uri: https://pub.dev.api/packages/app_version_update
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "app_version_update",
          "latest": {
            "version": "0.3.3",
            "pubspec": {
 [...]
