.ColorContainer {
  display: flex;
  flex-direction: column;
  margin: 0 var(--base-size-8)
}

.ColorBox {
  width: 50px;
  height: 50px;
}

.ColorList {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  padding: var(--base-size-12);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.ColorName {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-medium);
}

