.Heading {
  background: var(--bgColor-muted);
  border-bottom: solid var(--borderWidth-default) var(--borderColor-default);
  padding: var(--base-size-8) var(--base-size-16);
  border-top-right-radius: var(--borderRadius-medium);
  border-top-left-radius: var(--borderRadius-medium);
}

.List {
  padding: var(--base-size-8);
  margin: 0;
  list-style: none;
}

.ListFull {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ListItem {
  position: relative;
  display: grid;
  width: 100%;
  color: var(--fgColor-default);
  /* stylelint-disable-next-line primer/spacing */
  padding-block: var(--control-medium-paddingBlock);
  /* stylelint-disable-next-line primer/spacing */
  padding-inline: var(--control-medium-paddingInline-condensed);
  grid-template-rows: min-content;
  grid-template-columns: minmax(0, auto) max-content;
  gap: var(--base-size-8);
  align-items: start;
  border-radius: var(--borderRadius-medium);

  &:not(:first-of-type)::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    /* stylelint-disable-next-line primer/colors */
    background: var(--borderColor-muted);
    top: 0;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:has(a):hover {
    background: var(--control-transparent-bgColor-hover);

    /* stylelint-disable-next-line selector-max-type */
    &::before,
    /* stylelint-disable-next-line selector-max-type */
    & + *::before {
      visibility: hidden;
    }
  }

  /* stylelint-disable-next-line selector-max-type */
  & p {
    margin-bottom: 0;
  }
}

.Description {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  line-height: var(--text-caption-lineHeight);
  color: var(--fgColor-muted);
}

.DataCard {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  min-height: 216px;
}

.Text {
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
}

.Box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Box_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Text_1 {
  /* stylelint-disable-next-line primer/typography */
  font-size: 24px;
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}
