---
http_interactions:
- request:
    method: get
    uri: https://pub.dev.api/packages?page=1&sort=updated
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "next_url": "https://pub.dartlang.org/api/packages?page=2",
          "packages": [
            {
              "name": "go_router_builder",
              "latest": {
                "version": "1.0.12",
                "pubspec": {
                  "name": "go_router_builder",
                  "description": "A builder that supports generated strongly-typed route helpers for package:go_router",
                  "version": "1.0.12",
                  "repository": "https://github.com/flutter/packages/tree/main/packages/go_router_builder",
                  "issue_tracker": "https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+go_router_builder%22",
                  "environment": {
                    "sdk": ">=2.17.0 <3.0.0",
                    "flutter": ">=3.0.0"
                  },
                  "dependencies": {
                    "analyzer": ">=4.4.0 <5.0.0",
                    "async": "^2.8.0",
                    "build": "^2.0.0",
                    "build_config": "^1.0.0",
                    "collection": "^1.14.0",
                    "meta": "^1.7.0",
                    "path": "^1.8.0",
                    "path_to_regexp": "^0.4.0",
                    "source_gen": "^1.0.0",
                    "source_helper": "^1.3.0"
                  },
                  "dev_dependencies": {
                    "all_lint_rules_community": "^0.0.4",
                    "build_runner": "^2.0.0",
                    "go_router": "^4.0.0",
                    "source_gen_test": "^1.0.0",
                    "test": "^1.20.0"
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/go_router_builder/versions/1.0.12.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/go_router_builder",
                "url": "https://pub.dartlang.org/api/packages/go_router_builder/versions/1.0.12"
              }
            },
            {
              "name": "xinput_gamepad",
              "latest": {
                "version": "1.2.0",
                "pubspec": {
                  "name": "xinput_gamepad",
                  "description": "Add support to XInput controllers.",
                  "version": "1.2.0",
                  "platforms": {
                    "windows": null
                  },
                  "homepage": "https://github.com/LuanRoger/xinput_gamepad",
                  "repository": "https://github.com/LuanRoger/xinput_gamepad",
                  "issue_tracker": "https://github.com/LuanRoger/xinput_gamepad/issues",
                  "documentation": "https://github.com/LuanRoger/xinput_gamepad/wiki",
                  "environment": {
                    "sdk": ">=2.16.1 <3.0.0"
                  },
                  "dependencies": {
                    "win32": "^3.0.0",
                    "ffi": "^2.0.1"
                  },
                  "dev_dependencies": {
                    "lints": "^1.0.0",
                    "test": "^1.16.0"
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/xinput_gamepad/versions/1.2.0.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/xinput_gamepad",
                "url": "https://pub.dartlang.org/api/packages/xinput_gamepad/versions/1.2.0"
              }
            },
            {
              "name": "text_indexing",
              "latest": {
                "version": "0.6.0",
                "pubspec": {
                  "name": "text_indexing",
                  "description": "Dart library for creating an inverted index on a collection of text documents.",
                  "version": "0.6.0",
                  "repository": "https://github.com/GM-Consult-Pty-Ltd/text_indexing",
                  "homepage": "https://github.com/GM-Consult-Pty-Ltd",
                  "issue_tracker": "https://github.com/GM-Consult-Pty-Ltd/text_indexing/issues",
                  "environment": {
                    "sdk": ">=2.17.6 <3.0.0"
                  },
                  "dependencies": {
                    "collection": "^1.16.0",
                    "meta": "^1.8.0",
                    "rxdart": "^0.27.1",
                    "text_analysis": "^0.6.1"
                  },
                  "dev_dependencies": {
                    "lints": "^2.0.0",
                    "test": "^1.21.1"
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/text_indexing/versions/0.6.0.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/text_indexing",
                "url": "https://pub.dartlang.org/api/packages/text_indexing/versions/0.6.0"
              }
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:30:31 GMT

- request:
    method: get
    uri: https://pub.dev.api/packages/go_router_builder
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "go_router_builder",
          "latest": {
            "version": "1.0.12",
            "pubspec": {
  [...]
- request:
    method: get
    uri: https://pub.dev.api/packages/xinput_gamepad
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "xinput_gamepad",
          "latest": {
            "version": "1.2.0",
            "pubspec": {
              "name": "xinput_gamepad",
              "description": "Add support to XInput controllers.",
              "version": "1.2.0",
              "platforms": {
                "windows": null
              },
              "homepage": "https://github.com/LuanRoger/xinput_gamepad",
              "repository": "https://github.com/LuanRoger/xinput_gamepad",
              "issue_tracker": "https://github.com/LuanRoger/xinput_gamepad/issues",
              "documentation": "https://github.com/LuanRoger/xinput_gamepad/wiki",
              "environment": {
                "sdk": ">=2.16.1 <3.0.0"
              },
              "dependencies": {
                "win32": "^3.0.0",
                "ffi": "^2.0.1"
              },
              "dev_dependencies": {
                "lints": "^1.0.0",
                "test": "^1.16.0"
              }
            },
            "archive_url": "https://pub.dartlang.org/packages/xinput_gamepad/versions/1.2.0.tar.gz",
            "archive_sha256": "b0dd6f8aec22e4b4c07d82ad8f53d680ba3ed8c51a62a91b141ddc408cb2eaaf",
            "published": "2022-09-16T20:51:01.459147Z"
          },
          "versions": [
            {
              "version": "0.0.8",
              "pubspec": {
                "name": "xinput_gamepad",
                "description": "Add support to XInput controllers.",
                "version": "0.0.8",
                "platforms": {
                  "windows": null
                },
                "homepage": "https://github.com/LuanRoger/xinput_gamepad",
                "repository": "https://github.com/LuanRoger/xinput_gamepad",
                "issue_tracker": "https[...]
- request:
    method: get
    uri: https://pub.dev.api/packages/text_indexing
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "text_indexing",
          "latest": {
            "version": "0.7.0",
            "pubspec": {
           [...]
- request:
    method: get
    uri: https://pub.dev.api/packages?sort=updated?page=2
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "next_url": "https://pub.dartlang.org/api/packages?page=3",
          "packages": [
            {
              "name": "cr_calendar",
              "latest": {
                "version": "1.0.0",
                "pubspec": {
                  "name": "cr_calendar",
                  "description": "Awesome calendar with customizations, range picking and event showing.",
                  "version": "1.0.0",
                  "homepage": "https://cleveroad.com",
                  "repository": "https://github.com/Cleveroad/cr_calendar",
                  "environment": {
                    "sdk": ">=2.17.0 <3.0.0",
                    "flutter": ">=3.0.0"
                  },
                  "dependencies": {
                    "flutter": {
                      "sdk": "flutter"
                    },
                    "intl": "^0.17.0",
                    "jiffy": "^5.0.0",
                    "scrollable_positioned_list": "^0.3.2"
                  },
                  "dev_dependencies": {
                    "flutter_test": {
                      "sdk": "flutter"
                    },
                    "flutter_lints": "^2.0.1"
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/cr_calendar/versions/1.0.0.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/cr_calendar",
                "url": "https://pub.dartlang.org/api/packages/cr_calendar/versions/1.0.0"
              }
            },
            {
              "name": "koala",
              "latest": {
                "version": "0.1.1",
                "pubspec": {
                  "name": "koala",
                  "description": "A poor man's version of a pandas Dataframe. Collect, access & manipulate related data.",
                  "repository": "https://github.com/w2sv/koala",
                  "version": "0.1.1",
                  "environment": {
                    "sdk": ">=2.13.0 <3.0.0"
                  },
                  "dependencies": {
                    "collection": "^1.16.0",
                    "csv": "^5.0.1",
                    "jiffy": "^5.0.0"
                  },
                  "dev_dependencies": {
                    "coverage": "^1.6.0",
                    "test": "^1.21.5"
                  }
                },
                "archive_url": "https://pub.dartlang.org/packages/koala/versions/0.1.1.tar.gz",
                "package_url": "https://pub.dartlang.org/api/packages/koala",
                "url": "https://pub.dartlang.org/api/packages/koala/versions/0.1.1"
              }
            }
          ]
        }
  recorded_at: Thu, 23 Jun 2022 12:30:35 GMT

- request:
    method: get
    uri: https://pub.dev.api/packages/cr_calendar
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "cr_calendar",
          "latest": {
            "version": "1.0.0",
            "pubspec": {
              "[...]
- request:
    method: get
    uri: https://pub.dev.api/packages/koala
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "koala",
          "latest": {
            "version": "0.1.1",
            "pubspec": {
              "name": "koal[...]
