.Box {
  align-items: center;
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-8);
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 32px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--stack-gap-condensed);
  min-width: 20px;
  border-radius: var(--borderRadius-medium);
  border-color: var(--borderColor-default);
  border-style: solid;
  border-width: var(--borderWidth-thin);

  &:hover {
    cursor: text;
  }

  &.is-focused {
    /* stylelint-disable-next-line primer/colors */
    border-color: var(--fgColor-accent);
  }
}
