.Box {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  max-height: unset;
  overflow-x: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
