.Box {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 32px;
  background-color: var(--bgColor-default);
}

.Box_1 {
  z-index: 6;
  position: absolute;
  right: var(--base-size-28);
  top: var(--base-size-2);
  height: 28px;
  padding-left: var(--base-size-8);
  display: flex;
  align-items: center;
}

.Octicon {
  color: var(--fgColor-muted);
}
