.Box {
  flex-shrink: 0;
  margin-right: var(--base-size-8);
  display: flex;
}

.Octicon {
  color: var(--fgColor-muted);
}

.BorderlessTextInput {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
}

.BorderlessTextInput_1 {
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium);
}
