.container {
  background-color: var(--bgColor-upsell-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-upsell-muted);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-8) var(--base-size-8) var(--base-size-8) var(--base-size-8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-size-4);

  &.expanded {
    align-items: flex-start;

    .actions {
      padding: var(--base-size-4) var(--base-size-4) 0 0;
    }

    .actions:has(.iconButton) {
      padding: var(--base-size-4) 0 0 0;
    }

    .content {
      margin: var(--base-size-4) 0;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--base-size-32);
    height: var(--base-size-32);
    color: var(--fgColor-upsell);
  }

  .content {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 0 var(--base-size-2) 0;
    color: var(fgColor-default);
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--base-size-4);
    gap: var(--base-size-4);

    .iconButton {
      color: var(--fgColor-upsell);
    }
  }
}
