.Dialog_Header {
  background-color: transparent;
}

.Box {
  padding: var(--base-size-16);
}

.LoadingSkeleton {
  margin-bottom: var(--base-size-4);
}

.Box_1 {
  padding-top: var(--base-size-80);
  padding-bottom: var(--base-size-80);
}
