.BudgetFormWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
  margin-top: var(--base-size-36);
}

.BudgetErrorBanner {
  margin-bottom: var(--base-size-40);
}

.BudgetFormBreadcrumbs {
  margin-bottom: var(--base-size-16);
}
