.RadioGroup_Label {
  font-size: var(--text-body-size-medium);
}

.Heading {
  font-size: var(--text-title-size-medium)
}

.BudgetSubTitleBox {
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
}

.FlexContainerHorizontal {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
  align-items: flex-start;
}

.SelectPanel {
  padding-top: var(--base-size-12);
}

.SelectPanelBox {
  min-width: 300px;
  max-height: 400px;
}

.SelectPanelSku {
  padding-top: var(--base-size-16);
}

.SelectPanelSkuLabel {
  padding-bottom: var(--base-size-8);
}

.ProductText {
  padding-left: var(--base-size-4);
  flex-direction: column;
}

.SKUErrorInlineMessage {
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-4);
}

.BudgetSubtext {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-normal);
}
