.Banner {
  margin-bottom: var(--base-size-12);
}


.SubTitle {
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-12);
}

.BudgetAmountBox {
  padding-top: var(--base-size-8);
}

.Heading {
  font-size: var(--text-title-size-medium)
}

.BudgetAmountHeading {
  font-size: var(--text-title-size-small)
}

