@layer recipes {
  .container {
    padding: var(--base-size-12) !important;
    font: var(--text-body-shorthand-medium);
    background-color: var(--bgColor-muted);
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
    border-top-left-radius: var(--borderRadius-medium);
    border-top-right-radius: var(--borderRadius-medium);
  }
}
