.Dialog {
  overflow-y: auto;
}

.Box {
  font-size: var(--text-body-size-medium);
}

.Box_1 {
  padding: var(--base-size-16);
  border-bottom: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
}

.Text {
  font-weight: var(--base-text-weight-semibold);
}

.Box_2 {
  display: flex;
  justify-content: space-between;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.Text_1 {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
}

.Box_3 {
  display: flex;
  justify-content: space-between;
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  padding: var(--base-size-16);
}

.Box_4 {
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
}
