.Text {
  margin-top: 0;
  margin-bottom: var(--base-size-8);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.TextInput_Action {
  margin-right: 0;
  color: var(--fgColor-muted);
}

.TextInput_Action_1 {
  color: var(--fgColor-muted);
}
