/* Note: these overrides should be removed in favor of using ActionList.Item by default */

.leadingVisual {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  max-width: unset;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-8);
  place-self: start;
}

.icon {
  display: flex;
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 10px;
}

.trailingVisual {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--base-size-8);
  margin-left: var(--base-size-4);
  min-width: 45px;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.trailingContent {
  padding-right: var(--base-size-8);
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  max-width: 175px;
}

.completedIterationHeading {
  background-color: var(--bgColor-muted);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-semibold);
  margin-top: var(--base-size-4);
  padding-left: var(--base-size-16);
  padding-top: var(--base-size-4);
}

.todayLabel {
  margin-left: var(--base-size-8);
  border-color: var(--borderColor-accent-emphasis);
  color: var(--fgColor-accent);
}

.toggleEmptyButton {
  margin-left: auto;
  margin-right: var(--base-size-12);
  margin-top: var(--base-size-8);
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-normal);
}

.description {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

.title {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  text-align: left;
  white-space: normal;
}

.parentIssueTitle {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  text-align: left;
  white-space: normal;
  color: var(--fgColor-default);
  display: inline;
}

.listContainerBase {
  /* stylelint-disable-next-line selector-max-type */
  & ul {
    padding: 0 0 0 var(--base-size-12);
    list-style: none;
  }

  &.actionListItem {
    min-height: 40px;
    position: relative;
    padding: 0;
    margin: 0;
  }

  & .actionListItemActive {
    background: var(--control-transparent-bgColor-selected);

    &::before {
      content: '';
      position: absolute;
      top: var(--base-size-8);
      left: calc(var(--base-size-8) * -1);
      width: var(--base-s);
      bottom: var(--base-size-8);
      height: 100%;
      background: var(--bgColor-accent-emphasis);
      border-radius: var(--borderRadius-small);
    }
  }

  & .actionListItemContainer {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.withIcons {
  & .leadingContent {
    min-width: 40px;
    align-content: flex-start;
  }
}

.noIcons {
  & .leadingContent {
    min-width: 16px;
    padding-right: 0;
  }
}

.addMissingItemsButton {
  display: flex;
  margin-top: var(--base-size-8);
}

.link {
  color: var(--fgColor-muted);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-break: break-all;
  text-decoration: none;
  font-size: var(--text-body-size-small);
}

.SlicerPanel {
  left: 0;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
  height: 100%;
  overflow: auto;

  &.WritePermissions {
    border-right: solid var(--borderWidth-default) var(--borderColor-muted);
  }

  &.Wide {
    .itemFullWidth {
      display: none;
    }

    & .ProgressBarPosition {
      display: inline-block;
      position: absolute;
      right: 0;
    }
  }

  &:not(.Wide) {
    .itemRight {
      display: none;
    }
  }
}

.tracks {
  display: flex;
}
