.Link {
  font-weight: var(--base-text-weight-semibold);
}

.Box {
  grid-area: footer;
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
  border-top: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
}
