.Button {
  margin: calc(var(--base-size-8) * -1);
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
  padding-top: 0;
  padding-bottom: 0;
  font: inherit;
}

.Box {
  display: inline-flex;
  text-align: start;
  align-items: center;
  column-gap: 0.5rem;
}
