/* stylelint-disable selector-max-type, primer/responsive-widths, primer/borders, primer/spacing, primer/colors, primer/typography */

.PlanCard {
  background-color: var(--brand-color-canvas-subtle);
  border: var(--borderWidth-thin) solid #30363d;
  border-radius: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .PlanCard {
    width: 390px;
  }
}

.PlanCard__label {
  --brand-Label-background: radial-gradient(114% 242% at 0% 114%, #9eecff 7.27%, #096bde 62.66%, #000aff 100%);

  position: absolute;
  background: var(--base-color-scale-gray-9);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    --brand-Label-background: var(--brand-color-text-default);
  }
}

.PlanCard__content {
  display: flex;
  padding: var(--base-size-36);
  flex-direction: column;
  align-items: center;
  gap: var(--base-size-20);
  align-self: stretch;
}

.PlanCard__titleBlock {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
}

@media (min-width: 768px) {
  .PlanCard__titleBlock h2 {
    font-size: var(--brand-text-size-500);
  }
}

.PlanCard__price {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.PlanCard__priceTag {
  > span:nth-child(1) {
    font-size: var(--brand-text-size-900);
  }

  > span:nth-child(2) {
    vertical-align: top;
    display: inline-block;
    margin-top: 0.15em;
    margin-left: 0.15em;
  }
}

@media (min-width: 1012px) {
  .PlanCard__priceTag {
    > span:nth-child(1) {
      font-size: var(--brand-text-size-700);
    }

    > span:nth-child(2) {
      margin-top: 0.33em;
      margin-left: 0.33em;
    }
  }
}

.PlanCard__ctaBlock {
  --brand-button-secondary-borderColor-rest: var(--borderColor-default);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-8);
  }
}
