.listItem {
  display: flex;
  padding-bottom: var(--base-size-2);
  margin-right: var(--base-size-8);
  margin-left: var(--base-size-8);
  overflow: hidden;
  isolation: isolate;
}

.listItem:focus {
  padding-right: var(--base-size-6);
  padding-left: var(--base-size-6);
  /* stylelint-disable-next-line primer/spacing */
  margin-right: 2px;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 2px;
  border-radius: var(--borderRadius-medium);
}

.listItem:hover {
  padding-right: var(--base-size-6);
  padding-left: var(--base-size-6);
  /* stylelint-disable-next-line primer/spacing */
  margin-right: 2px;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 2px;
  background-color:var(--control-transparent-bgColor-hover);
  border-radius: var(--borderRadius-medium);
}
