/* stylelint-disable primer/typography */
/* stylelint-disable selector-max-type */

.Pricing {
  position: relative;
  background-repeat: no-repeat;
}

@media (max-width: 599px) {
  .Pricing {
    background-image: var(--bg-mobile);
    background-position: center 60px;
    background-size: 600px 100%;
  }
}

@media (max-width: 470px) {
  .Pricing {
    background-position: center 100px;
  }
}

@media (min-width: 600px) {
  .Pricing {
    background-image: var(--bg-desktop);
    background-position: center bottom;
    background-size: auto 1200px;
  }
}

.PricingIcon {
  display: block;
  width: 112px;
  margin-inline: auto;
}

.SectionIntroDescription {
  font-size: var(--brand-text-size-300);
}

.SectionIntroLink span {
  font-size: var(--brand-text-size-300);
}

/* Plans */

.PricingPlans {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--base-size-32);
}

@media (min-width: 768px) {
  .PricingPlans {
    flex-direction: row;
    gap: var(--base-size-48);
  }
}
