.CardBaseWithSash {
  opacity: 0.5;
  border-radius: var(--borderRadius-medium);
  border-color: var(--borderColor-muted);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  box-shadow: var(--shadow-resting-medium);
}
