.Box {
  width: 16px;
  height: 16px;
  /* stylelint-disable-next-line primer/colors */
  background: var(--borderColor-muted);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 10px;
  border-width: 0;
  border-style: solid;
  border-color: var(--borderColor-default);
}

.Octicon {
  color: var(--fgColor-muted);
}

.Box_1 {
  width: 48px;
  height: 4px;
  /* stylelint-disable-next-line primer/colors */
  background: var(--borderColor-muted);
  border-radius: var(--borderRadius-small);
  border-width: 0;
  border-style: solid;
  border-color: var(--borderColor-default);
}

.Text {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.Box_2 {
  display: flex;
  justify-content: space-between;
}

.Box_3 {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
}

.Box_4 {
  height: 24px;
  align-items: center;
  user-select: none;
  cursor: default;
  display: flex;

  &:not(.noContextMenu):not(.contextMenuOpen) .ContextMenuTrigger {
    opacity: 0;
  }

  /* stylelint-disable-next-line selector-max-type */
  .ContextMenuTrigger:hover > div,
  /* stylelint-disable-next-line selector-max-type */
  &.contextMenuOpen .ContextMenuTrigger > div {
    background: var(--bgColor-muted);
  }
}

.Box_5 {
  margin-right: var(--base-size-4);
}

.ContextMenuTrigger {
  margin-right: 0;
}

.IconButton {
  margin-left: var(--base-size-4);
  color: var(--fgColor-muted);
  width: 24px;
  height: 24px;
  padding: 0;
}
