.SanitizedHtml {
  font-size: var(--text-body-size-medium);
}

.Link {
  /* stylelint-disable-next-line selector-max-type */
  code {
    font-family: var(--fontStack-monospace);
    font-size: var(--text-body-size-small);
  }

  color: var(--fgColor-default);
  text-align: left;
  font-size: var(--text-body-size-medium);

  &:hover {
    text-decoration: underline;
    color: var(--fgColor-accent);
  }
}

.SanitizedHtml_1 {
  /* stylelint-disable-next-line selector-max-type */
  code {
    font-family: var(--fontStack-monospace);
    font-size: var(--text-body-size-small);
  }

  color: var(--fgColor-default);

  &:hover {
    cursor: pointer;
    color: var(--fgColor-accent);
    text-decoration: underline;
  }
}
