/* stylelint-disable selector-max-specificity, selector-max-compound-selectors, max-nesting-depth, selector-max-type, primer/spacing */

$easing: cubic-bezier(.49,.18,.35,1.01);
$easing2: cubic-bezier(.08,.34,.33,.97);
$transition-transform: transform 1.2s $easing;

@mixin sparkle-running($name, $firstOpacity, $translateX, $scale) {
  /* stylelint-disable-next-line at-rule-prelude-no-invalid */
  @keyframes #{$name} {
    0% {
      opacity: 0;
      transform: translate(0, 0) scale($scale);
    }

    20% {
      opacity: $firstOpacity;
    }

    40%{
      opacity: 0.7;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate($translateX, 0) scale($scale);
    }
  }
}

.CopilotActivationProgressBar {
  --padding: var(--base-size-4);
  --pointWidth: 14px;

  position: relative;
  height: 50px;
  padding: 0 var(--padding);
  display: flex;
  transition: opacity 0.2s ease-out;

  @media (min-width: 1012px) {
    --padding: var(--base-size-32);
    --pointWidth: 20px;
  }

  &--hidden {
    opacity: 0;
  }

  .CopilotActivationProgressBar__bar {
    position: relative;
    top: calc(50% - 2px);
    width: 100%;
    height: 4px;

    .CopilotActivationProgressBar__barBase {
      --backgroundColor: rgba(61, 68, 77, 0.20);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* stylelint-disable-next-line primer/colors */
      background: var(--backgroundColor);

      @media (prefers-color-scheme: dark) {
        --backgroundColor: rgba(61, 68, 77, 0.50);
      }
    }

    .CopilotActivationProgressBar__barFill {
      --gradientFill: linear-gradient(270deg, rgba(13, 255, 80, 0.8) -15%, rgba(142, 71, 254, 0.8) 34%, rgba(20, 15, 255, 0.8) 100%, rgba(20, 15, 255, 0.8) 145%);
      --purpleFill: var(--bgColor-done-emphasis);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* stylelint-disable-next-line primer/colors */
      background: var(--fillColor);
      transform-origin: 0 0;
      transform: scaleX(0);

      &.CopilotActivationProgressBar__barFill--gradient {
        --fillColor: var(--gradientFill);
      }

      &.CopilotActivationProgressBar__barFill--purple {
        --fillColor: var(--purpleFill);
      }
    }

    .CopilotActivationProgressBar__point {
      --mask1: radial-gradient(circle at 0 50%, transparent 0, transparent 10%, #000 15%, #000 80%, transparent 80%, transparent);
      --mask2: radial-gradient(circle at 100% 50%, transparent 0, transparent 10%, #000 15%, #000 80%, transparent 80%, transparent);

      position: absolute;
      width: var(--pointWidth);
      height: calc(100% + 2px);
      top: -1px;
      transform: translateX(-50%);
      background: var(--bgColor-inset);
      mask-image: var(--mask1), var(--mask2);

      @media (min-width: 1012px) {
        --mask1: radial-gradient(circle at 0 50%, transparent 0, transparent 10%, #000 10%, #000 85%, transparent 85%, transparent);
        --mask2: radial-gradient(circle at 100% 50%, transparent 0, transparent 10%, #000 10%, #000 85%, transparent 85%, transparent);
      }
    }
  }

  .CopilotActivationProgressBar__copilot {
    --size: var(--base-size-40);
    --pointMargin: var(--pointWidth);

    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(-1 * var(--size) / 2 + var(--pointMargin));
    width: var(--size);
    height: var(--size);
    margin-left: var(--padding);
    // Sync with progress bar animation
    transition: left 1.2s ease-out;

    &.CopilotActivationProgressBar__copilot--lastStep {
      --pointMargin: 0px;
    }

    .CopilotActivationProgressBar__copilotWrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;

      svg {
        will-change: transform;
        fill: var(--fgColor-default);
        width: 100%;

        .CopilotActivationProgressBar__copilotPath--filled {
          fill: var(--bgColor-default);
        }
      }
    }

    &.CopilotActivationProgressBar__copilot--running {
      .CopilotActivationProgressBar__sparklesWrapper {
        opacity: 1;
        transition: opacity 0.2s;
      }
    }

    &.CopilotActivationProgressBar__copilot--stopped {
      .CopilotActivationProgressBar__sparklesWrapper {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s 0.0s, visibility 0s 0.8s;
      }
    }
  }
}

.CopilotActivationProgressBar__sparklesWrapper {
  .CopilotActivationProgressBar__sparkle {
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: var(--fgColor-default);
      opacity: 0;
    }

    @include sparkle-running(sparkle-running_0, 0.8, -100%, 1);
    @include sparkle-running(sparkle-running_1, 0.5, -400%, 0.8);
    @include sparkle-running(sparkle-running_2, 0.9, -500%, 0.7);
    @include sparkle-running(sparkle-running_3, 0.7, -150%, 0.8);
    @include sparkle-running(sparkle-running_4, 0.5, -300%, 0.9);
    @include sparkle-running(sparkle-running_5, 0.9, -400%, 1);

    &.CopilotActivationProgressBar__sparkle--anim-0 svg {
      animation: sparkle-running_0 $easing2;
    }

    &.CopilotActivationProgressBar__sparkle--anim-1 svg {
      animation: sparkle-running_1 $easing2;
    }

    &.CopilotActivationProgressBar__sparkle--anim-2 svg {
      animation: sparkle-running_2 $easing2;
    }

    &.CopilotActivationProgressBar__sparkle--anim-3 svg {
      animation: sparkle-running_3 $easing2;
    }

    &.CopilotActivationProgressBar__sparkle--anim-4 svg {
      animation: sparkle-running_4 $easing2;
    }

    &.CopilotActivationProgressBar__sparkle--anim-5 svg {
      animation: sparkle-running_5 $easing2;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}
