# Folders
__browser-tests__/
__tests__/
docs/
mocks/
stories/

# File types
*.module.css
*.stories.*
*.temp.*
*.ts
*.tsx
tsconfig.*

# Files
.eslintignore
.eslintcache
eslint.config.mjs
jest.config.js
recipes.yml

# Undo ignore
!*.d.ts
