.markdownHeroContainer {
  max-width: 100%;
  padding-top: var(--base-size-8);
  padding-right: var(--base-size-8);
  padding-left: var(--base-size-8);
  aspect-ratio: 830 / 272;

  @media screen and (min-width: 544px) {
    padding-top: var(--base-size-16);
    padding-right: var(--base-size-16);
    padding-left: var(--base-size-16);
  }

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-right: var(--base-size-16);
    padding-left: var(--base-size-16);
  }

  .markdownHeroLogo {
    width: 100%;
    background: var(--bgColor-muted);
    border-radius: var(--borderRadius-medium);
  }
}
