.Pagehead {
  margin-bottom: 0;
  padding-bottom: var(--base-size-8);
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-normal);
  display: flex;
  align-items: center;
}
