.Box {
  margin-top: var(--base-size-16);
  background: var(--bgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-color: var(--borderColor-default);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.Box_1 {
  padding: var(--base-size-8);
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}
