.Box {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  border-color: var(--borderColor-default);

  &:last-child {
    border-bottom: none;
  }

  display: grid;
  grid-template-columns: auto auto 1fr auto;
  flex-shrink: 0;
}
