---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4f2dfdf0d9c4d860fc45ac4dbb19ef20aa5912e904ce3830f1c74adcb9bce95"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef305b839bbe47076dc48fca536a1c3eea","expires_at":"2022-03-16T21:02:21Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 16 Mar 2022 20:02:21 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/FriendsOfPHP/security-advisories/master/guzzlehttp/psr7/GHSA-q7rv-6hp3-vh96.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 351bc32699dfff6a2fa924fd0b2a5b91daf4c17a
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found'
  recorded_at: Wed, 20 Apr 2022 16:18:46 GMT
recorded_with: VCR 6.1.0
