/* ActivityHeader.module.css */

.activityHeader {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  grid-template-areas:
    'avatar     title   title   title     badges      actions'
    'avatar     footer  footer  footer    footer      edits';
}

.footer {
  padding-bottom: var(--base-size-6, var(--base-size-6));
  font-size: var(--text-body-size-small, 12px);
}

.narrowViewportWrapper {
  display: flex;
}

.narrowViewportWrapper .footer {
  padding-bottom: 0;
}

.edits {
  align-items: flex-start;
}

@container issueViewerContainer (min-width: 544px) {
  .activityHeader {
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-areas:
      'avatar     title   edits     badges      actions'
      'avatar     footer  footer     footer       footer';
  }

  .narrowViewportWrapper .footer {
    padding-bottom: 0;
  }

  .edits {
    align-items: center;
  }
}

@container issueViewerContainer (min-width: 768px) {
  .activityHeader {
    display: flex;
  }

  .footer {
    padding-bottom: 0;
    font-size: var(--text-body-size-medium, 14px);
  }

  .narrowViewportWrapper {
    display: flex;
  }

  .edits {
    align-items: center;
  }
}

/* @container prSummaryViewerContainer (min-width: 544px) {
  .activityHeader {
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-areas: 'avatar     title   edits     badges      actions'
                         'avatar     footer  footer     footer       footer',
  }
} */

@container prSummaryViewerContainer (min-width: 544px) {
  .activityHeader {
    display: flex;
  }

  .footer {
    padding-bottom: 0;
    font-size: var(--text-body-size-medium, 14px);
  }
}
