/* Avatar.module.css */

.avatarOuter {
  display: none;
}

/* important is needed to overwrite not container specific media styles */
.avatarInner {
  display: flex !important;
}

@container issueViewerContainer (min-width: 768px) {
  .avatarOuter {
    display: flex;
  }

  .avatarInner {
    display: none !important;
  }
}

.avatarLink {
  cursor: pointer;
  height: 100%;
}

.hiddenActivityAvatar {
  opacity: 0.5;
}

.activityAvatar {
  opacity: 1;
}

.issueViewerAvatar {
  flex-shrink: 0;
}

.avatarWithDivider {
  margin-top: var(--base-size-16);
}

.avatarWithoutDivider {
  margin-top: 0;
}
