.CommentBox {
  /* stylelint-disable-next-line selector-max-type */
  footer {
    flex-wrap: wrap-reverse;

    /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
    & > div:first-of-type [data-component="text"] {
      display: block;
    }

    /* stylelint-disable-next-line selector-max-type */
    & > div:last-of-type {
      flex-wrap: wrap;
    }
  }
}

.Condensed {
  /* stylelint-disable-next-line selector-max-type */
  footer {
    /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
    & > div:first-of-type [data-component="text"] {
      display: none;
    }
  }
}
