.label {
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-medium);
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-size: var(--text-body-size-medium);
  flex: 1;

  &.isInline {
    flex-basis: 140px;
    margin-right: var(--base-size-8);

    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
}
