.editButton {
  display: flex;
  padding: var(--base-size-6) var(--base-size-12);
  gap: 8px;
}

.teamDescription {
  margin-bottom: 0;
  color: var(--fgColor-muted);
  font: var(--text-body-shorthand-medium);
}
