.ListViewMetadata_0 {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
}

.ListView_0 {
  border: var(--borderWidth-thin) solid;
  border-top: none;
  border-color: var(--borderColor-muted);
  border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
  overflow: hidden;
}

.ListItem_0 {
  padding-left: var(--base-size-8);
}

.ListItemTitle_0 {
  font-size: var(--text-body-size-medium);
}

.noBottomBorder {
  border-bottom: none;
}

.searchBlankSlate {
  border: var(--borderWidth-thin) solid;
  border-top: none;
  border-color: var(--borderColor-muted);
  border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
}
