.memberSearchInput {
  width: 282px;
}

.memberListViewMetadata {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
}

.memberListView {
  border: var(--borderWidth-thin) solid;
  border-top: none;
  border-color: var(--borderColor-muted);
  border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
  overflow: hidden;
}

.memberListViewTitleContainer {
  margin-top: var(--base-size-2);
  padding-top: var(--base-size-8);
}

.memberListViewTitleContainerCompact {
  margin-right: var(--base-size-4);
}

.memberListViewTitle {
  font-size: var(--text-body-size-medium);
}

.noBottomBorder {
  border-bottom: none;
}

.secondaryTextColor {
  color: var(--fgColor-muted, var(--color-fg-muted))
}

.searchBlankSlate {
  border: var(--borderWidth-thin) solid;
  border-top: none;
  border-color: var(--borderColor-muted);
  border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
}

.sortMenuButton {
  border: none;
  box-shadow: none;
  color: var(--fgColor-muted, var(--color-fg-muted));
  margin-right: var(--base-size-8)
}

.closeButton {
  width: 32px;
  height: 32px;
  color: var(--fgColor-danger);
  padding: 0;
}
