.tableHeaderContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-large);
  padding-left: var(--base-size-8);
  width: 100%;
}
