.textBold {
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
}

.orgDescription {
  color: var(--fgColor-muted);
  text-overflow: ellipsis;
  font-size: var(--text-body-size-small);
  font-weight: var(--text-body-weight);
  line-height: var(--text-body-lineHeight-small);
}

.emptyIcon {
  width: 24px;
  height: 24px;
}

.searchInput {
  font-weight: var(--base-text-weight-normal);
}

.avatar {
  margin-right: var(--base-size-8);
}

.removeOrgButton {
  width: 32px;
  height: 32px;
  padding: 0;
}

.borderTop {
  border-top: var(--borderWidth-thin) solid var(--color-border-default);
}

.orgListView {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.noBottomBorder {
  border-bottom: none;
}

.orgSearchBlankState {
  max-height: 260px;
  overflow-y: hidden;
}

.orgSearchBanner {
  font-weight: var(--base-text-weight-normal);
  margin-top: var(--base-size-8);
}

.orgSearchFooterButton {
  font-weight: var(--base-text-weight-semibold);
}

.addCounterLabel {
  color: var(--button-primary-fgColor-rest);
}

.Stack {
  width: 100%;
  max-width: 100%;

  @media screen and (min-width: 1012px) {
    max-width: 450px;
  }
}

.Stack_1 {
  flex-direction: column;

  @media screen and (min-width: 1012px) {
    flex-direction: row;
  }
}
