.teams {
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  max-height: 188px;
  overflow-y: auto;
}

.team {
  display: flex;
  align-items: center;
  padding: var(--base-size-12);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.team:last-child {
  border-bottom: 0;
}

.smallMutedText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}
