.ContributorsGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--stack-padding-normal);
}

.ContributorsChartCardTitle {
  font-size: var(--text-body-size-medium);
}
