.cardContainer {
  display: grid;
  position: relative;

  .cardContent {
    padding: 0;
    display: grid;
    border-radius: var(--borderRadius-large);
    overflow: hidden;
    text-align: left;
    grid-auto-rows: max-content auto;
    border: var(--borderWidth-default) solid var(--borderColor-default);
    box-shadow: var(--shadow-resting-small);
    transition: box-shadow var(--base-duration-200) var(--base-easing-easeInOut);
    background-color: var(--bgColor-default);

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: var(--bgColor-muted);
    }

    &:focus {
      outline: var(--focus-outline);
      outline-offset: -2px;
    }
  }

  .cardMenu {
    position: absolute;
    top: var(--base-size-16);
    right: var(--base-size-16);
    z-index: 1;
  }
}

.itemHeader {
  display: block;
  width: 100%;
  height: auto;
  padding: var(--base-size-24) var(--base-size-24) var(--base-size-16) var(--base-size-24);

  &.edgeToEdge {
    padding: 0;
    margin-bottom: var(--base-size-16);
  }

  .itemImage {
    display: block;
    width: 100%;
    height: auto;
  }
}

.itemMain {
  display: grid;
  gap: var(--base-size-16);
  padding: 0 var(--base-size-24) var(--base-size-24) var(--base-size-24);

  .itemContent {
    display: grid;
    flex-direction: column;
    gap: var(--base-size-8);

    .itemHeaderTitle {
      font-size: var(--text-body-size-large);
      font-weight: var(--base-text-weight-semibold);
      color: var(--fgColor-default);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    .itemHeaderDescription {
      font-size: var(--text-body-size-medium);
      color: var(--fgColor-muted);
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      margin-bottom: 0;
    }
  }

  .itemMetadata {
    display: flex;
    align-items: center;
    gap: var(--base-size-16);
    font-size: var(--text-body-size-medium);
    color: var(--fgColor-muted);

    .itemMetadataItem {
      display: flex;
      align-items: center;
      gap: var(--base-size-8);
      font: var(--text-body-shorthand-small);
    }
  }
}
