.Box {
  background: var(--bgColor-inset);
  width: 100%;
  max-width: 100%;
}

.Box_1 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-8);
  display: flex;
  gap: var(--stack-gap-normal);
  align-items: center;
}

.Box_2 {
  display: flex;
  gap: var(--stack-gap-condensed);
  font-size: var(--text-body-size-medium);
}

.Text {
  color: var(--fgColor-muted);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
}
