.NameDisplay {
  display: flex;
  flex-direction: column;
}

.SubTitle {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.ItemPickerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--base-size-4);
}
