/* stylelint-disable primer/colors */
.animatedVideoContainer {
  overflow: hidden;
  /* stylelint-disable-next-line primer/borders */
  border-radius: var(--brand-borderRadius-large);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 1px rgba(255,255,255, 0.08);
  width: 100%;
  height: 100%;
}

.animatedVideoPlayer {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.animatedVideoPlayerButton {
  --bgColor: rgb(77, 78, 106);
  --bgColorHover: rgb(90, 91, 124);

  position: absolute;
  right: var(--base-size-4);
  bottom: var(--base-size-4);
  display: flex;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bgColor);
  transition: background-color 0.2s ease-out;

  &:hover, &:focus {
    background-color: var(--bgColorHover);
  }

  .playButtonIcon {
    color: var(--brand-color-text-default);
  }


  /* Reposition button for larger screens */
  @media (min-width: 768px) {
    right: var(--base-size-20);
    bottom: var(--base-size-20);
  }
}

