.menuButtonPrefix {
  color: var(--fgColor-muted);
  display: inline-block;
}

.presetName {
  max-width: 40ch;
}

.menuList {
  padding-bottom: 0 !important;
}

.presetsListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
