.DevelopmentSectionButton {
  [data-component='buttonContent'] {
    justify-content: start;
  }
}

.DevelopmentSectionItem {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: var(--base-size-8);
  grid-row-gap: var(--base-size-4);
}


.DevelopmentSectionItem__title {
  font-size: var(--text-body-size-medium);
  grid-area: 1 / 2 / 2 / 3;
}

.DevelopmentSectionItem__link {
  grid-area: 1 / 2 / 2 / 3;
  color: var(--fgColor-default);

  &:hover {
    color: var(--fgColor-accent);
  }
}

.DevelopmentSectionItem__icon {
  grid-area: 1 / 1 / 2 / 2;
  align-self: baseline;
  margin-top: var(--base-size-4);
}

.DevelopmentSectionItem__description {
  grid-area: 2 / 2 / 3 / 3;
}

.DevelopmentSectionItem__text {
  color: var(--fgColor-muted);
}
