/* stylelint-disable primer/typography */
/* stylelint-disable primer/borders */
/* stylelint-disable primer/colors */

.contentContainer {
  z-index: 1;
  aspect-ratio: 16 / 9;
  margin-top: var(--base-size-40);
  border-radius: var(--brand-borderRadius-large);

  @media screen and (min-width: 34rem) {
    margin-top: var(--base-size-80);
  }
}

.posterImage {
  border-radius: var(--brand-borderRadius-large);
}

.posterImageTitleContainer {
  z-index: 2;
  color: var(--base-color-scale-gray-0);
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-gap: var(--base-size-12);
  grid-template-columns: auto auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.90196), rgba(0, 0, 0, 0.45098) 66%, transparent);
  border-radius: var(--brand-borderRadius-large);
}

.posterImageTitleText {
  color: var(--base-color-scale-white-0);
}

.playButton {
  aspect-ratio: 16 / 9;
  border-radius: var(--brand-borderRadius-large);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.playIcon {
  width: 25%;
  height: 25%;
  max-width: var(--base-size-96);
  max-height: var(--base-size-96);
  opacity: 0.8;
  color: var(--base-color-scale-gray-0);
}

@media (min-width: 768px) {
  .posterImageTitleText {
    font-size: var(--brand-text-size-400);
  }

  .posterBrandIcon {
    width: 40px;
    height: 40px;
  }
}
