---
http_interactions:
- request:
    method: post
    uri: https://dependency-graph-api.service.iad.github.net/query
    body:
      encoding: UTF-8
      string: '{"query":"query($package_manager: PackageManager!, $package_name: String)
        {\n  packages(packageManager: $package_manager, names: [$package_name]) {\n    edges
        {\n      node {\n        repositoryNwo\n      }\n    }\n  }\n}\n","variables":{"package_manager":"RUBYGEMS","package_name":"zzz-rails-zzz"}}'
    headers:
      X-Request-Hmac:
      - "<HMAC>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85d82f5a08c330849c10ea609abd3dfd"
      X-Github-Backend:
      - Kubernetes
    body:
      encoding: UTF-8
      string: '{"data":{"packages":{"edges":[]}}}'
  recorded_at: Thu, 24 Mar 2022 20:41:24 GMT
recorded_with: VCR 5.1.0
