---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2022-0536.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 02 Nov 2022 20:57:20 GMT
      Etag:
      - '"385f14b8b48ddab3d9fd85ab3f593f2e"'
      X-Goog-Generation:
      - '1667422640426346'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1810'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=JnMzgw==
      - md5=OF8UuLSN2rPZ/YWrP1k/Lg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '{"id":"GO-2022-0536","published":"2022-08-01T22:20:53Z","modified":"2022-10-26T17:44:45Z","aliases":["CVE-2019-9512","CVE-2019-9514"],"details":"Some
        HTTP/2 implementations are vulnerable to a reset flood, potentially leading
        to a denial of service.\n\nServers that accept direct connections from untrusted
        clients could be remotely made to allocate an unlimited amount of memory,
        until the program crashes. The attacker opens a number of streams and sends
        an invalid request over each stream that should solicit a stream of RST_STREAM
        frames from the peer. Depending on how the peer queues the RST_STREAM frames,
        this can consume excess memory, CPU, or both.","affected":[{"package":{"name":"stdlib","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"1.11.13"},{"introduced":"1.12.0"},{"fixed":"1.12.8"}]}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2022-0536"},"ecosystem_specific":{"imports":[{"path":"net/http","symbols":["http2serverConn.scheduleFrameWrite","http2serverConn.serve","http2serverConn.writeFrame"]}]}},{"package":{"name":"golang.org/x/net","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"0.0.0-20190813141303-74dc4d7220e7"}]}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2022-0536"},"ecosystem_specific":{"imports":[{"path":"golang.org/x/net/http","symbols":["serverConn.scheduleFrameWrite","serverConn.serve","serverConn.writeFrame"]}]}}],"references":[{"type":"FIX","url":"https://go.dev/cl/190137"},{"type":"FIX","url":"https://go.googlesource.com/go/+/145e193131eb486077b66009beb051aba07c52a5"},{"type":"REPORT","url":"https://go.dev/issue/33606"},{"type":"WEB","url":"https://groups.google.com/g/golang-announce/c/65QixT3tcmg/m/DrFiG6vvCwAJ"}],"credits":[{"name":"Jonathan
        Looney of Netflix"}]}'
  recorded_at: Wed, 02 Nov 2022 21:07:40 GMT
recorded_with: VCR 6.1.0