---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fafa234a115fe64cd8b8074d493ef4c01a76c1bdb8e812de51905d7c1723ccb1"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef3051384a08259893cb83c27ef3343515","expires_at":"2022-02-02T00:26:39Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Tue, 01 Feb 2022 23:26:39 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs
    body:
      encoding: UTF-8
      string: '{"status":"in_progress","started_at":"2022-02-01T23:26:39Z","name":"TODO:
        importing advisory improvement","head_sha":"4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"317f88091239bdf738a829146a4792bbee18bfc0c57e936fefacb408a0426850"'
      Location:
      - https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029593124
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"id":5029593124,"name":"TODO: importing advisory improvement","node_id":"CR_kwDOGUrjes8AAAABK8mAJA","head_sha":"4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e","external_id":"","url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029593124","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/runs/5029593124","details_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","status":"in_progress","conclusion":null,"started_at":"2022-02-01T23:26:39Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/check-runs/5029593124/annotations"},"check_suite":{"id":5140379217},"app":{"id":<%=ENV["GITHUB_APP_ID"]%>,"slug":"chrisbloom7-advisory-db-test","node_id":"A_kwDNUwLOAAJHsw","owner":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"name":"chrisbloom7-advisory-db-test","description":"","external_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","html_url":"https://github.com/apps/chrisbloom7-advisory-db-test","created_at":"2021-11-03T18:32:24Z","updated_at":"2021-11-29T21:36:31Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"events":["check_run","check_suite","pull_request"]},"pull_requests":[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/2","id":837542881,"number":2,"head":{"ref":"chrisbloom7-patch-2","sha":"4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}},"base":{"ref":"main","sha":"784aba753fd0750c50769bed65c51d34d463e672","repo":{"id":424338298,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","name":"advisories-test"}}}]}'
  recorded_at: Tue, 01 Feb 2022 23:26:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52b375b814a7b4c37313a3a5eab76c9c99b0bfe171c5c2ca6128436d57dc2069"
      Last-Modified:
      - Tue, 01 Feb 2022 18:11:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"0d167684f794f3255f273be618d475f5dce161a4","filename":"advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json","status":"modified","additions":2,"deletions":2,"changes":4,"blob_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json","raw_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/raw/4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json?ref=4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e","patch":"@@
        -25,7 +25,7 @@\n               \"introduced\": \"1.2.3\"\n             },\n             {\n-              \"fixed\":
        \"1.3.1\"\n+              \"fixed\": \"2.2.2\"\n             }\n           ]\n         }\n@@
        -49,4 +49,4 @@\n     \"severity\": \"LOW\",\n     \"github_reviewed\": true\n   }\n-}\n\\
        No newline at end of file\n+}"}]'
  recorded_at: Tue, 01 Feb 2022 23:26:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json?ref=4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d167684f794f3255f273be618d475f5dce161a4"
      Last-Modified:
      - Tue, 01 Feb 2022 18:11:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '25'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"GHSA-9686-c4g7-g6mw.json","path":"advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json","sha":"0d167684f794f3255f273be618d475f5dce161a4","size":1522,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json?ref=4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/blob/4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json","git_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs/0d167684f794f3255f273be618d475f5dce161a4","download_url":"https://raw.githubusercontent.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/4f331541c7528dd19f8cae7a0ca3b0f00bd09f4e/advisories/github-reviewed/2022/02/GHSA-9686-c4g7-g6mw/GHSA-9686-c4g7-g6mw.json?token=AWKWLJNODPHJZQTQEEUVHJTB7HA6ZAVPNFXHG5DBNRWGC5DJN5XF62LEZYATRJFTWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","type":"file","content":"ewogICJzY2hlbWFfdmVyc2lvbiI6ICIxLjEuMCIsCiAgImlkIjogIkdIU0Et\nOTY4Ni1jNGc3LWc2bXciLAogICJtb2RpZmllZCI6ICIyMDIyLTAyLTAxVDE0\nOjUxOjU0WiIsCiAgInB1Ymxpc2hlZCI6ICIyMDIyLTAyLTAxVDE0OjUxOjU0\nWiIsCiAgImFsaWFzZXMiOiBbCgogIF0sCiAgInN1bW1hcnkiOiAiRG9sb3Jl\nIGVuaW0gaWQgY3VwaWRhdGF0IG9jY2FlY2F0LiIsCiAgImRldGFpbHMiOiAi\nRGVzZXJ1bnQgdm9sdXB0YXRlIGV4IGFsaXF1aXAgaXJ1cmUgbm9zdHJ1ZCBh\ndXRlIGRlc2VydW50IGVsaXQgZXN0LiBDb25zZWN0ZXR1ciBlYSBzaW50IGFk\naXBpc2ljaW5nIHJlcHJlaGVuZGVyaXQgY29uc2VxdWF0IExvcmVtIGV4Y2Vw\ndGV[...]
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"839f171261cf3324024264112f0f12a483555d676b17738622619c6604cf90a2"
      Last-Modified:
      - Tue, 01 Feb 2022 18:07:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1643759022'
      X-Ratelimit-Used:
      - '26'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1","id":837539261,"node_id":"PR_kwDOGUrjes4x69W9","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/1","diff_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/1.diff","patch_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/1.patch","issue_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/1","number":1,"state":"open","locked":false,"title":"Test
        for VCR","user":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"body":null,"created_at":"2022-02-01T18:07:42Z","updated_at":"2022-02-01T18:07:42Z","closed_at":null,"merged_at":null,"merge_commit_sha":"4686a4fe574a93bbb81ac0b550da853864691a80","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1/commits","review_comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/1/comments","review_comment_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/comments{/number}","comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/1/comments","statuses_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/statuses/1c37e94014a996f7c0d8c36daf87900d40072a84","head":{"label":"chrisbloom7:chrisbloom7-patch-1","ref":"chrisbloom7-patch-1","sha":"1c37e94014a996f7c0d8c36daf87900d40072a84","user":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"repo":{"id":424338298,"node_id":"R_kgDOGUrjeg","name":"advisories-test","full_name":"<%=ENV["GITHUB_ADVISORIES_REPO"]%>","private":true,"owner":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}","gists_url":"https://api.github.com/users/chrisbloom7/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisbloom7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisbloom7/subscriptions","organizations_url":"https://api.github.com/users/chrisbloom7/orgs","repos_url":"https://api.github.com/users/chrisbloom7/repos","events_url":"https://api.github.com/users/chrisbloom7/events{/privacy}","received_events_url":"https://api.github.com/users/chrisbloom7/received_events","type":"User","site_admin":true},"html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","description":null,"fork":false,"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","forks_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/forks","keys_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/teams","hooks_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/hooks","issue_events_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/events{/number}","events_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/events","assignees_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/assignees{/user}","branches_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/branches{/branch}","tags_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/tags","blobs_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/statuses/{sha}","languages_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/languages","stargazers_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/stargazers","contributors_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contributors","subscribers_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/subscribers","subscription_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/subscription","commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/comments{/number}","contents_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/contents/{+path}","compare_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/merges","archive_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/downloads","issues_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues{/number}","pulls_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls{/number}","milestones_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/milestones{/number}","notifications_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/labels{/name}","releases_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/releases{/id}","deployments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/deployments","created_at":"2021-11-03T18:30:04Z","updated_at":"2021-11-29T21:46:08Z","pushed_at":"2022-02-01T22:55:20Z","git_url":"git://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","ssh_url":"git@github.com:<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","clone_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>.git","svn_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>","homepage":null,"size":6,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":3,"watchers":0,"default_branch":"main"}},"base":{"label":"chrisbloom7:main","ref":"main","sha":"784aba753fd0750c50769bed65c51d34d463e672","user":{"login":"chrisbloom7","id":21250,"node_id":"MDQ6VXNlcjIxMjUw","avatar_url":"https://avatars.githubusercontent.com/u/21250?v=4","gravatar_id":"","url":"https://api.github.com/users/chrisbloom7","html_url":"https://github.com/chrisbloom7","followers_url":"https://api.github.com/users/chrisbloom7/followers","following_url":"https://api.github.com/users/chrisbloom7/following{/other_user}[...]
[...]
