.lineHeightSpacious {
  line-height: var(--text-title-lineHeight-small, 1.5);
}

.evenFlexBasis {
  flex-basis: 50%;
}

.subHeaderPadding {
  padding-top: var(--base-size-6);
  padding-bottom: var(--base-size-8);
}

.leftBorder {
  border-left: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

.gap6 {
  gap: var(--base-size-40) !important;
}

