.lineHeightSpacious {
  line-height: var(--text-title-lineHeight-small, 1.5);
}

.evenFlexBasis {
  flex-basis: 50% !important;
}

.subHeaderPadding {
  padding-top: var(--base-size-6);
  padding-bottom: var(--base-size-8);
}

.gap6 {
  gap: var(--base-size-40) !important;
}

.dividerResponsive {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));

  @media screen and (min-width: 1012px) {
    border-right: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  }
}

.stackResponsive {
  @media screen and (min-width: 1012px) {
    flex-direction: row !important;
  }
}
