.playgroundContainer {
  height: 100%;

  @media (min-height: 544px) {
    overflow: auto;
  }
}

.playgroundPanel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-condensed);

  /*
  Our page panel should be all of the avaliable space after the header, excluding the padding. Because we are
  explicitly setting the height we need to account for that.

  Note; Our app calculates and sets the height of the header we can use here.

  The algorithm is as follows:
  1. Get the height of the viewport
  2. Subtract the height of the header
  3. Subtract the padding of the panel
  */
  height: calc(100vh - var(--header-height, 104px) - (var(--spacing-condensed) * 2));
}
