.expandButton {
  display: flex;
  height: 32px;
}

.filesButtonBreakpoint {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.Button_1 {
  color: var(--fgColor-muted);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
