.Box {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-8);
}

.Box_1 {
  display: flex;
  justify-content: center;
  padding: var(--base-size-8);
}

.Octicon {
  color: var(--fgColor-attention);
}

.Box_2 {
  color: var(--fgColor-muted);
}
