.Pane {
  min-width: 0;

  @media screen and (min-width: 768px) {
    height: 100vh;
    max-height: 100vh !important;
  }
}

.HidePane {
  @media print, screen and (max-width: 1011px) and (min-width: 768px) {
    display: none;
  }
}

.HidePaneWithTreeOverlay {
  /* 1349 is TreeOverlayBreakpoint - 1 */
  @media print, screen and (max-width: 1349px) and (min-width: 768px) {
    display: none;
  }
}

.Overlay {
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 440px;
  height: 100vh;
  max-height: 100vh;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.HideTree {
  display: none;
}

.Box_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-8);
  padding-top: var(--base-size-16);
}

.Box_2 {
  margin-left: var(--base-size-24);
  margin-right: var(--base-size-24);
  display: flex;
  width: 100%;
}

.Box_3 {
  flex-grow: 1;
}

.Box_4 {
  margin-left: var(--base-size-8);
  white-space: nowrap;

  /* stylelint-disable-next-line selector-max-type */
  &:hover button:not(:hover) {
    border-left-color: var(--button-default-borderColor-hover, var(--color-btn-hover-border));
  }
}

.IconButton {
  color: var(--fgColor-muted);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.FileResultsList {
  margin-left: var(--base-size-16) !important;
  margin-right: var(--base-size-16) !important;
  margin-bottom: var(--base-size-12);
}

.Box_5 {
  flex-grow: 1;
  max-height: 100% !important;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.Box_6 {
  margin-top: var(--base-size-8);
  margin-left: var(--base-size-24);
  margin-right: var(--base-size-24);
  margin-bottom: var(--base-size-12);
  font-size: var(--text-body-size-medium);
  align-items: center;
  color: var(--fgColor-danger);
}

.Box_7 {
  position: absolute;
  padding: var(--base-size-16);
  display: none;
}

.Box_8 {
  border-bottom: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
