.scopeInfo {
  padding-bottom: var(--base-size-16);

  &:last-child {
    padding-bottom: 0;
  }

  .scopeHeader {
    align-items: center;
    display: flex;

    .scopeName {
      font-weight: var(--base-text-weight-semibold);
      margin-left: var(--base-size-8);
    }
  }
}

.categoryInfo {
  margin-top: var(--base-size-8);
  margin-left: var(--base-size-24);
}

.permissionInfo {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  margin-left: var(--base-size-32);
}
