.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputContainer {
  position: relative;
}

.popup {
  position: fixed;
  margin-top: var(--base-size-4);
  padding: var(--base-size-16);
  border: var(--borderWidth-thin) solid;
  background-color: var(--bgColor-default);
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  z-index: 100;
}

.text {
  font-weight: var(--base-text-weight-medium);
  font-size: var(--text-body-size-medium);
  margin-bottom: var(--base-size-8);
  color: var(--fgColor-default);
  display: block;
}

.colors {
  display: flex;
  gap: 4px;
}

.colors:not(:last-child) {
  margin-bottom: var(--base-size-4);
}

.color {
  width: 32px;
  height: 32px;
  border-radius: var(--borderRadius-medium);
  cursor: pointer;
}
