.pattern {
  /* stylelint-disable-next-line primer/spacing */
  bottom: unset;
  left: var(--base-size-8);
  position: absolute;
  top: var(--base-size-8);
  z-index: 0;
}

@container (min-width: 600px) {
  .pattern {
      position: absolute;
      left: 45%;
      /* stylelint-disable-next-line primer/spacing */
      top: unset;
      bottom: calc(-1 * var(--base-size-12));
      z-index: 0;
  }
}
