.Pagehead {
  margin-bottom: var(--base-size-16);
  padding-bottom: var(--base-size-4);
  padding-top: var(--base-size-16);
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-medium);
}
