.container {
  border: var(--borderWidth-default) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  margin-bottom: var(--base-size-16);

  [role="tree"] {
    margin: 0 !important;
    padding: 0 !important;
  }
}
