@layer recipes {
  .container {
    grid-area: description;
    line-height: var(--text-caption-lineHeight);
  }

  .text-wrapper {
    font: var(--text-body-shorthand-small);
    color: var(--fgColor-muted);
  }

  .text {
    margin: 0;
    font: var(--text-body-shorthand-small);
    line-height: var(--text-title-lineHeight-large);
    color: var(--fgColor-muted);
  }
}

