@layer recipes {
  .container {
    container-name: simple-list-item;
    container-type: inline-size;
    position: relative;
    padding: var(--base-size-12);

    &.disabled {
      background-color: var(--bgColor-disabled);
    }

    &:not(:first-child) {
      border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
    }
  }

  .contents {
    display: grid;
    grid-template:
      'leadingVisual title       status      actions trailingActions' 1fr
      'description   description description actions trailingActions' auto
      / auto auto 1fr auto auto;
  }

  .status {
    grid-area: status;
    display: inline-flex !important;
    align-self: center;
  }

  .actions {
    grid-area: actions;
    padding-left: var(--base-size-12);
    align-self: center;
  }

  .trailingActions {
    grid-area: trailingActions;
    margin-left: var(--base-size-12);
    align-self: start;
    justify-self: end;
  }


  /* If there is not leading visual then the first child of the contents will be a title and we make sure it
  occupies the first column */
  .contents:not(:has(.leadingVisual)) > :first-child {
    grid-column-start: 1;
  }

  .contents:has(.status) {
    grid-template:
    'leadingVisual title       status      actions trailingActions' 1fr
    'description   description description actions trailingActions' auto
    / auto auto 1fr auto auto;

    @container simple-list-item (max-width: 500px) {
      grid-template:
      'leadingVisual title       trailingActions' 1fr
      'status        status      trailingActions' auto
      'description   description trailingActions' auto
      'actions       actions     trailingActions' auto
      / auto auto auto;

      >*:not(:first-child) {
        /* stylelint-disable-next-line primer/spacing */
        margin-top: 10px;
      }

      >.trailingActions {
        margin-top: 0;
      }
    }
  }

  /* This is to cover a use case where multiple status labels would cause the description to be pushed lower
  unexpectedly. We specifically check for a somewhat arbitrary number of 4 labels to wrap them to a single row
  to mitigate this issue */
  .contents:has(.status > *:nth-last-child(n+4)) {
    @container simple-list-item (max-width: 740px) {
      grid-template:
      'leadingVisual title       trailingActions' 1fr
      'status        status      trailingActions' auto
      'description   description trailingActions' auto
      'actions       actions     trailingActions' auto
      / auto auto auto;

      >*:not(:first-child) {
        /* stylelint-disable-next-line primer/spacing */
        margin-top: 10px;
      }

      >.trailingActions {
        margin-top: 0;
      }
    }
  }

  .contents:has(.actions > *:nth-last-child(n+3)) {
    @container simple-list-item (max-width: 500px) {
      grid-template:
      'leadingVisual title       trailingActions' 1fr
      'actions       actions     trailingActions' auto
      'description   description trailingActions' auto
      / auto auto auto;

      >*:not(:first-child) {
        /* stylelint-disable-next-line primer/spacing */
        margin-top: 10px;
      }

      >.trailingActions {
        margin-top: 0;
      }
    }
  }
}
