@layer recipes {
  .title {
    grid-area: title;
    align-self: center;
    justify-self: start;
    padding-right: var(--base-size-12);
    font: var(--text-body-shorthand-medium);
    font-weight: var(--text-title-weight-medium);
  }

  .link {
    color: var(--fgColor-default);
  }
}
