.headerContainer {
  padding: var(--base-size-16) 0;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.headerTitle {
  font-size: var(--text-title-size-medium);
  font-weight: var(--text-title-weight-medium);
}

.headerSubtitle {
  font-size: var(--text-caption-size);
  font-weight: var(--text-caption-weight);
}
