.getStartedBox {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  display: flex;
  border-radius: var(--borderRadius-medium);
  padding: 0 var(--base-size-24);
  align-items: center;

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));
  }
}
