.codeContainer {
  height: 12em;
  position: relative;
  overflow: hidden;
}

.expanded {
  height: 100%;
}

.copyButton {
  position: absolute;
  top: var(--base-size-16);
  right: var(--base-size-16);
  z-index: 1;
}

.codeContainer :global(.cm-gutters) {
  display: none;
}

.box {
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 50px;
  align-items: center;
  display: flex;
  gap: var(--base-size-8);
  padding: var(--base-size-8);
  overflow: hidden;
}

.codeContainerSpinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdkButton {
  min-width: 0;

  /* stylelint-disable-next-line selector-max-type */
  > span:first-child {
    flex: 1;

    /* stylelint-disable-next-line selector-max-type */
    > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.sdkName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
