@media (min-width: 1310px) {
  .content :global([class*="PageLayout-Content"]:not([data-width="full"])) {
    max-width: 1280px !important;
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
:global(footer.footer) {
  padding: var(--base-size-16) 0 !important;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default) !important;
}

