.Text {
  /* stylelint-disable-next-line primer/typography */
  line-height: 2;
  font-weight: var(--base-text-weight-semibold);
}

.Text_1 {
  /* stylelint-disable-next-line primer/typography */
  line-height: 2;
}

.Table_Container {
  margin-bottom: var(--base-size-24);
}
