.DisablePin {
  color: var(--fgColor-disabled);
}

/* this can be replaced with ActionList.Item small variant https://github.com/github/primer/issues/4587 */
.ActionListOverrides {
  --text-body-size-medium: var(--text-body-size-small);
  --control-medium-paddingBlock: var(--control-small-paddingBlock);
}
