/* stylelint-disable primer/colors */

.container {
  display: flex;
  gap: var(--base-size-4);
  width: fit-content;
  padding: var(--base-size-8);
  margin: 0 auto;
  border: var(--borderWidth-thin) solid #484F58;
  border-radius: var(--borderRadius-full);
}

.segment {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--brand-color-text-default);
  border-radius: var(--borderRadius-full);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  padding: var(--base-size-8) var(--base-size-16);
  transition: background-color 0.2s;
}

.segment:is(:hover, :focus-visible, :active) {
  background-color: var(--brand-button-subtle-bgColor-rest);
}

.segment:is([aria-selected="true"]) {
  background-color: #438440;
}

@media (min-width: 768px) {
  .segment {
    font-size: var(--text-body-size-large);
    padding-left: var(--base-size-24);
    padding-right: var(--base-size-24);
  }
}
