.SplitPageLayout_Content {
  padding: var(--base-size-16);
  padding-top: 0;

  @media screen and (min-width: 1012px) {
    padding: var(--base-size-24);
    padding-top: 0;
  }
}

.HiddenPane {
  display: none !important;
  contain: content;
}

.Pane {
  contain: content;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &:not(.MobileExpanded) {
    @media screen and (max-width: 768px) {
      display: none !important;
    }
  }

  &.MobileExpanded {
    @media screen and (max-width: 768px) {
      margin-top: calc(var(--base-size-16) * -1);
    }
  }

  &:not(.TreeExpanded) {
    @media screen and (min-width: 769px) {
      display: none !important;
    }
  }

  &.TreeExpanded {
    @media screen and (min-width: 769px) {
      height: 100vh;
      max-height: 100vh !important;
    }
  }
}

