/* stylelint-disable primer/typography */
.wrapper {
  --brand-Grid-spacing-row: var(--base-size-48);
}

.sectionIntro {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: max-content;
  justify-items: start;
}

.stackedItems {
  --brand-stack-gap-condensed: var(--base-size-32);

  @media (min-width: 1012px) {
    --brand-stack-gap-condensed: var(--base-size-40);
  }
}

/* Font styles for stacked items are custom and do not map to a PB font style */
.stackedItemText {
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: -0.01em;

  @media (min-width: 1012px) {
    font-size: var(--text-subtitle-size);
  }
}

.headingText {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.heading {
  font-size: var(--base-size-24);
  line-height: 130%;
  margin-block-end: var(--base-size-16);
  letter-spacing: -0.01em;

  @media (min-width: 768px) {
    font-size: 1.75rem;
    margin-block-end: var(--base-size-24);
  }

  @media (min-width: 1012px) {
    font-size: var(--text-title-size-large);
    line-height: 120%;
  }
}
