.cardContainerStyles {
  display: flex;
  flex-direction: column;
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);

  &:hover {
    text-decoration: none;
  }
}

.imageContainerStyles {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--bgColor-muted);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
  padding-top: var(--base-size-12);
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
  overflow: hidden;
}

.templateImageStyles {
  width: 100%;
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-bottom: 0;
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-floating-large);
  aspect-ratio: 1440 / 750;
}

.templateInfoStyles {
  padding: var(--base-size-8);
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
}

.Box_4 {
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-medium);
}

.Box_5 {
  color: var(--fgColor-muted);
}

.Box_6 {
  color: var(--fgColor-muted);
  margin: 0;
}
