.title {
  font-size: var(--text-body-size-medium);
  font-weight: var(--text-title-weight-small);
  color: var(--fgColor-muted);
}

.metadata {
  font-size: var(--text-body-size-small);
  line-height: var(--text-body-lineHeight-small);
}
