.templateDetails {
  display: grid;
  grid-template-columns: auto;
  gap: var(--base-size-24);
}

@media (min-width: 768px) {
  .templateDetails {
    grid-template-columns: minmax(auto, 250px) 1fr;
  }
}

.templateGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);
  gap: var(--base-size-16);
}

@media (min-width: 768px) {
  .templateGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.Box {
  margin-bottom: var(--base-size-32);
}

.Box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: var(--text-body-size-small);
  margin-bottom: var(--base-size-8);
  color: var(--fgColor-muted);
}

.Box_2 {
  font-size: var(--text-body-size-small);
}

.Box_3 {
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-8);
  text-align: center;
}

.defaultTemplateImageStyles {
  width: 100%;
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  aspect-ratio: 1440 / 750;
}

.Heading_1 {
  font-size: var(--text-body-size-medium);
  margin-bottom: var(--base-size-8);
  display: inline-block;
}

.Box_5 {
  color: var(--fgColor-muted);
}

.TextInput {
  width: 100%;
}

.Box_6 {
  display: flex;
  flex-direction: column;

  > * + * {
    border-top-style: solid;
    border-top-width: var(--borderWidth-thin);
    border-top-color: var(--borderColor-default);
  }

  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.pillRowStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  gap: var(--stack-gap-condensed);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.pillRowLabelStyles {
  flex-shrink: 0;
}

.CounterLabel {
  margin-right: var(--base-size-8);
}

.pillContainerStyles {
  display: flex;
  gap: var(--base-size-4);
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pillStyles {
  border-radius: var(--borderRadius-full);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

.pillIconStyles {
  color: var(--fgColor-muted);
  margin-right: var(--base-size-4);
}

.Dialog {
  width: 100%;

  @media screen and (min-width: 544px) {
    /* stylelint-disable-next-line primer/responsive-widths */
    width: 960px !important;
  }
}

.Box_11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

.Box_12 {
  display: flex;
  gap: var(--base-size-4);
}

.NavList {
  margin-left: calc(var(--base-size-8) * -1);
  margin-top: calc(var(--base-size-24) * -1);
}

.FormControl {
  margin-bottom: var(--base-size-16);
}

.Heading_2 {
  font-size: var(--text-body-size-small);
  margin-bottom: var(--base-size-8);
}
