.templateDetails {
  display: grid;
  grid-template-columns: auto;
  gap: var(--base-size-24);
}

@media (min-width: 768px) {
  .templateDetails {
    grid-template-columns: minmax(auto, 250px) 1fr;
  }
}

.templateGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);
  gap: var(--base-size-16);
}

@media (min-width: 768px) {
  .templateGrid {
    grid-template-columns: 1fr 1fr;
  }
}
