.AddEditDialogLayout {
  display: flex;
  flex-direction: column;

  /* stylelint-disable-next-line selector-max-type */
  :global(:where([class*="Dialog-Body"], [class*="DialogOverflowWrapper"], form)) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }
}

.ModelSelectorLayout {
  &, :global([class*="FormControl"]) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }
}
