.ModelSelectorConfig {
  /* base-size-32 is the height of Primer TextInput variant small, see note in ModelSelectorPane.module.css */
  min-height: var(--selectorItemMinHeight, var(--base-size-32));

  &:focus-visible {
    outline: var(--focus-outline);
  }

  & :global(label) {
    font: var(--text-body-shorthand-medium) !important;
  }
}

.Disabled {
  color: var(--fgColor-muted);
  cursor: not-allowed;
}

.DimLabel {
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-muted);
}
