.ModelSelectorPane {
  /*
  var(--base-size-32) is the height of Primer's TextInput variant small:
  See: https://github.com/primer/react/blob/5442fbcf75a0acf8ebcd7485d44e8a1f5bd95cfb/packages/react/src/internal/components/TextInputWrapper.module.css#L3
  We want to ensure that the item is at least that height, so when the InlineEdit's input appears, it does not change the height of the item. For a jumpy feel..
  */
  --selectorItemMinHeight: var(--base-size-32);

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  min-height: var(--selectorItemMinHeight);
  padding: var(--base-size-6) var(--base-size-12);
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  background: var(--bgColor-muted);
}

.ModelSelectorPaneEmpty {
  justify-content: center;
}
