---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2022-0755.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:20 GMT
      Etag:
      - '"b8e9b7574dd759adbcab8e4910dbbb83"'
      X-Goog-Generation:
      - '1709227340034853'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1230'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=e7tqIQ==
      - md5=uOm3V03XWa28q45JENu7gw==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2022-0755","modified":"2023-06-12T18:45:41Z","published":"2021-05-18T15:42:40Z","aliases":["CVE-2019-13209","GHSA-xhg2-rvm8-w2jh"],"summary":"Cross-site
        request forgery in github.com/rancher/rancher","details":"Here is additional details text. Rancher 2 is vulnerable
        to a Cross-Site Websocket Hijacking attack that allows an exploiter to gain
        access to clusters managed by Rancher.","affected":[{"package":{"name":"github.com/rancher/rancher","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"2.2.5-rc6.0.20190621200032-0ddffe484adc+incompatible"}]}],"ecosystem_specific":{"imports":[{"path":"github.com/rancher/rancher/server","symbols":["Start"]},{"path":"github.com/rancher/rancher/pkg/clusterrouter","symbols":["Router.ServeHTTP"]}]}}],"references":[{"type":"ADVISORY","url":"https://github.com/advisories/GHSA-xhg2-rvm8-w2jh"},{"type":"FIX","url":"https://github.com/rancher/rancher/commit/0ddffe484adccb9e37d9432e8e625d8ebbfb0088"},{"type":"WEB","url":"https://forums.rancher.com/t/rancher-release-v2-2-5-addresses-rancher-cve-2019-13209/14801"}],"credits":[{"name":"Matt
        Belisle"},{"name":"Alex Stevenson at Workiva"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2022-0755"}}'
  recorded_at: Sun, 03 Mar 2024 02:50:10 GMT
recorded_with: VCR 6.2.0
