/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-specificity */
/* stylelint-disable selector-max-type */

.streamingContainer > p:last-of-type:last-child,
.streamingContainer > h1:last-of-type:last-child,
.streamingContainer > h2:last-of-type:last-child,
.streamingContainer > h3:last-of-type:last-child,
.streamingContainer > h4:last-of-type:last-child,
.streamingContainer > h5:last-of-type:last-child,
.streamingContainer > h6:last-of-type:last-child,
.streamingContainer ol:last-of-type:last-child li:last-of-type:last-child > p:last-of-type:last-child,
.streamingContainer ul:last-of-type:last-child li:last-of-type:last-child > p:last-of-type:last-child {
  position: relative;
}

.streamingContainer > p:last-of-type:last-child::after,
.streamingContainer > h1:last-of-type:last-child::after,
.streamingContainer > h2:last-of-type:last-child::after,
.streamingContainer > h3:last-of-type:last-child::after,
.streamingContainer > h4:last-of-type:last-child::after,
.streamingContainer > h5:last-of-type:last-child::after,
.streamingContainer > h6:last-of-type:last-child::after,
.streamingContainer ol:last-of-type:last-child li:last-of-type:last-child > p:last-of-type:last-child::after,
.streamingContainer ul:last-of-type:last-child li:last-of-type:last-child > p:last-of-type:last-child::after {
  position: absolute;
  display: inline-block;
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
  content: '\258B';
}
