.title {
  font: var(--text-display-shorthand);
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subtitle {
  font: var(--text-title-shorthand-medium);
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titleSubtext {
  font: var(--text-body-shorthand-large);
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-16);
}

.subtext {
  font: var(--text-body-shorthand-large);
  margin-top: calc(var(--base-size-8) * -1);
  color: var(--fgColor-muted);
}

.timelineLink {
  font-size: var(--text-body-size-large);
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-medium);
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
}
