.improvePrompt{
  min-width: auto;

  :global([data-component="buttonContent"]) {
    width: 100%;
    grid-template-columns: min-content minmax(0, 1fr) min-content;
  }

  :global([data-component="text"]) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
