.modelName {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
  width: 100%;
}

.selectAnchor {
  min-width: 1px;

  :global([data-component="buttonContent"]) {
    flex: 1 1 0;
    grid-template-columns: min-content minmax(0, 1fr) min-content;
  }
}
