.friendlyNameText {
  font-weight: var(--base-text-weight-semibold);
  padding-bottom: var(--base-size-4);
  text-align: center;
  font-size: var(--text-title-size-small);

  @media screen and (min-width: 768px) {
    font-size: var(--text-title-size-medium);
  }
}

.summaryText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  text-align: center;
  padding-bottom: var(--base-size-16);

  @media screen and (min-width: 768px) {
      padding-bottom: var(--base-size-48);
    }
  }

.sampleInputContainer {
  display: flex;
  gap: var(--base-size-16);
  flex-direction: column;
  max-width: 100%;
  padding-bottom: var(--base-size-16);

  &.normal {
    @media screen and (min-width: 768px) {
      /* (MAX_SUGGESTIONS = 3) x 240 + 32 */
      max-width: 752px;
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &.comparison {
    @media screen and (min-width: 768px) {
      /* (MAX_SUGGESTIONS = 3) x 240 + 32 */
      max-width: 752px;
      padding-bottom: 0;
    }
  }
}
