.playgroundChatMessagesContainer {
  padding-bottom: var(--base-size-8);

  &:hover,
  &:focus-within {
    .message-actions {
      opacity: 1px;
      pointer-events: auto;
    }
  }

  &:hover {
    .message-actions {
      transition: opacity 0.1s ease-in-out;
      transition-delay: 0.2s;
    }
  }
}

.messageContainer {
  padding: var(--base-size-4);
  font-size: var(--text-body-size-medium);
}

.messageRowWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
  font-size: var(--text-body-size-medium);
}

.messageAuthor {
  font-weight: var(--base-text-weight-semibold);
}

.messageText {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

.message {
  display: flex;
  gap: var(--stack-gap-condensed);
  align-items: baseline;
}

.messageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.messageActions {
  display: inline-flex;
  align-items: center;
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  bottom: -2.25rem;
  left: var(--base-size-2);
  z-index: 1px;
  border-radius: 2;
  pointer-events: none;
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  background-color: var(--bgColor-default, var(--color-canvas-default));

  &::before {
    content: '';
    inset: -0.5rem -0.75rem;
    position: absolute;
    z-index: -1;
  }
}

.lastResponse {
  position: unset;
  border-radius: unset;
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: unset;
  opacity: unset;
  pointer-events: unset;
  left: 0;

  &::before {
    content: unset;
  }
}
