.container {
  container-name: playgroundChatContainer;
  container-type: size;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--base-size-8);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  background-color: var(--bgColor-muted);
}

.edit {
  gap: var(--base-size-8);
}
