.container {
  height: 100%;
  flex-direction: column;
  width: 30%;
  max-width: 480px;
  min-width: 280px;
  overflow: auto;
  display: none;

  &.showSidebar {
    @media screen and (min-width: 1012px) {
      display: flex;
    }
  }
}

.segmentedControl {
  height: 28px;
  font-size: var(--text-body-size-medium);
}
