:global(.dragover) .root {
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 4px var(--borderColor-success-muted, var(--color-success-muted)), 0 0 0 1px var(--borderColor-success-emphasis, var(--color-success-emphasis));

  :global(.copilot-chat-input) {
    box-shadow: none;
  }
}

.root {
  z-index: 1;
  border-radius: var(--borderRadius-medium);
  margin-right: var(--base-size-16);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 0 0 0 1px var(--borderColor-default, var(--color-border-default)),
}

.input {
  position: relative;
  border-radius: var(--borderRadius-medium);
  display: flex;
  align-items: flex-end ;
  gap: var(--base-size-8);
  background-color: var(--bgColor-default, var(--color-canvas-default));
  padding: 0 var(--base-size-8);

  &:has(.textarea:focus) {
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: 0 0 0 2px var(--focus-outlineColor, var(--color-accent-emphasis));
  }
}

.form {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.formContainer {
  max-height: 30dvh;
  min-height: 44px;
  overflow-y: auto;
  position: relative;
  flex-grow: 1;
}

.formContainer > :first-child {
  display: contents;
}

.textarea {
  position: absolute;
}
