.container {
  height: 100%;
  flex-direction: column;
  flex-basis: 30%;
  max-width: 480px;
  min-width: min-content;
  overflow-y: auto;
  display: none;

  &.showSidebar {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.buttonWrapper {
  border-top: var(--borderWidth-thin, --borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  gap: var(--base-size-8);
  background-color: var(--bgColor-default, var(--color-canvas-default));

  @media (min-width: 768px) {
      padding: var(--base-size-16);
  }

  @media (min-height: 700px) {
    position: sticky;
    bottom: 0;
  }
}
