.copyButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  @media screen and (min-width: 544px) {
    right: var(--base-size-8);
  }

  @media screen and (min-height: 544px) {
    top: var(--base-size-8);
  }
}
