.container {
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: flex-end;
}

.iconButton {
  display: flex;

  @media screen and (min-width: 544px) {
    display: none;
  }
}

.button {
  display: none;

  @media screen and (min-width: 544px) {
    display: flex;
  }
}
