.articlePageBody {
  &[data-color-mode='light'] {
    --brand-color-accent-primary: var(--base-color-scale-purple-5);
  }

  &[data-color-mode='dark']  {
    --brand-color-border-default: var(--base-color-scale-gray-5);
    --brand-color-accent-primary: var(--base-color-scale-purple-1);
    --brand-CTABanner-bgColor: var(--base-color-scale-gray-7);
    --brand-button-secondary-borderColor-rest: rgba(255, 255, 255, 0.25);
  }
}

.hr {
  margin: 0;
  /* stylelint-disable-next-line primer/colors */
  border-bottom: var(--borderWidth-thin) solid var(--base-color-scale-gray-5);
}

.articleCol {
  order: 1;
}

.asideCol {
  order: 2;
}

.heroImageArea {
  overflow: hidden;
  border-radius: 0;
}

.heroImage {
  display: block;
  width: 100%;
}
