.link {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  color: var(--fgColor-default);
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: var(--base-size-16);
  text-decoration: none;
}

.link:hover,
.link:focus {
  background-color: var(--bgColor-muted);
}

.resourceCardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}
