.viewContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.menuOverlay {
  width: max-content !important;
}

.warning {
  color: var(--fgColor-attention);
}

.saveButton {
  /* Force matching `New Issue` button sizing for consistency */
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 10px;
}
