.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-size-8);
  border-bottom: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default),
}

.Title {
  margin-left: var(--base-size-8);
  font-size: var(--text-body-size-medium);
}

.Wrapper {
  display: flex;
  height: inherit;
  max-height: inherit;
  flex-direction: column;
  width: 280px;
}

.FooterButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.Footer {
  display: flex;
  min-height: 44px;
  padding: var(--base-size-16);
  border-top: var(--borderWidth-thin) solid;
  border-top-color: var(--borderColor-default);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  &:where([data-hide-primary-actions]) {
    padding: var(--base-size-8);
  }
}

.FooterContent {
  flex-grow: 0;

  &:where([data-hide-primary-actions]) {
    flex-grow: 1;
  }
}

.FooterActions {
  display: flex;
  gap: var(--stack-gap-condensed);
}
