@layer recipes {
  .Octicon_0 {
    margin-right: var(--base-size-4);
    color: var(--fgColor-muted);
  }

  .ActionMenu_Overlay_0 {
    width: fit-content;
    white-space: nowrap;
  }

  .ActionList_0 {
    max-height: 320px;
    overflow: auto;
  }

  .ActionList_Item_0 {
    &:focus:not(:focus-visible) {
      outline-style: none;
    }
  }
}
