@layer recipes {
  .Box_0 {
    display: flex;
    padding: var(--base-size-16);
    border-top: var(--borderWidth-thin) solid;
    border-top-color: var(--borderColor-default);
    justify-content: space-between;
    align-items: center;
  }

  .Box_1 {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .Box_2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    gap: var(--stack-gap-condensed);

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .Box_3 {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .Box_4 {
    position: relative;
    display: flex;
    height: 100%;
    max-height: 100vh;
    padding: var(--base-size-16);
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--bgColor-muted);

    @media screen and (min-width: 768px) {
      height: auto;
      max-height: 60vh;
      padding-right: var(--base-size-8);
      background: var(--bgColor-default);

      &.nonEmpty {
        padding-top: 0;
      }
    }
  }

  /* Primer Button component has not been migrated to CSS modules so need to keep !important statements */
  .Button_0 {
    z-index: 1;
    border-radius: var(--borderRadius-medium);
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    /* stylelint-disable-next-line primer/spacing */
    margin-inline-end: -1px;
    box-shadow: none !important;
  }

  /* Primer Button component has not been migrated to CSS modules so need to keep !important statements */
  .standaloneButton {
    border-top-right-radius: var(--borderRadius-medium) !important;
    border-bottom-right-radius: var(--borderRadius-medium) !important;
    margin-inline-end: 0;
  }
}

