@layer recipes {
  .Button_0[data-size="small"] {
    display: inline-flex;
    width: auto;
    min-height: 32px;
    font-size: var(--text-body-size-small);
    text-align: left;
    background: var(--bgColor-default);
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: unset;
    align-content: flex-start;
    justify-content: space-between;

    /* stylelint-disable-next-line selector-max-type */
    > span {
      gap: 2px;
      grid-template-columns: min-content minmax(0,1fr) min-content;
      flex: 1;

      /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
      span[data-component="text"] {
        display: inline-flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc(100% - 8px);
      min-height: 28px;
    }
  }

  .Octicon_0 {
    color: var(--fgColor-muted);
  }
}
