@layer recipes {
  .Box_0 {
    flex: 1;
    color: var(--fgColor-muted);
  }

  .Box_1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }

  .Octicon_0 {
    margin-right: var(--base-size-4);
    color: var(--fgColor-muted);
  }
}

.AvatarStack {
  margin-right: var(--base-size-4);

  /* stylelint-disable-next-line selector-max-type */
  img {
    transition: unset !important;
  }
}
