@layer recipes {
  .Octicon_0 {
    color: var(--fgColor-muted);
  }

  .Box_0 {
    display: flex;
    gap: var(--base-size-4);
    align-items: center;
  }

  /* Primer TextInput component has not been migrated to CSS modules so need to keep !important statements */
  .TextInput_0 {
    min-height: 32px !important;
    padding-top: var(--base-size-2) !important;
    padding-bottom: var(--base-size-2) !important;

    /* stylelint-disable-next-line selector-max-type */
    > input {
      padding-right: var(--base-size-8) !important;
      padding-left: var(--base-size-8) !important;
      font-size: var(--text-body-size-small) !important;
    }

    @media screen and (min-width: 768px) {
      min-height: 28px !important;
    }
  }

  .Box_1 {
    display: flex;
    gap: 2px;
    align-items: center;
  }

  /* Primer TextInput component has not been migrated to CSS modules so need to keep !important statements */
  .TextInput_1 {
    padding-top: var(--base-size-2) !important;
    padding-bottom: var(--base-size-2) !important;

    /* stylelint-disable-next-line selector-max-type */
    > input {
      padding-right: var(--base-size-8) !important;
      padding-left: var(--base-size-8) !important;
      font-size: var(--text-body-size-small) !important;
    }
  }

  /* Button component has not been migrated to CSS modules so need to keep !important statements */
  .Button_0 {
    display: inline-flex !important;
    width: auto !important;
    min-width: 0  !important;
    min-height: 32px !important;
    font-size: var(--text-body-size-small);
    text-align: left !important;
    background: var(--bgColor-default) !important;
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: unset;

    /* stylelint-disable-next-line selector-max-type */
    > span {
      grid-template-columns: min-content minmax(0,1fr) min-content !important;
      flex: 1 !important;

      /* stylelint-disable-next-line selector-max-type */
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    @media screen and (min-width: 768px) {
      width: 100% !important;
      min-height: 28px !important;
    }
  }

  .Overlay {
    max-height: 50vh;

    @media screen and (min-width: 768px) {
      max-height: 300px;
    }
  }
}
