.gap6 {
  gap: var(--base-size-40) !important;
}

.dividerResponsive {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));

  @media screen and (min-width: 1012px) {
    border-right: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  }
}

.stackResponsive {
  @media screen and (min-width: 1012px) {
    flex-direction: row !important;
  }
}
