.copyLink {
  appearance: none;
  background-color: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.copyText {
  position: absolute;
  top: calc(100% + var(--base-size-8));
  white-space: nowrap;
}

.socialLink {
  color: var(--fgColor-muted);

  &:hover {
    color: var(--fgColor-link);
  }

  &:focus-visible {
    outline-offset: 1px; /* Makes focus ring more visible on svg */
  }
}

@media screen and (min-width: 64rem) {
  .TopicsBox {
    border-width: 0;
  }
}
