.latestStatusUpdate {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  /* stylelint-disable-next-line primer/typography */
  font-weight: normal;
  display: flex;
  align-content: center;
}

.RelativeTime {
  font-size: inherit;
}

.SingleSelectToken {
  cursor: pointer;
}
