.Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  gap: var(--base-size-4);
  padding-right: var(--base-size-8);
  cursor: default;

  @media (max-width: 544px) {
    flex-direction: column;
  }
}

.Box_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-4);
  cursor: default;

  &:not(:focus-within):not(:hover) > .IconButton {
    visibility: hidden;
  }
}

.Box_1__hasWritePermissions {
  cursor: pointer;
}

.Octicon {
  color: var(--fgColor-muted);
}

.SanitizedHtml {
  font-size: var(--text-title-size-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: 544px) {
    white-space: normal;
    word-wrap: break-word;
  }
}

.IconButton {
  color: var(--fgColor-default);
}

.Box_2 {
  display: flex;
  align-items: center;
}

.Link {
  padding-left: var(--base-size-8);
  font-size: var(--text-body-size-small);
}

.Label {
  color: var(--fgColor-onEmphasis);
  background-color: var(--bgColor-done-emphasis);
}
