.Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.Octicon {
  color: var(--fgColor-muted);
  vertical-align: middle;
  margin-right: var(--base-size-8);
}

.Heading {
  font-size: var(--text-title-size-medium);
  color: var(--fgColor-default);
}
