.attachmentList {
  list-style: none;
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  overflow: hidden;
}

.attachmentItem {
  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  }
}

.attachmentItemButton {
  border: none;
  background: none;
  display: contents;
  text-align: left;
}

.attachmentItemLink {
  display: flex;
  flex-direction: row;
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  line-height: var(--text-body-lineHeight-medium);
  font-size: var(--text-body-size-medium);
  transition: background 0.1s linear;
  text-decoration: none;
  color: var(--fgColor-default);
  gap: var(--base-size-24);
}

.attachmentItemLink:hover {
  background-color: var(--control-transparent-bgColor-hover);
  cursor: pointer;
}

.attachmentText {
  line-height: var(--text-body-lineHeight-medium);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  text-align: left;
}

.attachmentName {
  color: var(--fgColor-default);
  font-weight: var(--text-title-weight-medium);
}

.attachmentContent {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  line-height: var(--text-body-lineHeight-small);
  margin-bottom: 0;
}

.attachmentIcon {
  color: var(--fgColor-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}
