.warningIcon {
  color: var(--fgColor-attention);
}

.referenceTitle {
  max-width: 38vw !important;
  font-weight: var(--base-text-weight-normal);

  @container (min-width: 480px) {
    max-width: 220px !important;
  }

  @container (min-width: 764px) {
    max-width: 270px !important;
  }
}

.referenceTitleLink {
  cursor: pointer;
  color: var(--fgColor-default) !important;

  &:hover {
    color: var(--fgColor-accent) !important;
  }
}
