/* stylelint-disable selector-max-type */
.banner {
  /* stylelint-disable-next-line selector-no-qualifying-type */
  div[class^="Flash"] {
    border-radius: 0;
    border-width: var(--borderWidth-thin) 0;
  }
}

.underlineNav {
  width: 100%;

  > nav {
    padding-inline: 0;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  width: 100%;
}

@container (min-width: 960px) {
  .listContainer {
    gap: var(--base-size-24);
  }
}
