/* stylelint-disable primer/colors */

.container {
  position: relative;
  width: var(--custom-size);
  aspect-ratio: 1;
  border-radius: var(--borderRadius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--avatar-foregroundColor);
  background-color: var(--avatar-backgroundColor);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: inset 0 0 1px var(--avatar-borderColor);
  flex-shrink: 0;
}

.auburn {
  --avatar-foregroundColor: var(--label-auburn-fgColor-rest);
  --avatar-backgroundColor: var(--label-auburn-bgColor-rest);
}

.blue {
  --avatar-foregroundColor: var(--label-blue-fgColor-rest);
  --avatar-backgroundColor: var(--label-blue-bgColor-rest);
}

.brown {
  --avatar-foregroundColor: var(--label-brown-fgColor-rest);
  --avatar-backgroundColor: var(--label-brown-bgColor-rest);
}

.coral {
  --avatar-foregroundColor: var(--label-coral-fgColor-rest);
  --avatar-backgroundColor: var(--label-coral-bgColor-rest);
}

.cyan {
  --avatar-foregroundColor: var(--label-cyan-fgColor-rest);
  --avatar-backgroundColor: var(--label-cyan-bgColor-rest);
}

.gray {
  --avatar-foregroundColor: var(--label-gray-fgColor-rest);
  --avatar-backgroundColor: var(--label-gray-bgColor-rest);
}

.green {
  --avatar-foregroundColor: var(--label-green-fgColor-rest);
  --avatar-backgroundColor: var(--label-green-bgColor-rest);
}

.indigo {
  --avatar-foregroundColor: var(--label-indigo-fgColor-rest);
  --avatar-backgroundColor: var(--label-indigo-bgColor-rest);
}

.lemon {
  --avatar-foregroundColor: var(--label-lemon-fgColor-rest);
  --avatar-backgroundColor: var(--label-lemon-bgColor-rest);
}

.lime {
  --avatar-foregroundColor: var(--label-lime-fgColor-rest);
  --avatar-backgroundColor: var(--label-lime-bgColor-rest);
}

.olive {
  --avatar-foregroundColor: var(--label-olive-fgColor-rest);
  --avatar-backgroundColor: var(--label-olive-bgColor-rest);
}

.orange {
  --avatar-foregroundColor: var(--label-orange-fgColor-rest);
  --avatar-backgroundColor: var(--label-orange-bgColor-rest);
}

.pine {
  --avatar-foregroundColor: var(--label-pine-fgColor-rest);
  --avatar-backgroundColor: var(--label-pine-bgColor-rest);
}

.pink {
  --avatar-foregroundColor: var(--label-pink-fgColor-rest);
  --avatar-backgroundColor: var(--label-pink-bgColor-rest);
}

.plum {
  --avatar-foregroundColor: var(--label-plum-fgColor-rest);
  --avatar-backgroundColor: var(--label-plum-bgColor-rest);
}

.purple {
  --avatar-foregroundColor: var(--label-purple-fgColor-rest);
  --avatar-backgroundColor: var(--label-purple-bgColor-rest);
}

.red {
  --avatar-foregroundColor: var(--label-red-fgColor-rest);
  --avatar-backgroundColor: var(--label-red-bgColor-rest);
}

.teal {
  --avatar-foregroundColor: var(--label-teal-fgColor-rest);
  --avatar-backgroundColor: var(--label-teal-bgColor-rest);
}

.yellow {
  --avatar-foregroundColor: var(--label-yellow-fgColor-rest);
  --avatar-backgroundColor: var(--label-yellow-bgColor-rest);
}
