.page {
  background: var(--bgColor-default);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: var(--base-size-24) var(--base-size-16);

  @media (--viewportRange-regular) {
    padding: var(--base-size-64) var(--base-size-32);
  }
}

.header {
  background: var(--bgColor-default);
  display: flex;
  padding: var(--base-size-16);
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  position: sticky;
  top: 0;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.headerTitleDivider {
  width: 1px;
  height: var(--base-size-16);
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--borderColor-muted);
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-16);
}

.headerTitle {
  color: var(--fgColor-default);
  font-family: var(--fontStack-sansSerif);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
}

.referencesSizeProgressBar {
  width: var(--base-size-64);
}

.referencesSizeText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  padding: 0 var(--base-size-8);
}

.contextHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-size-16);
  margin-bottom: var(--base-size-12);
}

.attachmentsHeading {
  color: var(--fgColor-default);
  font-family: var(--fontStack-sansSerif);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
}

.form {
  width: 100%;
  max-width: 730px;
  display: grid;
  gap: var(--stack-gap-spacious);
}

.optionalLabel {
  color: var(--fgColor-muted);
  font-weight: var(--text-body-weight);
}

.iconPreviewContainer {
  display: grid;
  grid-template-columns: 1fr;

  @media (--viewportRange-regular) {
    grid-template-columns: 200px 1fr;
    gap: var(--base-size-24);
  }
}

.iconPreviewTitle {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
  margin-bottom: var(--base-size-4);
}

.iconPreviewDescription {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  line-height: var(--text-body-lineHeight-small);
  margin-bottom: var(--base-size-8);
}

.iconAvatarContainer {
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  background: var(--bgColor-muted);
  display: grid;
  place-items: center;

  @media (--viewportRange-narrow) {
    padding: var(--base-size-24);
    margin-bottom: var(--base-size-16);
  }
}

.iconPreviewColorButtonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
  flex-wrap: wrap;
}

.iconPreviewColorButton {
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
  border-radius: 100%;
  /* This uses special colors used just for Copilot Space icons that a user can customize */
  /* stylelint-disable-next-line primer/colors */
  border: var(--borderWidth-thick) solid rgba(0, 0, 0, 0.15);
  /* stylelint-disable-next-line primer/colors */
  background: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stylelint-disable primer/colors */

.iconAvatarButton {
  position: relative;
  width: 28px;
  height: 28px;
  aspect-ratio: 1;
  border-radius: var(--borderRadius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--avatar-foregroundColor);
  background-color: var(--avatar-backgroundColor);
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  border: none;

  /* stylelint-disable-next-line selector-max-type */
  &:not([aria-checked='true']) svg {
    opacity: 0;
  }
}

/* stylelint-disable-next-line selector-max-type */
.textAreaWrapper > textarea {
  min-height: var(--base-size-36);
}
