.container {
  background: var(--bgColor-default);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  container: layout / inline-size;
  overflow-y: auto;
  scrollbar-width: thin;
}

.main {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: minmax(0, 768px) minmax(0, 320px);
  column-gap: var(--base-size-40);
  width: 100%;
  max-width: calc(768px + 320px + var(--base-size-40));
  margin: 0 auto;
  padding: var(--base-size-24);
}

.contain {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  grid-area: left;
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

@container (max-width: 1176px) {
  .main {
    column-gap: var(--base-size-24);
  }
}

@container (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: var(--base-size-16);
    gap: var(--base-size-16);
  }

  .contain,
  .meta {
    display: contents;
  }

  .header {
    order: 1;
  }

  .meta {
    order: 2;
  }

  .chatInput {
    order: 3;
  }

  .conversations {
    order: 4;
  }

  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none !important;
  }

  .info {
    padding-top: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--base-size-8);

  .sideTitle {
    line-height: var(--text-title-lineHeight-medium);
    font-size: var(--text-title-size-medium);
    font-weight: var(--text-title-weight-medium);
    word-break: break-all;
  }
}

.chatInput {
  margin-bottom: var(--base-size-16);
}

.conversations {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-32);
}

.meta {
  grid-area: right;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: var(--base-size-16);
  width: 100%;
}

.sideSection {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.sideSectionTitle {
  line-height: var(--text-body-lineHeight-large);
  font-size: var(--text-body-size-large);
}

.sideSectionHeader {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
}

.conversationTitle {
  font-size: var(--text-title-size-small);
  line-height: var(--text-title-lineHeight-medium);
  font-weight: var(--text-title-weight-medium);
  margin-bottom: var(--base-size-12);
}

.conversationsListTitle {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
}

.noConversations {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.conversationsPlaceholder {
  min-height: 500px;
}

.contextPlaceholder {
  min-height: 250px;
}

.conversationsPlaceholder,
.contextPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--base-size-16);
  color: var(--fgColor-muted);
  padding: var(--base-size-32);
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
}

.conversationsPlaceholderText {
  line-height: var(--text-body-lineHeight-medium);
  font-size: var(--text-body-size-medium);
}

.conversationsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bgColor-muted);
  padding: 0 var(--base-size-16);
  min-height: var(--base-size-48);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.conversationsContainer {
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
  overflow: hidden;
}

.conversationsList {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.conversationItem {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-16);
  padding: var(--base-size-16);
  transition: background var(--base-duration-100) var(--base-ease-linear);

  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  }
}

.conversationItemMenuOpen {
  pointer-events: none;
}

.conversationItemMenuOpen > :global(.ActionMenu) {
  pointer-events: auto;
}

.conversationItemLeftColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--base-size-4);
  justify-content: center;
}

.conversationItem:hover {
  background-color: var(--bgColor-muted);
  cursor: pointer;
}

.conversationName {
  line-height: var(--text-body-lineHeight-large);
  font-size: var(--text-body-size-large);
  font-weight: var(--text-title-weight-medium);
}

.conversationKickoffMessage {
  line-height: var(--text-body-lineHeight-medium);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
}

.conversationTimestamp {
  line-height: var(--text-body-lineHeight-small);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
}

.instructionsText {
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-4);
  line-height: var(--text-body-lineHeight-medium);
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  padding-top: var(--base-size-8);
}

.infoDescription {
  line-height: var(--text-body-lineHeight-large);
  font-size: var(--text-body-size-large);
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

.noDescription {
  color: var(--fgColor-muted);
}

.starButton {
  margin-top: var(--base-size-8);
}

.visibilityLabel {
  vertical-align: middle;
  margin-left: var(--base-size-4);
  margin-bottom: var(--base-size-2);
}

.descriptionExpander {
  color: var(--fgColor-muted);
  padding: 0;
  vertical-align: baseline;
  border: none;
  background: none;
  margin-left: var(--base-size-6);
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.descriptionExpander:hover {
  opacity: 0.8;
}

.starFillIcon {
  color: var(--button-star-iconColor);
}

.instructionsLink {
  width: fit-content;
}

.attachmentsLink {
  width: fit-content;
}

.actionListOffset {
  margin-left: calc(-1 * var(--base-size-8));
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-count, 1);
  line-clamp: var(--line-count, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
