.container {
  display: flex;
  width: 100%;
  max-width: 776px;
  height: 100%;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: var(--base-size-8);
}

.banner {
  margin-bottom: var(--base-size-8);
}

.description {
  width: 60%;
  color: var(--fgColor-muted);
  text-align: center;
  margin-bottom: 0;
}

.details {
  flex-direction: column;
  gap: var(--base-size-24);
  width: 100%;
  margin-top: var(--base-size-8);
  display: grid;
  grid-template-columns: 1fr;
  container-type: inline-size;
}

@container (min-width: 768px) {
  .details {
    flex-direction: row;
    grid-template-columns: auto 250px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-20);
  flex: 1;
}

.instructions {
  display: flex;
  flex-direction: column;
}

.instructionsTitle {
  font-weight: var(--base-text-weight-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.instructionsText {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  word-break: break-all;
  margin-bottom: 0;
}

.emptyText {
  color: var(--fgColor-muted);
  display: flex;
  flex-direction: row;
}

.references {
  display: flex;
  flex-direction: column;
}

.referencesTitle {
  font-weight: var(--base-text-weight-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.referencesText {
  color: var(--fgColor-muted);
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.conversations {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.conversationsTitle {
  font-weight: var(--base-text-weight-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--base-size-4);
  margin-bottom: 0;
}

.conversationsText {
  color: var(--fgColor-muted);
  display: flex;
  flex-direction: row;
}

.conversationsList {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  padding-left: var(--base-size-8);
}

.conversationsLink {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-default);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
}
