/* stylelint-disable primer/colors */
.container {
  display: grid;
  gap: var(--base-size-16);
  padding: var(--base-size-16);
}

.content {
  display: grid;
  gap: var(--base-size-8);
}

.title {
  /* stylelint-disable-next-line primer/typography */
  font-size: 16px;
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

.description {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.metadata {
  display: flex;
  gap: var(--base-size-16);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);

  .metadataItem {
    display: flex;
    align-items: center;
    gap: var(--base-size-4);
  }

  .metadataIcon {
    width: 16px;
    height: 16px;
    color: var(--fgColor-muted);
  }
}

.itemIcon {
  position: relative;
  width: var(--base-size-40);
  height: var(--base-size-40);
  border-radius: var(--borderRadius-full);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0.24;
    border: var(--borderWidth-default) solid transparent;
  }
}

.labelAuburn {
  color: var(--label-auburn-fgColor-rest);
  background-color: var(--label-auburn-bgColor-rest);

  &::before {
    border-color: var(--label-auburn-fgColor-rest);
  }
}

.labelBlue {
  color: var(--label-blue-fgColor-rest);
  background-color: var(--label-blue-bgColor-rest);

  &::before {
    border-color: var(--label-blue-fgColor-rest);
  }
}

.labelBrown {
  color: var(--label-brown-fgColor-rest);
  background-color: var(--label-brown-bgColor-rest);

  &::before {
    border-color: var(--label-brown-fgColor-rest);
  }
}

.labelCoral {
  color: var(--label-coral-fgColor-rest);
  background-color: var(--label-coral-bgColor-rest);

  &::before {
    border-color: var(--label-coral-fgColor-rest);
  }
}

.labelCyan {
  color: var(--label-cyan-fgColor-rest);
  background-color: var(--label-cyan-bgColor-rest);

  &::before {
    border-color: var(--label-cyan-fgColor-rest);
  }
}

.labelGray {
  color: var(--label-gray-fgColor-rest);
  background-color: var(--label-gray-bgColor-rest);

  &::before {
    border-color: var(--label-gray-fgColor-rest);
  }
}

.labelGreen {
  color: var(--label-green-fgColor-rest);
  background-color: var(--label-green-bgColor-rest);

  &::before {
    border-color: var(--label-green-fgColor-rest);
  }
}

.labelIndigo {
  color: var(--label-indigo-fgColor-rest);
  background-color: var(--label-indigo-bgColor-rest);

  &::before {
    border-color: var(--label-indigo-fgColor-rest);
  }
}

.labelLemon {
  color: var(--label-lemon-fgColor-rest);
  background-color: var(--label-lemon-bgColor-rest);

  &::before {
    border-color: var(--label-lemon-fgColor-rest);
  }
}

.labelLime {
  color: var(--label-lime-fgColor-rest);
  background-color: var(--label-lime-bgColor-rest);

  &::before {
    border-color: var(--label-lime-fgColor-rest);
  }
}

.labelOlive {
  color: var(--label-olive-fgColor-rest);
  background-color: var(--label-olive-bgColor-rest);

  &::before {
    border-color: var(--label-olive-fgColor-rest);
  }
}

.labelOrange {
  color: var(--label-orange-fgColor-rest);
  background-color: var(--label-orange-bgColor-rest);

  &::before {
    border-color: var(--label-orange-fgColor-rest);
  }
}

.labelPine {
  color: var(--label-pine-fgColor-rest);
  background-color: var(--label-pine-bgColor-rest);

  &::before {
    border-color: var(--label-pine-fgColor-rest);
  }
}

.labelPink {
  color: var(--label-pink-fgColor-rest);
  background-color: var(--label-pink-bgColor-rest);

  &::before {
    border-color: var(--label-pink-fgColor-rest);
  }
}

.labelPlum {
  color: var(--label-plum-fgColor-rest);
  background-color: var(--label-plum-bgColor-rest);

  &::before {
    border-color: var(--label-plum-fgColor-rest);
  }
}

.labelPurple {
  color: var(--label-purple-fgColor-rest);
  background-color: var(--label-purple-bgColor-rest);

  &::before {
    border-color: var(--label-purple-fgColor-rest);
  }
}

.labelRed {
  color: var(--label-red-fgColor-rest);
  background-color: var(--label-red-bgColor-rest);

  &::before {
    border-color: var(--label-red-fgColor-rest);
  }
}

.labelTeal {
  color: var(--label-teal-fgColor-rest);
  background-color: var(--label-teal-bgColor-rest);

  &::before {
    border-color: var(--label-teal-fgColor-rest);
  }
}

.labelYellow {
  color: var(--label-yellow-fgColor-rest);
  background-color: var(--label-yellow-bgColor-rest);

  &::before {
    border-color: var(--label-yellow-fgColor-rest);
  }
}
