.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  gap: var(--base-size-4);
}

.prefix {
  color: var(--fgColor-attention);
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
  font-weight: var(--text-title-weight-medium);
}
