/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-max-type */
.TabNav {
  & div[role='tablist'] {
    display: flex;
    flex-wrap: wrap
  }
}

.DetectionViewImpactHeading {
  font-size: var(--text-title-size-medium);
}
