/* stylelint-disable selector-max-type */
.answers button {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-16);
}

.answers p,
.answers ul,
.answers ol,
.answers dl,
.answers pre,
.answers details {
  margin-top: 0;
  margin-bottom: var(--base-size-16);
  font: var(--text-body-shorthand-large)
}

.answers li {
  margin-left: var(--base-size-16);
}
