.answerSkeleton {
  border-radius: var(--borderRadius-large);
  padding: var(--base-size-16);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.title {
  font-size: var(--text-body-size-medium);
  font-weight: var(--text-title-weight-medium);
  color: var(--fgColor-default);
  margin: 0;
  padding: 0;
  margin-bottom: var(--base-size-2);
}

.statusMessage {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.searches {
  margin-bottom: var(--base-size-16);
}

.searchResultsPanel {
  border-radius: var(--borderRadius-large);
  padding: var(--base-size-16);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  margin: var(--base-size-8) 0 var(--base-size-16);
}

.searchItemResults {
  padding: 0;
}

.searchItemResult {
  padding: 0;
  margin-left: var(--base-size-16);
}

.searchItemSummary {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  margin: 0;
  padding: 0;
}

.searchItemQuestion {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-default);
}

.questionTitle {
  line-height: var(--text-title-lineHeight-medium);
  font-size: var(--text-title-size-medium);
  margin-bottom: var(--base-size-16);
}

.answerBlock {
  min-height: 100vh;
  padding: var(--base-size-24) 0;
}

.answerBlockWithError {
  min-height: 0;
}
