.fileName {
  overflow-x: hidden;
  font-weight: var(--base-text-weight-medium);
  color: var(--fgColor-default);
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}

.diffHeader {
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted, var(--color-border-muted));
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.diff {
  border: var(--borderWidth-thin) solid var(--borderColor-muted, var(--color-border-muted));
  border-radius: var(--borderRadius-medium);
}

.diffCollapsed {
  border-bottom-width: 0;
}

.diffHeaderCollapsed {
  border-radius: var(--borderRadius-medium);
}
