/* stylelint-disable selector-max-type */

/*
** This mirrors the styles of .markdown-body from primer.css while omitting any rules that break
** the rendering of inline unified diffs (code, tables, etc). This is ugly, but it's better than fighting
** with .markdown-body overloads directly
*/
.markdownWalkthrough {
  padding: 0;
}

.markdownWalkthrough p,
.markdownWalkthrough ul,
.markdownWalkthrough ol,
.markdownWalkthrough dl,
.markdownWalkthrough pre,
.markdownWalkthrough details {
  margin-top: 0;
  margin-bottom: var(--base-size-16);
  font: var(--text-body-shorthand-large);
}

.markdownWalkthrough h1,
.markdownWalkthrough h2,
.markdownWalkthrough h3,
.markdownWalkthrough h4,
.markdownWalkthrough h5,
.markdownWalkthrough h6 {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-8);
}

.markdownWalkthrough h2 {
  line-height: var(--text-title-lineHeight-medium);
  font-size: var(--text-title-size-medium);
}

.markdownWalkthrough h3 {
  line-height: var(--text-title-lineHeight-small);
  font-size: var(--text-title-size-small);
}

.diffTable {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-16);
}

/* .diffTable wraps our <UnifiedDiffLine /> component so it doesn't break from these styles */
.markdownWalkthrough code:not(.diffTable code),
.markdownWalkthrough tt:not(.diffTable code) {
  padding: var(--base-size-2) var(--base-size-4);
  margin: 0;
  /* stylelint-disable-next-line primer/typography */
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
  border-radius: var(--borderRadius-medium);
}

.markdownWalkthrough code br,
.markdownWalkthrough tt br {
  display: none;
}

.markdownWalkthrough del code {
  text-decoration: inherit;
}

.markdownWalkthrough samp {
  /* stylelint-disable-next-line primer/typography */
  font-size: 85%;
}

.markdownWalkthrough pre {
  word-wrap: normal;
}

.markdownWalkthrough pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdownWalkthrough .highlight {
  margin-bottom: var(--base-size-16);
}

.markdownWalkthrough .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdownWalkthrough ul,
.markdownWalkthrough ol {
  padding-left: var(--base-size-32);
}

.markdownWalkthrough li + li {
  margin-top: var(--base-size-4);
}

.markdownWalkthrough :global(.overview-heading) {
  margin-top: 0;
}
