.container {
  margin-top: var(--base-size-16);
}

.categoryContainer {
  margin-bottom: var(--base-size-24);
}

.diffContainer {
  margin-bottom: var(--base-size-16);
}

.h3 {
  font-size: var(--text-title-size-small);
  line-height: var(--text-title-lineHeight-small);
}

.h2 {
  font-size: var(--text-title-size-medium);
  line-height: var(--text-title-lineHeight-medium);
}

.h3, .h2 {
  margin-bottom: var(--base-size-16);
  margin-top: var(--base-size-24);
}


.tooLarge {
  border: var(--borderWidth-thin) solid var(--avatar-borderColor);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-8) var(--base-size-12);
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  display: flex;
  flex-direction: row;
  gap: var(--base-size-4);
  align-items: center;
  margin-bottom: var(--base-size-16);
}

.label {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

.path {
  color: var(--fgColor-default);
}
