.container {
  margin-top: var(--base-size-16);
}

.categoryContainer {
  margin-bottom: var(--base-size-24);
}

.diffContainer {
  margin-bottom: var(--base-size-16);
}

.fileInfo {
  margin-bottom: var(--base-size-8);
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-medium);
}
