.author {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
}

.summaryBox {
  padding: var(--base-size-16);
  margin: var(--base-size-16) 0;
  border: var(--borderWidth-default) solid var(--borderColor-neutral-muted);
  border-radius: var(--borderRadius-medium);
}

.errorText {
  color: var(--color-danger-fg);
}

.fullDescription {
  margin-top: var(--base-size-8);
}

.summaryTypeSelector {
  margin-bottom: var(--base-size-16)
}

.summaryFooter {
  border-top: var(--borderWidth-default) solid var(--borderColor-neutral-muted);
  padding-top: var(--base-size-16);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}
