.formContainer {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  background-color: var(--color-canvas-default);
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-accent-muted);
  box-shadow: var(--shadow-floating-medium);
  width: 80%;
  max-width: 600px;
}

.formContainer:focus-within {
  border: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.formControl {
  width: 100%;
}

.textInput {
  outline: none;
  border: none;
}
