.formContainer {
  position: fixed;
  bottom: var(--base-size-24);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bgColor-default);
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-default) solid var(--borderColor-default);
  padding-right: var(--base-size-8);
  padding-left: var(--base-size-8);
  width: 100%;
  max-width: 768px;
}

.formContainer:focus-within {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -1px;
}

.formControl {
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-8);
  width: 100%;
}

.trailingActions, .leadingActions{
  margin: 0;
  padding: 0 0 0 var(--base-size-8);
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  border: none;
  outline: none;
  display: block;
  flex: 1;
  caret-color: var(--fgColor-default, var(--color-fg-default));
  font-size: var(--text-body-size-large);
  line-height: var(--text-body-lineHeight-large);
  overflow-y: hidden;
  background-color: transparent;
  padding: var(--base-size-12) var(--base-size-8);
  resize: none;
  width: 100%;
}
