.nestedNavItem {
  padding-left: var(--base-size-16);
  display: block;
}

.textSubtitle {
  line-height: var(--text-title-lineHeight-medium);
  font-size: var(--text-title-size-medium);
  font-weight: var(--text-title-weight-medium);
  margin-bottom: var(--base-size-8);
}

.tocContainer {
  padding: var(--base-size-24) var(--base-size-16);
}
