.dotSpinner {
  fill: var(--fgColor-attention);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotSpinner > :last-child {
  position: fixed;
}

/* stylelint-disable-next-line selector-max-type */
.spinner > circle {
  fill: var(--bgColor-attention-muted);
}

/* stylelint-disable-next-line selector-max-type */
.spinner > path {
  stroke: var(--bgColor-attention-emphasis);
}

.pendingIcon {
  fill: var(--fgColor-attention);
}
