.errorContainer {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.errorLink {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}

.errorPath {
  overflow: hidden;
  text-overflow: ellipsis;
}

.codeText {
  font: var(--text-codeBlock-shorthand);
  color: var(--fgColor-muted);
}

.errorMessage {
  white-space: pre-wrap;
}

.truncate1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
