.logo {
  vertical-align: middle !important;
}

.homepageLink {
  color: var(--fgColor-default) !important;
}

.breadcrumbs {
  flex-shrink: 0;
}

.breadcrumbLink {
  color: var(--fgColor-muted) !important;
  white-space: wrap !important;
}

.breadcrumbLink:hover {
  color: var(--fgColor-muted) !important;
  text-decoration: underline;
}

.productName {
  font-weight: var(--base-text-weight-semibold);
  flex-shrink: 0;
}

.commitButtonLabel {
  display: none;
}

@media screen and (min-width: 768px) {
  .commitButtonLabel {
    display: inline;
  }

  .commitButtonLabelMobile {
    display: none;
  }
}
