.header {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgColor-default);
  padding: var(--base-size-12) var(--base-size-16);
  width: 100%;
}

/* Left Section */
.leftSection {
  display: flex;
  align-items: center;
}

.leftSectionContainer {
  display: flex;
  justify-content: space-between;
  transition: min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin-right 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  margin-right: var(--base-size-8);
  will-change: min-width, margin-right;
}

.sidePanelOpen {
  @media (min-width: 768px) {
    min-width: calc(var(--workspace-editor-side-panel-width) - var(--base-size-24));
    margin-right: var(--base-size-8);
  }
}

.sparkSwitcherWrapper {
  display: flex;
  align-items: center;
}

.sidePanelExpander {
  display: flex;
}

.expandSidebarButton {
  margin-right: var(--base-size-8);
  transform: scaleX(-1);
}

/* Center Section */
.centerSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  transition: justify-content 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1012px) {
    justify-content: flex-start;
  }
}

.workingModeSelector {
  color: var(--fgColor-muted);
}

/* This is a hack to account for the missing Split View button in the segmented control on smaller screens */
.codeButton {
  /* stylelint-disable-next-line primer/spacing */
  margin-right: -1px;

  @media (min-width: 1012px) {
    margin-right: 0;
  }
}

/* Right Section */
.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: var(--base-size-8);
}

/* Actions and Menu */

.targetedEditsButton {
  @media (pointer:coarse) {
    display: none;
  }
}

.toggledButton {
  background-color: var(--bgColor-accent-muted);
  color: var(--fgColor-accent);
  border-color: var(--borderColor-accent-emphasis);
}

.spinOnce {
  & > :global(svg) {
    @media (prefers-reduced-motion: no-preference) {
      animation: spinOnce 0.5s ease-out;
    }
  }
}

@keyframes spinOnce {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* Add this for hover effect */
  /* stylelint-disable selector-max-type */
  :global(.spinHover):hover svg {
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(20deg);
  }

  :global(.spinHover) svg {
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(0deg);
  }
  /* stylelint-enable selector-max-type */
}

/* Floating Menu Button */
.floatingButton {
  --floating-button-size: 3rem;

  height: var(--floating-button-size);
  width: var(--floating-button-size);
  /* stylelint-disable-next-line primer/borders */
  border-radius: var(--floating-button-size);
  position: fixed !important;
  bottom: var(--base-size-8);
  right: var(--base-size-8);
  z-index: 9;
  border: none;
  box-shadow: var(--shadow-floating-small);
  background: var(--bgColor-default);
  color: var(--fgColor-default);

  &:focus,
  &:hover {
    background-color: var(--bgColor-muted);
    box-shadow: var(--shadow-floating-medium);
  }
}
