.container {
  height: var(--workspace-editor-content-height);
  /* stylelint-disable-next-line primer/borders */
  border: var(--border-default);
  border-radius: var(--borderRadius-medium);
  display: flex;
  overflow: hidden;
  background-color: var(--bgColor-default);
}

.sidebar {
  width: 20rem;
  /* stylelint-disable-next-line primer/borders */
  border-inline-end: var(--border-default);
  overflow-y: auto;
}

.treeView {
  padding: var(--base-size-16);
}

.editorAndTerminal {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editorContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.preview {
  flex: 1;
  /* stylelint-disable-next-line primer/borders */
  border-inline-start: var(--border-default);
}
