.wrapper {
  display: flex;
  position: relative;
  text-align: start;
}

.fullWidth {
  width: 100%;
}

.hide {
  display: none;
}

.loadingContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.editHighlightDark {
  opacity: 0.3;
  background-color: var(--bgColor-neutral-emphasis);
}

.editHighlightLight {
  opacity: 0.3;
  background-color: var(--bgColor-attention-muted);
}

.editFaded {
  opacity: 0.5;
  background-color: var(--bgColor-default);
  z-index: 10;
}
