.container {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
}

.dangerZoneTitle {
  color: var(--fgColor-default);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
  margin-bottom: var(--base-size-8);
}

.subtitle {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  font-weight: var(--text-body-weight);
  line-height: var(--text-body-lineHeight-medium);
  margin-bottom: var(--base-size-16);
}
