.sparkleSpinner {
  animation: sparkle-spinner 1.5s ease-in-out infinite;
  /* animation-fill-mode: both; */
  container: strict;
  inline-size: var(--spinner-size);
  block-size: var(--spinner-size);
}

/* Size follows https://primer.style/product/components/spinner/#Spinner */
/* spinner size is target size divider by 1.2 because of the scaling animation */
.small {
  --spinner-size: 14px;
}

.medium {
  --spinner-size: 28px;
}

.large {
  --spinner-size: 54px;
}

@keyframes sparkle-spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(90deg) scale(1.2);
  }

  100% {
    transform: rotate(180deg) scale(1);
  }
}
