.container {
  outline: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large) var(--borderRadius-large) 0 0;
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: -8px;
  z-index: 0;
}

.chevron[data-expanded='true'] {
  transform: rotate(90deg);
}

.expanded {
  max-height: 400px;
  opacity: 1;
  margin-bottom: var(--base-size-8);
}

.collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .chevron {
    transition: transform 0.2s ease-in-out;
  }

  .expanded {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .collapsed {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fgColor-muted);
  padding: var(--base-size-4) var(--base-size-8);
  gap: var(--base-size-8);
}

.headerText {
  font: var(--text-body-shorthand-small);
  font-weight: var(--base-text-weight-semibold);
}

.headerSummary {
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
}

.headerTextError {
  color: var(--fgColor-danger);
}

.headerTrigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-4);
  cursor: pointer;
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
}

.suggestionsContainer {
  padding: var(--base-size-8);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

.suggestionsList {
  padding-top: 0 !important;
}

.suggestionsLabel {
  font: var(--text-body-shorthand-small);
  font-weight: var(--text-title-weight-small);
  color: var(--fgColor-muted);
}

.suggestionIcon {
  color: var(--button-star-iconColor);
}

.suggestionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-8);
  cursor: pointer;
}

.actionList {
  margin-top: var(--base-size-8);
}

.errorContainer {
  position: relative;
}

.actionListItem {
  padding-right: var(--base-size-40);
}

.floatingErrorButton {
  position: absolute;
  top: 0;
  right: 0;
}

.errorMessage {
  font: var(--text-codeBlock-shorthand);
  color: var(--fgColor-muted);
}

.errorShrunk {
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorExpanded {
  white-space: pre-wrap;
}

.dialogHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--base-size-12);
  gap: var(--base-size-8);
}

.dialogHeaderText {
  font: var(--text-title-shorthand-medium);
}

.dialogFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--base-size-8);
  padding: var(--base-size-12);
}

.errorContentContainer {
  margin: var(--base-size-24) var(--base-size-24);
}

.errorContent {
  margin: 0 auto;
  white-space: pre-wrap;
  font: var(--text-codeBlock-shorthand);
  color: var(--fgColor-muted);
}
