.container {
  position: fixed;
  /* Keep panel above editor elements like the Monaco scrollbar */
  z-index: 11;
  max-width: 415px;
  padding: var(--base-size-8);
  background-color: var(--bgColor-default);
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-medium);
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
  width: 100%;
}

.form {
  width: 100%;
}
