.container {
  margin: 0;
  margin-bottom: var(--base-size-16);
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-small);
  overflow: hidden;

  --header-height: var(--base-size-40);

  .copyContainer {
    position: sticky;
    top: 0 !important;

    .copyContent {
      position: absolute;
      display: flex;
      height: var(--header-height);
      align-items: center;
      top: 0;
      bottom: inherit;
      right: var(--base-size-8);
    }
  }

  .copyButton {
    background-color: var(--bgColor-muted);

    &:hover {
      background-color: var(--button-invisible-bgColor-hover);
    }
  }

  &.immersive {
    .header {
      background-color: var(--bgColor-muted);
    }

    .code {
      /* stylelint-disable-next-line selector-max-type */
      code {
        font-size: var(--text-body-size-medium);
      }
    }
  }

  .codeContainer {
    /* Put the scrollable code inside a clipping container so that the scrollbar corners get clipped to match the border radius */
    overflow: hidden;
    background-color: var(--bgColor-muted) !important;
    border: none !important;

    .code {
      padding: var(--base-size-16) var(--base-size-24) !important;
      background: none !important;
      margin: 0 !important;
      border-radius: 0 !important;
    }

    .codeWrap {
      white-space: pre-wrap;
      word-wrap: anywhere;
    }
  }
}
