---
http_interactions:
- request:
    method: post
    uri: https://api.clearlydefined.io/definitions/?expand=-files/
    body:
      encoding: UTF-8
      string: '["gem/rubygems/-/nokogiri/1.16.5"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91f6-VecJXC3f0+MYVcINdTJAPILmgkY"
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Remaining:
      - '228'
      X-Ratelimit-Reset:
      - '1720466503'
    body:
      encoding: ASCII-8BIT
      string: '{"gem/rubygems/-/nokogiri/1.16.5":{"described":{"releaseDate":"2024-05-13","sourceLocation":{"type":"git","provider":"github","namespace":"sparklemotion","name":"nokogiri","revision":"cd70bd3dc9e0dc15b04b42d67b639eb5804e77d5","url":"https://github.com/sparklemotion/nokogiri/tree/cd70bd3dc9e0dc15b04b42d67b639eb5804e77d5"},"urls":{"registry":"https://rubygems.org/gems/nokogiri","version":"https://rubygems.org/gems/nokogiri/versions/1.16.5","download":"https://rubygems.org/downloads/nokogiri-1.16.5.gem"},"hashes":{"sha1":"e7fed920fdaee742eae6c0c40048f700fa941098","sha256":"ec36162c68984fa0a90a5c4ae7ab7759460639e716cc1ce75f34c3cb54158ad2"},"files":175,"tools":["clearlydefined/1.3.3","reuse/1.3.0","licensee/9.14.0","scancode/30.3.0","curation/f05b8773dd44a8a9058f407912b8a167fb89b9ad"],"toolScore":{"total":100,"date":30,"source":70},"score":{"total":100,"date":30,"source":70}},"licensed":{"declared":"MIT","toolScore":{"total":33,"declared":30,"discovered":3,"consistency":0,"spdx":0,"texts":0},"facets":{"core":{"attribution":{"unknown":152,"parties":["Copyright
        2010 Google Inc.","Copyright 2011 Google Inc.","Copyright 2018 Craig Barnes","Copyright
        2017-2018 Craig Barnes","Copyright 2018 Stephen Checkoway","Copyright (c)
        1998-2003 Daniel Veillard","Copyright (c) 1998-2012 Daniel Veillard","Copyright
        (c) 2001-2002 Daniel Veillard","copyrighted by the Free Software Foundation","Copyright
        2013-2021 Sam Ruby, Stephen Checkoway","Copyright (c) 1991 Free Software Foundation,
        Inc.","Copyright 1992-2022 Free Software Foundation, Inc.","Copyright 1992-2023
        Free Software Foundation, Inc.","Copyright (c) 1995-2017 Jean-loup Gailly
        and Mark Adler","Copyright (c) 2001-2003 Thai Open Source Software Center
        Ltd","Copyright (c) 2008-2009 Bjoern Hoehrmann <bjoern@hoehrmann.de>","Copyright
        (c) 2001-2002 Thomas Broyer, Charlie Bozeman and Daniel Veillard","Copyright
        (c) 2001-2002, SourceForge ISO-RELAX Project (ASAMI Tomoharu, Daisuke Okajima,
        Kohsuke Kawaguchi, and MURATA Makoto)","Copyright 2008 2023 by Mike Dalessio,
        Aaron Patterson, Yoko Harada, Akinori MUSHA, John Shahid, Karol Bucek, Sam
        Ruby, Craig Barnes, Stephen Checkoway, Lars Kanis, Sergio Arbeo, Timothy Elliott,
        Nobuyoshi Nakada, Charles Nutter, Patrick Mahoney"]},"discovered":{"unknown":150,"expressions":["Apache-2.0","Apache-2.0
        AND BSD-3-Clause AND LGPL-2.0-only AND MIT AND MPL-2.0 AND NOASSERTION AND
        X11 AND Zlib","Apache-2.0 AND MIT","GPL-2.0-only AND NOASSERTION","MIT","MIT
        AND NOASSERTION","NOASSERTION"]},"files":175}},"score":{"total":48,"declared":30,"discovered":3,"consistency":0,"spdx":15,"texts":0}},"files":[{"path":"dependencies.yml","hashes":{"sha1":"14ca89efb72937837808318179236e702ac55e91","sha256":"3722f4e34961eb1eba5a31663c0f4e09842438596814dad922181a4655c2ed43"}},{"path":"Gemfile","hashes":{"sha1":"e62a886730348e30363f5e94fbe2d46feb4b2914","sha256":"0fc3039450fdc1b6576104249682bb95afa77af15f036734591e93e38106a1e0"}},{"path":"LICENSE-DEPENDENCIES.md","license":"Apache-2.0
        AND BSD-3-Clause AND LGPL-2.0-only AND MIT AND MPL-2.0 AND NOASSERTION AND
        X11 AND Zlib","natures":["license"],"attributions":["Copyright (c) 1998-2012
        Daniel Veillard","Copyright (c) 2001-2002 Daniel Veillard","copyrighted by
        the Free Software Foundation","Copyright (c) 1991 Free Software Foundation,
        Inc.","Copyright (c) 1995-2017 Jean-loup Gailly and Mark Adler","Copyright
        (c) 2001-2003 Thai Open Source Software Center Ltd","Copyright (c) 2001-2002
        Thomas Broyer, Charlie Bozeman and Daniel Veillard","Copyright (c) 2001-2002,
        SourceForge ISO-RELAX Project (ASAMI Tomoharu, Daisuke Okajima, Kohsuke Kawaguchi,
        and MURATA Makoto)"],"hashes":{"sha1":"b0b3abda671e062f0d8c4c85b8a55d980d281fd3","sha256":"f209c63255cc91cf1a820cf4d700512dab59c5d0d1df08cb878e5a6fdd56d721"}},{"path":"LICENSE.md","license":"MIT","natures":["license"],"attributions":["Copyright
        2008 2023 by Mike Dalessio, Aaron Patterson, Yoko Harada, Akinori MUSHA, John
        Shahid, Karol Bucek, Sam Ruby, Craig Barnes, Stephen Checkoway, Lars Kanis,
        Sergio Arbeo, Timothy Elliott, Nobuyoshi Nakada, Charles Nutter, Patrick Mahoney"],"hashes":{"sha1":"c3b64bec547ca4bd61996b082c8bc553354f7731","sha256":"fdc2068b104e269be2946e21d271d340dfd003f0c8f964308cba4404f75db1aa"},"token":"fdc2068b104e269be2946e21d271d340dfd003f0c8f964308cba4404f75db1aa"},{"path":"README.md","license":"MIT
        AND NOASSERTION","hashes":{"sha1":"24720660d794b5a2e418d481d2dbabf91a558ce6","sha256":"94e3863670751bc586cc20c72170543e296eff7bfc03443a51ebd1094cfc2e39"}},{"path":"bin/nokogiri","hashes":{"sha1":"35d056c7ad30eb98dd4c0359023ffa1ef3841961","sha256":"11e65f63d70f341d286bd1e0b52609bd7fcc905d60d63c00c841635e7aa70eae"}},{"path":"ext/nokogiri/depend","hashes":{"sha1":"fb02f5869e1c778a72cc8564b[...]
