/* stylelint-disable selector-max-type */

.SecuritySubNav__spacer {
  height: var(--securitySubNavHeight, 66px);
}

@media (min-width: 768px) {
  .SecuritySubNav__spacer {
    height: var(--securitySubNavHeight, 72px);
  }
}

.SecuritySubNav {
  z-index: 10;
  position: absolute;
}

@media (min-width: 1012px) {
  .SecuritySubNav {
    position: relative;
  }

  .SecuritySubNav .sentinel {
    /* Temporary fix for the sentinel element being visible until the fix in primer/brand is released */
    /* cf. https://github.com/primer/brand/issues/761 */
    display: none;
  }
}

.SecuritySubNav--highContrast a {
  --brand-color-text-muted: var(--brand-color-text-default);
}
