.container {
  width: 100%;
  max-width: 500px;
  min-height: 564px;
  height: 100%;
  padding-top: var(--base-size-48);
  padding-bottom: var(--base-size-48);

  @media (min-width: 1012px) {
    padding-top: 0;
  }
}

.input {
  width: 100%;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  box-sizing: border-box;
  box-shadow: none;
  text-align: center;
  font-size: var(--text-title-size-large);
  font-weight: var(--base-text-weight-semibold);
  /* stylelint-disable-next-line primer/typography */
  line-height: 60px;
  appearance: textfield;

  &:focus-visible {
    outline: var(--fgColor-accent) auto 1px;
  }
}
