/* stylelint-disable primer/colors */

.Faq {
  --brand-color-accent-primary: #388BFD;

  /* Can be removed once --brand-color-accent-primary is available */
  --brand-Accordion-toggle-color-start: var(--brand-color-accent-primary);
  --brand-Accordion-toggle-color-end: var(--brand-color-accent-primary);

  background-color: var(--brand-color-canvas-subtle);
}
