.card {
  padding: var(--base-size-16);
  border-radius: var(--borderRadius-medium);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-top-color: var(--borderColor-default);
  border-bottom-color: var(--borderColor-default);
  border-right-color: var(--borderColor-default);
  border-left-color: var(--borderColor-default);
  display: flex;
  flex-direction: column;
}

.cardHeading {
  margin-bottom: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  padding-right: var(--base-size-8);
}

.planCard {
  display: flex;
  justify-content: space-between;
}

.headingSection {
  display: flex;
  align-items: center;
}

.moneyContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.downgradeLabel {
  margin-bottom: auto
}

.subtext {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  padding-bottom: 0;
  padding-top: var(--base-size-8)
}

.moneyAmount {
  padding-right: var(--base-size-8);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
}

.perPeriod {
  padding-right: var(--base-size-8);
  font-size: var(--text-body-size-large);
}

.bold {
  font-weight: var(--base-text-weight-semibold);
}
