.titleSection {
  margin-bottom: var(--base-size-16);
  display: flex;
  justify-content: space-between;
}

.heading {
  display: flex;
  font: var(--text-subtitle-shorthand);
  font-size: var(--text-subtitle-size);
}

.columnReverse {
  display: flex;
  flex-direction: column-reverse;
}

.links {
  font-size: var(--text-body-size-small);
}

.grid {
  display: grid;
  gap: var(--base-size-16);
}

.responsiveGrid {
  display: grid;
  gap: var(--base-size-16);

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
