.CopilotMetricsChart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: var(--base-size-16);
  min-height: 350px;
}

.CopilotMetricsChartTitle {
  display: flex;
  align-items: center;
}

.CopilotMetricsChartTooltipDataPoint {
  display: flex;
  justify-content: space-between;
}

.CopilotMetricsChartTooltipHeader {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
}
