---
http_interactions:
- request:
    method: post
    uri: https://dependency-graph-api-slow-queries.service.iad.github.net/query
    body:
      encoding: UTF-8
      string: '{"query":"query(\n  $package_manager: PackageManager!,\n  $package_name:
        String!,\n  $version_range: String\n) {\n  allRepositoriesWithVersionRange(\n    packageManager:
        $package_manager,\n    packageName: $package_name,\n    requirements: $version_range,\n    preview:
        true\n  ) {\n    estimatedRepositoryCount\n  }\n}\n","variables":{"package_manager":"RUBYGEMS","package_name":"rails","version_range":">=
        6.0.0"}}'
    headers:
      X-Request-Hmac:
      - "<HMAC>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a95b1c8bf47578b8926f5ebcfbedb718"
      X-Github-Backend:
      - Kubernetes
    body:
      encoding: UTF-8
      string: '{"data":{"allRepositoriesWithVersionRange":{"estimatedRepositoryCount":-1}}}'
  recorded_at: Thu, 24 Mar 2022 20:43:07 GMT
recorded_with: VCR 5.1.0
