/* stylelint-disable primer/typography */
/* stylelint-disable-next-line selector-max-type */
.checkIconColor > svg {
  /* stylelint-disable-next-line primer/colors */
  fill: var(--base-color-scale-purple-4);
}

/* Accessibility fix for https://github.com/github/accessibility-audits/issues/11051 */
.infoPane {
  --focus-outlineColor: var(--brand-InlineLink-color-rest);

  .link {
    outline-offset: 2px;
  }
}

/* var(--brand-breakpoint-medium) */
@media screen and (max-width: 48rem) {
  .heading {
    font-size: 3rem;
  }
}
