.progressCircle {
  vertical-align: text-bottom;
}

.token {
  /* !important is required to beat Primer sx internal styles */
  /* stylelint-disable-next-line primer/spacing */
  padding-left: var(--control-xsmall-paddingInline-condensed) !important;
  background: var(--bgColor-default) !important;
  cursor: pointer !important;
}
