.ListItem_0 {
  flex-wrap: wrap;

  @media screen and (min-width: 544px) {
    flex-wrap: unset;
  }
}

.leadingContent {
  min-width: 22px;
}

.commentCountContainer {
  display: flex;
  align-items: center;
}

.defaultRepoContainer {
  display: inline;
}

.timestampContainer {
  display: inline;
  width: '100%';
}

.authorCreatedLink {
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
}

.authorCreatedLink:hover {
  color: var(--fgColor-accent, var(--color-fg-accent)) !important;
  text-decoration: none !important;
}

.defaultNumberDescription {
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.compactNameWithOwnerLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}

.token {
  /* stylelint-disable-next-line primer/typography */
  font-weight: normal !important;
  background: var(--bgColor-default) !important;
  font-size: var(--text-body-size-small) !important;
  margin-right: var(--base-size-2);
}
