.ListItemMetadata_0 {
  width: auto;
  height: 20px; /* equivalent to height of avatar, which is leading the height of the whole row when rendered */

  @media screen and (min-width: 544px) {
    width: 45px;
    height: unset;
  }
}
