.unread {
  position: absolute;
  width: 2px;
  height: 100%;

  /* This isn't a real shadow so we can't use primer box-shadow variable */
  /* stylelint-disable-next-line primer/box-shadow */
  box-shadow: 2px 0 0 var(--borderColor-accent-emphasis, var(--color-accent-emphasis)) inset;
}
