.form {
  display: inline;
}

.resendButton {
  background: none;
  border: none;
  /* Mimicking the style of InlineLink here */
  /* stylelint-disable-next-line primer/colors */
  color: var(--brand-InlineLink-color-rest);
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  text-decoration-thickness: var(--brand-borderWidth-thin);
  text-underline-position: under;
}

.resendButton:hover {
  text-decoration-thickness: var(--brand-borderWidth-thick);
  transition: var(--brand-InlineLink-transition-timing) text-decoration;
}

.resentSuccessContainer {
  display: flex;
  align-items: center;
}

.resentSuccessIcon {
  color: var(--fgColor-success);
}

.resentText {
  color: var(--fgColor-success);
  font-size: var(--text-body-size-large);
  margin-left: var(--base-size-4);
}
