.infoText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.box {
  background-color: var(--bgColor-muted);
  margin-top: var(--base-size-16);
  padding: var(--base-size-8) var(--base-size-8) var(--base-size-8) var(--base-size-8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyText {
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  white-space: pre-wrap;
}
