.radioGroup_Label {
  color: var(--fgColor-muted);
  /* stylelint-disable-next-line primer/typography */
  font-size: 14px;
  /* stylelint-disable-next-line primer/typography */
  font-weight: bold;
}

.counterLabel {
  margin-left: var(--base-size-8);
  background-color: var(--buttonCounter-primary-bgColor-rest) !important;
}

.flash {
  margin-bottom: var(--base-size-16);
}

.textInput {
  width: 100%;
}

.formControl {
  margin-top: var(--base-size-16);
}

.formControl_Caption {
  display: block;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: var(--base-size-16);
}

.formControl_Label {
  margin-left: var(--base-size-4);
}
