.Box {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
  margin-top: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    border-top-width: 0;
  }
}

.Box_1 {
  display: flex;
  align-items: center;
}

.Heading {
  flex: 1;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Box_2 {
  display: block;

  @media screen and (min-width: 1012px) {
    display: none;
  }
}

.Box_3 {
  color: var(--fgColor-muted);
}

.Box_4 {
  display: flex;
  gap: var(--base-size-32);
  position: relative;
}

.Box_5 {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);
  flex: 1;
  padding-top: var(--base-size-24);
}

.Heading_1 {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  padding-right: var(--base-size-16);
}

.Box_6 {
  height: 1px;
  /* stylelint-disable-next-line primer/colors */
  background: var(--borderColor-default);
  flex: 1;
}

.Box_7 {
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-16);
  margin-top: var(--base-size-16);
  display: flex;
  gap: var(--stack-gap-normal);
}

.Box_8 {
  padding-top: var(--base-size-2);
}

.Octicon {
  color: var(--fgColor-done);
}

.Box_9 {
  display: flex;
  flex-direction: column;
}

.Heading_2 {
  font-size: var(--text-body-size-large, --text-title-size-small);
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-semibold);
}

.Box_10 {
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  /* stylelint-disable-next-line primer/spacing */
  padding: 10px;
  font-family: var(--fontStack-system);
  margin-top: var(--base-size-16);
  background: var(--bgColor-default);
  color: var(--fgColor-accent);
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-small);

  &:hover {
    background: var(--bgColor-muted);
  }
}

.Box_11 {
  width: 120px;
  margin-top: var(--base-size-24);
  position: sticky;
  top: 0;
  display: none;

  @media screen and (min-width: 1012px) {
    display: block;
  }
}
