.Box {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
  margin-top: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    border-top-width: 0;
  }
}

.Box_1 {
  display: flex;
  align-items: center;
}

.Heading {
  flex: 1;
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.Box_2 {
  display: grid;
  padding-top: var(--base-size-16);
  grid-template-columns: 1fr;
  gap: var(--stack-gap-normal);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Box_3 {
  padding: var(--base-size-16);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  font-size: var(--text-body-size-medium);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-resting-small);
  gap: var(--stack-gap-condensed);
}

.Octicon {
  margin-right: var(--base-size-8);
  color: var(--fgColor-muted);
}

.Link {
  font-weight: var(--base-text-weight-semibold);
}

.Label {
  margin-left: var(--base-size-8);
}

.Box_4 {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.Box_5 {
  display: flex;
  gap: var(--stack-gap-spacious);
  flex: 1;
  align-items: flex-end;
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.Box_6 {
  width: 12px;
  height: 12px;
  border-radius: var(--borderRadius-medium);
  margin-right: var(--base-size-4);
}

.Octicon_1 {
  margin-right: var(--base-size-4);
  color: var(--fgColor-muted);
}
