.Avatar_0 {
  width: 16%;
  flex-shrink: 0;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.Box {
  background: var(--bgColor-default);
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.Box_1 {
  display: flex;
  flex-wrap: wrap;
}

.Box_2 {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-normal);

  @media screen and (min-width: 768px) {
    gap: var(--stack-gap-spacious);
  }
}

.Box_3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--stack-gap-normal);
  padding-top: var(--base-size-8);

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--stack-gap-condensed);
  }
}

.Heading {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-semibold);
  /* stylelint-disable-next-line primer/typography */
  line-height: normal;
}

.Text {
  display: block;
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-light);
  color: var(--fgColor-muted);
  /* stylelint-disable-next-line primer/typography */
  line-height: normal;
}

.Box_4 {
  display: flex;
  gap: var(--stack-gap-normal);
  flex-direction: column;
}

.Link {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

.PageLayout_Content {
  min-height: 100vh;
  padding-top: 0;

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-8);
  }
}

.Box_5 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  @media screen and (min-width: 768px) {
    padding-left: var(--base-size-8);
    padding-right: var(--base-size-8);
  }
}
