.Box {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
  margin-top: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding-bottom: var(--base-size-64);
  }
}

.Heading {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
  padding-bottom: var(--base-size-8);
}

.Box_1 {
  margin-top: var(--base-size-8);
  display: flex;
  width: 100%;
  gap: var(--stack-gap-condensed);
  overflow: hidden;
  max-width: 100%;
}

.Link {
  border-radius: var(--borderRadius-medium);
  overflow: hidden;
  box-shadow: var(--shadow-inset);
  width: 32px;
  height: 32px;

  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
  }
}

.Box_2 {
  width: 100%;
}
