.Box {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  flex-direction: column;
}

.Heading {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-body-size-large, --text-title-size-small);
  padding-bottom: var(--base-size-8);
}

.Box_1 {
  margin-top: var(--base-size-8);
  display: grid;
  width: 100%;
  gap: var(--base-size-4);
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: 544px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media screen and (min-width: 768px) {
    gap: var(--stack-gap-condensed);
    grid-template-columns: repeat(4, 1fr);
  }
}

.Box_2 {
  position: relative;
}

.Box_3 {
  width: 100%;
  height: auto;
}

.Box_4 {
  position: absolute;
  z-index: 1;
  bottom: var(--base-size-4);
  right: 0;
  height: 22px;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  align-items: center;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 11px;
  border-width: var(--borderWidth-thick);
  border-style: solid;
  /* stylelint-disable-next-line primer/colors */
  border-color: var(--bgColor-default);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
}
