.Avatar_0 {
  width: 16px;
  flex-shrink: 0;
  margin-right: var(--base-size-8);
  margin-top: var(--base-size-2);
  height: 16px;
}

.Box {
  display: flex;
}

.Text {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
}

.Link {
  font-weight: var(--base-text-weight-semibold);
}
