.Box {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.Octicon {
  margin-right: var(--base-size-4);
  color: var(--fgColor-muted);
}

.Box_1 {
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-normal);
}

.Box_2 {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}
