.banner {
  margin-bottom: var(--base-size-16);
}

.title {
  padding-bottom: var(--base-size-4);
}

.description {
  color: var(--fgColor-muted);
  border-top-style: solid;
  border-top-width: var(--borderWidth-thin);
  border-top-color: var(--borderColor-default);
}
