.header {
  background-color: var(--bgColor-inset, var(--color-canvas-inset));
}

.gradient {
  --offset: -500px;

  position: absolute;
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 1000px;
  height: 800px;
}

.gradient-left {
  /* stylelint-disable primer/spacing */
  bottom: 0;
  left: var(--offset);
  /* stylelint-enable primer/spacing */
  /* stylelint-disable-next-line primer/colors */
  background: radial-gradient(30% 70% at 50% 50%, rgb(130 80 223 / 0.2) 0%, rgb(130 80 223 / 0) 100%);
}

.gradient-right {
  /* stylelint-disable primer/spacing */
  top: 0;
  right: var(--offset);
  /* stylelint-enable primer/spacing */
  /* stylelint-disable-next-line primer/colors */
  background: radial-gradient(30% 70% at 50% 50%, rgb(9 107 222 / 0.3) 0%, rgb(9 107 222 / 0) 100%);
}

/* Header background elements */

/* stylelint-disable selector-max-type */
.image-wrapper > img {
  animation-play-state: paused;
}

.image-wrapper:hover > img {
  animation-play-state: running;
}

.copilot {
  position: relative;
  z-index: 1;
  height: 141px;
  animation: copilot 2s ease-in-out infinite;
}

@keyframes copilot {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.header-content {
  position: relative;
  z-index: 1;
}

/* stylelint-disable primer/spacing */

.arrow {
  top: -43px;
  right: 200px;
  height: 150px;
  opacity: 0.5;

  @media screen and (min-width: 1012px) {
    top: -51px;
    right: 237px;
  }
}

.donut {
  top: -143px;
  right: -195px;
  height: 255px;
  opacity: 0.4;

  @media screen and (min-width: 1012px) {
    top: -151px;
    right: -118px;
  }
}

.models {
  top: 70px;
  right: 215px;
  z-index: 1;
  height: 113px;
  animation: spin 60s linear infinite;

  @media screen and (min-width: 1012px) {
    top: 100px;
  }

  @media screen and (min-width: 1280px) {
    top: var(--base-size-80);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.semicircles {
  top: 134px;
  right: 112px;
  display: none;
  height: 220px;
  opacity: 0.4;

  @media screen and (min-width: 1012px) {
    display: block;
  }
}

.sparklelarge {
  top: 140px;
  right: -60px;
  height: 42px;
  opacity: 0.8;
  animation: sparkle 3.5s linear infinite;

  @media screen and (min-width: 1012px) {
    top: 175px;
    right: var(--base-size-4);
  }
}

.sparklesmall {
  top: 170px;
  right: var(--base-size-48);
  height: 21px;
  opacity: 0;
  animation: sparkle 2s linear infinite;

  @media screen and (min-width: 1012px) {
    opacity: 0.8;
  }
}

@keyframes sparkle {
  0% {
    transform: scale(1) rotate(0deg);
  }

  33% {
    transform: scale(0.9) rotate(5deg);
  }

  66% {
    transform: scale(1.05) rotate(-10deg);
  }
}

.workflow {
  top: 92px;
  right: -195px;
  height: 110px;
  opacity: 0.6;

  @media screen and (min-width: 1012px) {
    top: 114px;
    right: -68px;
  }
}

.image-container-mobile {
  max-width: 160px;
  margin: 0 auto;

  @media screen and (min-width: 1012px) {
    max-width: 1280px;
  }
}
