.FormControl {
  padding: var(--base-size-16);
  padding-bottom: 0;
  margin-bottom: var(--base-size-8);
  position: relative;
}

.FormControl_1 {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  margin-bottom: var(--base-size-8);
}

.ActionMenu_Button {
  width: 100%;
  padding-right: var(--base-size-8);
  grid-template-columns: min-content 1fr min-content;

  [data-component="text"] {
    text-align: left;
  }

  [data-component="buttonContent"] {
    flex: 0;
  }
}

.Box {
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.Octicon {
  margin-right: var(--base-size-4);
  color: var(--fgColor-muted);
}

.Box_1 {
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-8);
  flex-wrap: wrap;
}

.Box_2 {
  font-weight: var(--base-text-weight-semibold);
}

.Box_3 {
  padding-left: var(--base-size-8);
}

.Box_4 {
  justify-content: flex-end;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  margin-top: var(--base-size-24);
  border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
  background-color: var(--bgColor-default);
  display: flex;
}

.Button {
  margin-left: var(--base-size-4);
}
