.BaseCell {
  padding-right: var(--base-size-4);
}

.Box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fgColor-muted);
  padding-left: var(--base-size-16);

  .narrow-roadmap-table .roadmap-table-cell:first-child & {
    padding-left: 0;
  }
}

.IconButton {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  right: 30px;
  left: var(--base-size-4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 18px;
  height: 18px;

  &:focus {
    opacity: 1px;
  }
}
