.Box {
  align-items: center;
  display: flex;
}

.Text {
  font-size: var(--text-body-size-medium);
  margin-right: 0;
  color: var(--fgColor-muted);
}

.Text_1 {
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-accent);
  margin-right: var(--base-size-8);
}
