.Box {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: var(--bgColor-default);
}

.Box_1 {
  /* stylelint-disable-next-line selector-max-type */
  > div:nth-child(2) {
    border-left: none;
  }
}
