.tableScrollContainer {
  position: absolute;
}

@media (--viewportRange-narrow) {
  .tableScrollContainer[data-memex-small-viewport-a11y='true'] {
    position: static;
  }

  .tableScrollContainerInner[data-memex-small-viewport-a11y='true'] {
    overflow: visible;
    height: 100%;
  }
}

.Box {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  user-select: none;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }

  display: flex;

  /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
  body.is-dragging & {
    scroll-behavior: auto;
  }
}

.StyledTableRow {
  display: flex;
  align-items: center;
  padding-left: var(--base-size-16);
  gap: var(--base-size-4);
}
