.Box {
  position: absolute;
  background: var(--bgColor-accent-emphasis);
  cursor: crosshair;
  /* stylelint-disable-next-line primer/colors */
  border: var(--borderWidth-thin) solid var(--fgColor-onEmphasis);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: var(--shadow-resting-medium);
  z-index: 2;
}
