.tableScrollContainer {
  position: absolute;
}

@media (--viewportRange-narrow) {
  .tableScrollContainer[data-memex-small-viewport-a11y='true'] {
    position: static;
  }

  .tableScrollContainerInner[data-memex-small-viewport-a11y='true'] {
    overflow: visible;
    height: 100%;
  }
}
