.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: var(--base-size-16);
  height: var(--base-size-16);
  align-items: center;
  justify-content: center;
}

.spinnerInner {
  width: var(--base-size-8);
  height: var(--base-size-8);
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--fgColor-attention);
  border-radius: var(--borderRadius-full);
}

.staticSpinner {
  opacity: 0.25;
}

.checksSpinnerWrapper {
  contain: paint;
  position: relative;
  display: flex;
  color: var(--fgColor-attention);
}

.title {
  display: inline-block;
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 5px;
  margin-right: var(--base-size-4);
  overflow: hidden;
  color: var(--fgColor-muted);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleHeader {
  margin-right: var(--base-size-8);
  margin-left: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-default);
  white-space: nowrap
}

.titleDescription {
  font-size: var(--text-body-size-small);
}

.leadingVisual {
  margin-left: var(--base-size-8);
}

.requiredLabel {
  padding-top: var(--base-size-2);
}

.buttonAnchorWrapper {
  min-width: 24px;
  min-height: 24px;

  /* padding-top: var(--base-size-2); */
  color: var(--fgColor-muted)
}

.button {
  position: relative;
  /* stylelint-disable-next-line primer/spacing */
  top: 2px;
  /* stylelint-disable-next-line primer/spacing */
  left: 4px;
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 4px;
}
