.statusCheckActionBar {
  padding-right: var(--base-size-4); /* Reducing the gap between the anchor and the end of the row */
  min-width: var(--base-size-40); /* Reduces space between required badge and action bar */

  /* https://github.com/github/github/pull/354504#issuecomment-2539397407 */
  height: var(--base-size-32); /* Enforces the height of the bar even when it has no static menu actions for consistent rendering */
}
