.sidebar {
  padding-top: var(--base-size-16);

  /* 64px is height of the 60px sticky toolbar + a little extra offset  */
  max-height: calc(100vh - var(--base-size-64));

  /* the small left offset is so the focus state of the search box doesnt get clipped */
  /* stylelint-disable-next-line primer/spacing */
  padding-left: 1px;
}
