.container {
  display: inline;
  margin-right: var(--base-size-4);
}

.label {
  display: inline-flex;
  overflow: hidden;
}

.title {
  overflow: hidden;
  /* stylelint-disable-next-line primer/typography */
  line-height: normal;
  text-overflow: ellipsis;
}
