.accordion {
    width: 100%;
}

.item {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding-inline: 0;
    padding-block: var(--base-size-16);
    background: var(--bgColor-default);
    border: none;
    font-family: var(--fontStack-sansSerif);
    font-size: var(--text-body-size-medium);
    font-weight: var(--base-text-weight-semibold);
    cursor: pointer;
}

.trigger:hover {
    text-decoration: underline;
}

.trigger:has(+ .content:not([hidden])) {
    padding-bottom: var(--base-size-8);
}

.triggerText {
    flex: 1;
}

.icon {
    margin-left: var(--base-size-8);
    transition: transform 150ms ease-out;
    color: var(--fgColor-muted);
}

.iconExpanded {
    transform: rotate(180deg);
}

.content {
    padding-block: var(--base-size-8);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.content:not([hidden]) {
    max-height: 1000px;
    padding-top: 0;
    padding-bottom: var(--base-size-16);
    opacity: 1;
}
