/* Hide staffbar on narrow viewports */
@media screen and (max-width: 768px) {
  /* stylelint-disable-next-line selector-max-specificity */
  :global(#serverstats) {
    display: none;
  }
}

.pageLayout {
  /*
    Note:
    --workspace-editor-offset-top and --workspace-editor-header-height are dynamically calculated with JavaScript and set in Workbench.tsx
  */
  --easing-easeIn: cubic-bezier(0.35, 1, 0.5, 1);
  --easing-easeOut: cubic-bezier(0, 0, 0.3, 0.95);

  /* Padding at the top, bottom, and between PageLayout header and content */
  --workspace-editor-padding-height: 0px;
  --workspace-editor-content-height: calc(
    100vh - var(--workspace-editor-offset-top) - var(--workspace-editor-header-height) -
      var(--workspace-editor-padding-height)
  );
  --workspace-editor-terminal-height: 300px;
  --workspace-editor-terminal-header-height: var(--base-size-48);
  --workspace-editor-terminal-pane-height: calc(
    var(--workspace-editor-terminal-height) - var(--workspace-editor-terminal-header-height)
  );
  --workspace-editor-side-panel-width: 420px;

  height: calc(100vh - var(--workspace-editor-offset-top));
  background-color: var(--bgColor-default);
}

.pagePane {
  --spacing-column: 0;
  --pane-width-size: 100% !important;

  width: 0;
  overflow: hidden;
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  /* Hack to override Primer’s PageLayout DOM nesting */
  /* stylelint-disable-next-line selector-max-type */
  & > div {
    /* This only displays on large enough viewports so we don't need to worry about the Primer warning */
    width: var(--workspace-editor-side-panel-width);
    height: var(--workspace-editor-content-height);
    transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.pagePaneExpanded {
  /* This only displays on large enough viewports so we don't need to worry about the Primer warning */
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 420px;
}

.sidePanelWrapper {
  height: 100%;
  overflow: hidden;
}

.sidePanelDialog [class*='prc-Dialog-Body'] {
  height: 100%;
  padding: 0;
}

.pageContent {
  overflow: hidden;
  border-top: var(--borderWidth-default) solid var(--borderColor-muted);
  margin: 0;
  height: var(--workspace-editor-content-height);
  display: flex;
  flex: 1;
  transition: margin 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: margin, border, border-radius, height;

  @media (min-width: 1012px) {
    border: var(--borderWidth-default) solid var(--borderColor-muted);
    border-radius: var(--borderRadius-large);
  height: calc(var(--workspace-editor-content-height) - var(--base-size-16));
    margin: 0 var(--base-size-16) var(--base-size-16) 0;
  }
}

.contentFullWidth {
  @media (min-width: 1012px) {
    margin-left: var(--base-size-16);
  }
}
