.pageLayout {
  /*
    Note:
    --workspace-editor-offset-top and --workspace-editor-header-height are dynamically calculated with JavaScript and set in Workbench.tsx
  */

  /* Padding at the top, bottom, and between PageLayout header and content */
  --workspace-editor-padding-height: calc(3 * 8px);
  --workspace-editor-content-height: calc(100vh - var(--workspace-editor-offset-top) - var(--workspace-editor-header-height) - var(--workspace-editor-padding-height));
  --workspace-editor-terminal-height: 300px;
  --workspace-editor-terminal-header-height: var(--base-size-48);
  --workspace-editor-terminal-pane-height: calc(var(--workspace-editor-terminal-height) - var(--workspace-editor-terminal-header-height));

  height: calc(100vh - var(--workspace-editor-offset-top));
  background-color: var(--bgColor-muted);
  /* Fix PageLayout component not respecting `condensed` value — will fall back to the same value once Primer resolves that bug */
  padding: var(--base-size-8) !important;
}
