/* stylelint-disable selector-max-compound-selectors */
.row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.noSubitems {
  padding-left: var(--base-size-4);

  .trailingItems {
    padding-right: 0;
  }
}

.rowExpanded::before {
  content: '';
  position: absolute;
  top: var(--base-size-32);
  left: var(--base-size-24);
  height: calc(100% - var(--last-subitem-height, 90px) - 10px);
  width: 4px;
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-top: none;
  border-right: none;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 0 0 0 4px;
  background-color: transparent;
}

.leadingItems {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
  margin: 0 var(--base-size-12);
}

.toggleButtonContainer {
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 10px;
}

/* These override the Primer styling of the button to reduce the clickable area of the button
and remove the background color when [aria-expanded=true] */
.toggleButton {
  width: var(--base-size-24);
}

.toggleButton[aria-expanded='true']:not(:hover) {
  background-color: transparent;
}

.leadingIcon {
  padding-top: var(--base-size-12);
}

.content {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  padding: var(--base-size-12) var(--base-size-16) var(--base-size-12) 0;
  gap: var(--stack-gap-condensed);
}

/* Show border if this is not the last row, or if this is the last row and the last row's children are displayed */
.row:not(:last-child) .content,
.row:last-child:has(.children) .content {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

/* Do not show border for the last row's last child */
/* stylelint-disable-next-line selector-max-specificity */
.row:last-child .children .row:last-child .content {
  border-bottom: none;
}

.mainContent {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-size-2);
  flex: 1 0 0;
}

.trailingItems {
  padding-right: var(--base-size-8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--stack-gap-condensed);
}

.children {
  /* stylelint-disable-next-line primer/spacing */
  padding-left: 56px;
}
