.container {
  border-color: var(--borderColor-default);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  overflow: hidden;
}

.header {
  background: var(--bgColor-muted);
  padding: var(--base-size-8);
  display: flex;
}

.body {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
}
