.Button {
  margin-left: var(--base-size-8);
  margin-top: var(--base-size-8);
}

.Box {
  display: flex;
  align-items: center;
}

.NavList {
  /* stylelint-disable-next-line selector-max-type */
  & > ul {
    padding-top: 0 !important;
  }
}
