.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--base-size-4);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: var(--base-size-2);
  height: 18px;
  width: 18px;

  /* stylelint-disable-next-line selector-max-type */
  & svg {
    vertical-align: top !important;
  }
}

.ActionMenu_Overlay {
  z-index: 3;
}

.ActionList_Group {
  /* stylelint-disable-next-line selector-max-type */
  & > ul {
    display: flex !important;
  }
}

.ActionList_Item {
  flex: auto;
  color: var(--fgColor-accent);
  border-right: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: 0;
  margin-top: calc(var(--base-size-8) * -1);
  margin-bottom: calc(var(--base-size-8) * -1);
  margin-left: 0;
  margin-right: 0;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  text-align: center;
  font-weight: var(--base-text-weight-normal);

  &:hover {
    background: var(--bgColor-inset);
  }
}

.ActionList_Item_1 {
  flex: auto;
  color: var(--fgColor-muted);
  border-radius: 0;
  margin-top: calc(var(--base-size-8) * -1);
  margin-bottom: calc(var(--base-size-8) * -1);
  margin-left: 0;
  margin-right: 0;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  text-align: center;
  font-weight: var(--base-text-weight-normal);

  &:hover {
    background: var(--bgColor-inset);
  }
}
