.dialog {
  position: fixed;
  top: 20vh;
}

.copilotAvatar {
  scale: 0.75;
}

.commandListItemSelected {
  background-color: var(--control-transparent-bgColor-hover, var(--color-action-list-item-default-hover-bg));
}

.chatMessageWrapper {
  min-height: 100px;
  max-height: 320px;
  padding: var(--base-size-16) 0;
}
