.cardGrid {
  --brand-Grid-spacing-row: var(--base-size-48);
}

.layoutGrid {
  --brand-Grid-spacing-row: var(--base-size-48);
}

@media screen and (max-width: 63.25rem) {
  .filtersColumn {
    margin-left: calc(var(--base-size-16)*-1);
    margin-right: calc(var(--base-size-16)*-1);
  }
}
