/* Spacer */

/*
//    0px - 543px  (mobile)
//  544px - 767px  (tablet - portrait)
//  768px - 1011px (tablet - landscape)
// 1012px - 1279px (laptop)
// 1280px - ~      (desktop)
*/

.Spacer {
  display: block;
  height: var(--Spacer-size, 80px);
}

@media (min-width: 544px) {
  .Spacer {
    height: var(--Spacer-size544, var(--Spacer-size, 96px));
  }
}

@media (min-width: 768px) {
  .Spacer {
    height: var(--Spacer-size768, var(--Spacer-size544, var(--Spacer-size, 112px)));
  }
}

@media (min-width: 1012px) {
  .Spacer {
    height: var(--Spacer-size1012, var(--Spacer-size768, var(--Spacer-size544, var(--Spacer-size, 128px))));
  }
}

@media (min-width: 1280px) {
  .Spacer {
    height: var(--Spacer-size1280, var(--Spacer-size1012, var(--Spacer-size768, var(--Spacer-size544, var(--Spacer-size, 156px)))));
  }
}
