.diffTextCell {
  position: relative;

  /* Centers text content in the middle of the element for one row difflines */
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 1px;
  padding-right: var(--base-size-24);
  padding-left: var(--base-size-24);
}

.diffHunkCell {
  background-color: var(--bgColor-accent-muted, var(--color-accent-subtle));
  flex-grow: 1;
}

.diffHunkText {
  position: relative;
  display: flex;

  /* Centers text content in the middle of the element for one row difflines */
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 1px;
  padding-right: var(--base-size-24);
  padding-left: var(--base-size-24);
  flex-direction: row;

  /* We want to avoid user-select on hunk rows */
  user-select: none;
  align-items: center;
}

.diffTextInner {
  overflow: hidden;
  color: var(--fgColor-default, var(--color-fg-default));
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.diffTextMarker {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: 1px;
  left: var(--base-size-8);
  padding-right: var(--base-size-8);

  /* We want to avoid user-select on + and - elements on a DiffLine */
  user-select: none;
}

.syntaxHighlightedAdditionLine {
  /* this [class~="classname"] syntax lets us set styles on HTML classes returned by the server */
  [class~="x"] {
    /* stylelint-disable-next-line primer/colors */
    color: var(--diffBlob-additionWord-fgColor, var(--diffBlob-addition-fgColor-text));
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--diffBlob-additionWord-bgColor, var(--diffBlob-addition-bgColor-word));
  }

  [class~="x-first"] {
    border-top-left-radius: var(--borderRadius-small);
    border-bottom-left-radius: var(--borderRadius-small);
  }

  [class~="x-last"] {
    border-top-right-radius: var(--borderRadius-small);
    border-bottom-right-radius: var(--borderRadius-small);
  }
}

.syntaxHighlightedDeletionLine {
  [class~="x"] {
    /* stylelint-disable-next-line primer/colors */
    color: var(--diffBlob-deletionWord-fgColor, var(--diffBlob-deletion-fgColor-text));
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--diffBlob-deletionWord-bgColor, var(--diffBlob-deletion-bgColor-word));
  }

  [class~="x-first"] {
    border-top-left-radius: var(--borderRadius-small);
    border-bottom-left-radius: var(--borderRadius-small);
  }

  [class~="x-last"] {
    border-top-right-radius: var(--borderRadius-small);
    border-bottom-right-radius: var(--borderRadius-small);
  }
}

.diffLineNumber {
  width: 1%;
  min-width: 50px;
  text-align: right;
  user-select: none;
}
