.Box {
  flex-direction: column;
  flex: auto;
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
}

.Box_1 {
  flex-direction: column;
  flex: auto;
  position: relative;
  z-index: 1;
  display: flex;
}

.Flash {
  margin-left: var(--base-size-4);
  margin-right: var(--base-size-4);
  margin-top: var(--base-size-4);
}

.Flash_1 {
  display: grid;
  grid-template-columns: min-content 1fr minmax(0, auto);
  grid-template-rows: min-content;
  grid-template-areas: 'visual message actions close';

  @media screen and (max-width: 543.98px) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 'visual message close' '.      actions actions';
  }
}

.Box_2 {
  display: grid;
  padding-block: var(--base-size-8);
  align-self: start;
  grid-area: visual;
}

.Box_3 {
  font-size: var(--text-body-size-medium);
  line-height: var(--text-body-lineHeight-large);
  padding: var(--base-size-6) var(--base-size-8);
  align-self: center;
  grid-area: message;
}

.Box_4 {
  grid-area: actions;

  @media screen and (max-width: 543.98px) {
    align-self: start;
    margin: var(--base-size-8) 0 0 var(--base-size-8);
  }
}

.IconButton {
  grid-area: close;
  float: right;
  margin-left: calc(var(--base-size-4));
  text-align: center;
  cursor: pointer;
  background: none;
  border: 0;
  appearance: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  & .octicon {
    margin-right: 0;
  }
}

.Box_5 {
  flex-direction: row;
  flex: auto;
  display: flex;
}

.Box_6 {
  flex-direction: column;
  flex: auto;
  display: grid;
  overflow: auto;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.Box_7 {
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
}

.Text {
  font-size: var(--text-body-size-medium);
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
  color: var(--fgColor-onEmphasis);
}

.ToastAction {
  margin-top: 0;
  margin-bottom: 0;
}

.Blankslate {
  display: flex;
  flex-grow: 1;
  background-color: var(--bgColor-default);
}

.Octicon {
  color: var(--fgColor-danger);
}

.Text_1 {
  color: var(--fgColor-muted);
}
