@layer recipes {
  .flash {
    /* !important is needed until the Primer flash component is migrated to CSS modules */
    padding: var(--base-size-8) !important;
    font-size: var(--text-body-size-medium);
    border-bottom-right-radius: var(--borderRadius-medium);
    border-bottom-left-radius: var(--borderRadius-medium);
  }
}
