@layer recipes {
  .footer {
    display: flex;
    min-height: 36px;
    padding-top: var(--base-size-8);
    gap: var(--stack-gap-condensed);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footerWrapper {
    display: flex;
    gap: var(--base-size-4);
    align-items: center;
    font-size: var(--text-body-size-small);
  }

  .footerButtonWrapper {
    display: flex;
    gap: var(--stack-gap-condensed);
  }

  /* Primer Button component has not been migrated to CSS modules so need to keep !important statements */
  .footerButton {
    padding-right: var(--base-size-8);
    padding-left: var(--base-size-8);
    font-weight: var(--base-text-weight-normal) !important;
    color: var(--fgColor-muted) !important;
  }

  .childrenStyling {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    gap: var(--stack-gap-condensed);
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
