@layer recipes {
  .textArea {
    border-style: none !important;
    outline-offset: -4px;
    box-shadow: none;

    /* stylelint-disable-next-line selector-max-type */
    textarea {
      padding: var(--base-size-16) !important;
      line-height: var(--text-body-lineHeight-medium, 1.4285);
      resize: vertical !important;

      /* stylelint-disable-next-line selector-max-type */
      .fullHeight & {
        resize: none !important;
      }

    }

    &.monospace {
      font-family: var(--fontStack-monospace);
    }

    &:focus-within {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .displayNone {
    display: none !important;
  }

  .fullHeight {
    height: 100% !important;
  }

  .isDraggedOver {
    outline: dashed 2px var(--borderColor-default) !important;
  }
}
