.SavedReplies {
  /*  hide the leading visual container since we don't use the checkboxes */
  & [class*="BaseVisualContainer"]:first-child {
    display: none;
  }

  & [class*="DescriptionContainer"],
  & [data-component="ActionList.Description"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
