@layer recipes {
  .divider {
    display: inline-grid;
    height: calc(var(--control-medium-size, 32px) / 2);
    /* stylelint-disable-next-line primer/spacing */
    margin: 0 var(--controlStack-medium-gap-condensed, var(--base-size-8));
    border-left: var(--borderWidth-thin, var(--borderWidth-thin)) solid
      var(--borderColor-muted, var(--color-border-muted));
  }

  .toolbar {
    display: flex;
    padding-right: var(--base-size-4);
    padding-left: var(--base-size-4);
    margin-bottom: var(--base-size-8);
    border-bottom: var(--borderWidth-thin) solid;
    border-bottom-color: var(--borderColor-default);
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
    flex-grow: 1;

    @media screen and (min-width: 600px) {
      padding-left: var(--base-size-8);
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
}
