.viewSwitch {
  display: flex;
  flex-direction: row;
}

.tabNavLink {
  cursor: pointer;
  border-top-left-radius: var(--borderRadius-small);
}

/** Primer Button component has not been migrated to CSS modules so need to keep !important statements */
.editColor {
  color: var(--fgColor-default) !important;
}

/** Primer Button component has not been migrated to CSS modules so need to keep !important statements */
.previewColor {
  color: var(--fgColor-muted) !important;
}
