.sectionFieldLabel {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  display: block;
}

.sectionFieldDescription {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
}

.pageHeaderContainer {
  border-color: var(--borderColor-default);
  /* stylelint-disable-next-line primer/borders */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-16);
}

.pageTitle {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
  display: flex;
}

.pageSubtitle {
  margin-left: var(--base-size-8);
}

.sectionTitle {
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-normal);
}

.blankslateHeadingText {
  font-size: var(--text-body-size-medium);
  display: block;
  text-align: center;
}

.blankslateDescriptionText {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  display: block;
  text-align: center;
}

.languageSelectionContainer {
  display: grid;
  gap: var(--stack-gap-condensed);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  margin-bottom: 0;
  padding: var(--base-size-16);
}

.sectionHeaderContainer {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-8);
}

.settingsGroupContainer {
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  padding-right: var(--base-size-16);
  padding-left: var(--base-size-16);
}

.settingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.runnerLabelInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  padding-left: var(--base-size-16);
}

.settingRowWithTopBorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-color: var(--borderColor-default);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.threatModelDescription {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  display: block;
}

.scanEventRow {
  display: flex;
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.scanEventLabel {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  margin-right: auto;
}

.scanEventDetails {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.scanEventRowWithTopBorder {
  display: flex;
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-color: var(--borderColor-default);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
}

.formActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--base-size-32);
}

.submitButton {
  margin-right: var(--base-size-8);
}
