.stickyHeader {
  position: sticky;
  /* stylelint-disable-next-line primer/spacing */
  top: -1px;
  /* Avatar component in Description has z-index of 10 */
  z-index: 11;
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  transition: all 0.2s ease-in-out;
  background-color: var(--bgColor-default);
}
