.timelineBodyRowContainer {
  display: flex;
}

.timelineBodyRowContainer .timelineBodyContent {
  flex-grow: 1;
  flex-wrap: nowrap;
  max-width: 100%;
}

.timelineBodyRowContainer .timelineBodyTrailingContent {
  font-size: var(--text-body-size-small);
}

.timelineAgoLink {
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
}

.eventActorContainer {
  display: inline-flex;
  justify-content: center;
}

.eventActorLink {
  display: inline-flex;
  align-items: baseline;
  gap: var(--base-size-4);
  margin-right: var(--base-size-4);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default, var(--color-fg-default)) !important;
}

.alignSelfCenter {
  align-self: center;
}

.body {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: var(--base-size-32);
}

.fillRow {
  padding-right: 0;
}
