:root {
  --copilot-chat-immersive-sidebar-header-offset: var(--base-size-96);
  --baseOverwrite-easing-easeIn: cubic-bezier(0.35, 1, 0.5, 1);
  --baseOverwrite-easing-easeOut: cubic-bezier(0, 0, 0.3, 0.95);
  /* must be kept in sync with constants.ts */
  --previewPane-animation-duration: var(--base-duration-300);
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--bgColor-default);
  scrollbar-color: var(--borderColor-muted) transparent;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.left {
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  flex: 1 1 auto;
  container-type: inline-size;
  container-name: main;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  position: relative; /* Defines the container for the scrollToBottomButton */
  overflow-y: hidden;
  flex-direction: column;
  flex-basis: content;
  flex-grow: 1;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-16);
  justify-content: center;
}

.chatInputContainer {
  width: 100%;
  max-width: 768px;
  margin-top: var(--base-size-16);

  /* Fixes a bug where empty repo attachment div in the DOM caused unwanted space  */
  /* stylelint-disable-next-line selector-max-type */
  & > div:nth-child(2) {
    display: none;
  }
}

.formContainer {
  display: flex;
  width: 100%;
}

.promptInputContainer {
  width: 100%;
  max-width: 768px;
  margin-top: var(--base-size-16);
  padding: var(--base-size-12) var(--base-size-8) var(--base-size-12) var(--base-size-8);
  font-size: var(--text-body-size-large);
  border-radius: var(--borderRadius-large);

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.previewPane {
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--bgColor-default);
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn);
  flex: 0 0 auto;
}

.previewPane.active {
  width: 50vw;
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut);
}

.previewPane.active.wide {
  width: 67vw;
}

.viewer {
  width: calc(50vw - var(--base-size-16));
  height: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) var(--base-size-16) var(--base-size-16) 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  transition:
    opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
    visibility 0s var(--previewPane-animation-duration);
}

.viewer.wide {
  width: calc(67vw - var(--base-size-16));
}

.previewPane.active .viewer {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
}

.fullscreenPreviewPane {
  .previewPane {
    z-index: 2;
    width: 0;
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .previewPane.active {
    width: 0;
    transition: none;
  }

  .viewer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100%;
    margin: 0;
    visibility: hidden;
    background-color: var(--bgColor-default);
    border-radius: 0;
    box-shadow: var(--shadow-floating-large);
    opacity: 0;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
      visibility 0s var(--previewPane-animation-duration);
    transform: translateX(100%);
  }

  .previewPane.active .viewer {
    visibility: visible;
    opacity: 1;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
    transform: translateX(0);
  }
}


.innerContent {
  /* inset to match max width of topic indicator (which has 8px x-margins) */
  max-width: calc(var(--breakpoint-medium) - var(--base-size-16));
  margin-top : var(--base-size-96);
  margin-bottom: var(--base-size-16);
  margin-left: auto;
  margin-right: auto;
}

.suggestionButton {
  display: flex;
  padding-block: var(--base-size-16);
  padding-inline: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-default);
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  background: var(--canvas-default);
  border-color: var(--borderColor-muted);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-full);
  box-shadow: var(--shadow-resting-small);
  transition: background-color 0.2s ease;
  gap: var(--base-size-16);
  align-items: center;
}
