:root {
  --copilot-chat-immersive-sidebar-header-offset: var(--base-size-96);
  --baseOverwrite-easing-easeIn: cubic-bezier(0.35, 1, 0.5, 1);
  --baseOverwrite-easing-easeOut: cubic-bezier(0, 0, 0.3, 0.95);
  /* must be kept in sync with constants.ts */
  --previewPane-animation-duration: var(--base-duration-300);
  /* must be kept in sync with promptInputRef.current.style.height in Layout.tsx */
  --form-container-actions-height: var(--base-size-48);
}

.container {
  position: relative;
  display: flex;
  min-height: calc(100vh - var(--base-size-64));
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: var(--bgColor-default);
  scrollbar-color: var(--borderColor-muted) transparent;

  /* Add z-index to establish stacking context */
  z-index: 0;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.headerBlock {
  white-space: nowrap;
}

.left {
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  flex: 1 1 auto;
  container-type: inline-size;
  container-name: main;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  position: relative; /* Defines the container for the scrollToBottomButton */
  overflow-y: hidden;
  flex-direction: column;
  flex-basis: content;
  flex-grow: 1;
  height: 100%;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 var(--base-size-16) var(--base-size-16);
  justify-content: center;
}

.chatInputContainer {
  width: 100%;
  max-width: 768px;
  margin-top: var(--base-size-16);

  /* Fixes a bug where empty repo attachment div in the DOM caused unwanted space  */
  /* stylelint-disable-next-line selector-max-type */
  & > div:nth-child(2) {
    display: none;
  }
}

.alertBanner {
  margin: var(--base-size-8) var(--base-size-2);
  padding: 0;
  width: 75%;
}

.attachmentToolbar {
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.promptInputContainer {
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  max-width: 768px;
  font-size: var(--text-body-size-large);
  border-radius: var(--borderRadius-large);
  background: unset;
  backdrop-filter: blur(8px);

  /* stylelint-disable-next-line selector-max-type */
  & > textarea {
    padding: var(--base-size-16) var(--base-size-16) var(--base-size-8);
    width: 100%;
    height: 100%;
  }
}

.formContainerActions {
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--form-container-actions-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--base-size-16);
  padding: var(--base-size-8);
  border-radius: 0 0 var(--borderRadius-large) var(--borderRadius-large);
}

.attachImageButton {
  gap: var(--base-size-4);
  padding-inline: var(--base-size-6);
}

/*
  Visual style stolen from Copilot immersive chat but implemented differently
  because we don’t have the same requirements right now (like multiple images)
*/
.referenceToken {
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  /* 32px matches our button height to avoid layout jank between states */
  height: var(--base-size-32);
  display: inline-flex;
  align-items: center;
  gap: var(--base-size-8);
  max-width: 240px;
  padding-inline-start: var(--base-size-8);
  /* This is here to fudge alignment so it matches the optical alignment of the "📎 Attach image" button */
  margin-inline-start: var(--base-size-8);

  &:hover {
    background-color: var(--bgColor-muted);
  }
}

.referenceTokenLabel {
  font-weight: var(--base-text-weight-semibold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.previewPane {
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--bgColor-default);
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn);
  flex: 0 0 auto;
}

.previewPane.active {
  width: 50vw;
  transition: width var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut);
}

.previewPane.active.wide {
  width: 67vw;
}

.viewer {
  width: calc(50vw - var(--base-size-16));
  height: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) var(--base-size-16) var(--base-size-16) 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  transition:
    opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
    visibility 0s var(--previewPane-animation-duration);
}

.viewer.wide {
  width: calc(67vw - var(--base-size-16));
}

.previewPane.active .viewer {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
}

.fullscreenPreviewPane {
  .previewPane {
    z-index: 2;
    width: 0;
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .previewPane.active {
    width: 0;
    transition: none;
  }

  .viewer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100%;
    margin: 0;
    visibility: hidden;
    background-color: var(--bgColor-default);
    border-radius: 0;
    box-shadow: var(--shadow-floating-large);
    opacity: 0;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeIn),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeIn),
      visibility 0s var(--previewPane-animation-duration);
    transform: translateX(100%);
  }

  .previewPane.active .viewer {
    visibility: visible;
    opacity: 1;
    transition:
      transform var(--previewPane-animation-duration) var(--baseOverwrite-easing-easeOut),
      opacity var(--base-duration-200) var(--baseOverwrite-easing-easeOut) 100ms;
    transform: translateX(0);
  }
}

.innerContent {
  /* inset to match max width of topic indicator (which has 8px x-margins) */
  max-width: calc(var(--breakpoint-medium) - var(--base-size-16));
  margin-left: auto;
  margin-right: auto;
}

.icon {
  container: strict;
  inline-size: var(--spinner-size);
  block-size: var(--spinner-size);
  color: var(--fgColor-done);
  height: 40px;
  width: 40px;
}

.description {
  font-size: var(--text-body-size-large);
  color: var(--fgColor-muted);
  text-align: center;
  line-height: var(--text-body-lineHeight-large);
  max-width: 520px;
}

.underlinePanels {
  justify-content: center;
  margin-top: var(--base-size-32);
  box-shadow: none;
  z-index: 2;
}

.underlinenavItem {
  display: flex;
  flex-direction: row;
  gap: var(--stack-gap-condensed);
  align-items: center;
  justify-content: center;
}

.UnderlineNav {
  justify-content: center;
  margin-top: var(--base-size-32);
  /* stylelint-disable-next-line */
  box-shadow: unset;
}
