.sparksList {
  width: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) var(--base-size-32) var(--base-size-16) var(--base-size-16);
  overflow: hidden;
  backdrop-filter: blur(10px);
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-default) solid var(--borderColor-muted);

}

.liveDeploymentText {
  white-space: nowrap;
}

.ListItemMetadataContainer {
  padding: 0;
}

.starfillIcon {
  color: var(--button-star-iconColor);
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: var(--base-size-64);
}

.blankslate {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: var(--base-size-32);
  color: var(--fgColor-disabled);
}
