.sparksList {
  margin-top: var(--base-size-40);
  width: 100%;
  /* stylelint-disable-next-line primer/borders */
  border: var(--border-default);
  border-radius: var(--borderRadius-medium);
  overflow: hidden;
}
