.marketplace-featured-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
}

.marketplace-list-grid-one {
  max-width: 50%;
}

.marketplace-logo--large {
  --container-size: var(--base-size-64);
  --logo-size: var(--base-size-40);
}

.details {
  &[open] .down-icon {
    display: none !important;
  }

  &:not([open]) .up-icon {
    display: none !important;
  }
}

.marketplace-logo-verified-icon-container {
  position: relative;

  > .marketplace-logo-verified-icon {
    /* stylelint-disable-next-line primer/spacing */
    bottom: -4px;
    position: absolute;
    /* stylelint-disable-next-line primer/spacing */
    right: -4px;
  }
}
