.marketplace-list-grid-one {
  max-width: 50%;
}

.marketplace-logo--large {
  --container-size: var(--base-size-64);
  --logo-size: var(--base-size-40);
}

.details {
  &[open] .down-icon {
    display: none !important;
  }

  &:not([open]) .up-icon {
    display: none !important;
  }
}

.marketplace-logo-wrapper {
  position: relative;
}

.marketplace-logo-wrapper .marketplace-logo__verified-icon-wrapper {
  align-items: center;
  background-color: var(--bgColor-default);
  border-radius: 50%;
  /* stylelint-disable-next-line primer/spacing */
  bottom: -8px;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  padding: var(--base-size-4);
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  right: -10px;
  width: 20px;
}

.marketplace-banner-container {
  margin-bottom: var(--base-size-24);
}

.marketplace-banner-container:empty {
  display: none;
}

.marketplace-version-icon {
  color: var(--fgColor-muted);
  margin-top: var(--base-size-2);
}

.copyable-code-snippet {
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: -10px;
  overflow-x: scroll;
}

.starred-button-icon {
  color: var(--button-star-iconColor);
}

.marketplace-cta-buttons-container:empty {
  display: none;
}

.marketplace-content-container {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  box-shadow: 'var(--shadow-resting-small,var(--color-shadow-small))';
  padding: var(--base-size-24);
  width: '100%';

  @media screen and (min-width: 768px) {
    padding: var(--base-size-32);
  }
}

.marketplace-content-container--less-padding {
  @media screen and (min-width: 768px) {
    padding: var(--base-size-24);
  }
}

.marketplace-content-container--no-padding {
  padding: 0;
}

.marketplace-content-container__content {
  padding: var(--base-size-24);

  @media screen and (min-width: 768px) {
    padding: var(--base-size-32);
  }
}

.ButtonGroup {
  /* stylelint-disable-next-line selector-max-type */
  & > div:first-child {
    flex-grow: 1;
  }
}

/* Total space between content and pane should be 16px for < large breakpoints and 24px for >= large breakpoints.
Splitting up in 10px/18px and 6px increments so that item within pane can have -6px left margin and overflow won't be
hidden */
.marketplace-sidebar__pane {
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 10px !important;

  @media (min-width: 1012px) {
    /* stylelint-disable-next-line primer/spacing */
    margin-left: 18px !important;
  }
}

.marketplace-sidebar__content-wrapper {
  /* stylelint-disable-next-line primer/spacing */
  padding-left: 6px !important;
}

/* stylelint-disable-next-line selector-max-type */
.marketplace-revealer summary::-webkit-details-marker {
  display: none;
}
