.commit-message-container  {
  position: relative;
  display: flex;
  min-height: 44px;
  padding: var(--base-size-8);
  flex-direction: column;
  border-bottom: solid var(--borderWidth-thin) var(--borderColor-default);
  justify-content: center;
}

.commit-header-actions {
  /* override the default PH_Actions behavior since it adds too much line height to our container */
  height: auto !important;
}
