/* stylelint-disable primer/spacing */
/* stylelint-disable primer/responsive-widths */
/* stylelint-disable primer/typography */
/* stylelint-disable selector-max-type */
/* stylelint-disable primer/colors */

.breadcrumbLink span {
  font-size: var(--brand-text-size-200);
  font-weight: var(--brand-text-weight-300);
}

.hero-wrapper {
  margin-bottom: 96px;

  div:first-child {
    padding: 0;

    div:first-child {
      padding: 0;
    }
  }

  p {
    position: relative;
    color: #8b949e;
  }

  h1 {
    position: relative;
  }
}

.glowieWrapper {
  position: absolute;
  top: -420px;
  left: 50%;
  width: 768px;
  height: 500px;
  transform: translateX(-50%);
}

.glowie {
  position: absolute;
  width: 500px;
  height: 500px;
  filter: blur(150px);
  border-radius: 50%;
}

.left {
  left: 0;
  background: #000AFF;
}

.right {
  right: 0;
  background: #8250DF;
}

.paginationWrapper {
  width: 100%;
  padding-top: 24px;
  border-top: var(--borderWidth-thin) solid var(--base-color-scale-gray-5);
}

/* media queries */
@media screen and (min-width: 768px) {
  .glowieWrapper {
    top: -1210px;
    width: 1600px;
    height: 1227px;
  }

  .glowie {
    width: 1227px;
    height: 1227px;
  }
}

@media screen and (min-width: 1012px) {
  .hero-wrapper p {
    font-size: var(--brand-text-size-300);
    font-weight: var(--brand-text-weight-300);
  }
}

/* themed styling */
[data-color-mode='dark'] {
  .ctaBanner {
    --brand-CTABanner-bgColor: var(--base-color-scale-gray-7);

    a:nth-child(2) {
      --brand-button-secondary-borderColor-rest: rgba(255, 255, 255, 0.25);
    }
  }
}
