/* stylelint-disable selector-max-specificity */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable selector-max-compound-selectors, primer/spacing, selector-max-type */

/* #region ========== Animations ========== */
@keyframes spriteAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes copilotScaleAnimation {
  0% {
    transform: scale(0.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blink-star {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
}
@keyframes trail-animation-1 {
  0% {
    transform: rotate(-3.1415926536rad) scaleX(0.01);
  }
  50% {
    transform: rotate(-3.1415926536rad) scaleX(1);
  }
  100% {
    transform: rotate(-3.1415926536rad) scaleX(0.01);
  }
}
@keyframes trail-animation-2 {
  0% {
    transform: rotate(-2.0420352248rad) scaleX(0.01);
  }
  50% {
    transform: rotate(-2.0420352248rad) scaleX(1);
  }
  100% {
    transform: rotate(-2.0420352248rad) scaleX(0.01);
  }
}
@keyframes trail-animation-3 {
  0% {
    transform: rotate(-0.9424777961rad) scaleX(0.01);
  }
  50% {
    transform: rotate(-0.9424777961rad) scaleX(1);
  }
  100% {
    transform: rotate(-0.9424777961rad) scaleX(0.01);
  }
}
@keyframes trail-animation-4 {
  0% {
    transform: rotate(0.1570796327rad) scaleX(0.01);
  }
  50% {
    transform: rotate(0.1570796327rad) scaleX(1);
  }
  100% {
    transform: rotate(0.1570796327rad) scaleX(0.01);
  }
}
@keyframes trail-animation-5 {
  0% {
    transform: rotate(1.2566370614rad) scaleX(0.01);
  }
  50% {
    transform: rotate(1.2566370614rad) scaleX(1);
  }
  100% {
    transform: rotate(1.2566370614rad) scaleX(0.01);
  }
}
@keyframes trail-animation-6 {
  0% {
    transform: rotate(2.3561944902rad) scaleX(0.01);
  }
  50% {
    transform: rotate(2.3561944902rad) scaleX(1);
  }
  100% {
    transform: rotate(2.3561944902rad) scaleX(0.01);
  }
}
@keyframes trail-animation-7 {
  0% {
    transform: rotate(3.4557519189rad) scaleX(0.01);
  }
  50% {
    transform: rotate(3.4557519189rad) scaleX(1);
  }
  100% {
    transform: rotate(3.4557519189rad) scaleX(0.01);
  }
}
@keyframes trail-animation-8 {
  0% {
    transform: rotate(4.5553093477rad) scaleX(0.01);
  }
  50% {
    transform: rotate(4.5553093477rad) scaleX(1);
  }
  100% {
    transform: rotate(4.5553093477rad) scaleX(0.01);
  }
}
@keyframes trail-animation-9 {
  0% {
    transform: rotate(5.6548667765rad) scaleX(0.01);
  }
  50% {
    transform: rotate(5.6548667765rad) scaleX(1);
  }
  100% {
    transform: rotate(5.6548667765rad) scaleX(0.01);
  }
}
@keyframes trail-animation-10 {
  0% {
    transform: rotate(6.7544242052rad) scaleX(0.01);
  }
  50% {
    transform: rotate(6.7544242052rad) scaleX(1);
  }
  100% {
    transform: rotate(6.7544242052rad) scaleX(0.01);
  }
}
@keyframes sparkle-animation-1 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(85px * cos(0) * var(--copilot-animation-scale, 1)), calc(85px * sin(0) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(84.510565163px * cos(1.0995574288) * var(--copilot-animation-scale, 1)), calc(84.510565163px * sin(1.0995574288) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-3 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(83.0901699437px * cos(2.1991148575) * var(--copilot-animation-scale, 1)), calc(83.0901699437px * sin(2.1991148575) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-4 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(80.8778525229px * cos(3.2986722863) * var(--copilot-animation-scale, 1)), calc(80.8778525229px * sin(3.2986722863) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-5 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(78.0901699437px * cos(4.398229715) * var(--copilot-animation-scale, 1)), calc(78.0901699437px * sin(4.398229715) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-6 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(75px * cos(5.4977871438) * var(--copilot-animation-scale, 1)), calc(75px * sin(5.4977871438) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-7 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(71.9098300563px * cos(6.5973445725) * var(--copilot-animation-scale, 1)), calc(71.9098300563px * sin(6.5973445725) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-8 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(69.1221474771px * cos(7.6969020013) * var(--copilot-animation-scale, 1)), calc(69.1221474771px * sin(7.6969020013) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-9 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(66.9098300563px * cos(8.7964594301) * var(--copilot-animation-scale, 1)), calc(66.9098300563px * sin(8.7964594301) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
@keyframes sparkle-animation-10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(calc(65.489434837px * cos(9.8960168588) * var(--copilot-animation-scale, 1)), calc(65.489434837px * sin(9.8960168588) * var(--copilot-animation-scale, 1)));
    opacity: 0;
  }
}
/* #endregion */


.activate {
  position: relative;
  width: calc(48px * var(--copilot-animation-scale, 1));
  height: calc(32px * var(--copilot-animation-scale, 1));

  .copilot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
      position: relative;
      width: 100%;
    }
  }

  .sparkles {
    --activate-sparkle-size: 12px;

    .sparkle {
      position: absolute;
      top: calc(50% - var(--activate-sparkle-size) * 0.5);
      left: calc(50% - var(--activate-sparkle-size) * 0.5);
      width: var(--activate-sparkle-size);
      height: var(--activate-sparkle-size);
      transform: scale(0);

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--fgColor-default);
      }

      .sparkleTrail {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 200%;
        height: 20%;
        /* stylelint-disable-next-line primer/colors */
        background: linear-gradient(-90deg, rgba(127, 93, 220, 0) 0%, rgba(127, 93, 220, 0.5) 50%, #3787b5 80%, #71f172 100%);
        transform-origin: 0 50%;
      }
    }
  }
}

.activate[data-animation-state="idle"] .copilot {
  transform: translateY(0);

  svg {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .activate[data-animation-state="running"] {
    .copilot {
      animation: copilotScaleAnimation 0.6s cubic-bezier(.49,.18,.33,.94);

      svg {
        animation: spriteAnimation 1s 0s steps(34);
      }
    }

    .sparkle {
      animation-timing-function: cubic-bezier(0.09, 0.48, 0.2, 1);

      .sparkleTrail {
        animation-timing-function: cubic-bezier(0.09, 0.48, 0.2, 1);
      }

      svg {
        animation: blink-star 1s linear;
      }

      &:nth-child(1) {
        animation-name: sparkle-animation-1;

        .sparkleTrail {
          animation-name: trail-animation-1;
        }
      }

      &:nth-child(2) {
        animation-name: sparkle-animation-2;

        .sparkleTrail {
          animation-name: trail-animation-2;
        }
      }

      &:nth-child(3) {
        animation-name: sparkle-animation-3;

        .sparkleTrail {
          animation-name: trail-animation-3;
        }
      }

      &:nth-child(4) {
        animation-name: sparkle-animation-4;

        .sparkleTrail {
          animation-name: trail-animation-4;
        }
      }

      &:nth-child(5) {
        animation-name: sparkle-animation-5;

        .sparkleTrail {
          animation-name: trail-animation-5;
        }
      }

      &:nth-child(6) {
        animation-name: sparkle-animation-6;

        .sparkleTrail {
          animation-name: trail-animation-6;
        }
      }

      &:nth-child(7) {
        animation-name: sparkle-animation-7;

        .sparkleTrail {
          animation-name: trail-animation-7;
        }
      }

      &:nth-child(8) {
        animation-name: sparkle-animation-8;

        .sparkleTrail {
          animation-name: trail-animation-8;
        }
      }

      &:nth-child(9) {
        animation-name: sparkle-animation-9;

        .sparkleTrail {
          animation-name: trail-animation-9;
        }
      }

      &:nth-child(10) {
        animation-name: sparkle-animation-10;

        .sparkleTrail {
          animation-name: trail-animation-10;
        }
      }
    }
  }
}
