@keyframes copilotRun {
  0% { transform: translateY(calc(-32px * var(--copilot-animation-scale, 1))); }
  100% { transform: translateY(calc(-640px * var(--copilot-animation-scale, 1))); }
}

.affirmative[data-animation-state="idle"] {
  transform: translateY(0);
}

@media (prefers-reduced-motion: no-preference) {
  .affirmative[data-animation-state="running"] {
    /* 0.033s * 19 = .627 */
    animation: copilotRun 0.627s steps(19) 1;
  }
}
