@keyframes copilotStart {
  100% {
    transform: translateY(calc(-384px * var(--copilot-animation-scale, 1)));
  }
}

@keyframes copilotRun {
  0% {
    transform: translateY(calc(-416px * var(--copilot-animation-scale, 1)));
  }

  100% {
    transform: translateY(calc(-1728px * var(--copilot-animation-scale, 1)));
  }
}

@keyframes copilotEnd {
  0% {
    transform: translateY(calc(-1792px * var(--copilot-animation-scale, 1)));
  }

  100% {
    transform: translateY(calc(-2208px * var(--copilot-animation-scale, 1)));
  }
}

.thinking[data-animation-state="idle"] {
  transform: translateY(0);
}

@media (prefers-reduced-motion: no-preference) {
  .thinking[data-animation-state="starting"] {
    /* 0.033s * 12 = 0.429s */
    animation: copilotStart 0.429s steps(12) 1;
  }

  .thinking[data-animation-state="running"] {
    /* 0.033s * 41 = 1.353s */
    animation: copilotRun 1.353s steps(41) infinite;
  }

  .thinking[data-animation-state="ending"] {
    /* 0.033s * 13 = 0.429s */
    animation: copilotEnd 0.429s steps(13) 1;
  }
}
