.container {
  background-color: var(--bgColor-inset);
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}

.footer {
  border-top: var(--borderWidth-thin) solid var(--borderColor-neutral-muted);
  min-height: var(--base-size-48);
  padding: var(--base-size-8);
  width: 100%;
  display: flex;
  justify-content: center;
}
