/* stylelint-disable selector-max-type */

.AccordionItem {
  position: relative;
}

/* Disclosure logic styles */
.AccordionItem__heading {
  width: 100%;
  padding: 0;
  background: none;
  border: 0;
}

.AccordionItem__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s var(--ease-in-out);

  > div {
    overflow: hidden;
  }
}

.AccordionItem__content--expanded {
  grid-template-rows: 1fr;
}
