/* stylelint-disable-next-line selector-type-no-unknown,selector-no-qualifying-type */
:global(react-app[app-name="github-models-repo"]) {
  /*
  By default react apps are set to min-height 100vh - 64px. Until
  we have a proper fix from the platform, we need to override that here.
  Our app calculates and sets the height of the header we can use here.
  */
  --content-height: calc(100vh - var(--header-height, 104px));

  min-height: var(--content-height) !important;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  :global(.fill-page-height) {
    min-height: var(--content-height) !important;
  }
}
