
.propertyRow:first-child {
  border-radius: var(--borderRadius-default) var(--borderRadius-default) 0 0;
}

.propertyRow:last-child {
  border-radius: 0 0 var(--borderRadius-default) var(--borderRadius-default);
}

.propertyRow:only-child {
  border-radius: var(--borderRadius-default);
}

.editRow {
  border-width: 0 var(--borderWidth-thin) var(--borderWidth-thin) var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  padding: 0 var(--base-size-16);
}

.editRow:first-child {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
}

.readRow {
  background-color: var(--bgColor-inset);
  padding: var(--base-size-8) var(--base-size-12);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-default);
}

.readRow:first-child {
  padding-top: var(--base-size-12);
}

.readRow:last-child {
  border-bottom-width: 0;
  padding-bottom: var(--base-size-12);
}


