.ButtonGroup {
  display: flex;
}

.Button_1 {
  display: flex;
  align-items: center;
}

.Button_2 {
  /* stylelint-disable-next-line primer/typography */
  line-height: 22px;
}

.Box {
  padding: var(--base-size-16);
  border-bottom: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
}

.Box_1 {
  display: flex;
  justify-content: flex-end;
  padding: var(--base-size-16);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  gap: var(--stack-gap-condensed);
}
