/* stylelint-disable selector-max-type */
.transparencyDataTable {
  display: grid;
  grid-template-columns: 1fr;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  align-items: stretch;
  margin: 0;

  @media screen and (min-width: 544px) {
    grid-template-columns: 240px 1fr;
  }
}

.transparencyDataTable dt, .transparencyDataTable dd {
  margin: 0;
  padding: var(--base-size-8) var(--base-size-12) var(--base-size-8) var(--base-size-16);

  @media screen and (min-width: 544px) {
    padding-block: var(--base-size-8);

    &:not(:last-of-type) {
      border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
    }
  }
}

.transparencyDataTable dd {
  align-items: center;
  display: flex;
  overflow-wrap: anywhere;
  padding-top: 0;

  @media screen and (min-width: 544px) {
    padding-top: var(--base-size-8);
  }
}

.transparencyDataTable dd:not(:last-of-type) {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}
