.Box_0 {
  display: flex;
  gap: 8px;
  align-items: center;
}


.Box_1 {
  display: flex;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.Box_2 {
  display: grid;
  width: 100%;
  padding: var(--base-size-12);
  align-items: center;
  grid-template-columns: min-content 1fr min-content;
  gap: 12px;
}
