.FileRendererWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FileRendererViewport {
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 1024px;
}

.loadingIndicator {
  margin-left: auto;
  margin-right: auto;
}

.fileContentFrame {
  border: 0;
  display: block;
}

.errorMessageHeading {
  font-weight: var(--base-text-weight-semibold);
}
