.confirmationText {
  /* stylelint-disable-next-line primer/typography */
  font-size: 14px;
  font-style: normal;
  /* stylelint-disable-next-line primer/typography */
  font-weight: 400;
  /* stylelint-disable-next-line primer/typography */
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.15px;
}

.confirmationPaymentHeader {
  /* stylelint-disable-next-line primer/typography */
  font-size: 12px;
  font-style: normal;
  /* stylelint-disable-next-line primer/typography */
  font-weight: 600;
  line-height: 'var(--text-title-lineHeight-small)';
  color: var(--fgColor-default);
}

.confirmationPaymentText {
  /* stylelint-disable-next-line primer/typography */
  font-size: 20px;
  font-style: normal;
  /* stylelint-disable-next-line primer/typography */
  font-weight: 400;
  /* stylelint-disable-next-line primer/typography */
  line-height: 30px; /* 150% */
  letter-spacing: 0.3px;
}

.confirmationFooter {
  /* stylelint-disable-next-line primer/typography */
  font-size: 12px;
  font-style: normal;
  /* stylelint-disable-next-line primer/typography */
  font-weight: 400;
  /* stylelint-disable-next-line primer/typography */
  line-height: 18px; /* 150% */
  color: var(--fgColor-muted);
}

.perMonth {
  /* stylelint-disable-next-line primer/typography */
  font-size: 14;
  font-style: normal;
  /* stylelint-disable-next-line primer/typography */
  font-weight: 300;
  /* stylelint-disable-next-line primer/typography */
  line-height: 30px; /* 150% */
  /* stylelint-disable-next-line primer/colors */
  color: var(--fgColor-subtle);
}

.seatListItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top: 0;
  padding-right: var(--base-size-4);
  padding-left: var(--base-size-12);
  height: 36px;
  /* background-color: initial; */
  box-shadow: none;
}

.seatListItemHeader {
  display: flex;
  align-items: center;
}

.seatListItem:hover {
  background-color: var(--bgColor-neutral-muted);
}

.seatListItem:last-child {
  border-bottom-right-radius: var(--borderRadius-medium);
  border-bottom-left-radius: var(--borderRadius-medium);
}

/* Checked state */
.seatListItem.checked {
  background-color: var(--bgColor-accent-muted);
}

.seatListItem.checked:hover {
  background-color: var(--bgColor-accent-muted);
}

/* Mobile responsive */
@media screen and (max-width: 544px) {
  .seatListItem {
    flex-direction: column;
    align-items: flex-start !important;
    height: auto;
    padding: var(--base-size-12);
    gap: 8px;
    /* Handle overflow */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .seatListItemHeader {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
  }

  .actionContainer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
  }

  .seatListItemActionMenu{
    align-self: flex-end;
    margin-top: var(--base-size-8);
  }

  .actionMenu {
    align-self: flex-end;
    margin-top: --base-size-8;
  }
}

.actionContainer {
  display: flex;
  align-items: center;
}

.actionMenu {
  text-align: left;
  color: var(--fgColor-muted);
  padding-right: var(--base-size-12);
  font-size: var(--text-body-size-medium);
  flex-shrink: 0;
}
