.container {
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  margin: var(--base-size-16) 0;
  overflow: hidden;

  &.streaming {
    border-bottom-color: transparent;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-size-8) var(--base-size-4);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.headerCollapsed {
  border-bottom: none;
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}

.expandButton {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  padding: var(--base-size-16);
}

.node {
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--base-size-12);
}

.checkIcon {
  color: var(--fgColor-success);
}

.nodeTitle {
  font-weight: var(--base-text-weight-medium);
}

.emptyState {
  padding: var(--base-size-8);
  color: var(--fgColor-muted);
  text-align: center;
  font-style: italic;
}
