.Box {
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-24);
}

.Box_1 {
  padding: var(--base-size-24);
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
}

.Box_2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 400px;
  background-color: var(--bgColor-default);
  box-shadow: var(--shadow-floating-large);
  border-left: var(--borderWidth-thin) solid var(--borderColor-default);
  border-color: var(--borderColor-default);

  &:focus {
    outline: none;
  }
}

.Box_3 {
  padding-left: var(--base-size-24);
  padding-right: var(--base-size-24);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  display: flex;
  justify-content: space-between;
}

.Heading {
  font-size: var(--text-body-size-large, --text-title-size-small);
}

.IconButton {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}
