.Text {
  display: flex;
  margin-bottom: var(--base-size-8);
  font-weight: var(--base-text-weight-medium);
}

.SelectorDropdownButton {
  flex: 1;
  grid-template-columns: min-content 1fr min-content;
  text-align: left;
  width: 100%;
}

.SelectorDropdownButton [data-component="buttonContent"] {
  flex: 0;
}

.SelectorDropdownOverlay {
  /* Setting the width because the dropdown in rendered in a portal, 400 (bar width) - 24x2 (x padding) - 1 (border) */
  /* stylelint-disable-next-line primer/responsive-widths */
  width: calc(400px - 24px * 2 - 1px);
}

.Invalid {
  border-color: var(--borderColor-danger-emphasis);
}
