.Text {
  margin-top: var(--base-size-8);
  align-items: center;
  display: flex;
  font-size: var(--text-body-size-small);

  /* stylelint-disable-next-line selector-max-type */
  a {
    color: currentColor !important;
    text-decoration: underline !important;
  }
}

.Box {
  display: flex;
  margin-right: var(--base-size-4);
}

.success {
  color: var(--color-success-fg);
}

.error {
  color: var(--color-danger-fg);
}

.warning {
  color: var(--color-attention-fg);
}
