.copilotActionsChatButton.compact {
  display: block;
}

.copilotActionsChatButton.expanded {
  display: none;
}

@media screen and (min-width: 1012px) {
  .copilotActionsChatButton.compact {
    display: none;
  }

  .copilotActionsChatButton.expanded {
    display: block;
  }
}
