.container {
  height: calc(var(--base-size-48));
  padding: var(--base-size-8) 0;
}

.fileHeading {
  overflow: hidden;
  font-family: var(--fontStack-monospace, "SF Mono");
  font-size: var(--text-codeBlock-size);
  font-weight: var(--text-codeBlock-weight, 400);
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}

.treeToggleContainer {
  display: flex;
  align-items: center;
  margin-left: var(--base-size-4);
}
