/* Container for all steps */
.stepper {
  list-style: none;
  margin: 0;
  padding: var(--base-size-12);
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

/* Individual step */
.step {
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  background: var(--bgColor-muted);
  border-radius: var(--borderRadius-default);
}

.circleIcon {
  color: var(--fgColor-disabled);
  background-color: var(--bgColor-default);
  border-radius: var(--borderRadius-full);
}

.checkIcon {
  color: var(--fgColor-success);
}

/* Header button */
.header {
  /* button styles reset */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: var(--text-body-shorthand-medium);
  font-weight: var(--base-text-weight-semibold);
  text-align: left;
  /* styles */
  display: flex;
  align-items: center;
  gap: var(--stack-gap-condensed);
  cursor: pointer;
  color: var(--fgColor-default);
  padding-block: var(--base-size-12);
  padding-inline: var(--base-size-8);
  width: 100%;
}

.header:hover {
  background-color: var(--control-bgColor-hover);
  border-radius: var(--borderRadius-default);
}

.active .header {
  padding-bottom: var(--base-size-4);
}

.active .header:hover {
  background-color: var(--bgColor-muted);
}

.stepIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--base-size-24);
  height: var(--base-size-24);
}

.stepTitle {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
}

/* Panel (hidden unless active) */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in;
  padding-right: var(--base-size-16);
  padding-left: var(--base-size-40);
  color: var(--fgColor-muted);
}

.open {
  max-height: 150px;
  /* height: fit-content; */
  padding-bottom: var(--base-size-12);
  transition: max-height 0.7s ease-out;
}

.description {
  font-size: var(--text-body-size-medium);
  margin-top: 0;
  margin-bottom: var(--base-size-12)
}

.cta {
  display: inline-flex;
}
