.PrimerLink {
  font-weight: var(--base-text-weight-semibold);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:focus:focus-visible div {
    outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
    outline-offset: -2px;
  }
}

.Box {
  width: 16px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.Octicon {
  color: var(--treeViewItem-leadingVisual-iconColor-rest, var(--color-icon-directory));
  /* stylelint-disable-next-line primer/spacing */
  margin-right: 10px;
}
