.Table {
  overflow: unset;
}

.Box {
  width: 100%;
  border-top-left-radius: var(--borderRadius-medium);

  @media screen and (min-width: 544px) {
    display: none;
  }
}

.Box_1 {
  width: 40%;
  border-top-left-radius: var(--borderRadius-medium);

  @media screen and (max-width: 543px) {
    display: none;
  }
}

.Box_2 {
  text-align: right;
  padding-right: var(--base-size-16);
  width: 136px;
  border-top-right-radius: var(--borderRadius-medium);
}

.Box_3 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  height: 40px;
}

.Box_4 {
  text-align: center;
  vertical-align: center;
  height: 40px;
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
}

.Box_5 {
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
  cursor: pointer;
}

.OverviewHeaderRow {
  height: 0 !important;
  /* stylelint-disable-next-line primer/typography */
  line-height: 0px !important;

  /* stylelint-disable-next-line selector-max-type */
  tr {
    height: 0 !important;
    /* stylelint-disable-next-line primer/typography */
    font-size: 0 !important;
  }
}
