.is-stuck {
  .show-when-stuck {
    display: flex !important;
  }

  .hide-when-stuck {
    display: none;
  }
}

.show-when-stuck {
  display: none !important;
}

.hide-when-stuck {
  display: block;
}

.pr-sticky-title {
  text-overflow: ellipsis;
}

.toolbar {
  width: 100%;
  height: var(--base-size-60);
  padding-top: var(--base-size-16) !important;
  padding-bottom: var(--base-size-16) !important;
  transition: none;
  border-bottom: solid var(--borderWidth-thin) var(--borderColor-default);

  &.is-stuck {
    padding-top: var(--base-size-8) !important;
    padding-bottom: var(--base-size-8) !important;

    /* these styles push the toolbar to full width when sticky */
    width: 100vw;
    padding-left: var(--base-size-16) !important;
    padding-right: var(--base-size-16) !important;
    margin-left: calc(var(--base-size-16) * -1);
    margin-right: calc(var(--base-size-16) * -1);

    @media screen and (min-width: 768px) {
      padding-left: var(--base-size-24) !important;
      padding-right: var(--base-size-24) !important;
      margin-left: calc(var(--base-size-24) * -1);
      margin-right: calc(var(--base-size-24) * -1);
    }

    @media screen and (min-width: 1012px) {
      padding-left: var(--base-size-32) !important;
      padding-right: var(--base-size-32) !important;
      margin-left: calc(var(--base-size-32) * -1);
      margin-right: calc(var(--base-size-32) * -1);
    }
  }
}
