.Radio {
  margin-top: var(--base-size-4);
}

.RadioGroup {
  margin-top: var(--base-size-16);
}

.RadioText {
  color: var(--fgColor-muted);
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-body-size-small);
}

.ReviewMenuButton {
  [data-component="trailing-icon"] {
    margin-left: calc(var(--base-size-4) * -1);
    margin-right: calc(var(--base-size-4) * -1);
  }
}
