.Box {
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-color: var(--borderColor-default);
  margin-left: var(--base-size-36);
  margin-right: var(--base-size-12);
  margin-bottom: var(--base-size-12);
}

.Box_1 {
  padding: var(--base-size-16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Box_2 {
  margin-left: var(--base-size-36);
  margin-bottom: var(--base-size-16);
}

.Text {
  color: var(--fgColor-attention);
  border: none;
}
