.ShortcutsGroupContainer {
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  overflow: hidden;
}

.ShortcutsGroupHeader {
  background: var(--bgColor-muted);
  font-weight: var(--base-text-weight-semibold);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  font-size: var(--text-body-size-medium);
}

.ShortcutsList {
  list-style-type: none;
}

.ShortcutItem {
  border-top: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  display: flex;
  gap: var(--stack-gap-condensed);
  justify-content: space-between;
  align-items: center;
}

.KeybindingContainer {
  text-align: right;
}
