/* CustomComponent.module.css */
.HeadingContainer {
  padding-bottom: var(--base-size-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--control-small-size);
}

.Heading {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  display: flex;
  align-items: center;
  gap: var(--base-size-6);
}

.HeadingIcon {
  vertical-align: text-top;
}

.List {
  background-color: var(--overlay-bgColor);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  margin-bottom: var(--base-size-16);
}

.EmptyList {
  background-color: var(--overlay-bgColor);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  margin-bottom: var(--base-size-16);
  text-align: center;
}

.SuggestedActionLabel {
  background-color: var(--bgColor-neutral-muted);
  border-color: var(--borderColor-transparent)
}

.Muted {
  color: var(--fgColor-muted);
}

.Dialog {
  overflow: auto;
}

.TextArea {
  margin-top: 2;
  margin-bottom: 2;
}

.FormControl {
  padding-top: 3;
}

.SuccessIcon {
  color: var(--fgColor-success);
}

.FailureIcon {
  color: var(--fgColor-danger);
}

.ListItemOverride {
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  row-gap: 0;
  /* // this is to override a spacing element on the listItem.
  // If this goes beyond MVP we'll probably want to pass a new className prop to ListItem/MainContent.tsx */
  :has(> .description) {
    padding-bottom: var(--base-size-4);
    padding-right: var(--base-size-4);
  }
}

.titleContainerOverride {
  padding-top: var(--base-size-4);
  padding-right: var(--base-size-12);
  display: flex;
}

.titleOverride {
  padding-bottom: 0;
  padding-top: 0;
  font-size: var(--text-body-size-medium);
}

.timeOverride {
  font-size: var(--text-body-size-small);
}

.commentCount {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
  min-width: var(--base-size-36);
}

.ReplyIcon {
  display: inline;
  color: var(--fgColor-muted);
  transform: rotate(180deg);
  margin-right: var(--base-size-2);
}

.description {
  display: inline;
}

.leadingVisualOverride {
  margin-top: var(--base-size-12);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--base-size-32);
}

.metadataOverride {
  height: 44px;
}

.titleLink {
  color: var(--fgColor-default);
}

.noItems{
  padding-bottom: var(--base-size-4);
}

/* stylelint-disable-next-line selector-max-type */
.noItems h4 {
  padding-left: var(--base-size-8);
  padding-bottom: var(--base-size-4);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}

