/* CustomComponent.module.css */

.Heading {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  padding-bottom: var(--base-size-8);
}

.HeadingIcon {
  margin-right: var(--base-size-8);
  vertical-align: text-top;
}

.List {
  background-color: var(--overlay-bgColor);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  margin-bottom: var(--base-size-16)
}

.EmptyList {
  background-color: var(--overlay-bgColor);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  margin-bottom: var(--base-size-16);
  text-align: center;
  padding: var(--base-size-16);
}

.ListItem {
  padding-bottom: var(--base-size-16);
}

.Muted {
  color: var(--color-muted);
}

.Dialog {
  overflow: auto;
}

.TextArea {
  margin-top: 2;
  margin-bottom: 2;
}

.FormControl {
  padding-top: 3;
}
