.ambientErrorBanner {
  margin-bottom: var(--base-size-16);

  &.largeBorderRadius {
    border-radius: var(--borderRadius-large);
  }

  &.mediumBorderRadius {
    border-radius: var(--borderRadius-medium);
  }
}
