.container {
  display: flex;
}

.attachmentsList {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  gap: var(--stack-gap-condensed);
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor-muted) transparent;

  &:not(.scrolledToEnd, .loading) {
    mask-image: linear-gradient(to left, transparent, #000 var(--base-size-20), #000 var(--base-size-4), #000);

    & + .divider {
      visibility: visible;
    }
  }
}

.divider {
  width: 0;
  height: var(--control-medium-size);
  visibility: hidden;
  border-right: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.menuButton {
  flex-shrink: 0;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: var(--stack-gap-condensed);
}

.loading {
  height: var(--control-medium-size);
  overflow-x: visible;
  mask-image: none;
}

.functionLoading {
  display: flex;
  max-width: 100%;
  height: var(--control-medium-size);
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--control-medium-paddingInline-condensed);
  align-items: center;
  gap: var(--control-medium-gap);
  overflow: hidden;
  font: var(--text-body-shorthand-medium);
  color: var(--fgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  flex-shrink: 0;
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.convertToFileButton {
  display: flex;
  height: var(--control-medium-size);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  align-items: center;
  border-style: dashed;
  background-color: var(--bgColor-default);
  padding-right: 0;
  padding-left: var(--base-size-8);

  &:hover:not(.hoveringDismissConvertToFile) {
    color: var(--fgColor-success);
    background-color: var(--bgColor-success-muted);
    border-style: solid;

    /* stylelint-disable-next-line selector-max-type */
    & > span > span, & button {
      color: var(--fgColor-success);
    }
  }
}

.convertToFileButtonContent {
  display: flex;
  align-items: center;
}

.removeConvertToFileButton {
  width: var(--base-size-20);
  height: var(--base-size-20);
  margin-left: var(--base-size-4);
}
