.copilotChatPanel {
 /* From https://github.com/primer/react/blob/main/packages/react/src/Dialog/Dialog.tsx#L309-L320 */
  @media screen and (max-width: 767px) {
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    min-width: unset;
    max-width: 100dvw;
    height: 100%;
    min-height: unset;
    max-height: 100dvh;
    border-radius: unset !important;
    flex-grow: 1;

    @media screen and (prefers-reduced-motion: no-preference) {
      animation: Overlay--motion-scaleFade 0.2s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running;
    }
  }
}
