.referencesContainer {
  display: 'flex';
  justify-content: 'start';
  align-items: 'center';
  gap: 1;
  color: 'fg.muted';

  &:hover {
    color: 'fg.default';
  }
}

.referencesListImmersiveContainer {
  border: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);
  max-width: 100%;
  margin-left: 0 !important;

  /* stylelint-disable-next-line selector-max-type */
  & li {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.title {
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-body-size-small);
  margin-right: var(--base-size-4);
}

.Details {
  &[open] {
    .references-chevron-down {
      display: none !important;
    }

    .references-chevron-up {
      display: inline-block !important;
    }
  }
}

.referenceTokensContainer {
  display: flex;
  max-width: 100%;
  gap: var(--stack-gap-condensed);

  /* Prevent very wide tokens from overflowing the container */
  overflow: hidden;
  flex-wrap: wrap;

  &.alignRight {
    justify-content: flex-end;
  }
}
