.container {
  display: flex;
}

.attachmentsList {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  gap: var(--stack-gap-condensed);
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor-muted) transparent;

  &:not(.scrolledToEnd, .loading) {
    mask-image: linear-gradient(to left, transparent, #000 var(--base-size-20), #000 var(--base-size-4), #000);

    & + .divider {
      visibility: visible;
    }
  }
}

.divider {
  width: 0;
  height: var(--control-medium-size);
  visibility: hidden;
  border-right: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.menuButton {
  flex-shrink: 0;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: var(--stack-gap-condensed);
}

.loading {
  height: var(--control-medium-size);
  overflow-x: visible;
  mask-image: none;
}

.functionLoading {
  display: flex;
  max-width: 100%;
  height: var(--control-medium-size);
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--control-medium-paddingInline-condensed);
  align-items: center;
  gap: var(--control-medium-gap);
  overflow: hidden;
  font: var(--text-body-shorthand-medium);
  color: var(--fgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  flex-shrink: 0;
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
