.chatImageAttachment {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--borderRadius-large);

  &.squareView {
    height: 60px;
    width: 60px;

    @media screen and (min-width: 768px) {
      height: 120px;
      width: 120px;
    }
  }

  &.fullView {
    max-width: 22rem;
    max-height: 22rem;
  }

  &.assistive {
    padding-bottom: var(--base-size-12);
  }

  .userAttachedImage {
    border-radius: var(--borderRadius-large);
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow-clip-margin: unset;

    &.squareView {
      height: inherit;
      width: inherit;
    }

    &.fullView {
      height: 100%;
      width: 100%;
      max-height: 22rem;
      max-width: 22rem;
    }
  }

  .overlay {
    margin-bottom: var(--base-size-12);
    border-radius: var(--borderRadius-large);
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    background: none;

    .overlayScreen {
      background-color: var(--bgColor-emphasis); /* Dark overlay */
      border-radius: var(--borderRadius-large);
      display: block;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .expandIcon {
      color: var(--fgColor-onEmphasis);
      position: absolute;
      right: var(--base-size-8);
      top: var(--base-size-8);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      .overlayScreen {
        opacity: 0.4;
      }

      .expandIcon {
        opacity: 1.0;
      }
    }
  }
}
