.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-resting-small);

  &:has(.input:focus) {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -1px;
  }
}

.clicked {
  background-color: var(--button-default-bgColor-selected);
}

.attachments {
  padding: var(--base-size-16) var(--base-size-8) 0 var(--base-size-16);
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 64px;
  max-height: 30dvh;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin;

  /* Contain the stacking context to avoid leaky z-index bugs: */
  isolation: isolate;
}

.input,
.inputPreview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden;
  vertical-align: middle;
  resize: none;
  background: transparent;
  border: none;
  border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
  outline: 0;
  caret-color: var(--fgColor-default, var(--color-fg-default));
  font-size: var(--text-body-size-large);
  line-height: var(--text-body-lineHeight-large);
  padding: var(--base-size-16);
}

.input {
  z-index: 1;
  color: transparent;

  &::selection {
    color: var(--fgColor-default);
    background-color: var(--codeMirror-selection-bgColor);
  }
}

.inputPreview {
  z-index: 0;
  white-space: pre-wrap;
  pointer-events: none;
  user-select: none;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 0 var(--base-size-8) var(--base-size-8) var(--base-size-8);
  gap: var(--base-size-4);
  justify-content: space-between;

  .toolbarLeft, .toolbarRight {
    display: flex;
    flex-direction: row;
    gap: var(--base-size-4);

    /* stylelint-disable-next-line selector-max-type */
    button {
      padding: 0 var(--base-size-6);
      gap: var(--base-size-4);
    }
  }
}

.containerSmall {
  .inputContainer {
    max-height: 20dvh;
  }

  .input,
  .inputPreview {
    font-size: var(--text-body-size-medium);
    /* stylelint-disable-next-line primer/typography */
    line-height: 22px;
    /* Vertically align textarea in the 48px tall container because `--text-body-lineHeight-medium` is an odd number. */
    /* stylelint-disable-next-line primer/spacing */
    padding: 13px var(--base-size-16);
  }
}
