.container {
  overflow-y: auto;
  /* both-edges will ensure the left-side padding increases to match the right-side scrollbar width so content doesn't shift */
  scrollbar-gutter: stable both-edges;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor-muted) transparent;
  /* the container may not have any bottom padding or it will mess with the scroll-to-bottom logic - this is a browser restriction */
  padding-bottom: 0 !important;
  container-type: size;
}
