.messageContainer {
  container-type: inline-size;
  padding: var(--base-size-16);
  border-bottom: none;
  font-size: var(--text-body-size-small);
  border-radius: 0;
  margin-top: 0;
  background-color: '';
  width: 100%;
  align-self: '';
  position: static;
  display: grid;
  column-gap: var(--base-size-6);
  align-items: start;

  &:is(:hover, :focus-within) {
    .message-action {
      opacity: 1;
      pointer-events: auto;
    }
  }

  /* We don’t want delay for keyboard users */
  &:is(:hover) {
    .message-action {
      transition: opacity 0.1s ease-in-out;
      transition-delay: 0.2s;
    }
  }

  &.user {
    grid-template:
      'image'
      'content' / minmax(auto, 70%);
    justify-content: end;
    justify-items: end;
  }

  &.ai {
    grid-template:
      'avatar content' / min-content 1fr;
    justify-content: start;
  }
}

.contentContainer {
  display: flex;
  grid-area: content;
  flex-direction: column;
  gap: var(--base-size-8);
  padding: var(--base-size-8) 0;
  max-width: 100%;
}

.message {
  max-width: 100%;
  overflow: hidden;

  &.user {
    max-width: 80%;
  }
}

@container (min-width: var(--breakpoint-medium)) {
  .message.user {
    max-width: calc(0.8 * var(--breakpoint-medium));
  }
}

.messageContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  max-width: 100%;

  &.hasClientConfirmations {
    display: none;
  }
}

.message.user .messageContent {
  padding: var(--base-size-6) var(--base-size-8);
  background-color: var(--bgColor-neutral-muted);
  border-radius: var(--borderRadius-large);
}

.agentUnauthorizedAvatar {
  width: 48px;
  height: 48px;
}

@keyframes blink {
  0%,
  100% {
    /* Transparent fgColor variable unavailable at time of authoring */
    /* stylelint-disable-next-line primer/colors */
    color: var(--bgColor-transparent);
  }

  50% {
    color: var(--fgColor-muted);
  }
}

.skillExecutionText {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-light);
}

.skillExecutionText::first-letter {
  text-transform: uppercase;
}

.blinkingCursor {
  display: inline-block;
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--text-body-lineHeight-medium);
  color: var(--fgColor-muted);
  animation: 0.8s blink step-end infinite;
}

.fileListItem:not(:last-child) {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.avatar {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: avatar;
}
