.referencesContainer {
  display: 'flex';
  justify-content: 'start';
  align-items: 'center';
  gap: 1;
  color: 'fg.muted';

  &:hover {
    color: 'fg.default';
  }
}

.referencesListImmersiveContainer {
  border: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);
  max-width: 100%;
  margin-left: 0 !important;

  /* stylelint-disable-next-line selector-max-type */
  & li {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.title {
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-body-size-large);
  margin-right: var(--base-size-4);
  color: var(--fgColor-muted);
}

.assistiveTitle {
  font-size: var(--text-body-size-medium);
}

.Details {
  &[open] {
    .references-chevron-down {
      display: none !important;
    }

    .references-chevron-up {
      display: inline-block !important;
    }
  }

  /* workaround for https://github.com/primer/react/issues/5880 */
  /* stylelint-disable-next-line selector-no-qualifying-type, selector-max-type */
  > summary[data-default-summary] {
    visibility: hidden;
  }
}

.referenceTokensOuterContainer {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  align-items: flex-end;
}

.referenceTokensContainer {
  display: flex;
  max-width: 100%;
  gap: var(--stack-gap-condensed);
  justify-content: flex-end;

  /* Prevent very wide tokens from overflowing the container */
  overflow: hidden;
  flex-wrap: wrap;
}

.chatMessageReferenceListFooter {
  margin: var(--base-size-8) var(--base-size-6);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--font-size-small, 12px);
  color: var(--fgColor-muted, var(--color-fg-muted));
}
