.copilotAnimationHolder {
  width: 32px;
  height: 32px;
  overflow: hidden;
  color: var(--fgColor-muted);
  position: relative;
  /* stylelint-disable-next-line primer/spacing */
  top: -5px;
  /* stylelint-disable-next-line primer/spacing */
  left: -2px;

  &.assistive {
    /* stylelint-disable-next-line primer/spacing */
    top: -2px;
    /* stylelint-disable-next-line primer/spacing */
    left: -2px;
  }
}

.copilotAnimation {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.idleAnimation {
  transform: translateY(0);
}
