.copilotBadge {
  color: var(--fgColor-muted);

  &.loading {
    color: var(--fgColor-accent);
  }

  &.assistive {
   position: relative;
  }
}

.errorIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--fgColor-attention);
  transform: translate(4px, 4px);

  &.assistive {
    transform: translate(6px, 6px);
  }
}
