.idleAnimation {
  transform: translateY(0);
}

.runningAnimation {
  animation: copilotRun 1.056s steps(32) 1;
}

@keyframes copilotRun {
  0% { transform: translateY(-32px); }

  100% { transform: translateY(-1056px); }
}
