.copilotBadge {
  color: var(--fgColor-muted);

  &.loading {
    color: var(--fgColor-accent);
  }

  .animation {
    position: relative;
    /* stylelint-disable-next-line primer/spacing */
    top: -5px;
    /* stylelint-disable-next-line primer/spacing */
    left: -2px;

    &.assistive {
      /* stylelint-disable-next-line primer/spacing */
      top: -2px;
      /* stylelint-disable-next-line primer/spacing */
      left: -2px;
    }
  }
}
