.idleAnimation {
  transform: translateY(0);
}

.startingAnimation {
  animation: copilotStart 0.396s steps(11) 1;
}

.runningAnimation {
  animation: copilotRun 3s steps(1) 1;
}

.endingAnimation {
  animation: copilotEnd 0.528s steps(15) 1;
}

@keyframes copilotStart {
  0% {
    transform: translateY(-32px);
  }

  100% {
    transform: translateY(-384px);
  }
}

@keyframes copilotRun {
  0% {
    transform: translateY(-384px);
  }

  100% {
    transform: translateY(-384px);
  }
}

@keyframes copilotEnd {
  0% {
    transform: translateY(-416px);
  }

  100% {
    transform: translateY(-896px);
  }
}
