.idleAnimation {
  transform: translateY(0);
}

.runningAnimation {
  animation: copilotRun 0.627s steps(19) 1;
}

@keyframes copilotRun {
  0% { transform: translateY(-32px); }

  100% { transform: translateY(-640px); }
}
