/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, primer/spacing, selector-max-type */
@use "sass:math";

// Copilot head
@keyframes spriteAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes copilotScaleAnimation {
  0% {
    transform: scale(0.01);
  }

  100% {
    transform: scale(1);
  }
}

// Sparkles
@keyframes blink-star {
  0% {
    opacity: 1;
  }

  20%{
    opacity: 1;
  }

  30%{
    opacity: 0.4;
  }

  40%{
    opacity: 1;
  }
}

@mixin sparkle-running($name, $directionRadian, $radius) {
  /* stylelint-disable-next-line at-rule-prelude-no-invalid */
  @keyframes #{$name} {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }

    20%{
      opacity: 1;
    }

    60%{
      opacity: 1;
    }

    100% {
      transform: translate(calc(#{$radius} * cos(#{$directionRadian})), calc(#{$radius} * sin(#{$directionRadian})));
      opacity: 0;
    }
  }
}

@mixin trail-animation($name, $directionRadian) {
  $rotation: $directionRadian - math.$pi - 0rad;

  /* stylelint-disable-next-line at-rule-prelude-no-invalid */
  @keyframes #{$name} {
    0% {
      transform: rotate(#{$rotation}) scaleX(0.01);
    }

    50% {
      transform: rotate(#{$rotation}) scaleX(1);
    }

    100% {
      transform: rotate(#{$rotation}) scaleX(0.01);
    }
  }
}

.CopilotCelebration {
  position: relative;
  width: 64px;
  height: 64px;

  .CopilotCelebration__copilot {
    --scaleAnimationDuration: 0.6s;
    --scaleAnimationEasing: cubic-bezier(.49,.18,.33,.94);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
      position: relative;
      width: 100%;
      color: var(--fgColor-default);
    }
  }

  .CopilotCelebration__sparklesWrapper {
    --sparkleSize: 12px;

    .CopilotCelebration__sparkle {
      position: absolute;
      top: calc(50% - var(--sparkleSize) * 0.5);
      left: calc(50% - var(--sparkleSize) * 0.5);
      width: var(--sparkleSize);
      height: var(--sparkleSize);
      transform: scale(0.0);

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--fgColor-default);
      }

      .CopilotCelebration__sparkleTrail {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 200%;
        height: 20%;
        /* stylelint-disable-next-line primer/colors */
        background: linear-gradient(-90deg, rgba(127,93,220,0.0) 0%,  rgba(127,93,220, 0.5) 50%,  rgba(55,135,181,1) 80%, rgba(113,241,114,1) 100%);
        transform-origin: 0 50%;
      }
    }
  }

  &.idleAnimation {
    .CopilotCelebration__copilot {
      transform: translateY(0);

      svg {
        transform: translateY(0);
      }
    }
  }

  &.runningAnimation {
    .CopilotCelebration__copilot {
      animation: copilotScaleAnimation var(--scaleAnimationDuration) var(--scaleAnimationEasing);

      svg {
        animation: spriteAnimation 1.0s 0.0s steps(34);
      }
    }

    .CopilotCelebration__sparklesWrapper {
      @for $i from 1 through 10 {
        $directionRadian: 3.5 * math.$pi * ($i - 1) * 0.1;
        $animationName: sparkle-animation-#{$i};
        $radius: 75px + (10 * math.cos(($i - 1) * 0.1 * math.$pi)) * 1px;

        .CopilotCelebration__sparkle--anim-#{$i} {
          $animationName: sparkle-animation-#{$i};

          @include sparkle-running($animationName, $directionRadian, $radius);

          animation: #{$animationName} 2s cubic-bezier(.09,.48,.2,1);

          .CopilotCelebration__sparkleTrail {
            $animationName: trail-animation-#{$i};

            @include trail-animation($animationName, $directionRadian);

            animation: #{$animationName} 2s cubic-bezier(.09,.48,.2,1);
          }

          svg {
            animation: blink-star 1s linear;
          }
        }
      }
    }
  }
}
