.referenceToken {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow: hidden;
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-white);
  background-color: var(--bgColor-inset);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  align-items: center;
  flex-shrink: 0;
  height: auto;
  font-size: var(--text-body-size-small);
  gap: var(--control-medium-gap);
  position: relative;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  position: absolute;
  bottom: var(--base-size-16);
  left: var(--base-size-16);
  background-color: var(--bgColor-black);
  border: var(--borderWidth-thin) solid var(--borderColor-neutral-emphasis);
  width: auto;
  display: inline-flex;
  flex-direction: row;
  gap: var(--base-size-8);
  padding: var(--base-size-6) var(--base-size-8);
  border-radius: var(--borderRadius-medium);
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  transition: opacity var(--base-duration-200) var(--base-easing-easeInOut);
  transition-delay: var(--base-duration-100);
}

.thumbnailHidden {
  opacity: 0;
}

.thumbnailOuter {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailOuter::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bgColor-neutral-muted);
  transition: opacity var(--base-duration-200) var(--base-easing-easeInOut);
  opacity: 0;
}

.thumbnailLoading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referenceToken:hover .thumbnailOuter::after {
  opacity: 0.8;
}

.figmaIconOuter {
  display: flex;
}

.figmaIcon {
  width: var(--base-size-16);
  height: auto;
}
