
.dialog {
  /*
   * Design calls for a width that isn't supported by the primer <Dialog> width prop.
   * Using !important instead of increased specificity to avoid the width of the dialog changing at different breakpoints.
   */

  /* stylelint-disable-next-line primer/responsive-widths */
  width: 400px !important;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--stack-gap-condensed);
  padding: var(--base-size-80) var(--base-size-36);
}

.text {
  display: block;
  text-align: center;
}

.primaryText {
  composes: text;
  font-size: var(--text-body-size-large);
}

.secondaryText {
  composes: text;
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.surveyLink {
  margin-top: var(--base-size-8);
}

.noThanksButton {
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  margin-top: var(--base-size-2);
}
