.thumbsUp {
  /* Pixel pushing the icon to appear centered in the background circle since the icon is not balanced around its center. */
  margin-bottom: var(--base-size-2);
  margin-left: calc(var(--base-size-2) / 2);
}

.thumbsDown {
  /* Pixel pushing the icon to appear centered in the background circle since the icon is not balanced around its center. */
  margin-top: var(--base-size-2);
  margin-right: calc(var(--base-size-2) / 2);
}
