.messageRetryButtonGroup {
  &:is(:hover, :focus, :focus-within) {
    background-color: var(--button-invisible-bgColor-hover);
    border-radius: var(--borderRadius-medium);

    .messageRetryDivider {
      opacity: 0;
    }
  }

  .messageRetryMenuButton {
    width: var(--base-size-24);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .messageRetryButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .messageRetryDivider {
    height: calc(var(--control-medium-size, 32px) / 2);
    margin-top: var(--base-size-8);
    border-left: var(--borderWidth-thin, var(--borderWidth-thin)) solid
      var(--borderColor-muted, var(--color-border-muted));
  }
}

.modelName{
  font-weight: var(--base-text-weight-semibold);
}

.modelMetaLabel {
  display: inline-block;
  /* stylelint-disable-next-line primer/typography */
  font-size: 11px;
  background: var(--bgColor-muted);
  border-radius: var(--borderRadius-full);
  margin-left: var(--base-size-8);
  padding: 0 var(--base-size-8);
  color: var(--fgColor-muted);
}

.footer {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
  padding: var(--base-size-8) var(--base-size-16);
  background-color: var(--bgColor-muted);
}
