.referenceToken {
  /* We want tokens to always try to be their regular width if they are in a horizontal scroll container, so we add
  flex-shrink: 0 (otherwise they will be compressed to fit without scrolling). This makes the tokens overflow their
  container in a wrap container, so we also need max-width: 100%. Now the tokens can be shrunk in scenarios where
  they would exceed the container width, so we also need to ensure the icons at the start and end remain square with
  flex-shrink: 0. This then forces only the name to shrink, and truncate it with overflow: hidden and text-overflow: ellipsis. */

  display: flex;
  max-width: 240px;
  height: var(--control-medium-size);
  padding: 0 var(--base-size-8);
  overflow: hidden;
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  align-items: center;
  flex-shrink: 0;

  @media screen and (max-width: 767px) {
    max-width: 203px;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--button-invisible-bgColor-hover);
  }

  &.small {
    height: var(--control-small-size);
    /* stylelint-disable-next-line primer/spacing */
    padding: 0 var(--control-small-paddingInline-condensed);
    font-size: var(--text-body-size-small);
  }

  .loadingName {
    width: 15ch
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    font-size: var(--text-body-size-small);
    font-weight: var(--base-text-weight-normal);
    color: var(--fgColor-muted);
    margin-inline-start: var(--base-size-8);
  }

  .trailingVisual {
    margin-inline-start: var(--base-size-8);
  }

  .removeButton {
    /* Negative margin offsets the default padding of an IconButton */
    margin: calc(var(--base-size-8) * -1);
    margin-left: 0;
    flex-shrink: 0;
  }

  .icon {
    color: var(--fgColor-muted);
    margin: 0 var(--base-size-8) 0 0;
    flex-shrink: 0;
  }

  .openIcon {
    color: var(--fgColor-open);
  }

  .closedIcon {
    color: var(--fgColor-done);
  }

  .pullRequestClosedIcon {
    color: var(--fgColor-danger);
  }

  .pullRequestMergedIcon {
    color: var(--fgColor-done);
  }
}

.figmaIconOuter {
  display: flex;
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-4);
  margin-inline-end: var(--base-size-8);

  .figmaIcon {
    width: 14px;
    height: auto;
  }
}
