.chooseRepoInstructionPanel {
  display: flex;
  width: 260px;
  padding-top: var(--base-size-36);
  padding-right: var(--base-size-24);
  padding-bottom: var(--base-size-36);
  padding-left: var(--base-size-24);
  margin: var(--base-size-2);
  color: var(--fgColor-muted);
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.chooseRepoTitle {
  margin-top: var(--base-size-16);
  font-size: var(--text-body-size-medium);
  line-height: var(--text-body-lineHeight-medium);
  color: var(--fgColor-default);
}

.chooseRepoSubtitle {
  margin-top: var(--base-size-4);
  font-size: var(--text-body-size-small);
  line-height: var(--text-body-lineHeight-small);
  color: var(--fgColor-muted);
}
