.baseButtonStyle {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  gap: 0;

  [data-component="text"] {
    display: none
  }

  &:is(:hover, :focus-within) {
    [data-component="text"] {
      display: block
    }
  }
}
