.customInstructionsStatus {
  font-size: var(--text-body-size-small);
}

.customInstructionsCTA {
  font-weight: var(--base-text-weight-medium);
}

.container {
  display: flex;
  min-height: var(--base-size-40);
  /* shift down to underlap the input to ensure there's no annoying gaps where the input starts curving away */
  margin: 0 var(--base-size-8) calc(-1 * var(--base-size-4));
  /* increased padding on bottom offsets negative margin */
  padding: var(--base-size-4) var(--base-size-16) var(--base-size-8);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  background-color: var(--bgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-bottom: 0;
  border-radius: var(--borderRadius-large) var(--borderRadius-large) 0 0;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
  align-items: center;
  gap: var(--stack-gap-condensed);
}

.containerIsIndexed {
  color: var(--fgColor-success);
  background-color: var(--bgColor-success-muted);
  border-color: var(--borderColor-success-muted);
}

.icon {
  /* fix vertical centering - default lineheight is annoyingly 2px taller than the icon */
  /* stylelint-disable-next-line primer/typography */
  line-height: 0;
}

.status {
  display: flex;
  gap: var(--stack-gap-condensed);
  align-items: center;
}
