.indexingStatus {
  font-size: var(--text-body-size-small);
}

.indexingCTA {
  font-weight: var(--base-text-weight-medium);
}

.container {
  display: flex;
  min-height: var(--base-size-40);
  /* shift down to underlap the input to ensure there's no annoying gaps where the input starts curving away */
  margin-bottom: calc(-1 * var(--base-size-12));
  padding-left: var(--base-size-12);
  padding-top: var(--base-size-4);
  padding-right: var(--base-size-16);
  /* account for extra space to ensure on mobile it covers the rounded 12px corners */
  padding-bottom: var(--base-size-16);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  background-color: var(--bgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-bottom: 0;
  border-radius: var(--borderRadius-large) var(--borderRadius-large) 0 0;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
  align-items: center;
  gap: var(--stack-gap-condensed);

  @media screen and (min-width: 768px) {
    margin-bottom: calc(-1 * var(--base-size-12));
    margin-left: var(--base-size-8);
    margin-right: var(--base-size-8);
  }
}

.containerAssistive {
  padding-left: var(--base-size-12);
  padding-top: var(--base-size-8);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  margin-bottom: calc(-1 * var(--base-size-8));
  margin-left: 0;
  margin-right: 0;
}

.containerIsIndexed {
  color: var(--fgColor-success);
  background-color: var(--bgColor-success-muted);
  border-color: var(--borderColor-success-muted);
}

.containerIsIndexing {
  color: var(--fgColor-accent);
  background-color: var(--bgColor-accent-muted);
  border-color: var(--borderColor-accent-muted);
}

.icon {
  /* fix vertical centering - default lineheight is annoyingly 2px taller than the icon */
  /* stylelint-disable-next-line primer/typography */
  line-height: 0;
}

.status {
  display: flex;
  gap: var(--stack-gap-condensed);
  align-items: center;
}

.removeButton {
  /* visual offset for internal padding in IconButton */
  margin-right: calc(-1 * var(--base-size-6));
  color: inherit;

  &.assistive {
    margin: calc(-1 * var(--base-size-6));
  }
}

.mobileOnly {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nonMobileOnly {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
