.Box_0 {
  padding: var(--base-size-2);
  /* stylelint-disable-next-line primer/borders */
  border: 3px dashed;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-small);
}
