.Box_0 {
  width: 14px;
  height: 14px;
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-large);
}

.Box_1 {
  padding: var(--base-size-2);
  /* stylelint-disable-next-line primer/borders */
  border: 3px dashed;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-small);
}
