.commitFileIcon {
  margin-right: var(--base-size-8);
}

.diffList {
  margin-top: var(--base-size-8);
}

/* stylelint-disable-next-line selector-max-type */
.diffList > div > div {
  column-gap: 0 !important;
}

.validationMessage {
  padding: var(--base-size-8);
}

.FormControl_Label {
  display: flex;
}
