.highlightedCommentLineContent {
  /* put highlight border in front of other decorations, but don't intercept pointer events */
  z-index: 1;
  pointer-events: none;
  border-right: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.highlightedCommentLineNumber {
  /* put highlight border in front of other decorations, but don't intercept pointer events */
  z-index: 1;
  pointer-events: none;
  border-left: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.firstHighlightedCommentLineNumber {
  border-top: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
  border-top-left-radius: var(--borderRadius-default);
}

.firstHighlightedCommentLineContent {
  border-top: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
  border-top-right-radius: var(--borderRadius-default);
}

.commentWidget {
  background-color: var(--bgColor-neutral-muted);
  border-bottom: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
}

.commentWidgetLineContent {
  border-right: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
  border-bottom-right-radius: var(--borderRadius-default);
}

.commentWidgetLineNumber {
  border-left: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
  border-bottom-left-radius: var(--borderRadius-default);
}

.commentWidgetContent {
  float: left;
}

.monacoCommentAvatar {
  float: right;
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 3px;
  margin-right: var(--base-size-8);
  box-shadow: none !important;
}
