.hint {
  display: flex;
  align-items: center;
  padding: var(--base-size-4);
  padding-inline-start: var(--base-size-16);
  margin: 0;
  /* stylelint-disable-next-line primer/typography */
  font-size: 13px;
  line-height: var(--text-body-lineHeight-small);
  color: var(--fgColor-muted, var(--color-fg-muted));
  background: var(--bgColor-muted, var(--color-canvas-subtle));
  border-top: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

.hintContent {
  flex: 1;
  margin-bottom: 0;
}
