.link {
  display: flex;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 320px),
screen and (min-width: 940px) and (max-width: 1279px) {
  .link {
    display: none;
  }
}

.label {
  display: flex;
  color: var(--fgColor-default);
  flex-direction: row;
  background-color: var(--bgColor-neutral-muted) !important;
  border: none !important;
  gap: var(--base-size-4);

  &:hover {
    background: var(--bgColor-default) !important;
  }
}

.labelPreview {
  font-weight: var(--base-text-weight-semibold);
}

.labelFeedback {
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}
