.Header {
  padding: 0;
}

.TreeContainer {
  margin-top: 0;
  padding-bottom: var(--base-size-16);
  padding-right: var(--base-size-16);
}

.Pane {
  margin-right: 0 !important;
  border-right: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
}

.Small {
  /* Covers small screen sizes - 0 to 767px wide */
  @media screen and (max-width: 767px) {
    max-height: var(--workspace-editor-content-height);
    height: var(--workspace-editor-content-height);
  }
}

.Medium {
  /* Covers medium screen sizes - 768px to 1012px OR 1350px wide if the right panel is open */
  /* This breakpoint range shows the tree as an overlay, hence why the height requirements are different */
  @media screen and (min-width: 768px) {
    max-height: unset;
    height: unset;
  }
}

/* Covers large screens sizes - 1012px and bigger OR 1350px and bigger if the right panel is open */
.Large {
  @media screen and (min-width: 1012px) {
    max-height: var(--workspace-editor-content-height);
    height: var(--workspace-editor-content-height);
  }
}

.ExtraLarge {
  @media screen and (min-width: 1350px) {
    max-height: var(--workspace-editor-content-height);
    height: var(--workspace-editor-content-height);
  }
}
