.fileTreeModeButton {
  flex-grow: 1;
}

/* stylelint-disable-next-line selector-max-type */
.fileTreeOverviewItem div {
  --toggle-width: 0px !important;
}

.fileTreeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* stylelint-disable-next-line primer/borders */
  border-bottom: var(--border-muted);
  padding: var(--base-size-8);
  padding-left: var(--base-size-16);
  height: var(--base-size-48);
}

.FileResultsList {
  padding: var(--base-size-8);
}

.FileResultsList_1 {
  margin-top: var(--base-size-8);
  margin-left: var(--base-size-16);
  margin-right: var(--base-size-16);
  margin-bottom: var(--base-size-16);
}
