.editorAndTerminalContainer {
  display: flex;
  min-width: 0;
  flex-direction: column;
  flex: 1;
}

.editorContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .treeContainerExpanded {
    width: 100%;
  }

  .treeContainerCollapsed {
    width: auto;
  }
}

@media screen and (min-width: 769px) {
  .treeContainerExpanded {
    width: auto;
  }

  .treeContainer {
    width: auto;
  }
}

.Box {
  display: flex;
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  background: var(--bgColor-default);
  overflow: hidden;
  box-shadow: var(--boxShadow-thick);
  height: var(--workspace-editor-content-height);
}
