.container {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  border: 0;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  padding: var(--base-size-8);
  background: var(--bgColor-muted);
}

.link {
  color: var(--color-fg-muted);
  display: inline;
}
