.rightSidePanel {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--bgColor-default);
  /* stylelint-disable-next-line primer/borders */
  border: var(--border-default);
  border-radius: var(--borderRadius-default);
  overflow: hidden;
}

.rightSidePanelHeader {
  display: flex;
  justify-content: space-between  ;
  align-items: center;
  padding: var(--base-size-8);
  height: var(--base-size-48);
  background-color: var(--bgColor-default);
  /* stylelint-disable-next-line primer/borders */
  border-bottom: var(--border-muted);
}

.panelHeading {
  flex: 1;
  overflow-x: hidden;
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity100 {
  opacity: 1;
}

.opacity50 {
  opacity: .5;
}

.PageLayout_Pane {
  height: var(--workspace-editor-content-height);
}
