.suggestionMarkdown {
  /* this [class~="classname"] syntax lets us set styles on HTML classes returned by the server */
  [class~="ml-5"] {
    margin-left: calc(var(--base-size-4) * -1) !important;
  }

  [class~="ActionListWrap"] {
    padding-left: var(--base-size-8);
    margin-bottom: 0;
  }

  [class~="Details-element"] {
    margin-bottom: 0;
  }
}

.suggestionHtmlBox {
  [class~="blob-code-inner"] {
    white-space: pre-wrap;
  }

  @media (max-width: 320px) {
    [class~="blob-num"] {
      display: none;
    }
  }
}

.Button {
  align-self: flex-start;
}
