.paginatorContainer {
  display: flex;
  gap: var(--base-size-8);
  white-space: nowrap;
  align-items: center;
}

.paginationNumbers {
  font-weight: var(--base-text-weight-medium);
  color: var(--fgColor-muted);
  font-variant-numeric: lining-nums tabular-nums;
}
