.terminalPanel {
  position: relative;
  height: var(--workspace-editor-terminal-height);
  background-color: var(--bgColor-default, var(--color-canvas-subtle));

  &.collapsed {
    height: var(--workspace-editor-terminal-header-height);
  }
}

.Panel {
  height: var(--workspace-editor-terminal-pane-height);
  overflow-y: auto;
}

.Hidden {
  height: var(--workspace-editor-terminal-pane-height);
  overflow-y: hidden;
}
