.commandExecutionPicker:not([data-inactive="true"]) {
  border-color: var(--borderColor-default) !important;
  border-radius: 0 var(--borderRadius-medium) var(--borderRadius-medium) 0 !important;
}

.anchorButton:not([data-inactive="true"]) {
  font-size: var(--text-body-size-medium, 14px);
  background-color: var(--control-bgColor-rest, var(--color-btn-bg)) !important;
  border-color: var(--borderColor-default) !important;
  border-radius: var(--borderRadius-medium) 0 0 var(--borderRadius-medium) !important;
}

.anchorButton:not([data-inactive="true"]):hover {
  background-color: var(--control-bgColor-hover, var(--color-btn-hover-bg)) !important;
}


@media screen and (max-width: 34rem) { /* --breakpoint-small */
  .anchorButton {
    padding: var(--base-size-8) !important;
  }

  .anchorButton [data-component="leadingVisual"] {
    margin-right: 0 !important;
  }

  .anchorButton [data-component="text"] {
    display: none;
  }
}
