.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: var(--bgColor-muted);
}

.canvasContainer {
  position: relative;
  padding: var(--base-size-2);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .canvasGraph {
    position: relative;
    padding: var(--base-size-2);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.diagram {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  will-change: transform, background-position;
}

.gridPattern {
  fill: var(--bgColor-neutral-emphasis) !important;
  opacity: 0.25;
}

.nodesContainer {
  position: absolute;
  z-index: 1;
  transition: transform 0.3s linear;
}

.nodeForeignObjWrapper {
  overflow: visible;
}

.nodesOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.nodeWrapper {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
}

.edgeContainer {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.panel {
  flex: 1;
  min-width: 0;
  z-index: 1;
  height: calc(100% - var(--base-size-32));
  width: 100%;
  margin: var(--base-size-16) 0 var(--base-size-16) var(--base-size-16);
  overflow-y: auto;
  scrollbar-width: thin;
  background: var(--bgColor-default);
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  max-width: 640px;
}

@media screen and (max-width: 1280px) {
  .panel {
    max-width: 50vh;
  }
}
