.container {
  background-color: var(--bgColor-inset);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  flex-shrink: 1;
  flex-grow: 0;
}

.main {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-height: 0;
  background: var(--bgColor-muted);
}

.panelToggleButton {
  position: absolute;
  z-index: 2;
  top: var(--base-size-16);
  left: var(--base-size-16);
}

.panel {
  display: flex;
  flex: 1 1 auto;
  height: calc(100% - var(--base-size-32));
  margin: var(--base-size-16) 0 var(--base-size-16) var(--base-size-16);
  background: var(--bgColor-default);
  border-radius: var(--borderRadius-large);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  width: 100%;
  overflow: hidden;
  max-width: 640px;

  .scrollContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}

.backdrop {
  display: none; /* Hidden by default on desktop */
}

@media (max-width: 1024px) {
  .backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* stylelint-disable-next-line primer/colors */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    animation: fadeIn var(--base-duration-200) var(--base-easing-easeIn) forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--base-size-64));
    z-index: 3;
    margin: var(--base-size-64) 0 0 0;
    border: 0;
    box-shadow: var(--shadow-floating-legacy);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(100%);
    transition: transform var(--base-duration-200) var(--base-easing-easeOut);
  }

  .panel.visible {
    transform: translateY(0);
    transition: transform var(--base-duration-200) var(--base-easing-easeIn);
  }
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  .input {
    position: absolute;
    bottom: var(--base-size-16);
    padding: 0 var(--base-size-16);
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 768px;
  }

  .placeholder {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--base-size-8);
    height: 100%;
    justify-content: center;
    margin-bottom: var(--base-size-16);
    width: 100%;

    .placeholderNode {
      width: 200px !important;
      flex-grow: 1 !important;
    }

    .placeholderText {
      color: var(--fgColor-muted);
      text-align: center;
      font-size: var(--text-body-size-small);
    }
  }
}

