.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.panelHeader {
  padding: var(--base-size-24);
}

.segmentedControl {
  width: 100%;
}

.segmentedControl > * {
  flex-basis: 100%;
}

.content {
  flex: 1;
  overflow: auto;
}
