.Overlay_0 {
  position: fixed !important;
}


.suggestion {
    /* workaround for https://github.com/primer/react/issues/6154 */
  /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
  span[id$="trailing-visual"] {
    /* stylelint-disable-next-line primer/spacing */
    margin-left: var(--control-medium-gap);
  }

  &[data-active] {
    /* workaround for https://github.com/github/primer/issues/5257 */
    background-color: var(--control-bgColor-active);

    /* workaround for https://github.com/primer/react/issues/6162 */
    /* stylelint-disable-next-line selector-max-type, selector-max-compound-selectors */
    > div > span > span {
      font-weight: var(--base-text-weight-normal);
    }
  }
}
