.Box_0 {
  display: flex;
  justify-content: center;
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.Overlay_0 {
  position: fixed !important;
}

.ActionListItem {
  &[aria-selected] {
    background-color: var(--control-bgColor-active);
  }

  &[data-combobox-option-default]:not([aria-selected]) {
    background-color: var(--control-bgColor-hover);
  }
}
