.container {
  position: relative;

  /* Try to get as close as possible to making the container 'invisible' by making it shrink tight to child input */
  display: inline-block;

  & > * {
    width: 100%;
  }
}

.fullWidth {
  width: 100%;
}
