/* stylelint-disable primer/colors */

.inheritColor {
  color: inherit;
}

.TableRowHeading {
  color: var(--brand-color-text-default);
}

.TableRowSubheading {
  color: var(--brand-color-text-muted);
}

@media (min-width: 768px) {
  .TableRowHeading {
    color: var(--brand-color-text-muted);
  }
}
