.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  overflow: hidden;
  background-color: var(--bgColor-default);
  text-align: left;
  margin-bottom: var(--base-size-16);
  padding: 0;

  &:hover {
    color: var(--fgColor-default);
    background-color: var(--bgColor-muted);
    transition: background-color 50ms var(--base-easing-linear);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--base-size-16) var(--base-size-16) var(--base-size-4) var(--base-size-24);
  color: var(--fgColor-muted);
}

.language {
  display: inline-flex;
  align-items: center;
  gap: var(--base-size-8);
  color: var(--fgColor-muted);

  .name {
    color: var(--fgColor-default);
    font: var(--text-body-shorthand-medium);
    font-weight: var(--base-text-weight-semibold);
  }
}

.previewCode {
  /* !important because we are fighting with the default `markdown-body` styles */
  background: none !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: var(--base-size-12) var(--base-size-24) 0 !important;
  width: 100%;
  /* stylelint-disable-next-line selector-max-type */
  code {
    display: block !important;
    font-size: var(--text-body-size-medium) !important;
    overflow: hidden !important;
  }

  &.isClipped {
    mask-image: linear-gradient(to bottom, var(--bgColor-default), transparent);
  }
}

.expandIconContainer {
  width: var(--base-size-28);
  height: 0; /* let the text determine the header height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.insightsButtonContainer {
  position: absolute;
  top: var(--base-size-12);
  right: var(--base-size-44);
  padding-right: var(--base-size-2);
}
