.blockContainer {
  /* Block margin needs to be on outermost container for margin collapsing */
  margin-block: var(--base-size-16);
}

.container {
  margin: 0;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  overflow: hidden;
  background: var(--bgColor-default);
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: var(--base-size-12) var(--base-size-16);
  background-color: var(--bgColor-inset);
  color: var(--fgColor-muted);
  gap: var(--stack-gap-condensed);
  font-size: var(--text-body-size-medium);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
}

.name {
  flex: 1;
}

.actions {
  display: flex;
  margin: calc(var(--base-size-6) * -1);
  gap: var(--stack-gap-condensed);
}

.previewCode {
  /* !important because we are fighting with the default `markdown-body` styles */
  background: none !important;
  margin: 0 !important;
  overflow: hidden;

  /* stylelint-disable-next-line selector-max-type */
  code {
    display: block !important;
    mask: linear-gradient(180deg, #fff, transparent);
    font-size: inherit !important;
  }
}
