/* stylelint-disable selector-max-type */

.Logos {
  position: relative;
}

.Logos-logoSuite {
  padding-bottom: var(--base-size-48);

  @media (prefers-reduced-motion: reduce) {
    padding-inline: var(--base-size-24);

    img {
      object-fit: unset;
    }
  }
}

/* Fix for logos that are still multi-colored */
.Logos-logoSuite img {
  filter: none !important;
}
