.grid {
  display: grid;
  flex-wrap: wrap;
  gap: var(--stack-gap-normal);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

/* stylelint-disable-next-line selector-max-type */
.grid li {
  list-style: none;
}
