.diffContainer {
  display: 'flex';
  flex-direction: 'column';
  overflow: 'auto';
  gap: 1;
}

.borderStylingAdded {
  border-left: var(--borderWidth-thicker) solid;
  flex-direction: 'row';
  border-color: var(--borderColor-success-emphasis, var(--color-success-fg));
}

.borderStylingRemoved {
  border-left: var(--borderWidth-thicker) solid;
  flex-direction: 'row';
  border-color: var(--borderColor-danger-emphasis, var(--color-danger-fg));
}

.borderStylingChanged {
  border-left: var(--borderWidth-thicker) solid;
  flex-direction: 'row';
  border-color: var(--borderColor-neutral-emphasis, var(--color-neutral-fg));
}

.wordStylingAdded {
  background-color: var(--diffBlob-additionWord-bgColor);
  color: var(--diffBlob-additionWord-fgColor);
}

.wordStylingRemoved {
  background-color: var(--diffBlob-deletionWord-bgColor);
  color: var(--diffBlob-deletionWord-fgColor);
  text-decoration-line: line-through;
}

.diffLine {
  padding-left: var(--base-size-8);
}
