.container {
  overflow: hidden;
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
    color: var(--fgColor-muted);
    font-size: var(--text-body-size-small);
  }
}

@container issueViewerContainer (max-width: 768px) {
  .container {
    font-size: var(--text-body-size-small) !important;
  }
}

