.container {
  overflow: hidden;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  font-size: var(--text-body-size-small);
}
