.viewed {
  background-color: var(--bgColor-accent-muted);
  color: var(--fgColor-accent);
  border-color: var(--borderColor-accent-muted);

  &:hover:not([disabled]) {
    background-color: var(--bgColor-accent-muted);
  }
}
