.dialog {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.dominantLicenseSection {
  margin-bottom: var(--base-size-16);
}

.sectionTitle {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-8);
  padding-left: var(--base-size-4);
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
}

.textContainer {
  max-width: 85%;
  padding-left: var(--base-size-4);
  margin-bottom: var(--base-size-16);
}

.label {
  font-size: var(--text-title-size-small);
  size: var(--medium)
}

.tableBottom {
  width: 100% !important;
  border: var(--borderWidth-thin) solid var(--borderColor-muted) !important;
  border-radius: var(--borderRadius-medium) !important;
  overflow: hidden !important;
  /* stylelint-disable-next-line primer/borders */
  border-collapse: separate !important;
  border-spacing: 0 !important;
  box-shadow: var(--shadow-inset) !important;
}

.tableTop {
  width: 100% !important;
}

.thBottom {
  text-align: left !important;
  padding: var(--base-size-8) var(--base-size-6) !important;
  font-weight: var(--base-text-weight-semibold) !important;
  background-color: var(--color-canvas-subtle) !important;
  font-size: var(--text-title-size-small) !important;
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
  border-bottom: var(--borderWidth-thin) solid var(--color-border-default) !important;
}

.tdBottom {
  padding: var(--base-size-8) var(--base-size-6) !important;
  font-size: var(--text-title-size-small) !important;
  font-weight: var(--base-text-weight-normal) !important;
  border-bottom: var(--borderWidth-thin) solid var(--color-border-muted) !important;
  vertical-align: middle !important;
}

.tdBottom:first-child,
.thBottom:first-child {
  padding-left: var(--base-size-12) !important;
}

.tdBottom:last-child,
.thBottom:last-child {
  padding-right: var(--base-size-12) !important;
  padding-left: var(--base-size-6) !important;
  text-align: right !important;
}

.thTop {
  text-align: left !important;
  padding: var(--base-size-8) var(--base-size-6) !important;
  font-weight: var(--base-text-weight-semibold) !important;
  background-color: var(--color-canvas-subtle) !important;
  font-size: var(--text-title-size-small) !important;
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
  border-bottom: var(--borderWidth-thin) solid var(--color-border-default) !important;
}

.tdTop {
  padding: var(--base-size-8) var(--base-size-6) !important;
  font-size: var(--text-title-size-small) !important;
  font-weight: var(--base-text-weight-normal) !important;
  border-bottom: var(--borderWidth-thin) solid var(--color-border-muted) !important;
  vertical-align: middle !important;
}

.tdTop:first-child,
.thTop:first-child {
  padding-left: var(--base-size-12) !important;
}

.licenseType {
  margin-left: var(--base-size-4) !important;
}

.removeButton {
  padding: 0 !important;
  color: var(--color-fg-muted) !important;
  margin-right: var(--base-size-8) !important;
}

.removeButton:hover {
  color: var(--color-fg-default) !important;
}
