.rightElipseButton {
  position: absolute;
  cursor: pointer;
  top: var(--base-size-8);
  right: var(--base-size-24);
}

.githubAvatar {
  margin-top: var(--base-size-2);
  margin-left: var(--base-size-12);
  margin-bottom: var(--base-size-2);
  object-fit: cover;
  flex-shrink: 0;
}

.grantAccess {
  text-align: center;
  margin-top: var(--base-size-16);
}

.metadataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bulkDisableButton {
  margin-right: var(--base-size-8);
}

.userInfoContainer {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.userName {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
