.changeConfirmationDialog {
  width: 20%;
  max-height: clamp(256px, 80vh, 100vh);
}

.dialogFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changeConfirmationText {
  font-size: var(--text-body-size-medium, 24px);
}

.changeConfirmationSubtext {
  display: block;
  margin-bottom: var(--base-size-2);
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: var(--base-size-16);
}
