.githubAvatar {
  margin-top: var(--base-size-4);
  margin-left: 0;
}

.userDetails {
  width: 100% !important;
  text-align: left !important;
}

.clickableListItem {
  cursor: pointer;
  padding: 0 !important;
  display: block !important;
  text-align: left !important;
}

.stretchedText {
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
}

.selectedUsersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-size-8);
  border: var(--borderWidth-thin) solid var(--color-border-muted);
  border-radius: var(--borderRadius-medium);
  background-color: var(--color-canvas-subtle);
}

.selectedUserItem {
  display: flex;
  align-items: center;
  background-color: var(--color-canvas-default);
  border: var(--borderWidth-thin) solid var(--color-border-muted);
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-4);
  gap: var(--base-size-4);
}

.removeButton {
  color: var(--color-fg-muted);
  padding: var(--base-size-2);
}

.removeButton:hover {
  color: var(--color-fg-danger);
}
