.container {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
  padding: var(--base-size-16);
}

.footer {
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-top-width: 0;
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
  padding: var(--base-size-16);
  background-color: var(--bgColor-muted);
}
