/* stylelint-disable primer/typography */

.Section {
  /* cf. https://github.com/github/marketing-engineering/issues/4357 */
  position: relative;
  z-index: 1;
}

.SectionIntroDescription {
  font-size: var(--brand-text-size-300);
}

.BentoDescription {
  font-size: var(--brand-text-size-100);
  padding: var(--base-size-16) 0;
}

.BentoVisual {
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
}

@media (min-width: 768px) {
  .BentoDescription {
    font-size: var(--brand-text-size-300);
  }

  .BentoVisual {
    padding-left: var(--base-size-24);
    padding-right: var(--base-size-24);
    padding-bottom: var(--base-size-64);
  }
}
