.refresh {
  color: var(--fgColor-severe);
  background-color: var(--bgColor-severe-muted);
  font-weight: var(--base-text-weight-semibold);

  &:hover {
    text-decoration: underline;
  }

  [data-component="leadingVisual"] {
    color: var(--fgColor-severe);
  }
}
