/* stylelint-disable selector-max-type, primer/typography */

.Faq {
  position: relative;

  > div {
    --brand-Accordion-toggle-color-start: var(--base-color-scale-gray-4);
    --brand-Accordion-toggle-color-end: var(--base-color-scale-gray-4);
    --brand-Accordion-border-color-default: var(--borderColor-muted);
    --brand-Accordion-border-color-emphasis: var(--borderColor-default);

    width: var(--contentWidth);
    margin: 0 auto;
    padding-inline: 0;
    padding-top: var(--base-size-128);

    svg {
      color: var(--fgColor-done);
      fill: currentColor;
      stroke: currentColor;
    }
  }
}

@media (min-width: 768px) {
  .Faq {
    > div {
      padding-bottom: var(--base-size-96);
    }
  }
}

.Faq__title {
  font-size: var(--brand-text-size-700);
}

.Faq__question {
  --brand-text-weight-200: var(--brand-text-subhead-weight-large);
  --brand-text-size-200: var(--brand-text-subhead-size-large);
  --brand-text-lineHeight-200: var(--brand-text-subhead-lineHeight-large);
}
