/* stylelint-disable selector-max-type, primer/responsive-widths, primer/colors,primer/spacing */

.FeaturesTableDesktop {
  position: relative;
}

.FeaturesTableDesktop__row {
  display: flex;
  gap: var(--base-size-12);
}

.FeaturesTableDesktop__row--heading {
  position: sticky;
  top: var(--securitySubNavHeight);
  background: var(--colors-black);
  z-index: 1;
  padding-top: var(--base-size-24);
  margin-top: calc(-1 * var(--base-size-24));
  padding-bottom: var(--base-size-36);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  align-items: center;
}

.FeaturesTableDesktop__row--featureItem {
  background: rgba(255, 255, 255, 0);
  transition: background 0.2s ease-out;

  &:not(:last-child) {
    border-bottom: var(--borderWidth-thin) solid var(--colors-darkSlateGray-translucent);
  }

  &:is(:hover, :focus, :active) {
    background: rgba(255, 255, 255, 0.04);
  }
}

.FeaturesTableDesktop__row--summary {
  padding: var(--base-size-16) 0;
}

.FeaturesTableDesktop__column--left {
  width: 390px;
}

.FeaturesTableDesktop__column--right {
  display: flex;
  flex: 1;
  text-align: center;

  > div {
    flex: 1;
  }
}

.FeaturesTableDesktop__featureItemTitleBlock {
  color: var(--brand-color-text-muted);
  text-align: left;
  display: flex;
  gap: var(--base-size-8);
}

.FeaturesTableDesktop__featureItemTitleBlock-chevron {
  margin-top: 0.25em;
  transition: transform 0.2s ease-out;
}

.FeaturesTableDesktop__featureItemTitleBlock--expanded .FeaturesTableDesktop__featureItemTitleBlock-chevron {
  transform: rotate(90deg);
}

.FeaturesTableDesktop__featureItem-description {
  color: var(--brand-color-text-subtle);
  padding-left: var(--base-size-24);
  padding-bottom: var(--base-size-24);
}

.FeaturesTableDesktop__featureItemTier-availability {
  svg {
    stroke: currentColor;
  }
}

.FeaturesTableDesktop__featureItemTier-availability--green {
  color: var(--brand-color-success-emphasis);
}

.FeaturesTableDesktop__featureItemTier-availability--grey {
  color: var(--base-color-scale-gray-5);
}
