.commentBox {
  padding-right: var(--base-size-16);

  /* Only having the padding on small screens for proper alignment */
  @media (min-width: 768px) {
    padding-right: 0;
  }
}

.errorBanner {
  @media (max-width: 768px) {
    margin-right: var(--base-size-16);
  }
}

.footerButton {
  padding-right: var(--base-size-8);
  padding-left: var(--base-size-8);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted);
}
