.actionListTitle {
  font: var(--text-title-shorthand-small);
  font-weight: var(--base-text-weight-medium); /* this is an override to match the index list item font-weight */
}

/* increase padding on direct child (a tag) */
.templateItemContainer {
  & > * {
    padding-block: var(--base-size-8);
  }
}
