---
http_interactions:
- request:
    method: get
    uri: https://search.maven.org/solrsearch/select?core=gav&q=g:com.google.inject%20AND%20a:guice&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Request-Uri:
      - "/solrsearch/select?q=g%3Acom.google.inject+AND+a%3Aguice&core=gav&rows=5"
      X-Query-String:
      - q=g%3Acom.google.inject+AND+a%3Aguice&core=gav&start=&rows=5&wt=
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":8,"params":{"q":"g:com.google.inject
        AND a:guice","core":"gav","indent":"off","fl":"id,g,a,v,p,ec,timestamp,tags","start":"","sort":"score
        desc,timestamp desc,g asc,a asc,v desc","rows":"5","wt":"json","version":"2.2"}},"response":{"numFound":24,"start":0,"docs":[{"id":"com.google.inject:guice:7.0.0","g":"com.google.inject","a":"guice","v":"7.0.0","p":"jar","timestamp":1683913265000,"ec":["-sources.jar",".pom","-test-sources.jar","-javadoc.jar","-tests.jar",".jar","-classes.jar"],"tags":["framework","java","dependency","above","injection","guice","lightweight"]},{"id":"com.google.inject:guice:6.0.0","g":"com.google.inject","a":"guice","v":"6.0.0","p":"jar","timestamp":1683912686000,"ec":["-sources.jar",".pom","-javadoc.jar","-test-sources.jar","-tests.jar","-classes.jar",".jar"],"tags":["framework","java","dependency","above","injection","guice","lightweight"]},{"id":"com.google.inject:guice:6.0.0-rc2","g":"com.google.inject","a":"guice","v":"6.0.0-rc2","p":"jar","timestamp":1683237024000,"ec":["-sources.jar",".pom","-javadoc.jar","-test-sources.jar","-tests.jar","-classes.jar",".jar"],"tags":["framework","java","dependency","above","injection","guice","lightweight"]},{"id":"com.google.inject:guice:7.0.0-rc1","g":"com.google.inject","a":"guice","v":"7.0.0-rc1","p":"jar","timestamp":1683235057000,"ec":["-sources.jar",".pom","-javadoc.jar","-test-sources.jar","-tests.jar","-classes.jar",".jar"],"tags":["framework","java","dependency","above","injection","guice","lightweight"]},{"id":"com.google.inject:guice:6.0.0-rc1","g":"com.google.inject","a":"guice","v":"6.0.0-rc1","p":"jar","timestamp":1682631638000,"ec":["-sources.jar",".pom","-test-sources.jar","-javadoc.jar","-tests.jar",".jar","-classes.jar"],"tags":["framework","java","dependency","above","injection","guice","lightweight"]}]}}'
  recorded_at: Fri, 05 Jul 2024 23:27:07 GMT
recorded_with: VCR 6.2.0
