.Box {
  font-size: var(--text-body-size-medium);
}

.Flash {
  padding: var(--base-size-16);
  border-style: solid;
  border-color: var(--borderColor-accent-muted);
  font-size: var(--text-body-size-medium);
}

.Box_1 {
  display: flex;
  align-items: baseline;
  gap: var(--stack-gap-condensed);

  /* stylelint-disable-next-line */
  & svg {
    margin-right: 0 !important;
  }
}

.Octicon {
  position: relative;
  top: var(--base-size-4)
}

.Box_2 {
  display: flex;
  align-items: baseline;
  gap: 0;
  flex-wrap: wrap;
  flex-grow: 1;

  @media screen and (min-width: 544px) {
    gap: var(--stack-gap-condensed);

    &:not(.ForceWrap) {
      flex-wrap: nowrap;
    }
  }
}

.Paragraph {
  margin-bottom: 0;
  flex-grow: 1;
}
