.Box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: var(--borderRadius-medium);
  padding: var(--base-size-32);
  max-width: 1012px;
  background-color: var(--bgColor-muted);
}
