.header {
  font: var(--text-body-shorthand-medium);
  font-weight: var(--base-text-weight-semibold);

  &.large {
    font: var(--text-body-shorthand-large);
    font-weight: var(--base-text-weight-semibold);
  }
}

.progressBar {
  width: 72px;
  border-radius: var(--borderRadius-full);
}

.progressText {
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-muted);
}
