.streamingCursor {
  display: inline-block;
  /* stylelint-disable-next-line primer/typography */
  font-size: 0;
  /* stylelint-disable-next-line primer/colors */
  background: var(--fgColor-muted);
  vertical-align: middle;
  height: var(--base-size-16);
  width: var(--base-size-8);
  animation: 0.8s blink step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
