.Box {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  padding-bottom: var(--base-size-32);
}

.Heading {
  margin-bottom: var(--base-size-16);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
}
