.Octicon {
  margin-left: var(--base-size-16);
  color: var(--fgColor-success);
}

.Octicon_1 {
  margin-left: var(--base-size-16);
  color: var(--fgColor-danger);
}

.Box {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

.FormControl {
  margin-bottom: var(--base-size-32);
  align-items: stretch !important;
}

.Box_1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.Heading {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
}

.Box_2 {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
}

.Box_3 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: var(--borderRadius-medium);
  border-width: var(--borderWidth-thin);
  border-style: solid;
}

.Octicon_2 {
  margin: var(--base-size-8);
  color: var(--fgColor-muted);
}

.Box_4 {
  flex-direction: row;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  cursor: text;
}

.Box_5 {
  margin-left: var(--base-size-8);
  margin-right: var(--base-size-8);
}

.GitHubAvatar {
  margin-right: var(--base-size-4);
}

.Text {
  color: var(--fgColor-muted);
  margin-left: var(--base-size-4);
  margin-right: var(--base-size-4);
}

.Text_1 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}
