.boxHeaderStyles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--base-size-16);
  /* stylelint-disable-next-line primer/spacing */
  margin: -1px -1px 0;
  background-color: var(--bgColor-muted);
  border-color: var(--borderColor-default);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.Box_1 {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.Box_2 {
  margin-right: var(--base-size-8);
}

.FormControl_Label {
  color: var(--fgColor-muted) !important;
  font-weight: var(--base-text-weight-normal) !important;
}

.Box_3 {
  display: flex;
  align-items: center;
}

.Box_4 {
  display: flex;
}

.Button {
  margin-left: var(--base-size-8);

  &:hover:not([disabled]), &:focus:not([disabled]) {
    color: var(--button-danger-fgColor-rest);
  }
}

.Box_5 {
  padding: var(--base-size-16);
}

.Octicon {
  margin-right: var(--base-size-4);
  color: var(--fgColor-danger);
}

.Box_6 {
  flex: 1 1 100%;
}

.TextInput {
  width: 100%;
}

.Text {
  color: var(--fgColor-muted);
}

.ActionMenu_Button {
  margin-left: var(--base-size-8);
}
