.Box {
  display: flex;
  flex: auto;
  align-items: center;
}

.Box_1 {
  margin-right: var(--base-size-16);
}

.Box_2 {
  display: flex;
  flex-direction: column;
}

.Link {
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--base-text-weight-semibold);
}

.Text {
  color: var(--fgColor-muted);
}

.Button {
  color: var(--fgColor-muted);
  border: var(--borderWidth-thin) solid;
  border-color: transparent;
  box-shadow: none;

  &:hover:not([disabled]), &:focus:not([disabled]) {
    color: var(--button-danger-fgColor-rest);
    border: var(--borderWidth-thin) solid;
    border-color: var(--button-danger-borderColor-active);
  }

  margin-left: var(--base-size-8);
}
