.Box {
  margin: var(--base-size-4);
  padding-left: var(--base-size-2);
  padding-right: var(--base-size-4);
  padding-top: var(--base-size-2);
  padding-bottom: var(--base-size-2);
  display: flex;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 20px;
  background: var(--bgColor-accent-muted);
  flex-direction: row;
  align-items: center;
}

.GitHubAvatar {
  margin-right: var(--base-size-4);
}

.Text {
  margin-right: var(--base-size-4);
  color: var(--fgColor-accent);
}

.Button {
  padding: 0;
  height: auto;
}
