.dividerRight {
  border-right: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

.dividerBottom {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

/* stylelint-disable-next-line selector-max-type */
.bannerDismissButton>svg {
  margin-right: 0;
  color: var(--fgColor-muted, var(--color-fg-muted))
}

.warnFooter {
  margin-bottom: calc(var(--base-size-16) * -1);
  border-top: solid var(--borderWidth-thin) var(--borderColor-attention-muted);
}
