.dividerRight {
  border-right: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

.dividerBottom {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
}

/* stylelint-disable-next-line selector-max-type */
.bannerDismissButton>svg {
  margin-right: 0;
  color: var(--fgColor-muted, var(--color-fg-muted))
}

.dividerResponsive {
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));

  @media screen and (min-width: 1012px) {
    border-right: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  }
}

.stackResponsive {
  @media screen and (min-width: 1012px) {
    flex-direction: row !important;
  }
}

.skuStackResponsive {
  @media screen and (min-width: 544px) {
    flex-direction: row !important;
  }
}
