.ControlGroupContainer {
  --controlgroup_item-gap: var(--base-size-12);

  border-radius: var(--borderRadius-medium);
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid transparent;
}

.fullWidth {
  --controlgroup_item-gap: var(--base-size-24);
}

.border {
  border-color: var(--borderColor-muted);
}
