.Text {
  font: var(--text-body-shorthand-small);
  line-height: var(--text-body-lineHeight-large);
  color: var(--fgColor-muted);
  margin: 0;
}

.Box {
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-muted);
}
