/* stylelint-disable primer/spacing */

.container {
  container-name: controlbox;
  container-type: inline-size;
  position: relative;

  /* Setting horizontal padding in parent allows the child to render an inset (not full-width) dividing line border */
  padding-right: var(--controlgroup_item-gap);
  padding-left: calc(var(--controlgroup_item-gap) + (var(--controlgroup_item-gap) * var(--nested-level)));

  &.disabled {
    background-color: var(--bgColor-disabled);
  }

  &:first-child {
    border-top-left-radius: var(--borderRadius-medium);
    border-top-right-radius: var(--borderRadius-medium);
  }

  &:last-child {
    border-bottom-right-radius: var(--borderRadius-medium);
    border-bottom-left-radius: var(--borderRadius-medium);
  }

  &:not(:first-child) .contents {
    border-top: var(--borderWidth-thin) solid var(--borderColor-muted);
  }
}

.contents {
  display: grid;
  grid-template:
    'leadingVisual title       title       inlineControl blockControl trailingVisual' 1fr
    'leadingVisual description description inlineControl blockControl trailingVisual' auto
    / auto 1fr auto auto auto auto;
  padding: var(--controlgroup_item-gap) 0;

  @container controlbox (max-width: 500px) {
    grid-template:
      'leadingVisual title        inlineControl trailingVisual' 1fr
      'leadingVisual description  description   trailingVisual' auto
      'leadingVisual blockControl blockControl  trailingVisual' auto
      / auto 1fr auto auto;
  }
}

.leadingVisual {
  grid-area: leadingVisual;
  padding-right: var(--stack-gap-normal);
  align-self: center;
}

.title {
  grid-area: title;
  align-self: center;
}

.description {
  grid-area: description;
  line-height: var(--text-caption-lineHeight);
}

.inlineControl {
  grid-area: inlineControl;
  padding-left: var(--stack-gap-normal);
}

.blockControl {
  grid-area: blockControl;
  padding-left: var(--stack-gap-normal);

  @container controlbox (max-width: 500px) {
    padding-top: var(--stack-gap-condensed);
    padding-left: 0;
  }
}

.trailingVisual {
  grid-area: trailingVisual;
  padding-left: var(--stack-gap-normal);
  align-self: center;
}
