.container {
  cursor: pointer;

  &:hover {
    background: var(--control-bgColor-hover);
  }

  &:focus-within {
    outline: var(--focus-outline);
  }
}

.leadingIcon {
  display: flex;

  /* TODO: can this be reduced to var(--base-size-8)? */
  /* stylelint-disable-next-line primer/spacing */
  padding: 10px;
  color: var(--fgColor-muted);
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-resting-small);
}

.linkIndicator {
  display: flex;
  color: var(--fgColor-muted);
  align-items: center;
  gap: var(--base-size-4);
}
