@layer recipes {
  .Octicon_0 {
    margin-right: var(--base-size-8);
  }

  .Link_0 {
    display: inline-flex;
    font-weight: var(--base-text-weight-semibold);
    justify-content: center;
    align-items: center;
  }
}
