@layer recipes {
  .Box_0 {
    position: relative;
    display: grid;
    width: 100%;
    gap: var(--stack-gap-normal);
  }

  .Box_1 {
    gap: 0;
  }

  .Box_2 {
    display: grid;
    width: 100%;
    /* stylelint-disable-next-line primer/spacing */
    padding-right: 1px;
    padding-left: var(--base-size-4);
    border-color: var(--borderColor-default);
    border-style: solid;
    border-width: var(--borderWidth-thin);
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    /* stylelint-disable-next-line primer/spacing */
    margin-inline-end: -1px;
    /* stylelint-disable-next-line selector-max-type */
    &:has(input:focus-visible) {
      z-index: 1;
      outline: 2px solid var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
      outline-offset: -2px;
    }
  }

  .leftRounded {
    border-top-left-radius: var(--borderRadius-medium);
    border-bottom-left-radius: var(--borderRadius-medium);
  }

  .rightRounded {
    border-top-right-radius: var(--borderRadius-medium);
    border-bottom-right-radius: var(--borderRadius-medium);
  }

  .hasSubmit {
    grid-template-columns: 1fr min-content;
    padding-left: var(--base-size-12);
  }
}
