@layer recipes {
  .Box_0 {
    display: inline-flex;
  }

  .Box_1 {
    position: relative;
    display: inline-flex;
    width: 100%;
    max-width: 100%;
    font-size: var(--text-body-size-medium);
    color: var(--fgColor-default);
    vertical-align: middle;
    cursor: text;
    background: var(--bgColor-default);
    align-items: center;
  }
}
