@layer recipes {
  .Box_0 {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-items: flex-start;
  }

  .Octicon_0 {
    margin-right: var(--base-size-8);
    margin-left: var(--base-size-4);
    color: var(--fgColor-muted);
  }
}

