@layer recipes {
  .Banner {
    padding: 0 var(--base-size-8);
  }

  .Box_0 {
    display: flex;
    flex-direction: column;
  }

  .Box_2 {
    margin-left: var(--base-size-16);
  }

  .SafeHTMLBox_0 {
    /* stylelint-disable-next-line selector-max-type */
    pre {
      display: inline;
      padding: var(--base-size-2);
      font-weight: var(--base-text-weight-medium);
      color: var(--fgColor-attention);
      white-space: pre-wrap;
      overflow-wrap: anywhere;
    }
  }
}
