@layer recipes {
  .SafeHTMLBox_0 {
    /* stylelint-disable-next-line selector-max-type */
    pre {
      display: inline;
      padding: var(--base-size-2);
      font-weight: var(--base-text-weight-medium);
      color: var(--fgColor-attention);
      white-space: pre-wrap;
      overflow-wrap: anywhere;
    }
  }
}
