@layer recipes {
  .Flash_0 {
    display: flex;

    /* Primer Flash component has not been migrated to CSS modules so need to keep !important statements */
    padding: var(--base-size-8) var(--base-size-16) var(--base-size-8) var(--base-size-12) !important;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .Octicon_0 {
    margin-top: var(--base-size-2);
  }

  .Box_0 {
    display: flex;
    flex-direction: column;
  }

  .Box_1 {
    font-weight: var(--base-text-weight-medium);
  }

  .Box_2 {
    margin-left: var(--base-size-16);
  }

  .SafeHTMLBox_0 {
    /* stylelint-disable-next-line selector-max-type */
    pre {
      display: inline;
      padding: var(--base-size-2);
      font-weight: var(--base-text-weight-medium);
      color: var(--fgColor-attention);
      white-space: pre-wrap;
      overflow-wrap: anywhere;
    }
  }
}
