.CopilotMetricsChart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: var(--base-size-16);
  min-height: 350px;
}

.CopilotMetricsChartTitle {
  display: flex;
  align-items: center;;
}

.CopilotMetricsChartTooltip {
  min-width: 150px;
}

.CopilotMetricsChartTooltipDataPoint {
  display: flex;
  justify-content: space-between;
}

.CopilotMetricsChartTooltipHeader {
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-muted);
}

.CopilotMetricsChartInfoDialog {
  font-size: var(--text-body-size-medium);
  padding: var(--base-size-24);
}

.CopilotMetricsChartInfoDialogHeader {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-16);
}

.CopilotMetricsChartInfoDialogText {
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-16);
}
