.CopilotMetricsInfoDialog {
  font-size: var(--text-body-size-medium);
  padding: var(--base-size-24);
  width: 275px;
}

.CopilotMetricsInfoDialogHeader {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-16);
}

.CopilotMetricsInfoDialogText {
  color: var(--fgColor-muted);
  margin-bottom: var(--base-size-16);
}

.CopilotMetricsInfoDialogLink {
  display: flex;
  align-items: flex-start;
}
