.Box {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.Box_1 {
  border-bottom-color: var(--borderColor-muted);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-16);
}

.Heading {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
}

.Box_2 {
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.Box_3 {
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-4);
}

.Blankslate {
  display: flex;
  flex-grow: 1;
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
}

.Octicon {
  color: var(--fgColor-danger);
}

.Text {
  color: var(--fgColor-muted);
}
