/* stylelint-disable selector-max-specificity, selector-max-type, selector-max-compound-selectors */

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.drag {
  position: relative;
  display: flex;
  user-select: none;

  & a {
    -webkit-user-drag: none;

    &::before,
    &::after {
      content: '';
      display: none;
      position: absolute;
      background-color: var(--bgColor-accent-emphasis);
      height: var(--base-size-4);
      border: 0;
      border-radius: var(--borderRadius-medium);
      z-index: 12;
      left: var(--base-size-6);
      right: var(--base-size-6);
    }
  }
}

body:global(.is-dragging) .showSashAfter {
  & a::after {
    display: block;
    bottom: calc(var(--base-size-2) * -1);

    & .grabber {
      display: none;
    }

    & .icon {
      display: inline-block;
    }
  }
}

body:global(.is-dragging) .showSashBefore {
  & a::after {
    display: block;
    top: calc(var(--base-size-2) * -1);

    & .grabber {
      display: none;
    }

    & .icon {
      display: inline-block;
    }
  }
}

.leadingVisual {
  pointer-events: auto;
}

.grabber {
  display: none;
  cursor: grab;
}

body:not(:global(.is-dragging)) .drag:hover {
  & .grabber {
    display: inline-block;
  }

  & .icon {
    display: none;
  }
}
