.Flash {
  margin-bottom: var(--base-size-40);
}

.Box {
  display: flex;
  width: 100%;
}

.Octicon {
  margin-right: var(--base-size-8);
}

.Box_1 {
  flex-grow: 1;
}

.Heading {
  margin-bottom: 0;
  font-size: var(--text-body-size-medium);
}

.Box_2 {
  padding-left: var(--base-size-24);
}
