.Box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Heading {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
  margin-bottom: var(--base-size-8);
}

.Box_1 {
  flex: auto;
}

.Text {
  font-size: var(--text-body-size-medium);
  margin-top: var(--base-size-4);
}

.Box_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-color: var(--borderColor-default);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  margin-bottom: var(--base-size-24);
}

.Box_3 {
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-4);
}

.Text_1 {
  margin: 0;
}

.Box_4 {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}

.Text_2 {
  margin-left: var(--base-size-4);
}

.Text_3 {
  color: var(--fgColor-danger);
}

.Heading_1 {
  margin-bottom: var(--base-size-4);
  font-size: var(--text-body-size-medium);
}

.Box_5 {
  /* stylelint-disable-next-line primer/colors */
  border-color: var(--bgColor-danger-emphasis);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  margin-bottom: var(--base-size-24);
}

.Box_6 {
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.Text_4 {
  font-size: var(--text-body-size-medium);
}

.Box_7 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.Box_8 {
  padding-top: var(--base-size-8);
}

.ActionMenu_Button {
  position: relative;
  margin-left: var(--base-size-16);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);

  @media (max-width: 544px) {
    margin-left: 0;
  }
}

.ActionList_Item {
  align-items: flex-start;
}

.Button_1 {
  color: var(--fgColor-default);
  text-align: left;

  & [data-component='buttonContent'] {
    flex: 0;
  }
}
