.Box {
  width: 100%;
  padding: var(--base-size-40);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text {
  color: var(--fgColor-default);
}

.Text_1 {
  color: var(--fgColor-muted);
}
