.Heading {
  font-size: var(--text-body-size-medium);
  padding-top: var(--base-size-24);
  padding-bottom: var(--base-size-8);
}

.Box {
  background: var(--bgColor-muted);
  padding: var(--base-size-24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius-medium);
  min-height: 5em;
}

.Box_1 {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  padding-top: var(--base-size-16);
  padding-bottom: var(--base-size-24);
}
