.Heading {
  border-bottom-color: var(--borderColor-muted);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  font-weight: var(--base-text-weight-normal);
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.Box {
  margin-bottom: var(--base-size-24);
}

.Box_1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--base-size-32);
  align-items: center;
}

.Button {
  margin-right: var(--base-size-16);
}

.Text {
  margin-left: var(--base-size-4);
}

.Text_1 {
  color: var(--fgColor-danger);
}
