.FormControl {
  margin-bottom: var(--base-size-24);
}

.TextInput {
  /* stylelint-disable-next-line selector-max-type */
  & > input {
    padding: var(--base-size-6) var(--base-size-8) !important;
  }

  width: 320px;
}
