
.reorderCustomFieldsForm {
  margin-bottom: var(--base-size-24);
}

.listContainer {
  border-color: var(--borderColor-default);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  border-width: var(--borderWidth-thin);
}

.singleSelectItem {
  padding: var(--base-size-8);
  padding-right: var(--base-size-12);
  border-bottom-width: var(--borderWidth-thin)
}

.reorderFeedback {
  color: var(--fgColor-success);
  text-align: right;
  padding: var(--base-size-8);
  margin-left: var(--base-size-16);
  user-select: none;
}

.emptyContent {
  padding: var(--base-size-16);
}
