.action-bar-position {
  position: absolute;
  /* stylelint-disable-next-line primer/spacing */
  top: var(--diff-action-bar-position);
  right: calc(var(--base-size-16) * -1);
  z-index: 2;
}

/* this is always the sizing of the ActionBar buttons regardless of compact or relaxed line spacing
   this is because on hover, the ActionBar should increase in size to make it easier to click */
.actionBarArrowSizing {
  height: 24px;
  width: 24px;
}

.actionBarHeight {
  height: 24px;
}

.actionBarStartCommentWidth {
  width: 30px;
}

/*
  this is a style workaround for when the first condition in the button group evalutes to false
  when this happens we end up with an empty div that causes the second button to be missing a border radius
*/
.action-bar-button-group {
  /* stylelint-disable-next-line selector-max-type */
  &:has(div:first-child:empty) {
    /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
    > div:nth-child(2) {
      /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
      button, a {
        border-top-left-radius: var(--borderRadius-medium);
        border-bottom-left-radius: var(--borderRadius-medium);
      }
    }
  }
}
