.defaultStyles {
  width: 300px;
  background: var(--bgColor-default, var(--color-canvas-default));
  border: var(--borderWidth-thin) solid var(--control-borderColor-rest, var(--control-borderColor-rest));
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-inset, var(--shadow-inset));

  @media (max-width: 1012px) {
    width: 100%;
  }
}
