.expand-button-line {
  /* stylelint-disable-next-line primer/spacing */
  margin-left: calc(var(--diff-line-height) * -1);
  width: var(--line-number-cell-width);
  height: auto;
  min-height: 24px; /* 24px is the minimum click target, this is not tied to line height */
  padding-top: 0;
  padding-bottom: 0;
  /* stylelint-disable-next-line primer/typography */
  line-height: 30px;
  color: var(--diffBlob-hunkNum-fgColor-rest, var(--fgColor-default));
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--diffBlob-hunkNum-bgColor-rest, var(--diffBlob-hunk-bgColor-num));
  border: 0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  flex-shrink: 0;

  &:hover:not([disabled]) {
    color: var(--diffBlob-hunkNum-fgColor-hover, var(--fgColor-onEmphasis));
    background-color: var(--diffBlob-hunkNum-bgColor-hover, var(--bgColor-accent-emphasis));
  }

  &:focus {
    color: var(--diffBlob-hunkNum-fgColor-hover, var(--fgColor-onEmphasis));
    background-color: var(--diffBlob-hunkNum-bgColor-hover, var(--bgColor-accent-emphasis));
  }

  &.expand-up-and-down {
    height: auto;
    min-height: 24px;
    padding-top: var(--base-size-4);
    padding-bottom: var(--base-size-4);
  }
}

.expand-button-unified {
  width: var(--line-number-cell-width-unified);
}
