
.filesActionList {
  padding-top: 0;

  /* stylelint-disable-next-line selector-max-type */
  > li {
    border-radius: 0;
  }
}

.fileRowLinkItem {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

  &:hover .path, &:focus .path {
    color: var(--fgColor-accent);
    text-decoration: underline;
  }
}

.fileRow {
  max-width: 500px;
  padding-left: var(--base-size-8);
}

.linesAdded {
  min-width: 5ch;
  text-align: right;
}

.linesDeleted {
  min-width: 5ch;
  text-align: left;
}
