.header {
  background-color: var(--bgColor-muted);
  padding: var(--base-size-8) var(--base-size-16) var(--base-size-8) var(--base-size-8);
  border-color: var(--borderColor-default);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
  height: var(--base-size-40);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}

.headerClosed {
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}

.body {
  border-color: var(--borderColor-default);
  border-width: 0 var(--borderWidth-thin) var(--borderWidth-thin);
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
  border-style: solid;
  overflow: hidden;
}
