.container {
  padding: var(--base-size-16);
}

.link {
  background-color: var(--bgColor-muted);
  width: 100%;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--base-size-4) 0;
  cursor: pointer;
  vertical-align: middle;
}
