.container {
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
  border-color: var(--borderColor-default);
  margin-bottom: var(--base-size-16);
}

