.container {
  background-color: var(--bgColor-muted);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.leadingContent {
  padding-left: 0;
}

.title {
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
}
