/* Container for each rule finding skeleton */
.findingContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--base-size-16);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
}

/* Header container for file path and line number */
.headerContainer {
  background-color: var(--bgColor-muted);
  gap: var(--base-size-8);
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-default);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Code snippet container */
.codeContainer {
  padding: var(--base-size-12);
  background-color: var(--bgColor-default);
  border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
}

/* Individual code line */
.codeLine {
  display: flex;
  align-items: center;
  gap: var(--base-size-12);
  margin-bottom: var(--base-size-4);
}

.codeLine:last-child {
  margin-bottom: 0;
}
