.rowLoading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base-size-8);
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor-default);
}

.skeletonColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
}
