.Text {
  color: var(--fgColor-muted);
}

.Box {
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-24);
}

.Box_1 {
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-16);
}
