.Box {
  font-size: var(--text-body-size-large, --text-title-size-small);
  margin-bottom: var(--base-size-8);
}

.Box_1 {
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.Text {
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
  display: inline-flex;
  align-items: center;
}
