---
http_interactions:
- request:
    method: get
    uri: https://pub.dev/api/packages/mineral
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - "application/json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: "application/json; charset=UTF-8"
    body:
      encoding: UTF-8
      string: >-
        {
          "name": "mineral",
          "latest": {
            "version": "1.1.0",
            "pubspec": {
              "name": "mineral",
              "description": "Mineral is a Discord framework for designing discord bots in Dart.",
              "version": "1.1.0",
              "repository": "https://github.com/mineral-dart/core",
              "platforms": {
                "linux": null,
                "macos": null,
                "windows": null
              },
              "environment": {
                "sdk": ">=2.17.0 <3.0.0"
              },
              "dependencies": {
                "args": "^2.3.1",
                "path": "^1.8.2",
                "http": "^0.13.4",
                "interact": "^2.1.1",
                "collection": "^1.16.0",
                "mineral_ioc": "^1.0.0"
              },
              "dev_dependencies": {
                "lints": "^1.0.0",
                "test": "^1.16.0"
              },
              "executables": {
                "mineral": "mineral"
              }
            },
            "archive_url": "https://pub.dartlang.org/packages/mineral/versions/1.1.0.tar.gz",
            "archive_sha256": "15ebd780d092573fb80dd87b94a4dad069d3e8427d6c1b2cee73375689397586",
            "published": "2022-09-15T19:32:37.721507Z"
          },
          "versions": [
            {
              "version": "1.0.0",
              "pubspec": {
                "name": "mineral",
                "description": "Mineral meets a need for scalability over time but also within a team of developers thanks to a modular and flexible software architecture; modular and flexible software architecture.",
                "version": "1.0.0",
                "repository": "https://github.com/mineral-dart/core",
                "environment": {
                  "sdk": ">=2.[...]
