.ExportBannerContainer {
  display: flex;
  gap: var(--stack-gap-normal);
  margin-bottom: var(--base-size-16);
  border-radius: var(--borderRadius-medium);
  border-width: 0.5;
  border-style: solid;
  padding: var(--base-size-16);
}
