.errorContainer {
  margin-bottom: var(--base-size-16);
}

.settingsFormContainer {
  border-top-width: var(--borderWidth-thin);
  border-top-style: solid;
  border-top-color: var(--borderColor-default);
  margin-top: var(--base-size-12);
  padding-top: var(--base-size-16);
}

.pageNavigationBreadcrumbs {
  margin-bottom: var(--base-size-8);
}
