.Box {
  display: flex;
  align-items: center;
}

.Text {
  margin-left: var(--base-size-8);
  /* stylelint-disable-next-line primer/typography */
  font-size: 1.2em;
}

.Token {
  margin-left: var(--base-size-8);
}

.Box_1 {
  text-transform: capitalize;
}

.Octicon {
  margin-right: var(--base-size-4);
}

.Button {
  .octicon-heart,
  .octicon-heart-fill {
    color: var(--fgColor-sponsors);
  }

  &:hover .octicon-heart,
  :hover .octicon-heart-fill {
    transform: scale(1.1);
  }

  width: 100%;
}
