.Pagehead {
  margin-top: 0;
  margin-bottom: var(--base-size-8);
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.Text {
  font-weight: var(--base-text-weight-semibold);
}

.UnderlineNav {
  margin-bottom: var(--base-size-24);
  padding-left: 0;
}
