.Dialog_Footer {
  @media screen and (max-height: 400px) {
    padding: var(--base-size-8);
  }
}

.Dialog {
  @media screen and (max-height: 400px) {
    max-height: calc(100vh - 8px);
  }
}

.FormControl {
  margin-top: var(--base-size-16);
  margin-bottom: var(--base-size-4);
}

.Textarea {
  width: 100%;
}

.Text {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}
