.Pagehead {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: var(--base-size-8);
}

.Heading {
  font-weight: var(--base-text-weight-normal);
  /* stylelint-disable-next-line primer/typography */
  font-size: var(--base-size-24);
}

.Text {
  margin-bottom: var(--base-size-24);
}
