.ListViewMetadata_0 {
  margin-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--base-size-8);
}

.ListItemTitle_0 {
  display: flex;
  align-items: flex-start;
  padding-top: 0;
}

.ListItem_0 {
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.ListItemLeadingContent_0 {
  display: flex-inline;
}

.Flash {
  margin-bottom: var(--base-size-16);
}

.FormControl {
  margin-top: var(--base-size-8);
}

.TextInput {
  width: 100%;
  max-width: 30rem;
}

.FormControl_1 {
  margin-top: var(--base-size-16);
  flex: 1;
}

.TextInput_1 {
  width: 100%;
}

.Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--base-size-16);
}

.Heading {
  flex-grow: 1;
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-title-size-medium);
}

.Text {
  color: var(--fgColor-muted);
  margin-top: 0;
}

.Box_1 {
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-medium);
}

.Text_1 {
  font-weight: var(--base-text-weight-semibold);
}

.Box_2 {
  margin-top: var(--base-size-16);
  display: flex;
  gap: var(--stack-gap-condensed);
}

.IconButton {
  align-self: start;
}

.Box_3 {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--base-size-4);
}

.Box_4 {
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
  border-radius: var(--borderRadius-medium);
  /* stylelint-disable-next-line primer/typography */
  font-family: monospace;
  display: inline-flex;
  font-size: var(--text-body-size-small);
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
}

.Text_2 {
  display: inline-flex;
  align-items: baseline;
}

.Link {
  &:hover {
    color: var(--fgColor-default);
  }
}

.Octicon {
  color: var(--fgColor-muted);
}

.Box_5 {
  display: flex;
  align-items: center;
  margin-top: var(--base-size-8);
}

.Octicon_1 {
  margin-right: var(--base-size-8);
}

.Box_6 {
  display: flex;
  align-items: center;
  margin-top: var(--base-size-16);
}

.Text_3 {
  color: var(--fgColor-muted);
  /* stylelint-disable-next-line primer/typography */
  font-size: small;
}
