.ListItem_0 {
  border: none !important;
}

.ListItemLeadingContent_0 {
  align-items: center;
  display: flex;
}

.Dialog_Footer {
  @media screen and (max-height: 400px) {
    padding: var(--base-size-8);
  }

  justify-content: space-between;
  align-items: center;
}

.Box {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Dialog {
  @media screen and (max-height: 600px) {
    max-height: calc(100vh - 8px);
  }

  max-height: var(--overlay-height-xlarge);
}

.Dialog_Body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.TextInput {
  flex: 1;
  margin: var(--base-size-8);
}

.Box_1 {
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  padding-left: 0;
  padding-right: 0;
}

.Box_2 {
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-8);
  display: flex;
  justify-content: center;
}
