/* Hush now little linter. Everything is going to be just fine. */
/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable max-nesting-depth */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-type */

/* The lint rules are absolutely correct in telling us that this is terrible and fragile. But at the same time, we
don't have control over the page structure outside of the react app, so we have to make do with what we have. The
default approach, where react-app auto styles itself to be 100vh - 64px, is fragile and prone to breakage when the
height of anything changes. So we make the page body full-height and make every container until the app full-height
as well. As long as the page structure never changes even slightly, it will all be fine. */

body:global(.copilotImmersive) {
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  > div:global(.copilotImmersive) {
    height: 100%;
    display: flex;
    flex-direction: column;

    > :global(.application-main) {
      flex: 1;
      overflow: hidden;

      > main {
        height: 100%;

        > react-app {
          height: 100%;
          min-height: auto !important; /* override the default min-height */

          > div {
            height: 100%;
          }
        }
      }
    }
  }
}
