---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d3060826b0c69976a83f498f4695f7cd3f5d73ebcc809a6e7022879a5d203777"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef05b4327fc3610c0c1f8292846371eb8f","expires_at":"2021-12-21T23:17:00Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Tue, 21 Dec 2021 22:17:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls?status=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44c85c404adebf492a4245c754344a0ec52be02600cfc3130dae81cf6a050af5"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1640126354'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4","id":807904968,"node_id":"PR_kwDOGd7i3s4wJ6bI","html_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4","diff_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4.diff","patch_url":"https://github.com/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pull/4.patch","issue_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/4","number":4,"state":"open","locked":false,"title":"Update
        GHSA-qcjw-97hh-g9q8.json","user":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/following{/other_user}","gists_url":"https://api.github.com/users/katblag/gists{/gist_id}","starred_url":"https://api.github.com/users/katblag/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katblag/subscriptions","organizations_url":"https://api.github.com/users/katblag/orgs","repos_url":"https://api.github.com/users/katblag/repos","events_url":"https://api.github.com/users/katblag/events{/privacy}","received_events_url":"https://api.github.com/users/katblag/received_events","type":"User","site_admin":true},"body":null,"created_at":"2021-12-21T21:40:42Z","updated_at":"2021-12-21T22:12:54Z","closed_at":null,"merged_at":null,"merge_commit_sha":"82fdcdaa78dc1c14af8a16526f8551c7d57457be","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/commits","review_comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/4/comments","review_comment_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/pulls/comments{/number}","comments_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/issues/4/comments","statuses_url":"https://api.github.com/repos/<%=ENV["GITHUB_ADVISORIES_REPO"]%>/statuses/890537e690b604374b99bee2ec4fc9c09f9215c1","head":{"label":"dsp-testing:katblag-update-CVE-2021-1002","ref":"katblag-update-CVE-2021-1002","sha":"890537e690b604374b99bee2ec4fc9c09f9215c1","user":{"login":"dsp-testing","id":30846345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwODQ2MzQ1","avatar_url":"https://avatars.githubusercontent.com/u/30846345?v=4","gravatar_id":"","url":"https://api.github.com/users/dsp-testing","html_url":"https://github.com/dsp-testing","followers_url":"https://api.github.com/users/dsp-testing/followers","following_url":"https://api.github.com/users/dsp-testing/following{/other_user}","gists_url":"https://api.github.com/users/dsp-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/dsp-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsp-testing/subscriptions","organizations_url":"https://api.github.com/users/dsp-testing/orgs","repos_url":"https://api.github.com/users/dsp-testing/repos","events_url":"https://api.github.com/users/dsp-testing/events{/privacy}","received_events_url":"https://api.github.com/users/dsp-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":434038925,"node_id":"R_kgDOGd7ojQ","name":"advisories-test","full_name":"dsp-testing/advisories-test","private":true,"owner":{"login":"dsp-testing","id":30846345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwODQ2MzQ1","avatar_url":"https://avatars.githubusercontent.com/u/30846345?v=4","gravatar_id":"","url":"https://api.github.com/users/dsp-testing","html_url":"https://github.com/dsp-testing","followers_url":"https://api.github.com/users/dsp-testing/followers","following_url":"https://api.github.com/users/dsp-testing/following{/other_user}","gists_url":"https://api.github.com/users/dsp-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/dsp-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsp-testing/subscriptions","organizations_url":"https://api.github.com/users/dsp-testing/orgs","repos_url":"https://api.github.com/users/dsp-testing/repos","events_url":"https://api.github.com/users/dsp-testing/events{/privacy}","received_events_url":"https://api.github.com/users/dsp-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/dsp-testing/advisories-test","description":null,"fork":true,"url":"https://api.github.com/repos/dsp-testing/advisories-test","forks_url":"https://api.github.com/repos/dsp-testing/advisories-test/forks","keys_url":"https://api.github.com/repos/dsp-testing/advisories-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsp-testing/advisories-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsp-testing/advisories-test/teams","hooks_url":"https://api.github.com/repos/dsp-testing/advisories-test/hooks","issue_events_url":"https://api.github.com/repos/dsp-testing/advisories-test/issues/events{/number}","events_url":"https://api.github.com/repos/dsp-testing/advisories-test/events","assignees_url":"https://api.github.com/repos/dsp-testing/advisories-test/assignees{/user}","branches_url":"https://api.github.com/repos/dsp-testing/advisories-test/branches{/branch}","tags_url":"https://api.github.com/repos/dsp-testing/advisories-test/tags","blobs_url":"https://api.github.com/repos/dsp-testing/advisories-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsp-testing/advisories-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsp-testing/advisories-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsp-testing/advisories-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsp-testing/advisories-test/statuses/{sha}","languages_url":"https://api.github.com/repos/dsp-testing/advisories-test/languages","stargazers_url":"https://api.github.com/repos/dsp-testing/advisories-test/stargazers","contributors_url":"https://api.github.com/repos/dsp-testing/advisories-test/contributors","subscribers_url":"https://api.github.com/repos/dsp-testing/advisories-test/subscribers","subscription_url":"https://api.github.com/repos/dsp-testing/advisories-test/subscription","commits_url":"https://api.github.com/repos/dsp-testing/advisories-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsp-testing/advisories-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsp-testing/advisories-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsp-testing/advisories-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsp-testing/advisories-test/contents/{+path}","compare_url":"https://api.github.com/repos/dsp-testing/advisories-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsp-testing/advisories-test/merges","archive_url":"https://api.github.com/repos/dsp-testing/advisories-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsp-testing/advisories-test/downloads","issues_url":"https://api.github.com/repos/dsp-testing/advisories-test/issues{/number}","pulls_url":"https://api.github.com/repos/dsp-testing/advisories-test/pulls{/number}","milestones_url":"https://api.github.com/repos/dsp-testing/advisories-test/milestones{/number}","notifications_url":"https://api.github.com/repos/dsp-testing/advisories-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsp-testing/advisories-test/labels{/name}","releases_url":"https://api.github.com/repos/dsp-testing/advisories-test/releases{/id}","deployments_url":"https://api.github.com/repos/dsp-testing/advisories-test/deployments","created_at":"2021-12-02T01:12:21Z","updated_at":"2021-12-21T21:37:25Z","pushed_at":"2021-12-21T22:12:53Z","git_url":"git://github.com/dsp-testing/advisories-test.git","ssh_url":"git@github.com:dsp-testing/advisories-test.git","clone_url":"https://github.com/dsp-testing/advisories-test.git","svn_url":"https://github.com/dsp-testing/advisories-test","homepage":null,"size":24,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"katblag:katblag/advisory-improvement-4","ref":"katblag/advisory-improvement-4","sha":"afc3e514d27559a4eccc5ca1b5b3f2275eca95fb","user":{"login":"katblag","id":4461729,"node_id":"MDQ6VXNlcjQ0NjE3Mjk=","avatar_url":"https://avatars.githubusercontent.com/u/4461729?v=4","gravatar_id":"","url":"https://api.github.com/users/katblag","html_url":"https://github.com/katblag","followers_url":"https://api.github.com/users/katblag/followers","following_url":"https://api.github.com/users/katblag/fo[...]
[...]
