---
http_interactions:
- request:
    method: get
    uri: https://vuln.go.dev/index/db.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1709227354475775'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '35'
      X-Goog-Hash:
      - crc32c=k7krLA==
      - md5=836y/l3ZQPUorfIxBb7KGQ==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:34 GMT
      Etag:
      - '"f37eb2fe5dd940f528adf23105beca19"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"modified":"2024-02-29T17:17:45Z"}'
  recorded_at: Sun, 03 Mar 2024 03:12:50 GMT
- request:
    method: get
    uri: https://vuln.go.dev/index/vulns.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:34 GMT
      Etag:
      - '"42fb76b814c6fd262e242d2c7129f00d"'
      X-Goog-Generation:
      - '1709227354556002'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '47342'
      Content-Type:
      - application/json
      X-Goog-Hash:
      - crc32c=IydyWw==
      - md5=Qvt2uBTG/SYuJC0scSnwDQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: '[{"id":"GO-2020-0001","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36567","GHSA-6vm3-jj99-7229"]},{"id":"GO-2020-0003","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36568","GHSA-hggr-p7v6-73p5"]},{"id":"GO-2020-0004","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-36569","GHSA-hrm3-3xm6-x33h"]},{"id":"GO-2020-0005","modified":"2023-06-12T18:45:41Z","aliases":["CVE-2020-15106","CVE-2020-15112","GHSA-m332-53r6-2w93","GHSA-p4g4-wgrh-qrg2"]},{"id":"GO-2020-0006","modified":"2023-12-14T15:51:14Z","aliases":["CVE-2017-15133","GHSA-p55x-7x9v[...]
- request:
    method: get
    uri: https://vuln.go.dev/ID/GO-2021-0084.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1709227328765381'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1158'
      X-Goog-Hash:
      - crc32c=b8NvsQ==
      - md5=iD/bxeC3CkDzqKuC0RbIAg==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Thu, 29 Feb 2024 17:22:08 GMT
      Etag:
      - '"883fdbc5e0b70a40f3a8ab82d116c802"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"schema_version":"1.3.1","id":"GO-2021-0084","modified":"2024-02-13T18:22:11Z","published":"2021-04-14T20:04:52Z","aliases":["CVE-2019-16354","CVE-2019-16355","GHSA-f6px-w8rh-7r89","GHSA-hf4p-4j9r-3cvx"],"summary":"Incorrect
        permissions for critical resource in github.com/astaxie/beego","details":"Session
        data is stored using permissive permissions, allowing local users with filesystem
        access to read arbitrary data.","affected":[{"package":{"name":"github.com/astaxie/beego","ecosystem":"Go"},"ranges":[{"type":"SEMVER","events":[{"introduced":"0"},{"fixed":"1.12.2"}]}],"ecosystem_specific":{"imports":[{"path":"github.com/astaxie/beego/session","symbols":["FileProvider.SessionRead","FileProvider.SessionRegenerate","Manager.GetSessionStore","Manager.SessionRegenerateID","Manager.SessionStart"]}]}}],"references":[{"type":"FIX","url":"https://github.com/beego/beego/pull/3975"},{"type":"FIX","url":"https://github.com/beego/beego/commit/bac2b31afecc65d9a89f9e473b8006c5edc0c8d1"},{"type":"WEB","url":"https://github.com/beego/beego/issues/3763"}],"credits":[{"name":"@nicowaisman"}],"database_specific":{"url":"https://pkg.go.dev/vuln/GO-2021-0084"}}'
  recorded_at: Sun, 03 Mar 2024 03:12:50 GMT
[...]
