---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ea2accbcff6bae42833f077b94493ed0442d8c0fe9494d08b15c4f80c92225e9"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeefb28dcf5addc67694a0cc9a4bf4a64189","expires_at":"2022-06-09T00:48:28Z","permissions":{"checks":"write","contents":"write","issues":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 08 Jun 2022 23:48:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec782200ffe1eb8a6dbf53449dade77249ed90cc3d1eed7327084e0bf2638550"
      Last-Modified:
      - Tue, 07 Jun 2022 13:58:39 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1654733052'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":372960889,"node_id":"MDEwOlJlcG9zaXRvcnkzNzI5NjA4ODk=","name":"advisory-database","full_name":"pypa/advisory-database","private":false,"owner":{"login":"pypa","id":647025,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY0NzAyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/647025?v=4","gravatar_id":"","url":"https://api.github.com/users/pypa","html_url":"https://github.com/pypa","followers_url":"https://api.github.com/users/pypa/followers","following_url":"https://api.github.com/users/pypa/following{/other_user}","gists_url":"https://api.github.com/users/pypa/gists{/gist_id}","starred_url":"https://api.github.com/users/pypa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pypa/subscriptions","organizations_url":"https://api.github.com/users/pypa/orgs","repos_url":"https://api.github.com/users/pypa/repos","events_url":"https://api.github.com/users/pypa/events{/privacy}","received_events_url":"https://api.github.com/users/pypa/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/pypa/advisory-database","description":"Advisory
        database for Python packages published on pypi.org","fork":false,"url":"https://api.github.com/repos/pypa/advisory-database","forks_url":"https://api.github.com/repos/pypa/advisory-database/forks","keys_url":"https://api.github.com/repos/pypa/advisory-database/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pypa/advisory-database/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pypa/advisory-database/teams","hooks_url":"https://api.github.com/repos/pypa/advisory-database/hooks","issue_events_url":"https://api.github.com/repos/pypa/advisory-database/issues/events{/number}","events_url":"https://api.github.com/repos/pypa/advisory-database/events","assignees_url":"https://api.github.com/repos/pypa/advisory-database/assignees{/user}","branches_url":"https://api.github.com/repos/pypa/advisory-database/branches{/branch}","tags_url":"https://api.github.com/repos/pypa/advisory-database/tags","blobs_url":"https://api.github.com/repos/pypa/advisory-database/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pypa/advisory-database/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pypa/advisory-database/git/refs{/sha}","trees_url":"https://api.github.com/repos/pypa/advisory-database/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pypa/advisory-database/statuses/{sha}","languages_url":"https://api.github.com/repos/pypa/advisory-database/languages","stargazers_url":"https://api.github.com/repos/pypa/advisory-database/stargazers","contributors_url":"https://api.github.com/repos/pypa/advisory-database/contributors","subscribers_url":"https://api.github.com/repos/pypa/advisory-database/subscribers","subscription_url":"https://api.github.com/repos/pypa/advisory-database/subscription","commits_url":"https://api.github.com/repos/pypa/advisory-database/commits{/sha}","git_commits_url":"https://api.github.com/repos/pypa/advisory-database/git/commits{/sha}","comments_url":"https://api.github.com/repos/pypa/advisory-database/comments{/number}","issue_comment_url":"https://api.github.com/repos/pypa/advisory-database/issues/comments{/number}","contents_url":"https://api.github.com/repos/pypa/advisory-database/contents/{+path}","compare_url":"https://api.github.com/repos/pypa/advisory-database/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pypa/advisory-database/merges","archive_url":"https://api.github.com/repos/pypa/advisory-database/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pypa/advisory-database/downloads","issues_url":"https://api.github.com/repos/pypa/advisory-database/issues{/number}","pulls_url":"https://api.github.com/repos/pypa/advisory-database/pulls{/number}","milestones_url":"https://api.github.com/repos/pypa/advisory-database/milestones{/number}","notifications_url":"https://api.github.com/repos/pypa/advisory-database/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pypa/advisory-database/labels{/name}","releases_url":"https://api.github.com/repos/pypa/advisory-database/releases{/id}","deployments_url":"https://api.github.com/repos/pypa/advisory-database/deployments","created_at":"2021-06-01T21:03:32Z","updated_at":"2022-06-07T13:58:39Z","pushed_at":"2022-06-08T10:50:10Z","git_url":"git://github.com/pypa/advisory-database.git","ssh_url":"git@github.com:pypa/advisory-database.git","clone_url":"https://github.com/pypa/advisory-database.git","svn_url":"https://github.com/pypa/advisory-database","homepage":"","size":4305,"stargazers_count":122,"watchers_count":122,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":20,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":5,"license":{"key":"cc-by-4.0","name":"Creative
        Commons Attribution 4.0 International","spdx_id":"CC-BY-4.0","url":"https://api.github.com/licenses/cc-by-4.0","node_id":"MDc6TGljZW5zZTI1"},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":20,"open_issues":5,"watchers":122,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","organization":{"login":"pypa","id":647025,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY0NzAyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/647025?v=4","gravatar_id":"","url":"https://api.github.com/users/pypa","html_url":"https://github.com/pypa","followers_url":"https://api.github.com/users/pypa/followers","following_url":"https://api.github.com/users/pypa/following{/other_user}","gists_url":"https://api.github.com/users/pypa/gists{/gist_id}","starred_url":"https://api.github.com/users/pypa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pypa/subscriptions","organizations_url":"https://api.github.com/users/pypa/orgs","repos_url":"https://api.github.com/users/pypa/repos","events_url":"https://api.github.com/users/pypa/events{/privacy}","received_events_url":"https://api.github.com/users/pypa/received_events","type":"Organization","site_admin":false},"network_count":20,"subscribers_count":15}'
  recorded_at: Wed, 08 Jun 2022 23:48:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database/commits/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"669cb2c8330eea2effa04eb4a49fa0aab4f7cc15c717b725400eef349e966e0d"
      Last-Modified:
      - Wed, 08 Jun 2022 10:50:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1654733052'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"38cdb8e539f8e3a5c626c277d2a58ef990c84cc0","node_id":"C_kwDOFjruedoAKDM4Y2RiOGU1MzlmOGUzYTVjNjI2YzI3N2QyYTU4ZWY5OTBjODRjYzA","commit":{"author":{"name":"github-actions","email":"github-actions@github.com","date":"2022-06-08T10:50:10Z"},"committer":{"name":"github-actions","email":"github-actions@github.com","date":"2022-06-08T10:50:10Z"},"message":"Assign
        IDs","tree":{"sha":"bd23a0653afc55dce0bab473cc719caa85b855dd","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/bd23a0653afc55dce0bab473cc719caa85b855dd"},"url":"https://api.github.com/repos/pypa/advisory-database/git/commits/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/pypa/advisory-database/commits/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0","html_url":"https://github.com/pypa/advisory-database/commit/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0","comments_url":"https://api.github.com/repos/pypa/advisory-database/commits/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0/comments","author":null,"committer":null,"parents":[{"sha":"d468b9e1697751d141caf464995911ad19b1e73b","url":"https://api.github.com/repos/pypa/advisory-database/commits/d468b9e1697751d141caf464995911ad19b1e73b","html_url":"https://github.com/pypa/advisory-database/commit/d468b9e1697751d141caf464995911ad19b1e73b"}],"stats":{"total":42,"additions":21,"deletions":21},"files":[{"sha":"ddba7e81bc0ccf1c5a027747701ccb12c79295c0","filename":"vulns/.id-allocator","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/pypa/advisory-database/blob/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0/vulns%2F.id-allocator","raw_url":"https://github.com/pypa/advisory-database/raw/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0/vulns%2F.id-allocator","contents_url":"https://api.github.com/repos/pypa/advisory-database/contents/vulns%2F.id-allocator?ref=38cdb8e539f8e3a5c626c277d2a58ef990c84cc0","patch":"@@
        -1 +1 @@\n-a03040fba2a5fc2bf546eace06736efa48851c3018839d4517b10b6736e4dc24\n\\
        No newline at end of file\n+c2ea79c61973637591fc2ed18e44460eeae1192d1c7d918937f148ac71cddb04\n\\
        No newline at end of file"},{"sha":"35fca686e59779b26d303b75773f7d49e0ed88a7","filename":"vulns/cookiecutter/PYSEC-2022-204.yaml","status":"renamed","additions":20,"deletions":20,"changes":40,"blob_url":"https://github.com/pypa/advisory-database/blob/38cdb8e539f8e3a5c626c277d2a58ef990c84cc0/vul[...]
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database/git/trees/bd23a0653afc55dce0bab473cc719caa85b855dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2764e7ee7b2327f481a65d67f96329f86d98b1b94af417d2dbe8931213baaaf9"
      Last-Modified:
      - Tue, 07 Jun 2022 13:58:39 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1654733052'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"bd23a0653afc55dce0bab473cc719caa85b855dd","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/bd23a0653afc55dce0bab473cc719caa85b855dd","tree":[{"path":".github","mode":"040000","type":"tree","sha":"cd2d0803bb116ce631bc01f6e013ff4cfda9cb8f","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/cd2d0803bb116ce631bc01f6e013ff4cfda9cb8f"},{"path":"LICENSE","mode":"100644","type":"blob","sha":"da6ab6cc8f333d7e89a99812866df8f24374d47c","size":18657,"url":"https://api.github.com/repos/pypa/advisory-database/git/blobs/da6ab6cc8f333d7e89a99812866df8f24374d47c"},{"path":"README.md","mode":"100644","type":"blob","sha":"40a3d8e9563e78e8eb58cc9c60fa8b550bda9a5c","size":1802,"url":"https://api.github.com/repos/pypa/advisory-database/git/blobs/40a3d8e9563e78e8eb58cc9c60fa8b550bda9a5c"},{"path":"triage","mode":"040000","type":"tree","sha":"50891d43218aca1cccc4311d6906db665d67ef22","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/50891d43218aca1cccc4311d6906db665d67ef22"},{"path":"vulns","mode":"040000","type":"tree","sha":"4ea16e1a87dafa97545145beb2b39f9ba33c382b","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/4ea16e1a87dafa97545145beb2b39f9ba33c382b"}],"truncated":false}'
  recorded_at: Wed, 08 Jun 2022 23:48:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database/git/trees/4ea16e1a87dafa97545145beb2b39f9ba33c382b?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec011fb80652334a0019c57083f3dea0ecb[...]
