---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<%=ENV["GITHUB_APP_INSTALLATION_ID"]%>/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <REDACTED>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a0c7b2ba1adb340e21b26c7fec87114032e518127b0848ca23eabd6a2e9e9bf5"'
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.deadbeef35c0c3ddc817415da58dc6a2ed5b115f","expires_at":"2022-03-22T00:57:53Z","permissions":{"checks":"write","contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 21 Mar 2022 23:57:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database/commits?path=vulns/&since=2022-03-16T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a9e8028c9722d9d9be7015fc6acb989e1e6c2bba47f44198aca578ecfa9a6d71"
      Last-Modified:
      - Fri, 18 Mar 2022 21:14:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1647910084'
      X-Ratelimit-Used:
      - '29'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc","node_id":"C_kwDOFjruedoAKGZmMTViOGE4ZWJlYTY1MzdlYmMyZjc2YzViNWQzZTNjYWY2MGVjY2M","commit":{"author":{"name":"github-actions","email":"github-actions@github.com","date":"2022-03-18T21:14:10Z"},"committer":{"name":"github-actions","email":"github-actions@github.com","date":"2022-03-18T21:14:10Z"},"message":"Analysis","tree":{"sha":"96761113f97ae890eca86cd2ad9b63f43847842f","url":"https://api.github.com/repos/pypa/advisory-database/git/trees/96761113f97ae890eca86cd2ad9b63f43847842f"},"url":"https://api.github.com/repos/pypa/advisory-database/git/commits/ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/pypa/advisory-database/commits/ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc","html_url":"https://github.com/pypa/advisory-database/commit/ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc","comments_url":"https://api.github.com/repos/pypa/advisory-database/commits/ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc/comments","author":null,"committer":null,"parents":[{"sha":"29aea44ef39ccbde158e5fa78be02db3df72b300","url":"https://api.github.com/repos/pypa/advisory-database/commits/29aea44ef39ccbde158e5fa78be02db3df72b300","html_url":"https://github.com/pypa/advisory-database/commit/29aea44ef39ccbde158e5fa78be02db3df72b300"}]},{"sha":"29aea44ef39ccbde158e5fa78be02db3df72b300","node_id":"C_kwDOFjruedoAKDI5YWVhNDRlZjM5Y2NiZGUxNThlNWZhNzhiZTAyZGIzZGY3MmIzMDA","commit":{"author":{"name":"github-actions","email":"github-actions@github.com","date":"2022-03-18T03:[...]
- request:
    method: get
    uri: https://api.github.com/repos/pypa/advisory-database/commits/ff15b8a8ebea6537ebc2f76c5b5d3e3caf60eccc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abd88ef3c3bd750cb242d595c12b718937f1015c6a8b89fdb9d84[...]
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pypa/advisory-database/main/vulns/paramiko/PYSEC-2022-166.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"44ab1c05f186a622c0a9f7b9a0ed0ece7d06578f9efaa66ae1a923a26fd733f6"
      X-Fastly-Request-Id:
      - 77607ba4ab4146a962ced69106ef830339d87967
      Source-Age:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: |
        id: PYSEC-2022-166
        details: In Paramiko before 2.10.1, a race condition (between creation and chmod)
          in the write_private_key_file function could allow unauthorized information disclosure.
        aliases:
        - CVE-2022-24302
        modified: '2022-03-18T21:12:17.842758Z'
        published: '2022-03-17T22:15:00Z'
        references:
        - type: WEB
          url: https://www.paramiko.org/changelog.html
        - type: WEB
          url: https://github.com/paramiko/paramiko/blob/363a28d94cada17f012c1604a3c99c71a2bda003/paramiko/pkey.py#L546
        affected:
        - package:
            name: paramiko
            ecosystem: PyPI
            purl: pkg:pypi/paramiko
          ranges:
          - type: ECOSYSTEM
            events:
            - introduced: '0'
            - fixed: 2.10.1
          versions:
          - 0.1-bulbasaur
          - 0.1-charmander
          - 0.9-doduo
          - 0.9-eevee
          - 0.9-fearow
          - 0.9-gyarados
          - 0.9-horsea
          - 0.9-ivysaur
          - '1.0'
          - '1.1'
          - 1.10.0
          - 1.10.1
          - 1.10.2
          - 1.10.3
          - 1.10.4
          - 1.10.5
          - 1.10.6
          - 1.10.7
          - 1.11.0
          - 1.11.1
          - 1.11.2
          - 1.11.3
          - 1.11.4
          - 1.11.5
     [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pypa/advisory-database/main/vulns/guake/PYSEC-2022-165.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"024e9a706e590320d5dcacbaf714e029df5c2250305a78a9ea169023e80a1bb1"
      X-Fastly-Request-Id:
      - '06875e5977758731fbd8abaacc75d24893a597c9'
      Source-[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pypa/advisory-database/main/vulns/lin-cms/PYSEC-2021-339.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"f5dace7b67315799d351e90b22e7c2205f13de48c1039f748b3e5bf7f26bce38"
      X-Fastly-Request-Id:
      - 4da00b9f12c851caece2f2d6bf26566b927a71c1
      Source-[...]
[...]
