.codespacesSuggestionContainer {
  display: flex;
  padding-top: var(--base-size-24);
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  flex-direction: column;
  border-color: var(--borderColor-default);
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  gap: var(--stack-gap-condensed);

  @media screen and (min-width: 544px) {
    padding-top: var(--base-size-24);
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-width: 0;
    border-radius: 0;
  }

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-right: var(--base-size-16);
    padding-bottom: var(--base-size-16);
    padding-left: var(--base-size-16);
    border-width: var(--borderWidth-thin);
    border-radius: var(--borderRadius-medium);
  }
}

.runCodespacesText {
  padding-bottom: var(--base-size-8);
  margin-bottom: 0;
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-semibold);
  border-bottom-color: var(--borderColor-default);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);

  @media screen and (min-width: 544px) {
    padding-bottom: var(--base-size-8);
    margin-bottom: var(--base-size-8);
    font-size: var(--text-body-size-large, --text-title-size-small);
    border-bottom-width: var(--borderWidth-thin);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
    margin-bottom: var(--base-size-8);
    font-size: var(--text-body-size-large, --text-title-size-small);
    border-bottom-width: 0;
  }
}

.runCodespacesSubtitle {
  padding-bottom: var(--base-size-8);
  font-size: var(--text-body-size-medium);
}

.codespacesButtonContainer {
  display: contents;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 544px) {
    display: inline;
    margin-top: var(--base-size-8);
    margin-bottom: var(--base-size-8);
  }

  @media screen and (min-width: 768px) {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
  }
}
