.outerCodeContainer {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-direction: column;

  @media screen and (min-width: 544px) {
    max-height: 100%;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    max-height: 600px;
    flex-direction: row;
  }
}

.innerCodeContainer {
  display: flex;
  width: 100%;
  padding: var(--base-size-16);
  padding-right: 0;
  padding-left: 0;
  flex-direction: column;
  border-right-color: var(--borderColor-default);
  border-right-style: solid;
  border-right-width: 0;

  @media screen and (min-width: 544px) {
    width: 100%;
    padding-right: var(--base-size-24);
    padding-left: var(--base-size-24);
    border-right-width: 0;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    padding-right: var(--base-size-8);
    padding-left: var(--base-size-8);
    /* stylelint-disable-next-line primer/borders */
    border-right-width: 1px;
  }
}

.menuWrapper {
  display: flex;
  padding-right: var(--base-size-8);
  padding-bottom: var(--base-size-16);
  padding-left: var(--base-size-8);
  flex-direction: column;
  border-bottom-color: var(--borderColor-default);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  gap: var(--stack-gap-condensed);

  @media screen and (min-width: 544px) {
    padding-right: 0;
    padding-bottom: var(--base-size-24);
    padding-left: 0;
    border-bottom-width: var(--borderWidth-thin);
  }

  @media screen and (min-width: 768px) {
    padding-right: var(--base-size-8);
    padding-bottom: 0;
    padding-left: var(--base-size-8);
    border-bottom-width: 0;
  }
}

.chaptersSection {
  padding-right: var(--base-size-8);
  padding-left: var(--base-size-8);

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-bottom: var(--base-size-16);
  }
}

.codespaceSuggestionWrapper {
  display: flex;
  padding-right: var(--base-size-16);
  padding-left: var(--base-size-16);
  flex-direction: column;
  flex-grow: 0;
  justify-content: flex-start;

  @media screen and (min-width: 544px) {
    padding-right: var(--base-size-4);
    padding-left: var(--base-size-4);
    flex-grow: 0;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    padding-right: 0;
    padding-left: 0;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.contentWrapper {
  display: flex;
  padding-top: var(--base-size-8);
  padding-right: var(--base-size-16);
  padding-bottom: var(--base-size-16);
  padding-left: var(--base-size-16);
  overflow-x: visible;
  overflow-y: visible;
  flex-direction: column;
  flex: 1;

  @media screen and (min-width: 544px) {
    padding-top: 0;
    padding-right: var(--base-size-32);
    padding-left: var(--base-size-32);
    overflow-x: visible;
    overflow-y: visible;
  }

  @media screen and (min-width: 768px) {
    padding-top: var(--base-size-16);
    padding-right: var(--base-size-32);
    padding-left: var(--base-size-32);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
