.markdownContentWrapper {
  display: flex;
  flex-direction: column;
}

.getStartedHeader {
  color: var(--fgColor-default);
  font-size: var(--text-title-size-medium);
  padding-bottom: var(--base-size-8);
  font-weight: var(--base-text-weight-semibold);
  display: block;
  border-bottom-color: var(--borderColor-default);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  margin-bottom: var(--base-size-16);

  @media screen and (min-width: 544px) {
    font-size: var(--text-body-size-large, --text-title-size-small);
    display: block;
  }

  @media screen and (min-width: 768px) {
    font-size: var(--text-body-size-large, --text-title-size-small);
    display: none;
  }
}

.gettingStartedSubtitle {
  /* Disabled because there is no current primitive for 1.5rem text */
  /* stylelint-disable-next-line primer/typography */
  font-size: 1.5rem;
  font-weight: var(--base-text-weight-semibold);
  display: none;
  padding-bottom: var(--base-size-24);

  @media screen and (min-width: 544px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

/* stylelint-disable selector-max-type */

.markdownContent {
  & :global(.highlight), & :global(.snippet-clipboard-content) {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgColor-muted);
    border: var(--borderWidth-thin) solid var(--borderColor-muted);
    border-radius: var(--borderRadius-default);

    & pre {
      font-size: var(--text-codeBlock-size);
      margin: 0
    }

    /* stylelint-disable-next-line selector-type-no-unknown */
    & clipboard-copy {
      width: var(--control-medium-size);
      height: var(--control-medium-size);
    }

    & :global(.btn .octicon) {
      margin-right: 0;
    }
  }

  & h2 {
    line-height: var(--text-body-lineHeight-large);
    font-size: var(--text-body-size-large);
  }

  & :is(h3, p) {
    line-height: var(--text-body-lineHeight-medium);
    font-size: var(--text-body-size-medium);
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  & :global(a.btn) {
    font-size: var(--text-body-size-medium) !important
  }

  & :global(.anchor) {
    visibility: hidden;
  }
}

/* stylelint-enable selector-max-type */
