.placeholderContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  justify-content: center;
  align-items: center;
}

.documentationText {
  padding-top: var(--base-size-8);
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-semibold);
  text-align: center;
}

.differentComboText {
  color: var(--fgColor-muted);
  text-align: center;
}
