.Heading {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.Status {
  font-size: var(--text-title-size-large);
  font-weight: var(--base-text-weight-semibold);
}

.Message {
  font-size: var(--text-title-size-medium);
  padding-top: var(--base-size-8);
}
