.scrollContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: var(--base-size-48) 0;
  scrollbar-width: thin;
  align-items: center;
}

.container {
  display: grid;
  max-width: 1280px;
  width: 100%;
  gap: var(--base-size-24);
  padding: 0 var(--base-size-16);
  container-type: inline-size;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  /* stylelint-disable-next-line primer/typography */
  font-size: 24px;
  font-weight: var(--base-text-weight-semibold);
  margin: 0;
}

.search {
  position: relative;
  width: 100%;

  .searchIcon {
    position: absolute;
    top: 50%;
    left: var(--base-size-16);
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    color: var(--fgColor-muted);
  }

  .searchInput {
    width: 100%;
    padding: 0 var(--base-size-8) 0 var(--base-size-40);
    height: var(--base-size-40);
    border: var(--borderWidth-default) solid var(--borderColor-default);
    background: transparent;
    border-radius: var(--borderRadius-large);
    font-size: var(--text-body-size-medium);

    &:focus {
      outline: var(--focus-outline);
      outline-offset: -2px;
    }
  }
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

@container (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.emptyGrid {
  text-align: center;
  color: var(--fgColor-muted);
}

.card {
  display: grid;
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-large);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--bgColor-muted);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: var(--shadow-resting-medium);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: -2px;
  }
}

.emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 520px;
  gap: var(--base-size-16);
  margin-bottom: var(--base-size-64);
  justify-content: center;

  .description {
    text-align: center;
    color: var(--fgColor-muted);
  }
}

.entityIcon {
  display: flex;
  justify-content: center;
  color: var(--fgColor-muted, var(--color-fg-muted));
}
