.list {
  margin: 0 0 var(--base-size-16);
  padding: 0 0 var(--base-size-16);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  width: 100%;
  list-style: none;
}

.icon {
  color: var(--fgColor-muted);
}
