/* stylelint-disable primer/colors, selector-max-type */

.CtaBanner {
  position: relative;
}

@media (min-width: 768px) {
  .CtaBanner {
    background: var(--colors-black);
    padding-bottom: var(--base-size-128);
  }
}

.CtaBanner__container {
  width: var(--contentWidth);
  margin: 0 auto;
}

.CtaBanner__content {
  --brand-CTABanner-background-image-src: linear-gradient(0deg, var(--colors-black) 0%, var(--colors-downriver) 125%);
  --maskImage: linear-gradient(rgba(0, 0, 0, 1) 66.66%, rgba(0, 0, 0, 0.15) 100%);

  z-index: 0;

  > div {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.33%, rgba(255, 255, 255, 0) 66.66%, rgba(255, 255, 255, 1) 100%);
      opacity: 0;
      border-radius: inherit;
      mask-image: var(--maskImage);
      z-index: -1;
      transition: opacity 0.2s ease-out;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: var(--borderWidth-thin) solid var(--borderColor-muted);
      border-radius: inherit;
      mask-image: var(--maskImage);
      z-index: -1;
    }

    &:is(:hover, :focus, :active)::before {
      opacity: 0.025;
    }
  }
}

@media (min-width: 768px) {
  .CtaBanner__content {
    --brand-CTABanner-background-image-src: linear-gradient(169deg, var(--colors-black) -5%, var(--colors-downriver) 94%);

    > div {
      padding: var(--base-size-64) var(--base-size-40);
    }
  }
}
