/* stylelint-disable primer/colors */

.CtaBanner {
  position: relative;
}

@media (min-width: 768px) {
  .CtaBanner {
    background: var(--colors-black);
    padding-bottom: var(--base-size-128);
  }
}

.CtaBanner__container {
  width: var(--contentWidth);
  margin: 0 auto;
}
