.enterpriseProgressBar {
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--fgColor-accent, #0969da);
}

.lineHeightSpacious {
  line-height: var(--text-title-lineHeight-small, 1.5);
}

.vssProgressBar {
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--fgColor-success, #1a7f37);
  /* stylelint-disable-next-line primer/colors */
  border-left: solid var(--borderWidth-thin) var(--borderColor-default, #d0d7de)
}
