.middlePaneWrapper {
  display: flex;
  padding-left: var(--base-size-32);
  padding-right: var(--base-size-32);
  margin-top: var(--base-size-24);
  max-width: var(--breakpoint-xlarge);
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
}

.milestonePageDescription {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-medium);
  font-style: normal;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .middlePaneWrapper {
   width: 100%;
  }
}
