.middlePaneWrapper {
  margin-top: var(--base-size-16);
}

.pageTitle {
  font-weight: var(--base-text-weight-normal);
}

.middlePaneGrid {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: var(--base-size-12);
}

.milestoneDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);
  color: var(--fgColor-muted, var(--color-fg-muted));
  padding-bottom: var(--base-size-8);
  margin-bottom: var(--base-size-16);
}

.status {
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
  flex-wrap: wrap;
}

.metadataWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--base-size-12);
  padding-top: var(--base-size-8);
  flex-wrap: wrap;
  row-gap: var(--base-size-12);
}

.listMetadataContainer {
  padding-right: 0
}

.listMetadata {
  display: flex;
  gap: var(--base-size-16);
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.listProgressSection {
  display: flex;
  gap: var(--base-size-8);
  align-items: flex-start;
  max-width: 400px;
  width: 100%;
  padding-top: var(--base-size-6);
}

.listProgressSection .progressBar {
  width: 100%;
}

.listProgressSection .progress {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  align-items: flex-start;
  margin-top: var(--base-size-12);
  width: var(--breakpoint-xsmall);
}

.listProgressSection .menuButton {
  height: var(--control-medium-size);
  width: var(--control-medium-size);
  padding: 0;
  justify-content: center;
  align-items: center;
}

.progressSection {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--base-size-8);
  max-width: 400px;
  width: 100%;
}

.progressPercentage {
  color: var(--fgColor-default, var(--color-fg-default));
  font-weight: var(--base-text-weight-semibold);
}

.overDue {
  color: var(--fgColor-danger, var(--color-fg-danger));
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;

  &.loading {
    width: min(270px, 50vw);
  }
}

.buttonGrp {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--base-size-12);
  flex-wrap: wrap;
  margin-bottom: var(--base-size-16);

  &.header {
    margin-bottom: 0;
  }
}

.actionsGrp {
  display: flex;
  gap: var(--base-size-8);
}

.milestoneListWrapper {
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
}

.milestoneDataContainer {
  display: flex;
  column-gap: var(--base-size-8);
  row-gap: var(--base-size-2);
  align-items: center;
  flex-wrap: wrap;
}

.middot {
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.milestoneIssueCount {
  display: flex;
  gap: var(--base-size-8);

}

.milestoneRow {
  margin: 0 var(--base-size-16);
}

.milestoneRow:hover {
  background-color: transparent
}

.listItemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listItemContent .listDescription {
  font: var(--text-body-shorthand-medium);
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.listItemContent .listDateContainer {
  display: flex;
  gap: var(--base-size-8);
  flex-wrap: wrap;
}

.milestoneData {
  display: flex;
  gap: var(--base-size-8);
}

.milestoneStatus {
  margin-right: var(--base-size-4);
}

.milestoneDescription {
  position: relative;
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
  padding-top: var(--base-size-16);
  overflow: hidden;
  transition: max-height 0.3s ease; /* Smooth transition for height changes */
}

.mdViewer {
  color: var(--fgColor-muted, var(--color-fg-muted));
  max-width: 60em;
  font-size: var(--text-body-size-medium);

  &.collapsed {
    max-height: calc(1.5em * 9); /* Approx. 9 rows of text (1.5em per line) */
    overflow: hidden;
  }

  &.expanded {
    max-height: none; /* Allow full height when expanded */
  }

  /* Remove borders from titles in the md to avoid clashing with horizontal rules on the milestones UI */
  /* stylelint-disable-next-line selector-max-type */
  h1,h2 {
    border-bottom: 0;
  }
}

.showMoreButtonContainer {
  display: flex;
  z-index: 1;

  &.collapsed {
    pointer-events: none; /* Prevent clicks on the overlay */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, var(--bgColor-default) 50%, var(--bgColor-transparent));
    padding-top: var(--base-size-32);
  }

  &.expanded {
    background: none;
    position: relative;
    padding-top: var(--base-size-12);
  }
}

.button {
  pointer-events: auto; /* Allow clicks on the button */
}

.dialogTitle {
  margin: 0;
  font: var(--text-title-shorthand-small);
}

.dialogDescriptionContainer {
  margin: 0;
  font: var(--text-body-shorthand-medium);
  line-height: var(--text-body-lineHeight-medium);
}

.dialogDescription:not(:last-child) {
  margin-bottom: var(--base-size-8);
}

@media (max-width: 1024px) {
  .listProgressSection .progress {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .milestoneRow .middot {
    display: none;
  }
}

@media (max-width: 544px) {
  .milestoneRow {
    margin: var(--base-size-6) var(--base-size-16);
  }

  .milestoneRow .listProgressSection {
   padding-top: var(--base-size-6);
   padding-bottom: var(--base-size-6);
  }

  .milestoneRow .listDescription {
    padding-bottom: var(--base-size-6);
   }
}

@media (max-width: 400px) {
  .milestoneDataContainer {
    column-gap: var(--base-size-16);
  }

  .milestoneData .middot {
    display: none;
  }
}

.errorFallbackContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--base-size-16);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: stretch;
}

.dndItem {
  display: flex;
  width: 100%
}

.loadMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--base-size-16);
}

.loadMoreButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--base-size-4);
  width: 100%;
}

.dndList {
  list-style: none;
}

.deleteMilestoneButton {
  color: var(--fgColor-danger, var(--color-fg-danger));
}

/**
* When drag and drop is enabled, the PullRequestRow and IssueRow components do not receive their respective
* styles, as they're wrapped in a new draggable container. This ensures the list items have the correct
* border styles applied.
*/
.dragAndDropItem {
  &:not(:last-child) {
    border-color: var(--borderColor-muted) !important;
    border-bottom: var(--borderWidth-thin) solid;
  }
}

.link {
  color: var(--fgColor-muted);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.heading {
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-semibold);
  color: var(--color-text-primary);
}

.milestoneTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: var(--text-title-size-medium);
}

.title {
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-title-size-large);
}
