.middlePaneGrid {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: var(--stack-gap-condensed);
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.status {
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
}

.progressSection {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 60%;
  align-items: center;
  gap: var(--base-size-8);
  padding-block: var(--base-size-8);
}

.progressPercentage {
  color: var(--fgColor-default, var(--color-fg-default));
  font-weight: var(--base-text-weight-semibold);
}

.overDue {
  color: var(--fgColor-danger, var(--color-fg-danger));
  display: flex;
  gap: var(--base-size-4);
  align-items: center;
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;

  &.loading {
    width: min(270px, 50vw);
  }
}
