.licenseeFilterBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1011px) {
  .licenseeFilterBar {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin-bottom: var(--base-size-16);
  }
}

.selectedFilterOptionText {
  font-weight: var(--base-text-weight-semibold, 600);
}

