.licenseeNameCell {
  align-items: center !important;
}

.licenseeName {
  line-height: var(--text-body-lineHeight-medium);
}

.licenseeUsername {
  font-weight: var(--base-text-weight-semibold);
  margin-right: var(--base-size-8);
}

.licenseeFullName {
  color: var(--fgColor-muted, var(--color-fg-muted));
  font-size: var(--text-body-size-small);
}

.licenseeAccessType {
  color: var(--fgColor-muted, var(--color-fg-muted));
  font-size: var(--text-body-size-small);
  line-height: var(--text-body-lineHeight-small);
}
