.Trigger {
  font-weight: var(--base-text-weight-normal);
  background-color: transparent;
  color: var(--fgColor-default);

  &:hover {
    background-color: transparent;
    /* stylelint-disable-next-line primer/box-shadow */
    box-shadow: 0 0 0 1px var(--button-outline-borderColor-hover);
  }
}

.Active {
  background-color: var(--button-outline-bgColor-active);
  color: var(--button-outline-fgColor-active);

  &:hover {
    background-color: var(--button-outline-bgColor-active);
  }
}

.TriggerLabel {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}

