.PeriodNavigationLink {
  display: flex;
  align-items: center;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  border-radius: var(--borderRadius-medium);
  min-height: 30px;
  text-decoration: none;
  color: var(--fgColor-default);
  background-color: transparent;
  border-color: transparent;

  &:focus-visible {
    outline-offset: 1px;
  }

  &:hover {
    text-decoration: none;
    background-color: var(----bgColor-muted);
  }
}

.Selected {
  color: var(--fgColor-onEmphasis);
  background-color: var(--bgColor-accent-emphasis);
  /* stylelint-disable-next-line primer/colors */
  border-color: var(--bgColor-accent-emphasis);

  &:hover {
    background-color: var(--bgColor-accent-emphasis);
  }
}

.PeriodNavigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--stack-gap-condensed);
}
