.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &[data-nav-open="false"] {
    padding: var(--base-size-8);
  }
}

.list {
  margin-bottom: var(--base-size-8);
}

.callToActionWrapper {
  padding: 0 var(--base-size-16);
}
