.navItem :first-child:has(.itemText) {
  width: 100%;
}

.itemText {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
  align-items: center;
}

.truncatedItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  display: inline;

  &[data-color="gray"] {
    color: var(--fgColor-muted, var(--color-neutral-emphasis));
  }

  &[data-color="blue"] {
    color: var(--fgColor-accent, var(--color-accent-fg));
  }

  &[data-color="green"] {
    color: var(--fgColor-success, var(--color-success-fg));
  }

  &[data-color="orange"] {
    color: var(--fgColor-severe, var(--color-severe-fg));
  }

  &[data-color="red"] {
    color: var(--fgColor-danger, var(--color-danger-fg));
  }

  &[data-color="pink"] {
    color: var(--fgColor-sponsors, var(--color-sponsors-fg));
  }

  &[data-color="purple"] {
    color: var(--fgColor-done, var(--color-done-fg));
  }
}
