.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.toolbar {
  composes: toolbar from '../FilePreview.module.css';
}

.toolbarLeft {
  composes: toolbarLeft from '../FilePreview.module.css';
}

.toolbarLeftWithDivider {
  composes: toolbarLeft from '../FilePreview.module.css';
  border-right: solid var(--borderWidth-thin) var(--borderColor-default);
  padding-right: var(--base-size-4);
}

.toolbarActions {
  composes: toolbarActions from '../FilePreview.module.css';
}

.createIssueFooter {
  width: auto; /* override the width: 100% in the component */
}

.subIssueIndicator {
  composes: toolbarLeft from '../FilePreview.module.css';
  padding-left: var(--base-size-4);
  color: var(--fgColor-muted);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  flex-grow: 1;
  padding: var(--base-size-16);
  padding-top: var(--base-size-8);
  overflow-y: auto;
  scrollbar-width: auto;
}
