.container {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
}

/* Make the 'required' asterisk red */
/* stylelint-disable-next-line selector-max-type */
.label > span > span:last-of-type {
  color: var(--fgColor-danger, var(--color-danger-fg));
}

.ssoBanner {
  margin-top: var(--base-size-4);
  margin-left: calc(-1 * var(--base-size-8)); /* Align the left edge of the banner with the search input instead of the title of the picker */
}
