.Box {
  background: var(--bgColor-inset);
  align-items: flex-start;
  justify-content: space-between;
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  display: flex;
}

.Box_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  flex-wrap: wrap;
}

.AggregateLabels {
  margin-right: var(--base-size-8);
  margin-top: var(--base-size-4);
  margin-bottom: var(--base-size-4);
}

.CurrentIterationLabel {
  margin-top: var(--base-size-4);
  margin-bottom: var(--base-size-4);
}

.Box_2 {
  background-color: var(--bgColor-inset);
  align-items: center;
  display: flex;
}

.Box_3 {
  background: var(--bgColor-inset);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: calc(var(--base-size-4) * -1);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  color: var(--fgColor-muted);
  flex-shrink: 0;
}

.SanitizedHtml {
  margin-top: calc(var(--base-size-4) * -1);
  padding-bottom: var(--base-size-8);
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  color: var(--fgColor-muted);
}

.Box_4 {
  flex-direction: column;
  background-color: var(--bgColor-inset);
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  display: flex;
  scroll-padding-bottom: 7px;
}

.Button {
  color: var(--fgColor-muted);
  flex-shrink: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.StyledPlaceholder {
  flex-shrink: 0;
  height: 8px;
  background: var(--bgColor-accent-emphasis);
  border: 0;
  border-radius: var(--borderRadius-medium);
  margin-bottom: var(--base-size-12);
  animation: fadeIn 0.2s ease-out;
}
