.Box {
  margin-right: var(--base-size-8);
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 350px;
  /* stylelint-disable-next-line primer/responsive-widths */
  min-width: 350px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  border-radius: var(--borderRadius-medium);
  background: var(--bgColor-inset);

  &:global(.only) {
    border-radius: var(--borderRadius-medium) var(--borderRadius-medium) 0 0;
    border-bottom-color: transparent;
  }

  &:global(.hidden:not(.last-group)) {
    border-radius: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &:global(.hidden.last-group) {
    border-top-color: transparent;
  }

  &:global(.drag-outline:not(.only)) {
    /* stylelint-disable-next-line primer/colors */
    border-color: var(--bgColor-accent-emphasis);
  }

  &::after,
  &::before {
    content: '';
    display: none;
    position: absolute;
    top: var(--base-size-8);
    width: 4px;
    background: var(--bgColor-accent-emphasis);
    height: calc(100% - 16px);
    border: 0;
    border-radius: var(--borderRadius-medium);
    z-index: 12;
  }

  /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
  body:global(.is-dragging) &:global(.show-sash-column.show-sash-after) {
    /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
    &::after {
      /* stylelint-disable-next-line primer/spacing */
      margin-left: 352px;
      display: block;
    }
  }

  /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
  body:global(.is-dragging) &:global(.show-sash-column.show-sash-before:not([data-dnd-drag-id='no_vertical_group'])) {
    /* stylelint-disable-next-line selector-max-specificity, selector-max-type */
    &::before {
      /* stylelint-disable-next-line primer/spacing */
      margin-left: -6px;
      display: block;
    }
  }
}

.Box_1 {
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
}
