.Box {
  display: flex;
  align-items: center;
  margin-top: var(--base-size-4);
  margin-bottom: var(--base-size-4);
  margin-right: var(--base-size-8);
  overflow: hidden;
  column-gap: var(--stack-gap-condensed);
}

.SanitizedHtml {
  cursor: default;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.AggregateLabels {
  flex-shrink: 0;
}
