.container {
  position: relative;
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
  background-color: var(--bgColor-default);
  width: 100%;

  &:focus-within {
    outline: var(--focus-outline);
    outline-offset: -1px;
  }
}

.cmContainer {
  height: 280px;
  border-radius: var(--borderRadius-large);
  clip-path: inset(0 round var(--borderRadius-large));
}

.cmContainer :global(.cm-editor) {
  border-radius: var(--borderRadius-large);
}

.cmContainer :global(.cm-scroller) {
  border-radius: var(--borderRadius-large);
}
