.button {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
  color: var(--fgColor-attention);
  font-weight: var(--base-text-weight-normal);

  &.active {
    color: var(--fgColor-danger);
  }
}

.warningDot {
  width: var(--base-size-8);
  height: var(--base-size-8);
  border-radius: 50%;
  /* stylelint-disable-next-line primer/colors */
  background: var(--fgColor-attention);
}

.undoIcon {
  color: var(--fgColor-danger);
}
