.header {
  font: var(--text-body-shorthand-medium);
  font-weight: var(--base-text-weight-semibold);
}

.blankslate {
  background-color: var(--bgColor-default);

  /* stylelint-disable-next-line selector-max-type */
  p {
    font-size: var(--text-body-size-medium) !important;
  }
}
