.firstLoader {
margin-bottom: var(--base-size-16);
margin-top: var(--base-size-4);
}

.container {
  margin-left: var(--base-size-16);
  margin-bottom: var(--base-size-16);
}

.commonLoader {
  margin-bottom: var(--base-size-8);
}
