.issueViewerContainer {
  container-name: issueViewerContainer;
  container-type: inline-size;
}

.issueViewerMetadataPane {
  flex-direction: column;
  width: 100%;
}

.metadataHeader {
  font-size: var(--text-body-size-large);
  margin-bottom: var(--base-size-8);
  display: flex;
  padding-left: var(--base-size-8);
}

@container issueViewerContainer (min-width: 768px) {
  .metadataHeader {
    display: none;
  }
}

@container issueViewerContainer (max-width: 768px) {
  .largeScreenMetadataHeader {
    display: none;
  }
}
