---
http_interactions:
- request:
    method: get
    uri: https://hex.pm/api/packages/gettext
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.hex+json; charset=utf-8
      Etag:
      - 95797a1f5701962f7f34b1c5c6475c2c
      Last-Modified:
      - Wed, 20 Jul 2022 16:45:51 GMT
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1663874160'
    body:
      encoding: ASCII-8BIT
      string: '{"configs":{"erlang.mk":"dep_gettext = hex 0.20.0","mix.exs":"{:gettext,
        \"~> 0.20.0\"}","rebar.config":"{gettext, \"0.20.0\"}"},"docs_html_url":"https://hexdocs.pm/gettext/","downloads":{"all":99540894,"day":93089,"recent":5996572,"week":524694},"html_url":"https://hex.pm/packages/gettext","inserted_at":"2015-09-13T11:04:17.608073Z","latest_stable_version":"0.20.0","latest_version":"0.20.0","meta":{"description":"Internationalization
        and localization through gettext","licenses":["Apache-2.0"],"links":{"GitHub":"https://github.com/elixir-gettext/gettext"},"maintainers":[]},"name":"gettext","owners":[{"email":"jose.valim@gmail.com","url":"https://hex.pm/api/users/josevalim","username":"josevalim"},{"email":"an.leopardi@gmail.com","url":"https://hex.pm/api/users/whatyouhide","username":"whatyouhide"}],"releases":[{"has_docs":true,"inserted_at":"2022-07-20T16:45:31.015916Z","url":"https://hex.pm/api/packages/gettext/releases/0.20.0","version":"0.20.0"},{"has_docs":true,"inserted_at":"2022-02-04T14:35:28.626968Z","url":"https://hex.pm/api/packages/gettext/releases/0.19.1","version":"0.19.1"},{"has_docs":true,"inserted_at":"2021-12-20T09:05:51.905689Z","url":"https://hex.pm/api/packages/gettext/releases/0.19.0","version":"0.19.0"},{"has_docs":true,"inserted_at":"2020-09-25T09:58:30.083248Z","url":"https://hex.pm/api/packages/gettext/releases/0.18.2","version":"0.18.2"},{"has_docs":true,"inserted_at":"2020-08-04T08:00:00.828679Z","url":[...]
