---
http_interactions:
- request:
    method: get
    uri: https://search.maven.org/solrsearch/select?q=a:shouldnotbefound%20AND%20g:com.google.inject
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Request-Uri:
      - "/solrsearch/select?q=a%3Ashouldnotbefound+AND+g%3Acom.google.inject"
      X-Query-String:
      - q=a%3Ashouldnotbefound+AND+g%3Acom.google.inject&core=&start=&rows=20&wt=
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":4,"params":{"q":"a:shouldnotbefound
        AND g:com.google.inject","core":"","indent":"off","spellcheck":"true","fl":"id,g,a,latestVersion,p,ec,repositoryId,text,timestamp,versionCount","start":"","spellcheck.count":"5","sort":"score
        desc,timestamp desc,g asc,a asc","rows":"20","wt":"json","version":"2.2"}},"response":{"numFound":0,"start":0,"docs":[]},"spellcheck":{"suggestions":["shouldnotbefound",{"numFound":3,"startOffset":2,"endOffset":18,"suggestion":["soundbound","outbound","notfound"]}]}}'
  recorded_at: Fri, 05 Jul 2024 23:27:07 GMT
recorded_with: VCR 6.2.0
