---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - NRcKvtZHOGOtOAYzamC1Cg==
      Content-Type:
      - application/json
      Etag:
      - '0x8DC697873EDA371'
      Last-Modified:
      - Wed, 01 May 2024 00:48:44 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"version\": \"3.0.0\",\r\n  \"resources\": [\r\n    {\r\n      \"@id\":
        \"https://azuresearch-usnc.nuget.org/query\",\r\n      \"@type\": \"SearchQueryService\",\r\n
        \     \"comment\": \"Query endpoint of NuGet Search service (primary)\"\r\n
        \   },\r\n    {\r\n      \"@id\": \"https://azuresearch-ussc.nuget.org/query\",\r\n
        \     \"@type\": \"SearchQueryService\",\r\n      \"comment\": \"Query endpoint
        of NuGet Search service (secondary)\"\r\n    },\r\n    {\r\n      \"@id\":
        \"https://azuresearch-usnc.nuget.org/autocomplete\",\r\n      \"@type\": \"SearchAutocompleteService\",\r\n
        \     \"comment\": \"Autocomplete endpoint of NuGet Sea[...]
[...]
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - a0WUW8izvSm7pNPok5gxUA==
      Content-Type:
      - application/json
      Etag:
      - '0x8DA638FC6755264'
      Last-Modified:
      - Mon, 11 Jul 2022 22:50:38 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: UTF-8
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"c8e86327-e789-4d1c-ac8c-24062f6f7b33","commitTimeStamp":"2022-07-11T22:50:38.0009355+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json#page/3.0.0-beta/3.4.2","@type":"catalog:CatalogPage","commitId":"c8e86327-e789-4d1c-ac8c-24062f6f7b33","commitTimeStamp":"2022-07-11T22:50:38.0009355+00:00","count":13,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/3.0.0-beta.json","@type":"Package","commitId":"5ddf750a-c5e0-44af-b728-a8ffc0ef2571","commitTimeStamp":"2020-02-08T03:35:20.5485908+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json","@type":"PackageDetails","authors":".NET
        Foundation","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/microsoft.web.xdt","@type":"PackageDependency","id":"Microsoft.Web.Xdt","range":"[2.1.1,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/microsoft.web.xdt/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/newtonsoft.json","@type":"PackageDependency","id":"Newtonsoft.Json","range":"[9.0.1,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/nuget.core","@type":"PackageDependency","id":"NuGet.Core","range":"[2.14.0,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/nuget.core/index.json"}]}],"description":"Core
        library for creating a Web Application used to host a simple NuGet feed","iconUrl":"","id":"NuGet.Server.Core","language":"","licenseExpression":"","licenseUrl":"https://raw.githubusercontent.com/NuGet/NuGet.Server/dev/LICENSE.txt","listed":true,"minClientVersion":"2.6","packageContent":"https://api.nuget.org/v3-flatcontainer/nuget.server.core/3.0.0-beta/nuget.server.core.3.0.0-beta.nupkg","projectUrl":"https://github.com/NuGet/NuGet.Server","published":"2017-10-05T18:40:32.43+00:00","requireLicenseAcceptance":false,"summary":"","tags":[""],"title":"","version":"3.0.0-beta"},"packageContent":"https://api.nuget.org/v3-flatcontainer/nuget.server.core/3.0.0-beta/nuget.server.core.3.0.0-beta.nupkg","registration":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json"},{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/3.0.0.json","@type":"Package","commitId":"5ddf750a-c5e0-44af-b728-a8ffc0ef2571","commitTimeStamp":"2020-02-08T03:35:20.5485908+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/ca[...]
