---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.69.247.122:443
      Etag:
      - '"3cc957dae10c69cddd387a4904202cb0"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":371622374,"version":"7.0.3.1","version_created_at":"2022-07-12T17:31:41.727Z","version_downloads":950884,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.3.1","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v7.0.3.1","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v7.0.3.1/","rubygems_mfa_required":"true"},"yanked":false,"sha":"0b771be1bf5c5a54c4d8118355b3d8d9a8d823e82a90c0573b48d14262254a8c","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-7.0.3.1.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v7.0.3.1/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v7.0.3.1","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.3.1","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        7.0.3.1"},{"name":"actionmailbox","requirements":"= 7.0.3.1"},{"name":"actionmailer","requirements":"=
        7.0.3.1"},{"name":"actionpack","requirements":"= 7.0.3.1"},{"name":"actiontext","requirements":"=
        7.0.3.1"},{"name":"actionview","requirements":"= 7.0.3.1"},{"name":"activejob","requirements":"=
        7.0.3.1"},{"name":"activemodel","requirements":"= 7.0.3.1"},{"name":"activerecord","requirements":"=
        7.0.3.1"},{"name":"activestorage","requirements":"= 7.0.3.1"},{"name":"activesupport","requirements":"=
        7.0.3.1"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        7.0.3.1"}]}}'
  recorded_at: Thu, 25 Aug 2022 14:49:35 GMT
recorded_with: VCR 6.1.0
