---
http_interactions:
- request:
    method: get
    uri: https://search.maven.org/solrsearch/select?q=a:guice%20AND%20g:com.google.inject
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Request-Uri:
      - "/solrsearch/select?q=a%3Aguice+AND+g%3Acom.google.inject"
      X-Query-String:
      - q=a%3Aguice+AND+g%3Acom.google.inject&core=&start=&rows=20&wt=
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":2,"params":{"q":"a:guice AND
        g:com.google.inject","core":"","indent":"off","spellcheck":"true","fl":"id,g,a,latestVersion,p,ec,repositoryId,text,timestamp,versionCount","start":"","spellcheck.count":"5","sort":"score
        desc,timestamp desc,g asc,a asc","rows":"20","wt":"json","version":"2.2"}},"response":{"numFound":1,"start":0,"docs":[{"id":"com.google.inject:guice","g":"com.google.inject","a":"guice","latestVersion":"7.0.0","repositoryId":"central","p":"jar","timestamp":1683913265000,"versionCount":24,"text":["com.google.inject","guice","-sources.jar",".pom","-test-sources.jar","-javadoc.jar","-tests.jar",".jar","-classes.jar"],"ec":["-sources.jar",".pom","-test-sources.jar","-javadoc.jar","-tests.jar",".jar","-classes.jar"]}]},"spellcheck":{"suggestions":[]}}'
  recorded_at: Fri, 05 Jul 2024 23:27:07 GMT
recorded_with: VCR 6.2.0
