---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=cookie_parser
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.11.18.225:443
      Etag:
      - '"f910c03502822de97392353c00bf2a60"'
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":"https://www.rubydoc.info/gems/ga_cookie_parser/0.2.0","metadata":{},"homepage_uri":"","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/ga_cookie_parser","version":"0.2.0","sha":"8ce91f6ff338147703f617f4fc9a0f59f59f3af19d6d933c381a705ab49b34a6","platform":"ruby","changelog_uri":null,"source_code_uri":null,"licenses":[],"gem_uri":"https://rubygems.org/gems/ga_cookie_parser-0.2.0.gem","downloads":546197,"mailing_list_uri":null,"name":"ga_cookie_parser","wiki_uri":null,"version_downloads":498894,"info":"Gem
        to parse the utmz, utmb and utma tracking coockies used by Google Analytics.","authors":"Simon
        Robson"},{"documentation_uri":"https://www.rubydoc.info/gems/cookie_parser/1.0.0","metadata":{"allowed_push_host":"https://rubygems.org"},"homepage_uri":"https://github.com/madeindjs/Cookie_Parser.git","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/cookie_parser","version":"1.0.0","sha":"febe381cb7ff6fd11ade781433ea47de8359854a62abf36f1f7e0cf7d92a0760","platform":"ruby","changelog_uri":null,"source_code_uri":null,"licenses":["MIT"],"gem_uri":"https://rubygems.org/gems/cookie_parser-1.0.0.gem","downloads":2093,"mailing_list_uri":null,"name":"cookie_parser","wiki_uri":null,"version_downloads":2093,"info":"instanciate
        a Cookie from a cookie string \u0026amp; play with it as object with all its
        attributes","authors":"madeindjs"}]'
  recorded_at: Thu, 25 Aug 2022 14:49:36 GMT
recorded_with: VCR 6.1.0
