/* stylelint-disable selector-max-type */

.statisticsGroup {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: auto;
}

@media screen and (min-width: 48rem) { /* --breakpoint-medium */
  .statisticsGroup {
    max-width: 924px;
  }
}

.statisticWrapper {
    width: 33%;
    text-align: center;
}

@media screen and (max-width: 34rem) { /* --breakpoint-small */
  .statisticWrapper h2 {
    /* stylelint-disable-next-line primer/typography */
    font-size: var(--base-size-40);
  }

  .statisticWrapper span {
    /* stylelint-disable-next-line primer/typography */
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 34rem) { /* --breakpoint-small */
  .statisticWrapper {
    min-width: 155px;
    max-width: 276px;
  }
}

@media screen and (min-width: 63.25rem ) { /* --breakpoint-large */
  .statisticWrapper {
    width: 100%;
  }
}

/* Body Statistics group styles */
@media screen and (max-width: 34rem) { /* --breakpoint-small */
  .statisticsGroup.body {
    flex-direction: column;
  }

  .statisticWrapper.body {
    width: 100%;
    margin-inline: auto;
  }

  .statisticWrapper.body h3 {
    /* stylelint-disable-next-line primer/typography */
    font-size: var(--base-size-64);
  }

  .statisticWrapper.body span {
    max-width: 300px;
    /* stylelint-disable-next-line primer/typography */
    font-size: 1.125rem;
    margin-inline: auto;
  }
}
