.Box {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: var(--stack-gap-condensed);
}

.ColorDecorator {
  height: 14px;
  width: 14px;
}

.Box_1 {
  width: 14px;
  min-width: 14px;
  height: 14px;
  /* stylelint-disable-next-line primer/borders */
  border-radius: 10px;
  border-width: var(--borderWidth-thin);
  border-style: solid;
}

.Box_2 {
  display: flex;
  align-items: center;
}

.Truncate {
  margin-right: var(--base-size-8);
  margin-left: var(--base-size-8);
  max-width: 100%;
  width: 100%;
  display: block;
}

.Text {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.Box_3 {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Text_1 {
  margin-left: var(--base-size-8);
}

.Truncate_1 {
  margin-right: var(--base-size-8);
  margin-left: var(--base-size-8);
  display: block;
  max-width: 100%;
}

.Text_2 {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  margin-left: auto;
}

.GitHubAvatar {
  min-width: 20px;
  margin-right: var(--base-size-8);
}
