.dialogBody {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
  padding: var(--base-size-12);
}

.dialogHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0 var(--base-size-16);
}

.searchControls,
.refineControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--base-size-8);
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
  align-items: center;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
}

.stepContent {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  margin-top: var(--base-size-8);
  padding-left: var(--base-size-12);
}

.stepButton {
  display: flex;
  text-align: left;
  font-weight: var(--base-text-weight-light);
}

.stepButton:hover {
  color: var(--fgColor-accent);
}

.promptTextArea {
  font-family: var(--fontStack-monospace);
}

.snippet {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
  padding-left: var(--base-size-12);
}

.snippetHeader {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
  align-items: center;

  /* stylelint-disable-next-line selector-max-type */
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--base-size-8);
  }
}

.snippet .snippetButton {
  width: 100%;
  text-align: left;
}

.snippet .snippetButton:hover {
  background: var(--color-canvas-subtle);
}

.snippetContent {
  background: var(--color-canvas-subtle);
  margin-right: var(--base-size-16);
}

.snippetContent * {
  margin-top: var(--base-size-8);
  background: var(--color-canvas-default);
  overflow: auto;
}

.noResults {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
  padding-left: var(--base-size-12);
  margin: 0 var(--base-size-16);
}

.dialogFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--base-size-8);
  padding: var(--base-size-12) var(--base-size-16);
  border-top: var(--borderWidth-thin) solid var(--borderColor-default);
}

.refineControls {
  width: 100%;
}

.refinementHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.refinementHeader > :first-child {
  flex: 1;
}

.refinementHeader > :last-child {
  flex: 0 0 auto;
}
