.container {
  font-size: inherit;
  position: relative;

  /* The following are baked in to .markdown-body but we have a wrapper around the content that breaks them */
  .contentContainer > :first-child {
    margin-top: 0 !important;
  }

  .contentContainer > :last-child {
    margin-bottom: 0 !important;
  }
}

/*
 * The `.noFade` class allows preventing the fade for an element and all descendants, which is necessary for some
 * already-animated things where applying a new animation would override the existing animation (looking at you, Spinner).
 *
 * The paragraph-in-first-list-item hack selector is a workaround for the Markdown renderer conditionally inserting a
 * `p` tag around the contents of the first item in a list, but only if that list has more than one item and has certain
 * contents like a nested list. This prevents the first list item from flashing as more list items are streamed in and
 * the wrapper gets added retroactively.
 */
/* stylelint-disable-next-line selector-max-type */
.fadeInContent :not(.noFade, .noFade *, li:first-child > p:first-child, li:first-child > p:first-child *) {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: var(--MarkdownRenderer_streaming-fade-duration);
  animation-fill-mode: forwards;
}

.pendingCursor {
  position: absolute;
  animation: 0.8s blink step-end infinite;
  color: var(--fgColor-muted);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
