.Box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--stack-gap-condensed);
  min-width: 273px;
  padding: var(--base-size-8);

  @media screen and (min-width: 544px) {
    flex-wrap: nowrap;
  }
}

.Box_1 {
  display: flex;
  min-width: 0;
  font-size: var(--text-body-size-medium);
  align-items: center;
  width: max-content;
  gap: var(--stack-gap-condensed);
  flex-grow: 1;
}

.Box_2 {
  align-items: center;
  min-width: 0;
  gap: var(--stack-gap-condensed);
}

.IconButton {
  color: var(--fgColor-muted);
  min-width: 28px;
}

.Box_3 {
  display: flex;
  flex-direction: row;
  min-width: 0;
  gap: var(--stack-gap-condensed);
  align-items: flex-start;
}

.SafeHTMLText {
  /* stylelint-disable-next-line selector-max-type */
  > a {
    color: var(--fgColor-default) !important;
  }
}

.SafeHTMLText_1 {
  white-space: pre-wrap;
}
