.Box {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  padding-top: var(--base-size-8);
  max-width: 100vw;
}

.NavList {
  overflow-y: auto;

  /* stylelint-disable-next-line selector-max-type */
  > li {
    border-radius: var(--borderRadius-medium);
    width: 100%;
  }
}
