@layer recipes {
  .item {
    scroll-margin: var(--base-size-20);
  }

  .Box_0 {
    display: flex;
    min-width: 20px;
    align-content: center;
    justify-content: center;
  }

  .GitHubAvatar_0 {
    min-width: 20px;
  }

  .displayName {
    /* stylelint-disable-next-line selector-max-type */
    > img {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }
  }

  .boldText {
    font-weight: var(--base-text-weight-semibold);
  }

  .normalText {
    font-weight: var(--base-text-weight-normal);
  }

  .Box_1 {
    width: 10px;
    height: 10px;
    /* stylelint-disable-next-line primer/borders */
    border-radius: 9px;
  }
}

.ActionList_Description {
  font-weight: var(--base-text-weight-normal);
}
