@layer recipes {
  .Box_0 {
    display: flex;
    padding: var(--base-size-6) var(--base-size-8);
    margin-right: var(--base-size-8);
    margin-left: var(--base-size-8);
    /* stylelint-disable-next-line primer/typography */
    line-height: 20px;
    align-items: center;
    gap: 8px;
  }

  .Box_1 {
    position: absolute;
    top: var(--base-size-32);
    right: 0;
    left: 0;
    z-index: 999;
    margin-top: var(--base-size-4);
    /* stylelint-disable-next-line declaration-property-value-disallowed-list */
    background-color: initial;
  }

  .ActionList_0 {
    min-height: 48px;
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
  }

  .Box_3 {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    min-width: 250px;
    height: auto;
    max-height: calc(100vh - 2rem);
    overflow: hidden;
    white-space: normal;
    visibility: hidden;
    flex-direction: column;
    background: var(--overlay-bgColor);
    border-radius: var(--borderRadius-large);
    box-shadow: var(--shadow-floating-small);

    @media screen and (min-width: 544px) {
      width: min-content;
    }

    @media screen and (max-width: 768px) {
      left: 0 !important;
    }

    &.showOverlay {
      visibility: visible;
    }

    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      transition: opacity 0.2s ease;

      &.showOverlay {
        opacity: 1;
      }
    }
  }
}
